:root {
  --badge--background--h: var(--color-light--h);
  --badge--background--s: var(--color-light--s);
  --badge--background--l: var(--color-light--l);
  --badge--background--a: var(--color-light--a);
  --badge--box-shadow-offset-x: var(--box-shadow-offset-x);
  --badge--box-shadow-offset-y: var(--box-shadow-offset-y);
  --badge--box-shadow-blur-radius: var(--box-shadow-blur-radius);
  --badge--box-shadow-spread-radius: var(--box-shadow-spread-radius);
  --badge--box-shadow-color: var(--box-shadow-color);
  --badge--border-top-width: var(--border-top-width);
  --badge--border-top-style: var(--border-top-style);
  --badge--border-top-color: var(--border-top-color);
  --badge--border-right-width: var(--border-right-width);
  --badge--border-right-style: var(--border-right-style);
  --badge--border-right-color: var(--border-right-color);
  --badge--border-bottom-width: var(--border-bottom-width);
  --badge--border-bottom-style: var(--border-bottom-style);
  --badge--border-bottom-color: var(--border-bottom-color);
  --badge--border-left-width: var(--border-left-width);
  --badge--border-left-style: var(--border-left-style);
  --badge--border-left-color: var(--border-left-color);
  --badge--border-top-left-radius: var(--border-top-left-radius);
  --badge--border-top-right-radius: var(--border-top-right-radius);
  --badge--border-bottom-right-radius: var(--border-bottom-right-radius);
  --badge--border-bottom-left-radius: var(--border-bottom-left-radius);
  --badge--color--h: var(--contrast-text-color-light--h);
  --badge--color--s: var(--contrast-text-color-light--s);
  --badge--color--l: var(--contrast-text-color-light--l);
  --badge--color--a: var(--contrast-text-color-light--a);
  --badge--font-size: 80%;
  --badge--font-weight: var(--font-weight-semibold);
  --badge--transition-property: background-color, color, border-color;
  --badge--transition-duration: var(--transition-duration);
  --badge--transition-timing-function: var(--transition-timing-function);
  --badge--padding-top: calc(var(--padding-top) * 0.25);
  --badge--padding-right: calc(var(--padding-right) * 0.5);
  --badge--padding-bottom: calc(var(--padding-bottom) * 0.25);
  --badge--padding-left: calc(var(--padding-left) * 0.5);
  --badge--pill--border-top-left-radius: 50%;
  --badge--pill--border-top-right-radius: 50%;
  --badge--pill--border-bottom-right-radius: 50%;
  --badge--pill--border-bottom-left-radius: 50%;
  --badge--primary--background--h: var(--color-primary--h);
  --badge--primary--background--s: var(--color-primary--s);
  --badge--primary--background--l: var(--color-primary--l);
  --badge--primary--background--a: var(--color-primary--a);
  --badge--primary--border-top-color: var(--color-primary-shade-50);
  --badge--primary--border-right-color: var(--color-primary-shade-50);
  --badge--primary--border-bottom-color: var(--color-primary-shade-50);
  --badge--primary--border-left-color: var(--color-primary-shade-50);
  --badge--primary--color--h: var(--contrast-text-color-dark--h);
  --badge--primary--color--s: var(--contrast-text-color-dark--s);
  --badge--primary--color--l: var(--contrast-text-color-dark--l);
  --badge--primary--color--a: var(--contrast-text-color-dark--a);
  --badge--secondary--background--h: var(--color-secondary--h);
  --badge--secondary--background--s: var(--color-secondary--s);
  --badge--secondary--background--l: var(--color-secondary--l);
  --badge--secondary--background--a: var(--color-secondary--a);
  --badge--secondary--border-top-color: var(--color-secondary-shade-50);
  --badge--secondary--border-right-color: var(--color-secondary-shade-50);
  --badge--secondary--border-bottom-color: var(--color-secondary-shade-50);
  --badge--secondary--border-left-color: var(--color-secondary-shade-50);
  --badge--secondary--color--h: var(--contrast-text-color-dark--h);
  --badge--secondary--color--s: var(--contrast-text-color-dark--s);
  --badge--secondary--color--l: var(--contrast-text-color-dark--l);
  --badge--secondary--color--a: var(--contrast-text-color-dark--a);
  --badge--info--background--h: var(--color-info--h);
  --badge--info--background--s: var(--color-info--s);
  --badge--info--background--l: var(--color-info--l);
  --badge--info--background--a: var(--color-info--a);
  --badge--info--border-top-color: var(--color-info-shade-50);
  --badge--info--border-right-color: var(--color-info-shade-50);
  --badge--info--border-bottom-color: var(--color-info-shade-50);
  --badge--info--border-left-color: var(--color-info-shade-50);
  --badge--info--color--h: var(--contrast-text-color-light--h);
  --badge--info--color--s: var(--contrast-text-color-light--s);
  --badge--info--color--l: var(--contrast-text-color-light--l);
  --badge--info--color--a: var(--contrast-text-color-light--a);
  --badge--success--background--h: var(--color-success--h);
  --badge--success--background--s: var(--color-success--s);
  --badge--success--background--l: var(--color-success--l);
  --badge--success--background--a: var(--color-success--a);
  --badge--success--border-top-color: var(--color-success-shade-50);
  --badge--success--border-right-color: var(--color-success-shade-50);
  --badge--success--border-bottom-color: var(--color-success-shade-50);
  --badge--success--border-left-color: var(--color-success-shade-50);
  --badge--success--color--h: var(--contrast-text-color-light--h);
  --badge--success--color--s: var(--contrast-text-color-light--s);
  --badge--success--color--l: var(--contrast-text-color-light--l);
  --badge--success--color--a: var(--contrast-text-color-light--a);
  --badge--warning--background--h: var(--color-warning--h);
  --badge--warning--background--s: var(--color-warning--s);
  --badge--warning--background--l: var(--color-warning--l);
  --badge--warning--background--a: var(--color-warning--a);
  --badge--warning--border-top-color: var(--color-warning-shade-50);
  --badge--warning--border-right-color: var(--color-warning-shade-50);
  --badge--warning--border-bottom-color: var(--color-warning-shade-50);
  --badge--warning--border-left-color: var(--color-warning-shade-50);
  --badge--warning--color--h: var(--contrast-text-color-light--h);
  --badge--warning--color--s: var(--contrast-text-color-light--s);
  --badge--warning--color--l: var(--contrast-text-color-light--l);
  --badge--warning--color--a: var(--contrast-text-color-light--a);
  --badge--danger--background--h: var(--color-danger--h);
  --badge--danger--background--s: var(--color-danger--s);
  --badge--danger--background--l: var(--color-danger--l);
  --badge--danger--background--a: var(--color-danger--a);
  --badge--danger--border-top-color: var(--color-danger-shade-50);
  --badge--danger--border-right-color: var(--color-danger-shade-50);
  --badge--danger--border-bottom-color: var(--color-danger-shade-50);
  --badge--danger--border-left-color: var(--color-danger-shade-50);
  --badge--danger--color--h: var(--contrast-text-color-light--h);
  --badge--danger--color--s: var(--contrast-text-color-light--s);
  --badge--danger--color--l: var(--contrast-text-color-light--l);
  --badge--danger--color--a: var(--contrast-text-color-light--a);
  --badge--light--background--h: var(--color-light--h);
  --badge--light--background--s: var(--color-light--s);
  --badge--light--background--l: var(--color-light--l);
  --badge--light--background--a: var(--color-light--a);
  --badge--light--border-top-color: var(--color-light-shade-50);
  --badge--light--border-right-color: var(--color-light-shade-50);
  --badge--light--border-bottom-color: var(--color-light-shade-50);
  --badge--light--border-left-color: var(--color-light-shade-50);
  --badge--light--color--h: var(--contrast-text-color-light--h);
  --badge--light--color--s: var(--contrast-text-color-light--s);
  --badge--light--color--l: var(--contrast-text-color-light--l);
  --badge--light--color--a: var(--contrast-text-color-light--a);
  --badge--dark--background--h: var(--color-dark--h);
  --badge--dark--background--s: var(--color-dark--s);
  --badge--dark--background--l: var(--color-dark--l);
  --badge--dark--background--a: var(--color-dark--a);
  --badge--dark--border-top-color: var(--color-dark-shade-50);
  --badge--dark--border-right-color: var(--color-dark-shade-50);
  --badge--dark--border-bottom-color: var(--color-dark-shade-50);
  --badge--dark--border-left-color: var(--color-dark-shade-50);
  --badge--dark--color--h: var(--contrast-text-color-dark--h);
  --badge--dark--color--s: var(--contrast-text-color-dark--s);
  --badge--dark--color--l: var(--contrast-text-color-dark--l);
  --badge--dark--color--a: var(--contrast-text-color-dark--a);
  --badge--sm--padding-top: calc(var(--padding-top-sm) * 0.25);
  --badge--sm--padding-right: calc(var(--padding-right-sm) * 0.5);
  --badge--sm--padding-bottom: calc(var(--padding-bottom-sm) * 0.25);
  --badge--sm--padding-left: calc(var(--padding-left-sm) * 0.5);
  --badge--sm--border-top-left-radius: var(--border-top-left-radius-sm);
  --badge--sm--border-top-right-radius: var(--border-top-right-radius-sm);
  --badge--sm--border-bottom-right-radius: var(--border-bottom-right-radius-sm);
  --badge--sm--border-bottom-left-radius: var(--border-bottom-left-radius-sm);
  --badge--md--padding-top: calc(var(--padding-top-md) * 0.25);
  --badge--md--padding-right: calc(var(--padding-right-md) * 0.5);
  --badge--md--padding-bottom: calc(var(--padding-bottom-md) * 0.25);
  --badge--md--padding-left: calc(var(--padding-left-md) * 0.5);
  --badge--md--border-top-left-radius: var(--border-top-left-radius-md);
  --badge--md--border-top-right-radius: var(--border-top-right-radius-md);
  --badge--md--border-bottom-right-radius: var(--border-bottom-right-radius-md);
  --badge--md--border-bottom-left-radius: var(--border-bottom-left-radius-md);
  --badge--lg--padding-top: calc(var(--padding-top-lg) * 0.25);
  --badge--lg--padding-right: calc(var(--padding-right-lg) * 0.5);
  --badge--lg--padding-bottom: calc(var(--padding-bottom-lg) * 0.25);
  --badge--lg--padding-left: calc(var(--padding-left-lg) * 0.5);
  --badge--lg--border-top-left-radius: var(--border-top-left-radius-lg);
  --badge--lg--border-top-right-radius: var(--border-top-right-radius-lg);
  --badge--lg--border-bottom-right-radius: var(--border-bottom-right-radius-lg);
  --badge--lg--border-bottom-left-radius: var(--border-bottom-left-radius-lg);
}
