:root {
  --button--color--h: var(--contrast-text-color-light--h);
  --button--color--s: var(--contrast-text-color-light--s);
  --button--color--l: var(--contrast-text-color-light--l);
  --button--color--a: var(--contrast-text-color-light--a);
  --button--background--h: var(--color-light--h);
  --button--background--s: var(--color-light--s);
  --button--background--l: var(--color-light--l);
  --button--background--a: var(--color-light--a);
  --button--border-top-width: var(--border-top-width);
  --button--border-top-style: var(--border-top-style);
  --button--border-top-color: var(--border-top-color);
  --button--border-right-width: var(--border-right-width);
  --button--border-right-style: var(--border-right-style);
  --button--border-right-color: var(--border-right-color);
  --button--border-bottom-width: var(--border-bottom-width);
  --button--border-bottom-style: var(--border-bottom-style);
  --button--border-bottom-color: var(--border-bottom-color);
  --button--border-left-width: var(--border-left-width);
  --button--border-left-style: var(--border-left-style);
  --button--border-left-color: var(--border-left-color);
  --button--box-shadow-offset-x: var(--box-shadow-offset-x);
  --button--box-shadow-offset-y: var(--box-shadow-offset-y);
  --button--box-shadow-blur-radius: var(--box-shadow-blur-radius);
  --button--box-shadow-spread-radius: var(--box-shadow-spread-radius);
  --button--box-shadow-color: var(--box-shadow-color);
  --button--border-top-left-radius: var(--border-top-left-radius);
  --button--border-top-right-radius: var(--border-top-right-radius);
  --button--border-bottom-right-radius: var(--border-bottom-right-radius);
  --button--border-bottom-left-radius: var(--border-bottom-left-radius);
  --button--font-size: var(--font-size);
  --button--font-weight: var(--font-weight-normal);
  --button--line-height: var(--line-height);
  --button--padding-top: var(--padding-top);
  --button--padding-right: var(--padding-right);
  --button--padding-bottom: var(--padding-bottom);
  --button--padding-left: var(--padding-left);
  --button--transition-property: background-color, color, border-color;
  --button--transition-duration: var(--transition-duration);
  --button--transition-timing-function: var(--transition-timing-function);
  --button--active--background--h: var(--color-light-shade-100--h);
  --button--active--background--s: var(--color-light-shade-100--s);
  --button--active--background--l: var(--color-light-shade-100--l);
  --button--active--background--a: var(--color-light-shade-100--a);
  --button--disabled--opacity: 0.8;
  --button--hover--background--h: var(--color-light-shade-50--h);
  --button--hover--background--s: var(--color-light-shade-50--s);
  --button--hover--background--l: var(--color-light-shade-50--l);
  --button--hover--background--a: var(--color-light-shade-50--a);
  --button--block--margin-top: var(--margin-top);
  --button--block--margin-right: 0;
  --button--block--margin-bottom: 0;
  --button--block--margin-left: 0;
  --button--link--color--h: var(--color-primary--h);
  --button--link--color--s: var(--color-primary--s);
  --button--link--color--l: var(--color-primary--l);
  --button--link--color--a: var(--color-primary--a);
  --button--link--active--color--h: var(--color-primary-shade-100--h);
  --button--link--active--color--s: var(--color-primary-shade-100--s);
  --button--link--active--color--l: var(--color-primary-shade-100--l);
  --button--link--active--color--a: var(--color-primary-shade-100--a);
  --button--loader--width: 1rem;
  --button--loader--height: 1rem;
  --button--icon--margin-top: 0;
  --button--icon--margin-right: 0;
  --button--icon--margin-bottom: 0;
  --button--icon--margin-left: var(--margin-right-1-2);
  --button--primary--color--h: var(--contrast-text-color-dark--h);
  --button--primary--color--s: var(--contrast-text-color-dark--s);
  --button--primary--color--l: var(--contrast-text-color-dark--l);
  --button--primary--color--a: var(--contrast-text-color-dark--a);
  --button--primary--background--h: var(--color-primary--h);
  --button--primary--background--s: var(--color-primary--s);
  --button--primary--background--l: var(--color-primary--l);
  --button--primary--background--a: var(--color-primary--a);
  --button--primary--border-top-color: var(--color-primary-shade-50);
  --button--primary--border-right-color: var(--color-primary-shade-50);
  --button--primary--border-bottom-color: var(--color-primary-shade-50);
  --button--primary--border-left-color: var(--color-primary-shade-50);
  --button--primary--hover--background--h: var(--color-primary-shade-50--h);
  --button--primary--hover--background--s: var(--color-primary-shade-50--s);
  --button--primary--hover--background--l: var(--color-primary-shade-50--l);
  --button--primary--hover--background--a: var(--color-primary-shade-50--a);
  --button--primary--active--background--h: var(--color-primary-shade-100--h);
  --button--primary--active--background--s: var(--color-primary-shade-100--s);
  --button--primary--active--background--l: var(--color-primary-shade-100--l);
  --button--primary--active--background--a: var(--color-primary-shade-100--a);
  --button--primary--link--color--h: var(--color-primary--h);
  --button--primary--link--color--s: var(--color-primary--s);
  --button--primary--link--color--l: var(--color-primary--l);
  --button--primary--link--color--a: var(--color-primary--a);
  --button--primary--link--active--color--h: var(--color-primary-shade-100--h);
  --button--primary--link--active--color--s: var(--color-primary-shade-100--s);
  --button--primary--link--active--color--l: var(--color-primary-shade-100--l);
  --button--primary--link--active--color--a: var(--color-primary-shade-100--a);
  --button--secondary--color--h: var(--contrast-text-color-dark--h);
  --button--secondary--color--s: var(--contrast-text-color-dark--s);
  --button--secondary--color--l: var(--contrast-text-color-dark--l);
  --button--secondary--color--a: var(--contrast-text-color-dark--a);
  --button--secondary--background--h: var(--color-secondary--h);
  --button--secondary--background--s: var(--color-secondary--s);
  --button--secondary--background--l: var(--color-secondary--l);
  --button--secondary--background--a: var(--color-secondary--a);
  --button--secondary--border-top-color: var(--color-secondary-shade-50);
  --button--secondary--border-right-color: var(--color-secondary-shade-50);
  --button--secondary--border-bottom-color: var(--color-secondary-shade-50);
  --button--secondary--border-left-color: var(--color-secondary-shade-50);
  --button--secondary--hover--background--h: var(--color-secondary-shade-50--h);
  --button--secondary--hover--background--s: var(--color-secondary-shade-50--s);
  --button--secondary--hover--background--l: var(--color-secondary-shade-50--l);
  --button--secondary--hover--background--a: var(--color-secondary-shade-50--a);
  --button--secondary--active--background--h: var(
    --color-secondary-shade-100--h
  );
  --button--secondary--active--background--s: var(
    --color-secondary-shade-100--s
  );
  --button--secondary--active--background--l: var(
    --color-secondary-shade-100--l
  );
  --button--secondary--active--background--a: var(
    --color-secondary-shade-100--a
  );
  --button--secondary--link--color--h: var(--color-secondary--h);
  --button--secondary--link--color--s: var(--color-secondary--s);
  --button--secondary--link--color--l: var(--color-secondary--l);
  --button--secondary--link--color--a: var(--color-secondary--a);
  --button--secondary--link--active--color--h: var(
    --color-secondary-shade-100--h
  );
  --button--secondary--link--active--color--s: var(
    --color-secondary-shade-100--s
  );
  --button--secondary--link--active--color--l: var(
    --color-secondary-shade-100--l
  );
  --button--secondary--link--active--color--a: var(
    --color-secondary-shade-100--a
  );
  --button--info--color--h: var(--contrast-text-color-light--h);
  --button--info--color--s: var(--contrast-text-color-light--s);
  --button--info--color--l: var(--contrast-text-color-light--l);
  --button--info--color--a: var(--contrast-text-color-light--a);
  --button--info--background--h: var(--color-info--h);
  --button--info--background--s: var(--color-info--s);
  --button--info--background--l: var(--color-info--l);
  --button--info--background--a: var(--color-info--a);
  --button--info--border-top-color: var(--color-info-shade-50);
  --button--info--border-right-color: var(--color-info-shade-50);
  --button--info--border-bottom-color: var(--color-info-shade-50);
  --button--info--border-left-color: var(--color-info-shade-50);
  --button--info--hover--background--h: var(--color-info-shade-50--h);
  --button--info--hover--background--s: var(--color-info-shade-50--s);
  --button--info--hover--background--l: var(--color-info-shade-50--l);
  --button--info--hover--background--a: var(--color-info-shade-50--a);
  --button--info--active--background--h: var(--color-info-shade-100--h);
  --button--info--active--background--s: var(--color-info-shade-100--s);
  --button--info--active--background--l: var(--color-info-shade-100--l);
  --button--info--active--background--a: var(--color-info-shade-100--a);
  --button--info--link--color--h: var(--color-info--h);
  --button--info--link--color--s: var(--color-info--s);
  --button--info--link--color--l: var(--color-info--l);
  --button--info--link--color--a: var(--color-info--a);
  --button--info--link--active--color--h: var(--color-info-shade-100--h);
  --button--info--link--active--color--s: var(--color-info-shade-100--s);
  --button--info--link--active--color--l: var(--color-info-shade-100--l);
  --button--info--link--active--color--a: var(--color-info-shade-100--a);
  --button--success--color--h: var(--contrast-text-color-light--h);
  --button--success--color--s: var(--contrast-text-color-light--s);
  --button--success--color--l: var(--contrast-text-color-light--l);
  --button--success--color--a: var(--contrast-text-color-light--a);
  --button--success--background--h: var(--color-success--h);
  --button--success--background--s: var(--color-success--s);
  --button--success--background--l: var(--color-success--l);
  --button--success--background--a: var(--color-success--a);
  --button--success--border-top-color: var(--color-success-shade-50);
  --button--success--border-right-color: var(--color-success-shade-50);
  --button--success--border-bottom-color: var(--color-success-shade-50);
  --button--success--border-left-color: var(--color-success-shade-50);
  --button--success--hover--background--h: var(--color-success-shade-50--h);
  --button--success--hover--background--s: var(--color-success-shade-50--s);
  --button--success--hover--background--l: var(--color-success-shade-50--l);
  --button--success--hover--background--a: var(--color-success-shade-50--a);
  --button--success--active--background--h: var(--color-success-shade-100--h);
  --button--success--active--background--s: var(--color-success-shade-100--s);
  --button--success--active--background--l: var(--color-success-shade-100--l);
  --button--success--active--background--a: var(--color-success-shade-100--a);
  --button--success--link--color--h: var(--color-success--h);
  --button--success--link--color--s: var(--color-success--s);
  --button--success--link--color--l: var(--color-success--l);
  --button--success--link--color--a: var(--color-success--a);
  --button--success--link--active--color--h: var(--color-success-shade-100--h);
  --button--success--link--active--color--s: var(--color-success-shade-100--s);
  --button--success--link--active--color--l: var(--color-success-shade-100--l);
  --button--success--link--active--color--a: var(--color-success-shade-100--a);
  --button--warning--color--h: var(--contrast-text-color-light--h);
  --button--warning--color--s: var(--contrast-text-color-light--s);
  --button--warning--color--l: var(--contrast-text-color-light--l);
  --button--warning--color--a: var(--contrast-text-color-light--a);
  --button--warning--background--h: var(--color-warning--h);
  --button--warning--background--s: var(--color-warning--s);
  --button--warning--background--l: var(--color-warning--l);
  --button--warning--background--a: var(--color-warning--a);
  --button--warning--border-top-color: var(--color-warning-shade-50);
  --button--warning--border-right-color: var(--color-warning-shade-50);
  --button--warning--border-bottom-color: var(--color-warning-shade-50);
  --button--warning--border-left-color: var(--color-warning-shade-50);
  --button--warning--hover--background--h: var(--color-warning-shade-50--h);
  --button--warning--hover--background--s: var(--color-warning-shade-50--s);
  --button--warning--hover--background--l: var(--color-warning-shade-50--l);
  --button--warning--hover--background--a: var(--color-warning-shade-50--a);
  --button--warning--active--background--h: var(--color-warning-shade-100--h);
  --button--warning--active--background--s: var(--color-warning-shade-100--s);
  --button--warning--active--background--l: var(--color-warning-shade-100--l);
  --button--warning--active--background--a: var(--color-warning-shade-100--a);
  --button--warning--link--color--h: var(--color-warning--h);
  --button--warning--link--color--s: var(--color-warning--s);
  --button--warning--link--color--l: var(--color-warning--l);
  --button--warning--link--color--a: var(--color-warning--a);
  --button--warning--link--active--color--h: var(--color-warning-shade-100--h);
  --button--warning--link--active--color--s: var(--color-warning-shade-100--s);
  --button--warning--link--active--color--l: var(--color-warning-shade-100--l);
  --button--warning--link--active--color--a: var(--color-warning-shade-100--a);
  --button--danger--color--h: var(--contrast-text-color-light--h);
  --button--danger--color--s: var(--contrast-text-color-light--s);
  --button--danger--color--l: var(--contrast-text-color-light--l);
  --button--danger--color--a: var(--contrast-text-color-light--a);
  --button--danger--background--h: var(--color-danger--h);
  --button--danger--background--s: var(--color-danger--s);
  --button--danger--background--l: var(--color-danger--l);
  --button--danger--background--a: var(--color-danger--a);
  --button--danger--border-top-color: var(--color-danger-shade-50);
  --button--danger--border-right-color: var(--color-danger-shade-50);
  --button--danger--border-bottom-color: var(--color-danger-shade-50);
  --button--danger--border-left-color: var(--color-danger-shade-50);
  --button--danger--hover--background--h: var(--color-danger-shade-50--h);
  --button--danger--hover--background--s: var(--color-danger-shade-50--s);
  --button--danger--hover--background--l: var(--color-danger-shade-50--l);
  --button--danger--hover--background--a: var(--color-danger-shade-50--a);
  --button--danger--active--background--h: var(--color-danger-shade-100--h);
  --button--danger--active--background--s: var(--color-danger-shade-100--s);
  --button--danger--active--background--l: var(--color-danger-shade-100--l);
  --button--danger--active--background--a: var(--color-danger-shade-100--a);
  --button--danger--link--color--h: var(--color-danger--h);
  --button--danger--link--color--s: var(--color-danger--s);
  --button--danger--link--color--l: var(--color-danger--l);
  --button--danger--link--color--a: var(--color-danger--a);
  --button--danger--link--active--color--h: var(--color-danger-shade-100--h);
  --button--danger--link--active--color--s: var(--color-danger-shade-100--s);
  --button--danger--link--active--color--l: var(--color-danger-shade-100--l);
  --button--danger--link--active--color--a: var(--color-danger-shade-100--a);
  --button--light--color--h: var(--contrast-text-color-light--h);
  --button--light--color--s: var(--contrast-text-color-light--s);
  --button--light--color--l: var(--contrast-text-color-light--l);
  --button--light--color--a: var(--contrast-text-color-light--a);
  --button--light--background--h: var(--color-light--h);
  --button--light--background--s: var(--color-light--s);
  --button--light--background--l: var(--color-light--l);
  --button--light--background--a: var(--color-light--a);
  --button--light--border-top-color: var(--color-light-shade-50);
  --button--light--border-right-color: var(--color-light-shade-50);
  --button--light--border-bottom-color: var(--color-light-shade-50);
  --button--light--border-left-color: var(--color-light-shade-50);
  --button--light--hover--background--h: var(--color-light-shade-50--h);
  --button--light--hover--background--s: var(--color-light-shade-50--s);
  --button--light--hover--background--l: var(--color-light-shade-50--l);
  --button--light--hover--background--a: var(--color-light-shade-50--a);
  --button--light--active--background--h: var(--color-light-shade-100--h);
  --button--light--active--background--s: var(--color-light-shade-100--s);
  --button--light--active--background--l: var(--color-light-shade-100--l);
  --button--light--active--background--a: var(--color-light-shade-100--a);
  --button--light--link--color--h: var(--color-light--h);
  --button--light--link--color--s: var(--color-light--s);
  --button--light--link--color--l: var(--color-light--l);
  --button--light--link--color--a: var(--color-light--a);
  --button--light--link--active--color--h: var(--color-light-shade-100--h);
  --button--light--link--active--color--s: var(--color-light-shade-100--s);
  --button--light--link--active--color--l: var(--color-light-shade-100--l);
  --button--light--link--active--color--a: var(--color-light-shade-100--a);
  --button--dark--color--h: var(--contrast-text-color-dark--h);
  --button--dark--color--s: var(--contrast-text-color-dark--s);
  --button--dark--color--l: var(--contrast-text-color-dark--l);
  --button--dark--color--a: var(--contrast-text-color-dark--a);
  --button--dark--background--h: var(--color-dark--h);
  --button--dark--background--s: var(--color-dark--s);
  --button--dark--background--l: var(--color-dark--l);
  --button--dark--background--a: var(--color-dark--a);
  --button--dark--border-top-color: var(--color-dark-shade-50);
  --button--dark--border-right-color: var(--color-dark-shade-50);
  --button--dark--border-bottom-color: var(--color-dark-shade-50);
  --button--dark--border-left-color: var(--color-dark-shade-50);
  --button--dark--hover--background--h: var(--color-dark-shade-50--h);
  --button--dark--hover--background--s: var(--color-dark-shade-50--s);
  --button--dark--hover--background--l: var(--color-dark-shade-50--l);
  --button--dark--hover--background--a: var(--color-dark-shade-50--a);
  --button--dark--active--background--h: var(--color-dark-shade-100--h);
  --button--dark--active--background--s: var(--color-dark-shade-100--s);
  --button--dark--active--background--l: var(--color-dark-shade-100--l);
  --button--dark--active--background--a: var(--color-dark-shade-100--a);
  --button--dark--link--color--h: var(--color-dark--h);
  --button--dark--link--color--s: var(--color-dark--s);
  --button--dark--link--color--l: var(--color-dark--l);
  --button--dark--link--color--a: var(--color-dark--a);
  --button--dark--link--active--color--h: var(--color-dark-shade-100--h);
  --button--dark--link--active--color--s: var(--color-dark-shade-100--s);
  --button--dark--link--active--color--l: var(--color-dark-shade-100--l);
  --button--dark--link--active--color--a: var(--color-dark-shade-100--a);
  --button--sm--padding-top: calc(var(--padding-top-sm) * 3 / 4);
  --button--sm--padding-right: var(--padding-right-sm);
  --button--sm--padding-bottom: calc(var(--padding-bottom-sm) * 3 / 4);
  --button--sm--padding-left: var(--padding-left-sm);
  --button--sm--border-top-left-radius: var(--border-top-left-radius-sm);
  --button--sm--border-top-right-radius: var(--border-top-right-radius-sm);
  --button--sm--border-bottom-right-radius: var(
    --border-bottom-right-radius-sm
  );
  --button--sm--border-bottom-left-radius: var(--border-bottom-left-radius-sm);
  --button--sm--font-size: var(--font-size-sm);
  --button--sm--circle--width: calc(34px * var(--size-multiplier-sm));
  --button--sm--circle--height: calc(34px * var(--size-multiplier-sm));
  --button--md--padding-top: calc(var(--padding-top-md) * 3 / 4);
  --button--md--padding-right: var(--padding-right-md);
  --button--md--padding-bottom: calc(var(--padding-bottom-md) * 3 / 4);
  --button--md--padding-left: var(--padding-left-md);
  --button--md--border-top-left-radius: var(--border-top-left-radius-md);
  --button--md--border-top-right-radius: var(--border-top-right-radius-md);
  --button--md--border-bottom-right-radius: var(
    --border-bottom-right-radius-md
  );
  --button--md--border-bottom-left-radius: var(--border-bottom-left-radius-md);
  --button--md--font-size: var(--font-size-md);
  --button--md--circle--width: calc(40px * var(--size-multiplier-md));
  --button--md--circle--height: calc(40px * var(--size-multiplier-md));
  --button--lg--padding-top: calc(var(--padding-top-lg) * 3 / 4);
  --button--lg--padding-right: var(--padding-right-lg);
  --button--lg--padding-bottom: calc(var(--padding-bottom-lg) * 3 / 4);
  --button--lg--padding-left: var(--padding-left-lg);
  --button--lg--border-top-left-radius: var(--border-top-left-radius-lg);
  --button--lg--border-top-right-radius: var(--border-top-right-radius-lg);
  --button--lg--border-bottom-right-radius: var(
    --border-bottom-right-radius-lg
  );
  --button--lg--border-bottom-left-radius: var(--border-bottom-left-radius-lg);
  --button--lg--font-size: var(--font-size-lg);
  --button--lg--circle--width: calc(50px * var(--size-multiplier-lg));
  --button--lg--circle--height: calc(50px * var(--size-multiplier-lg));
}
