@use "../mixins/variants";
@layer components {
  .form-label {
    @include variants.selector("sm") {
      @include variants.font-size("form-label", "sm");
    }
    @include variants.selector("md") {
      @include variants.font-size("form-label", "md");
    }
    @include variants.selector("lg") {
      @include variants.font-size("form-label", "lg");
    }
  }
}
@layer base {
  :root {
    --form-label--font-size: var(--font-size);
    --form-label--margin-top: 0;
    --form-label--margin-right: 0;
    --form-label--margin-bottom: var(--margin-bottom-1-4);
    --form-label--margin-left: 0;
    --form-label--transition-property: color;
    --form-label--transition-duration: var(--transition-duration);
    --form-label--transition-timing-function: var(--transition-timing-function);
    --form-label--error--color--h: var(--color-danger--h);
    --form-label--error--color--s: var(--color-danger--s);
    --form-label--error--color--l: var(--color-danger--l);
    --form-label--error--color--a: var(--color-danger--a);
    --form-label--inline--margin-right: var(--margin-right);
    --form-label--inline--margin-left: var(--margin-left);
    --form-label--required--color--h: var(--color-danger--h);
    --form-label--required--color--s: var(--color-danger--s);
    --form-label--required--color--l: var(--color-danger--l);
    --form-label--required--color--a: var(--color-danger--a);
    --form-label--sm--font-size: var(--font-size-sm);
    --form-label--md--font-size: var(--font-size-md);
    --form-label--lg--font-size: var(--font-size-lg);
  }
}
