@layer base {
  :root {
    --header--background--h: var(--color-white--h);
    --header--background--s: var(--color-white--s);
    --header--background--l: var(--color-white--l);
    --header--background--a: var(--color-white--a);
    --header--color--h: var(--contrast-text-color-light--h);
    --header--color--s: var(--contrast-text-color-light--s);
    --header--color--l: var(--contrast-text-color-light--l);
    --header--color--a: var(--contrast-text-color-light--a);
    --header--padding-top: 10rem;
    --header--padding-right: 0;
    --header--padding-bottom: 10rem;
    --header--padding-left: 0;
    --header--transition-property: background-color, color;
    --header--transition-duration: var(--transition-duration);
    --header--transition-timing-function: var(--transition-timing-function);
    --header--primary--background--h: var(--color-primary--h);
    --header--primary--background--s: var(--color-primary--s);
    --header--primary--background--l: var(--color-primary--l);
    --header--primary--background--a: var(--color-primary--a);
    --header--primary--color--h: var(--contrast-text-color-dark--h);
    --header--primary--color--s: var(--contrast-text-color-dark--s);
    --header--primary--color--l: var(--contrast-text-color-dark--l);
    --header--primary--color--a: var(--contrast-text-color-dark--a);
    --header--light--background--h: var(--color-light--h);
    --header--light--background--s: var(--color-light--s);
    --header--light--background--l: var(--color-light--l);
    --header--light--background--a: var(--color-light--a);
    --header--light--color--h: var(--contrast-text-color-light--h);
    --header--light--color--s: var(--contrast-text-color-light--s);
    --header--light--color--l: var(--contrast-text-color-light--l);
    --header--light--color--a: var(--contrast-text-color-light--a);
    --header--dark--background--h: var(--color-dark--h);
    --header--dark--background--s: var(--color-dark--s);
    --header--dark--background--l: var(--color-dark--l);
    --header--dark--background--a: var(--color-dark--a);
    --header--dark--color--h: var(--contrast-text-color-dark--h);
    --header--dark--color--s: var(--contrast-text-color-dark--s);
    --header--dark--color--l: var(--contrast-text-color-dark--l);
    --header--dark--color--a: var(--contrast-text-color-dark--a);
    --header--sm--padding-top: calc(10rem * var(--size-multiplier-sm));
    --header--sm--padding-right: 0;
    --header--sm--padding-bottom: calc(10rem * var(--size-multiplier-sm));
    --header--sm--padding-left: 0;
    --header--md--padding-top: calc(10rem * var(--size-multiplier-md));
    --header--md--padding-right: 0;
    --header--md--padding-bottom: calc(10rem * var(--size-multiplier-md));
    --header--md--padding-left: 0;
    --header--lg--padding-top: calc(10rem * var(--size-multiplier-lg));
    --header--lg--padding-right: 0;
    --header--lg--padding-bottom: calc(10rem * var(--size-multiplier-lg));
    --header--lg--padding-left: 0;
  }
}
