@use "../mixins/variants";
.media {
}
:root {
  --media--image--margin-top: 0;
  --media--image--margin-right: var(--margin-right);
  --media--image--margin-bottom: 0;
  --media--image--margin-left: 0;
}
