@use "../mixins/variants";
.modal {
  @include variants.selector("fullscreen") {
    @include variants.border-top-left-radius("modal", "fullscreen");
    @include variants.border-top-right-radius("modal", "fullscreen");
    @include variants.border-bottom-right-radius("modal", "fullscreen");
    @include variants.border-bottom-left-radius("modal", "fullscreen");
  }
  @include variants.selector("primary") {
    @include variants.background-h("modal", "primary");
    @include variants.background-s("modal", "primary");
    @include variants.background-l("modal", "primary");
    @include variants.background-a("modal", "primary");
    @include variants.border-top-color("modal", "primary");
    @include variants.border-right-color("modal", "primary");
    @include variants.border-bottom-color("modal", "primary");
    @include variants.border-left-color("modal", "primary");
    @include variants.color-h("modal", "primary");
    @include variants.color-s("modal", "primary");
    @include variants.color-l("modal", "primary");
    @include variants.color-a("modal", "primary");
    @include variants.background-h("modal", "primary", "header");
    @include variants.background-s("modal", "primary", "header");
    @include variants.background-l("modal", "primary", "header");
    @include variants.background-a("modal", "primary", "header");
    @include variants.color-h("modal", "primary", "header");
    @include variants.color-s("modal", "primary", "header");
    @include variants.color-l("modal", "primary", "header");
    @include variants.color-a("modal", "primary", "header");
    @include variants.background-h("modal", "primary", "footer");
    @include variants.background-s("modal", "primary", "footer");
    @include variants.background-l("modal", "primary", "footer");
    @include variants.background-a("modal", "primary", "footer");
    @include variants.color-h("modal", "primary", "footer");
    @include variants.color-s("modal", "primary", "footer");
    @include variants.color-l("modal", "primary", "footer");
    @include variants.color-a("modal", "primary", "footer");
  }
  @include variants.selector("secondary") {
    @include variants.background-h("modal", "secondary");
    @include variants.background-s("modal", "secondary");
    @include variants.background-l("modal", "secondary");
    @include variants.background-a("modal", "secondary");
    @include variants.border-top-color("modal", "secondary");
    @include variants.border-right-color("modal", "secondary");
    @include variants.border-bottom-color("modal", "secondary");
    @include variants.border-left-color("modal", "secondary");
    @include variants.color-h("modal", "secondary");
    @include variants.color-s("modal", "secondary");
    @include variants.color-l("modal", "secondary");
    @include variants.color-a("modal", "secondary");
    @include variants.background-h("modal", "secondary", "header");
    @include variants.background-s("modal", "secondary", "header");
    @include variants.background-l("modal", "secondary", "header");
    @include variants.background-a("modal", "secondary", "header");
    @include variants.color-h("modal", "secondary", "header");
    @include variants.color-s("modal", "secondary", "header");
    @include variants.color-l("modal", "secondary", "header");
    @include variants.color-a("modal", "secondary", "header");
    @include variants.background-h("modal", "secondary", "footer");
    @include variants.background-s("modal", "secondary", "footer");
    @include variants.background-l("modal", "secondary", "footer");
    @include variants.background-a("modal", "secondary", "footer");
    @include variants.color-h("modal", "secondary", "footer");
    @include variants.color-s("modal", "secondary", "footer");
    @include variants.color-l("modal", "secondary", "footer");
    @include variants.color-a("modal", "secondary", "footer");
  }
  @include variants.selector("info") {
    @include variants.background-h("modal", "info");
    @include variants.background-s("modal", "info");
    @include variants.background-l("modal", "info");
    @include variants.background-a("modal", "info");
    @include variants.border-top-color("modal", "info");
    @include variants.border-right-color("modal", "info");
    @include variants.border-bottom-color("modal", "info");
    @include variants.border-left-color("modal", "info");
    @include variants.color-h("modal", "info");
    @include variants.color-s("modal", "info");
    @include variants.color-l("modal", "info");
    @include variants.color-a("modal", "info");
    @include variants.background-h("modal", "info", "header");
    @include variants.background-s("modal", "info", "header");
    @include variants.background-l("modal", "info", "header");
    @include variants.background-a("modal", "info", "header");
    @include variants.color-h("modal", "info", "header");
    @include variants.color-s("modal", "info", "header");
    @include variants.color-l("modal", "info", "header");
    @include variants.color-a("modal", "info", "header");
    @include variants.background-h("modal", "info", "footer");
    @include variants.background-s("modal", "info", "footer");
    @include variants.background-l("modal", "info", "footer");
    @include variants.background-a("modal", "info", "footer");
    @include variants.color-h("modal", "info", "footer");
    @include variants.color-s("modal", "info", "footer");
    @include variants.color-l("modal", "info", "footer");
    @include variants.color-a("modal", "info", "footer");
  }
  @include variants.selector("success") {
    @include variants.background-h("modal", "success");
    @include variants.background-s("modal", "success");
    @include variants.background-l("modal", "success");
    @include variants.background-a("modal", "success");
    @include variants.border-top-color("modal", "success");
    @include variants.border-right-color("modal", "success");
    @include variants.border-bottom-color("modal", "success");
    @include variants.border-left-color("modal", "success");
    @include variants.color-h("modal", "success");
    @include variants.color-s("modal", "success");
    @include variants.color-l("modal", "success");
    @include variants.color-a("modal", "success");
    @include variants.background-h("modal", "success", "header");
    @include variants.background-s("modal", "success", "header");
    @include variants.background-l("modal", "success", "header");
    @include variants.background-a("modal", "success", "header");
    @include variants.color-h("modal", "success", "header");
    @include variants.color-s("modal", "success", "header");
    @include variants.color-l("modal", "success", "header");
    @include variants.color-a("modal", "success", "header");
    @include variants.background-h("modal", "success", "footer");
    @include variants.background-s("modal", "success", "footer");
    @include variants.background-l("modal", "success", "footer");
    @include variants.background-a("modal", "success", "footer");
    @include variants.color-h("modal", "success", "footer");
    @include variants.color-s("modal", "success", "footer");
    @include variants.color-l("modal", "success", "footer");
    @include variants.color-a("modal", "success", "footer");
  }
  @include variants.selector("warning") {
    @include variants.background-h("modal", "warning");
    @include variants.background-s("modal", "warning");
    @include variants.background-l("modal", "warning");
    @include variants.background-a("modal", "warning");
    @include variants.border-top-color("modal", "warning");
    @include variants.border-right-color("modal", "warning");
    @include variants.border-bottom-color("modal", "warning");
    @include variants.border-left-color("modal", "warning");
    @include variants.color-h("modal", "warning");
    @include variants.color-s("modal", "warning");
    @include variants.color-l("modal", "warning");
    @include variants.color-a("modal", "warning");
    @include variants.background-h("modal", "warning", "header");
    @include variants.background-s("modal", "warning", "header");
    @include variants.background-l("modal", "warning", "header");
    @include variants.background-a("modal", "warning", "header");
    @include variants.color-h("modal", "warning", "header");
    @include variants.color-s("modal", "warning", "header");
    @include variants.color-l("modal", "warning", "header");
    @include variants.color-a("modal", "warning", "header");
    @include variants.background-h("modal", "warning", "footer");
    @include variants.background-s("modal", "warning", "footer");
    @include variants.background-l("modal", "warning", "footer");
    @include variants.background-a("modal", "warning", "footer");
    @include variants.color-h("modal", "warning", "footer");
    @include variants.color-s("modal", "warning", "footer");
    @include variants.color-l("modal", "warning", "footer");
    @include variants.color-a("modal", "warning", "footer");
  }
  @include variants.selector("danger") {
    @include variants.background-h("modal", "danger");
    @include variants.background-s("modal", "danger");
    @include variants.background-l("modal", "danger");
    @include variants.background-a("modal", "danger");
    @include variants.border-top-color("modal", "danger");
    @include variants.border-right-color("modal", "danger");
    @include variants.border-bottom-color("modal", "danger");
    @include variants.border-left-color("modal", "danger");
    @include variants.color-h("modal", "danger");
    @include variants.color-s("modal", "danger");
    @include variants.color-l("modal", "danger");
    @include variants.color-a("modal", "danger");
    @include variants.background-h("modal", "danger", "header");
    @include variants.background-s("modal", "danger", "header");
    @include variants.background-l("modal", "danger", "header");
    @include variants.background-a("modal", "danger", "header");
    @include variants.color-h("modal", "danger", "header");
    @include variants.color-s("modal", "danger", "header");
    @include variants.color-l("modal", "danger", "header");
    @include variants.color-a("modal", "danger", "header");
    @include variants.background-h("modal", "danger", "footer");
    @include variants.background-s("modal", "danger", "footer");
    @include variants.background-l("modal", "danger", "footer");
    @include variants.background-a("modal", "danger", "footer");
    @include variants.color-h("modal", "danger", "footer");
    @include variants.color-s("modal", "danger", "footer");
    @include variants.color-l("modal", "danger", "footer");
    @include variants.color-a("modal", "danger", "footer");
  }
  @include variants.selector("light") {
    @include variants.background-h("modal", "light");
    @include variants.background-s("modal", "light");
    @include variants.background-l("modal", "light");
    @include variants.background-a("modal", "light");
    @include variants.border-top-color("modal", "light");
    @include variants.border-right-color("modal", "light");
    @include variants.border-bottom-color("modal", "light");
    @include variants.border-left-color("modal", "light");
    @include variants.color-h("modal", "light");
    @include variants.color-s("modal", "light");
    @include variants.color-l("modal", "light");
    @include variants.color-a("modal", "light");
    @include variants.background-h("modal", "light", "header");
    @include variants.background-s("modal", "light", "header");
    @include variants.background-l("modal", "light", "header");
    @include variants.background-a("modal", "light", "header");
    @include variants.color-h("modal", "light", "header");
    @include variants.color-s("modal", "light", "header");
    @include variants.color-l("modal", "light", "header");
    @include variants.color-a("modal", "light", "header");
    @include variants.background-h("modal", "light", "footer");
    @include variants.background-s("modal", "light", "footer");
    @include variants.background-l("modal", "light", "footer");
    @include variants.background-a("modal", "light", "footer");
    @include variants.color-h("modal", "light", "footer");
    @include variants.color-s("modal", "light", "footer");
    @include variants.color-l("modal", "light", "footer");
    @include variants.color-a("modal", "light", "footer");
  }
  @include variants.selector("dark") {
    @include variants.background-h("modal", "dark");
    @include variants.background-s("modal", "dark");
    @include variants.background-l("modal", "dark");
    @include variants.background-a("modal", "dark");
    @include variants.border-top-color("modal", "dark");
    @include variants.border-right-color("modal", "dark");
    @include variants.border-bottom-color("modal", "dark");
    @include variants.border-left-color("modal", "dark");
    @include variants.color-h("modal", "dark");
    @include variants.color-s("modal", "dark");
    @include variants.color-l("modal", "dark");
    @include variants.color-a("modal", "dark");
    @include variants.background-h("modal", "dark", "header");
    @include variants.background-s("modal", "dark", "header");
    @include variants.background-l("modal", "dark", "header");
    @include variants.background-a("modal", "dark", "header");
    @include variants.color-h("modal", "dark", "header");
    @include variants.color-s("modal", "dark", "header");
    @include variants.color-l("modal", "dark", "header");
    @include variants.color-a("modal", "dark", "header");
    @include variants.background-h("modal", "dark", "footer");
    @include variants.background-s("modal", "dark", "footer");
    @include variants.background-l("modal", "dark", "footer");
    @include variants.background-a("modal", "dark", "footer");
    @include variants.color-h("modal", "dark", "footer");
    @include variants.color-s("modal", "dark", "footer");
    @include variants.color-l("modal", "dark", "footer");
    @include variants.color-a("modal", "dark", "footer");
  }
  @include variants.selector("sm") {
    @include variants.border-top-left-radius("modal", "sm");
    @include variants.border-top-right-radius("modal", "sm");
    @include variants.border-bottom-right-radius("modal", "sm");
    @include variants.border-bottom-left-radius("modal", "sm");
    @include variants.font-size("modal", "sm");
    @include variants.padding-top("modal", "sm");
    @include variants.padding-right("modal", "sm");
    @include variants.padding-bottom("modal", "sm");
    @include variants.padding-left("modal", "sm");
  }
  @include variants.selector("md") {
    @include variants.border-top-left-radius("modal", "md");
    @include variants.border-top-right-radius("modal", "md");
    @include variants.border-bottom-right-radius("modal", "md");
    @include variants.border-bottom-left-radius("modal", "md");
    @include variants.font-size("modal", "md");
    @include variants.padding-top("modal", "md");
    @include variants.padding-right("modal", "md");
    @include variants.padding-bottom("modal", "md");
    @include variants.padding-left("modal", "md");
  }
  @include variants.selector("lg") {
    @include variants.border-top-left-radius("modal", "lg");
    @include variants.border-top-right-radius("modal", "lg");
    @include variants.border-bottom-right-radius("modal", "lg");
    @include variants.border-bottom-left-radius("modal", "lg");
    @include variants.font-size("modal", "lg");
    @include variants.padding-top("modal", "lg");
    @include variants.padding-right("modal", "lg");
    @include variants.padding-bottom("modal", "lg");
    @include variants.padding-left("modal", "lg");
  }
}
:root {
  --modal--background--h: var(--color-white--h);
  --modal--background--s: var(--color-white--s);
  --modal--background--l: var(--color-white--l);
  --modal--background--a: var(--color-white--a);
  --modal--box-shadow-offset-x: var(--box-shadow-offset-x);
  --modal--box-shadow-offset-y: var(--box-shadow-offset-y);
  --modal--box-shadow-blur-radius: var(--box-shadow-blur-radius);
  --modal--box-shadow-spread-radius: var(--box-shadow-spread-radius);
  --modal--box-shadow-color: var(--box-shadow-color);
  --modal--border-top-width: var(--border-top-width);
  --modal--border-top-style: var(--border-top-style);
  --modal--border-top-color: var(--border-top-color);
  --modal--border-right-width: var(--border-right-width);
  --modal--border-right-style: var(--border-right-style);
  --modal--border-right-color: var(--border-right-color);
  --modal--border-bottom-width: var(--border-bottom-width);
  --modal--border-bottom-style: var(--border-bottom-style);
  --modal--border-bottom-color: var(--border-bottom-color);
  --modal--border-left-width: var(--border-left-width);
  --modal--border-left-style: var(--border-left-style);
  --modal--border-left-color: var(--border-left-color);
  --modal--border-top-left-radius: var(--border-top-left-radius);
  --modal--border-top-right-radius: var(--border-top-right-radius);
  --modal--border-bottom-right-radius: var(--border-bottom-right-radius);
  --modal--border-bottom-left-radius: var(--border-bottom-left-radius);
  --modal--color--h: var(--contrast-text-color-light--h);
  --modal--color--s: var(--contrast-text-color-light--s);
  --modal--color--l: var(--contrast-text-color-light--l);
  --modal--color--a: var(--contrast-text-color-light--a);
  --modal--font-size: var(--font-size);
  --modal--line-height: var(--line-height);
  --modal--transition-property: background-color, color, border-color;
  --modal--transition-duration: var(--transition-duration);
  --modal--transition-timing-function: var(--transition-timing-function);
  --modal--margin-top: var(--margin-top);
  --modal--margin-right: var(--margin-right);
  --modal--margin-bottom: var(--margin-bottom);
  --modal--margin-left: var(--margin-left);
  --modal--padding-top: var(--padding-top);
  --modal--padding-right: var(--padding-right);
  --modal--padding-bottom: var(--padding-bottom);
  --modal--padding-left: var(--padding-left);
  --modal--width: calc(
    100% - var(--modal--margin-left) - var(--modal--margin-right)
  );
  --modal--max-width: 480px;
  --modal--wrapper--background--h: 0;
  --modal--wrapper--background--s: 0%;
  --modal--wrapper--background--l: 0%;
  --modal--wrapper--background--a: 0.75;
  --modal--icon--margin-top: 0;
  --modal--icon--margin-right: var(--modal--padding-right);
  --modal--icon--margin-bottom: 0;
  --modal--icon--margin-left: 0;
  --modal--header--background--h: var(--color-light--h);
  --modal--header--background--s: var(--color-light--s);
  --modal--header--background--l: var(--color-light--l);
  --modal--header--background--a: var(--color-light--a);
  --modal--header--color--h: var(--contrast-text-color-light--h);
  --modal--header--color--s: var(--contrast-text-color-light--s);
  --modal--header--color--l: var(--contrast-text-color-light--l);
  --modal--header--color--a: var(--contrast-text-color-light--a);
  --modal--header--close--color--h: var(--contrast-text-color-light--h);
  --modal--header--close--color--s: var(--contrast-text-color-light--s);
  --modal--header--close--color--l: var(--contrast-text-color-light--l);
  --modal--header--close--color--a: var(--contrast-text-color-light--a);
  --modal--header--close--font-size: calc(var(--font-size) / 2);
  --modal--header--close--width: var(--font-size);
  --modal--header--close--height: var(--font-size);
  --modal--header--close--hover--background--h: 0;
  --modal--header--close--hover--background--s: 0%;
  --modal--header--close--hover--background--l: 0%;
  --modal--header--close--hover--background--a: 0.1;
  --modal--header--close--active--background--h: 0;
  --modal--header--close--active--background--s: 0%;
  --modal--header--close--active--background--l: 0%;
  --modal--header--close--active--background--a: 0.15;
  --modal--footer--background--h: var(--color-light--h);
  --modal--footer--background--s: var(--color-light--s);
  --modal--footer--background--l: var(--color-light--l);
  --modal--footer--background--a: var(--color-light--a);
  --modal--footer--color--h: var(--contrast-text-color-light--h);
  --modal--footer--color--s: var(--contrast-text-color-light--s);
  --modal--footer--color--l: var(--contrast-text-color-light--l);
  --modal--footer--color--a: var(--contrast-text-color-light--a);
  --modal--footer--button--margin-top: 0;
  --modal--footer--button--margin-right: 0;
  --modal--footer--button--margin-bottom: 0;
  --modal--footer--button--margin-left: var(--margin-left-1-2);
  --modal--fullscreen--border-top-left-radius: 0;
  --modal--fullscreen--border-top-right-radius: 0;
  --modal--fullscreen--border-bottom-right-radius: 0;
  --modal--fullscreen--border-bottom-left-radius: 0;
  --modal--primary--background--h: var(--color-primary--h);
  --modal--primary--background--s: var(--color-primary--s);
  --modal--primary--background--l: var(--color-primary--l);
  --modal--primary--background--a: var(--color-primary--a);
  --modal--primary--border-top-color: var(--color-primary-shade-50);
  --modal--primary--border-right-color: var(--color-primary-shade-50);
  --modal--primary--border-bottom-color: var(--color-primary-shade-50);
  --modal--primary--border-left-color: var(--color-primary-shade-50);
  --modal--primary--color--h: var(--contrast-text-color-dark--h);
  --modal--primary--color--s: var(--contrast-text-color-dark--s);
  --modal--primary--color--l: var(--contrast-text-color-dark--l);
  --modal--primary--color--a: var(--contrast-text-color-dark--a);
  --modal--primary--header--background--h: var(--color-primary-shade-50--h);
  --modal--primary--header--background--s: var(--color-primary-shade-50--s);
  --modal--primary--header--background--l: var(--color-primary-shade-50--l);
  --modal--primary--header--background--a: var(--color-primary-shade-50--a);
  --modal--primary--header--color--h: var(--contrast-text-color-dark--h);
  --modal--primary--header--color--s: var(--contrast-text-color-dark--s);
  --modal--primary--header--color--l: var(--contrast-text-color-dark--l);
  --modal--primary--header--color--a: var(--contrast-text-color-dark--a);
  --modal--primary--footer--background--h: var(--color-primary-shade-50--h);
  --modal--primary--footer--background--s: var(--color-primary-shade-50--s);
  --modal--primary--footer--background--l: var(--color-primary-shade-50--l);
  --modal--primary--footer--background--a: var(--color-primary-shade-50--a);
  --modal--primary--footer--color--h: var(--contrast-text-color-dark--h);
  --modal--primary--footer--color--s: var(--contrast-text-color-dark--s);
  --modal--primary--footer--color--l: var(--contrast-text-color-dark--l);
  --modal--primary--footer--color--a: var(--contrast-text-color-dark--a);
  --modal--secondary--background--h: var(--color-secondary--h);
  --modal--secondary--background--s: var(--color-secondary--s);
  --modal--secondary--background--l: var(--color-secondary--l);
  --modal--secondary--background--a: var(--color-secondary--a);
  --modal--secondary--border-top-color: var(--color-secondary-shade-50);
  --modal--secondary--border-right-color: var(--color-secondary-shade-50);
  --modal--secondary--border-bottom-color: var(--color-secondary-shade-50);
  --modal--secondary--border-left-color: var(--color-secondary-shade-50);
  --modal--secondary--color--h: var(--contrast-text-color-dark--h);
  --modal--secondary--color--s: var(--contrast-text-color-dark--s);
  --modal--secondary--color--l: var(--contrast-text-color-dark--l);
  --modal--secondary--color--a: var(--contrast-text-color-dark--a);
  --modal--secondary--header--background--h: var(--color-secondary-shade-50--h);
  --modal--secondary--header--background--s: var(--color-secondary-shade-50--s);
  --modal--secondary--header--background--l: var(--color-secondary-shade-50--l);
  --modal--secondary--header--background--a: var(--color-secondary-shade-50--a);
  --modal--secondary--header--color--h: var(--contrast-text-color-dark--h);
  --modal--secondary--header--color--s: var(--contrast-text-color-dark--s);
  --modal--secondary--header--color--l: var(--contrast-text-color-dark--l);
  --modal--secondary--header--color--a: var(--contrast-text-color-dark--a);
  --modal--secondary--footer--background--h: var(--color-secondary-shade-50--h);
  --modal--secondary--footer--background--s: var(--color-secondary-shade-50--s);
  --modal--secondary--footer--background--l: var(--color-secondary-shade-50--l);
  --modal--secondary--footer--background--a: var(--color-secondary-shade-50--a);
  --modal--secondary--footer--color--h: var(--contrast-text-color-dark--h);
  --modal--secondary--footer--color--s: var(--contrast-text-color-dark--s);
  --modal--secondary--footer--color--l: var(--contrast-text-color-dark--l);
  --modal--secondary--footer--color--a: var(--contrast-text-color-dark--a);
  --modal--info--background--h: var(--color-info--h);
  --modal--info--background--s: var(--color-info--s);
  --modal--info--background--l: var(--color-info--l);
  --modal--info--background--a: var(--color-info--a);
  --modal--info--border-top-color: var(--color-info-shade-50);
  --modal--info--border-right-color: var(--color-info-shade-50);
  --modal--info--border-bottom-color: var(--color-info-shade-50);
  --modal--info--border-left-color: var(--color-info-shade-50);
  --modal--info--color--h: var(--contrast-text-color-light--h);
  --modal--info--color--s: var(--contrast-text-color-light--s);
  --modal--info--color--l: var(--contrast-text-color-light--l);
  --modal--info--color--a: var(--contrast-text-color-light--a);
  --modal--info--header--background--h: var(--color-info-shade-50--h);
  --modal--info--header--background--s: var(--color-info-shade-50--s);
  --modal--info--header--background--l: var(--color-info-shade-50--l);
  --modal--info--header--background--a: var(--color-info-shade-50--a);
  --modal--info--header--color--h: var(--contrast-text-color-light--h);
  --modal--info--header--color--s: var(--contrast-text-color-light--s);
  --modal--info--header--color--l: var(--contrast-text-color-light--l);
  --modal--info--header--color--a: var(--contrast-text-color-light--a);
  --modal--info--footer--background--h: var(--color-info-shade-50--h);
  --modal--info--footer--background--s: var(--color-info-shade-50--s);
  --modal--info--footer--background--l: var(--color-info-shade-50--l);
  --modal--info--footer--background--a: var(--color-info-shade-50--a);
  --modal--info--footer--color--h: var(--contrast-text-color-light--h);
  --modal--info--footer--color--s: var(--contrast-text-color-light--s);
  --modal--info--footer--color--l: var(--contrast-text-color-light--l);
  --modal--info--footer--color--a: var(--contrast-text-color-light--a);
  --modal--success--background--h: var(--color-success--h);
  --modal--success--background--s: var(--color-success--s);
  --modal--success--background--l: var(--color-success--l);
  --modal--success--background--a: var(--color-success--a);
  --modal--success--border-top-color: var(--color-success-shade-50);
  --modal--success--border-right-color: var(--color-success-shade-50);
  --modal--success--border-bottom-color: var(--color-success-shade-50);
  --modal--success--border-left-color: var(--color-success-shade-50);
  --modal--success--color--h: var(--contrast-text-color-light--h);
  --modal--success--color--s: var(--contrast-text-color-light--s);
  --modal--success--color--l: var(--contrast-text-color-light--l);
  --modal--success--color--a: var(--contrast-text-color-light--a);
  --modal--success--header--background--h: var(--color-success-shade-50--h);
  --modal--success--header--background--s: var(--color-success-shade-50--s);
  --modal--success--header--background--l: var(--color-success-shade-50--l);
  --modal--success--header--background--a: var(--color-success-shade-50--a);
  --modal--success--header--color--h: var(--contrast-text-color-light--h);
  --modal--success--header--color--s: var(--contrast-text-color-light--s);
  --modal--success--header--color--l: var(--contrast-text-color-light--l);
  --modal--success--header--color--a: var(--contrast-text-color-light--a);
  --modal--success--footer--background--h: var(--color-success-shade-50--h);
  --modal--success--footer--background--s: var(--color-success-shade-50--s);
  --modal--success--footer--background--l: var(--color-success-shade-50--l);
  --modal--success--footer--background--a: var(--color-success-shade-50--a);
  --modal--success--footer--color--h: var(--contrast-text-color-light--h);
  --modal--success--footer--color--s: var(--contrast-text-color-light--s);
  --modal--success--footer--color--l: var(--contrast-text-color-light--l);
  --modal--success--footer--color--a: var(--contrast-text-color-light--a);
  --modal--warning--background--h: var(--color-warning--h);
  --modal--warning--background--s: var(--color-warning--s);
  --modal--warning--background--l: var(--color-warning--l);
  --modal--warning--background--a: var(--color-warning--a);
  --modal--warning--border-top-color: var(--color-warning-shade-50);
  --modal--warning--border-right-color: var(--color-warning-shade-50);
  --modal--warning--border-bottom-color: var(--color-warning-shade-50);
  --modal--warning--border-left-color: var(--color-warning-shade-50);
  --modal--warning--color--h: var(--contrast-text-color-light--h);
  --modal--warning--color--s: var(--contrast-text-color-light--s);
  --modal--warning--color--l: var(--contrast-text-color-light--l);
  --modal--warning--color--a: var(--contrast-text-color-light--a);
  --modal--warning--header--background--h: var(--color-warning-shade-50--h);
  --modal--warning--header--background--s: var(--color-warning-shade-50--s);
  --modal--warning--header--background--l: var(--color-warning-shade-50--l);
  --modal--warning--header--background--a: var(--color-warning-shade-50--a);
  --modal--warning--header--color--h: var(--contrast-text-color-light--h);
  --modal--warning--header--color--s: var(--contrast-text-color-light--s);
  --modal--warning--header--color--l: var(--contrast-text-color-light--l);
  --modal--warning--header--color--a: var(--contrast-text-color-light--a);
  --modal--warning--footer--background--h: var(--color-warning-shade-50--h);
  --modal--warning--footer--background--s: var(--color-warning-shade-50--s);
  --modal--warning--footer--background--l: var(--color-warning-shade-50--l);
  --modal--warning--footer--background--a: var(--color-warning-shade-50--a);
  --modal--warning--footer--color--h: var(--contrast-text-color-light--h);
  --modal--warning--footer--color--s: var(--contrast-text-color-light--s);
  --modal--warning--footer--color--l: var(--contrast-text-color-light--l);
  --modal--warning--footer--color--a: var(--contrast-text-color-light--a);
  --modal--danger--background--h: var(--color-danger--h);
  --modal--danger--background--s: var(--color-danger--s);
  --modal--danger--background--l: var(--color-danger--l);
  --modal--danger--background--a: var(--color-danger--a);
  --modal--danger--border-top-color: var(--color-danger-shade-50);
  --modal--danger--border-right-color: var(--color-danger-shade-50);
  --modal--danger--border-bottom-color: var(--color-danger-shade-50);
  --modal--danger--border-left-color: var(--color-danger-shade-50);
  --modal--danger--color--h: var(--contrast-text-color-light--h);
  --modal--danger--color--s: var(--contrast-text-color-light--s);
  --modal--danger--color--l: var(--contrast-text-color-light--l);
  --modal--danger--color--a: var(--contrast-text-color-light--a);
  --modal--danger--header--background--h: var(--color-danger-shade-50--h);
  --modal--danger--header--background--s: var(--color-danger-shade-50--s);
  --modal--danger--header--background--l: var(--color-danger-shade-50--l);
  --modal--danger--header--background--a: var(--color-danger-shade-50--a);
  --modal--danger--header--color--h: var(--contrast-text-color-light--h);
  --modal--danger--header--color--s: var(--contrast-text-color-light--s);
  --modal--danger--header--color--l: var(--contrast-text-color-light--l);
  --modal--danger--header--color--a: var(--contrast-text-color-light--a);
  --modal--danger--footer--background--h: var(--color-danger-shade-50--h);
  --modal--danger--footer--background--s: var(--color-danger-shade-50--s);
  --modal--danger--footer--background--l: var(--color-danger-shade-50--l);
  --modal--danger--footer--background--a: var(--color-danger-shade-50--a);
  --modal--danger--footer--color--h: var(--contrast-text-color-light--h);
  --modal--danger--footer--color--s: var(--contrast-text-color-light--s);
  --modal--danger--footer--color--l: var(--contrast-text-color-light--l);
  --modal--danger--footer--color--a: var(--contrast-text-color-light--a);
  --modal--light--background--h: var(--color-white--h);
  --modal--light--background--s: var(--color-white--s);
  --modal--light--background--l: var(--color-white--l);
  --modal--light--background--a: var(--color-white--a);
  --modal--light--border-top-color: var(--color-light-shade-50);
  --modal--light--border-right-color: var(--color-light-shade-50);
  --modal--light--border-bottom-color: var(--color-light-shade-50);
  --modal--light--border-left-color: var(--color-light-shade-50);
  --modal--light--color--h: var(--contrast-text-color-light--h);
  --modal--light--color--s: var(--contrast-text-color-light--s);
  --modal--light--color--l: var(--contrast-text-color-light--l);
  --modal--light--color--a: var(--contrast-text-color-light--a);
  --modal--light--header--background--h: var(--color-light--h);
  --modal--light--header--background--s: var(--color-light--s);
  --modal--light--header--background--l: var(--color-light--l);
  --modal--light--header--background--a: var(--color-light--a);
  --modal--light--header--color--h: var(--contrast-text-color-light--h);
  --modal--light--header--color--s: var(--contrast-text-color-light--s);
  --modal--light--header--color--l: var(--contrast-text-color-light--l);
  --modal--light--header--color--a: var(--contrast-text-color-light--a);
  --modal--light--footer--background--h: var(--color-light--h);
  --modal--light--footer--background--s: var(--color-light--s);
  --modal--light--footer--background--l: var(--color-light--l);
  --modal--light--footer--background--a: var(--color-light--a);
  --modal--light--footer--color--h: var(--contrast-text-color-light--h);
  --modal--light--footer--color--s: var(--contrast-text-color-light--s);
  --modal--light--footer--color--l: var(--contrast-text-color-light--l);
  --modal--light--footer--color--a: var(--contrast-text-color-light--a);
  --modal--dark--background--h: var(--color-dark--h);
  --modal--dark--background--s: var(--color-dark--s);
  --modal--dark--background--l: var(--color-dark--l);
  --modal--dark--background--a: var(--color-dark--a);
  --modal--dark--border-top-color: var(--color-dark-shade-50);
  --modal--dark--border-right-color: var(--color-dark-shade-50);
  --modal--dark--border-bottom-color: var(--color-dark-shade-50);
  --modal--dark--border-left-color: var(--color-dark-shade-50);
  --modal--dark--color--h: var(--contrast-text-color-dark--h);
  --modal--dark--color--s: var(--contrast-text-color-dark--s);
  --modal--dark--color--l: var(--contrast-text-color-dark--l);
  --modal--dark--color--a: var(--contrast-text-color-dark--a);
  --modal--dark--header--background--h: var(--color-dark-shade-50--h);
  --modal--dark--header--background--s: var(--color-dark-shade-50--s);
  --modal--dark--header--background--l: var(--color-dark-shade-50--l);
  --modal--dark--header--background--a: var(--color-dark-shade-50--a);
  --modal--dark--header--color--h: var(--contrast-text-color-dark--h);
  --modal--dark--header--color--s: var(--contrast-text-color-dark--s);
  --modal--dark--header--color--l: var(--contrast-text-color-dark--l);
  --modal--dark--header--color--a: var(--contrast-text-color-dark--a);
  --modal--dark--footer--background--h: var(--color-dark-shade-50--h);
  --modal--dark--footer--background--s: var(--color-dark-shade-50--s);
  --modal--dark--footer--background--l: var(--color-dark-shade-50--l);
  --modal--dark--footer--background--a: var(--color-dark-shade-50--a);
  --modal--dark--footer--color--h: var(--contrast-text-color-dark--h);
  --modal--dark--footer--color--s: var(--contrast-text-color-dark--s);
  --modal--dark--footer--color--l: var(--contrast-text-color-dark--l);
  --modal--dark--footer--color--a: var(--contrast-text-color-dark--a);
  --modal--sm--border-top-left-radius: var(--border-top-left-radius-sm);
  --modal--sm--border-top-right-radius: var(--border-top-right-radius-sm);
  --modal--sm--border-bottom-right-radius: var(--border-bottom-right-radius-sm);
  --modal--sm--border-bottom-left-radius: var(--border-bottom-left-radius-sm);
  --modal--sm--font-size: var(--font-size-sm);
  --modal--sm--padding-top: var(--padding-top-sm);
  --modal--sm--padding-right: var(--padding-right-sm);
  --modal--sm--padding-bottom: var(--padding-bottom-sm);
  --modal--sm--padding-left: var(--padding-left-sm);
  --modal--md--border-top-left-radius: var(--border-top-left-radius-md);
  --modal--md--border-top-right-radius: var(--border-top-right-radius-md);
  --modal--md--border-bottom-right-radius: var(--border-bottom-right-radius-md);
  --modal--md--border-bottom-left-radius: var(--border-bottom-left-radius-md);
  --modal--md--font-size: var(--font-size-md);
  --modal--md--padding-top: var(--padding-top-md);
  --modal--md--padding-right: var(--padding-right-md);
  --modal--md--padding-bottom: var(--padding-bottom-md);
  --modal--md--padding-left: var(--padding-left-md);
  --modal--lg--border-top-left-radius: var(--border-top-left-radius-lg);
  --modal--lg--border-top-right-radius: var(--border-top-right-radius-lg);
  --modal--lg--border-bottom-right-radius: var(--border-bottom-right-radius-lg);
  --modal--lg--border-bottom-left-radius: var(--border-bottom-left-radius-lg);
  --modal--lg--font-size: var(--font-size-lg);
  --modal--lg--padding-top: var(--padding-top-lg);
  --modal--lg--padding-right: var(--padding-right-lg);
  --modal--lg--padding-bottom: var(--padding-bottom-lg);
  --modal--lg--padding-left: var(--padding-left-lg);
}
