@layer base {
  :root {
    --table--background--h: var(--color-white--h);
    --table--background--s: var(--color-white--s);
    --table--background--l: var(--color-white--l);
    --table--background--a: var(--color-white--a);
    --table--border-top-width: 0;
    --table--border-top-style: var(--border-top-style);
    --table--border-top-color: var(--border-top-color);
    --table--border-right-width: 0;
    --table--border-right-style: var(--border-right-style);
    --table--border-right-color: var(--border-right-color);
    --table--border-bottom-width: var(--border-bottom-width);
    --table--border-bottom-style: var(--border-bottom-style);
    --table--border-bottom-color: var(--border-bottom-color);
    --table--border-left-width: 0;
    --table--border-left-style: var(--border-left-style);
    --table--border-left-color: var(--border-left-color);
    --table--color--h: var(--contrast-text-color-light--h);
    --table--color--s: var(--contrast-text-color-light--s);
    --table--color--l: var(--contrast-text-color-light--l);
    --table--color--a: var(--contrast-text-color-light--a);
    --table--transition-property: background-color, color, border-color;
    --table--transition-duration: var(--transition-duration);
    --table--transition-timing-function: var(--transition-timing-function);
    --table--padding-top: var(--padding-top);
    --table--padding-right: var(--padding-right);
    --table--padding-bottom: var(--padding-bottom);
    --table--padding-left: var(--padding-left);
    --table--margin-top: 0;
    --table--margin-right: 0;
    --table--margin-bottom: var(--margin-bottom);
    --table--margin-left: 0;
    --table--adjacent--border-top-color: transparent;
    --table--striped--background--h: var(--color-gray-100--h);
    --table--striped--background--s: var(--color-gray-100--s);
    --table--striped--background--l: var(--color-gray-100--l);
    --table--striped--background--a: var(--color-gray-100--a);
    --table--hover--background--h: var(--color-light--h);
    --table--hover--background--s: var(--color-light--s);
    --table--hover--background--l: var(--color-light--l);
    --table--hover--background--a: var(--color-light--a);
    --table--th--font-weight: var(--font-weight-bold);
    --table--bordered--border-top-width: var(--border-top-width);
    --table--bordered--border-right-width: var(--border-right-width);
    --table--bordered--border-bottom-width: var(--border-bottom-width);
    --table--bordered--border-left-width: var(--border-left-width);
    --table--condensed--padding-top: var(--padding-top-1-2);
    --table--condensed--padding-right: var(--padding-right-1-2);
    --table--condensed--padding-bottom: var(--padding-bottom-1-2);
    --table--condensed--padding-left: var(--padding-left-1-2);
    --table--primary--background--h: var(--color-primary--h);
    --table--primary--background--s: var(--color-primary--s);
    --table--primary--background--l: var(--color-primary--l);
    --table--primary--background--a: var(--color-primary--a);
    --table--primary--border-top-color: var(--color-primary-shade-50);
    --table--primary--border-right-color: var(--color-primary-shade-50);
    --table--primary--border-bottom-color: var(--color-primary-shade-50);
    --table--primary--border-left-color: var(--color-primary-shade-50);
    --table--primary--color--h: var(--contrast-text-color-dark--h);
    --table--primary--color--s: var(--contrast-text-color-dark--s);
    --table--primary--color--l: var(--contrast-text-color-dark--l);
    --table--primary--color--a: var(--contrast-text-color-dark--a);
    --table--primary--striped--background--h: var(--color-primary-shade-50--h);
    --table--primary--striped--background--s: var(--color-primary-shade-50--s);
    --table--primary--striped--background--l: var(--color-primary-shade-50--l);
    --table--primary--striped--background--a: var(--color-primary-shade-50--a);
    --table--primary--hover--background--h: var(--color-primary-shade-100--h);
    --table--primary--hover--background--s: var(--color-primary-shade-100--s);
    --table--primary--hover--background--l: var(--color-primary-shade-100--l);
    --table--primary--hover--background--a: var(--color-primary-shade-100--a);
    --table--secondary--background--h: var(--color-secondary--h);
    --table--secondary--background--s: var(--color-secondary--s);
    --table--secondary--background--l: var(--color-secondary--l);
    --table--secondary--background--a: var(--color-secondary--a);
    --table--secondary--border-top-color: var(--color-secondary-shade-50);
    --table--secondary--border-right-color: var(--color-secondary-shade-50);
    --table--secondary--border-bottom-color: var(--color-secondary-shade-50);
    --table--secondary--border-left-color: var(--color-secondary-shade-50);
    --table--secondary--color--h: var(--contrast-text-color-dark--h);
    --table--secondary--color--s: var(--contrast-text-color-dark--s);
    --table--secondary--color--l: var(--contrast-text-color-dark--l);
    --table--secondary--color--a: var(--contrast-text-color-dark--a);
    --table--secondary--striped--background--h: var(
      --color-secondary-shade-50--h
    );
    --table--secondary--striped--background--s: var(
      --color-secondary-shade-50--s
    );
    --table--secondary--striped--background--l: var(
      --color-secondary-shade-50--l
    );
    --table--secondary--striped--background--a: var(
      --color-secondary-shade-50--a
    );
    --table--secondary--hover--background--h: var(
      --color-secondary-shade-100--h
    );
    --table--secondary--hover--background--s: var(
      --color-secondary-shade-100--s
    );
    --table--secondary--hover--background--l: var(
      --color-secondary-shade-100--l
    );
    --table--secondary--hover--background--a: var(
      --color-secondary-shade-100--a
    );
    --table--info--background--h: var(--color-info--h);
    --table--info--background--s: var(--color-info--s);
    --table--info--background--l: var(--color-info--l);
    --table--info--background--a: var(--color-info--a);
    --table--info--border-top-color: var(--color-info-shade-50);
    --table--info--border-right-color: var(--color-info-shade-50);
    --table--info--border-bottom-color: var(--color-info-shade-50);
    --table--info--border-left-color: var(--color-info-shade-50);
    --table--info--color--h: var(--contrast-text-color-light--h);
    --table--info--color--s: var(--contrast-text-color-light--s);
    --table--info--color--l: var(--contrast-text-color-light--l);
    --table--info--color--a: var(--contrast-text-color-light--a);
    --table--info--striped--background--h: var(--color-info-shade-50--h);
    --table--info--striped--background--s: var(--color-info-shade-50--s);
    --table--info--striped--background--l: var(--color-info-shade-50--l);
    --table--info--striped--background--a: var(--color-info-shade-50--a);
    --table--info--hover--background--h: var(--color-info-shade-100--h);
    --table--info--hover--background--s: var(--color-info-shade-100--s);
    --table--info--hover--background--l: var(--color-info-shade-100--l);
    --table--info--hover--background--a: var(--color-info-shade-100--a);
    --table--success--background--h: var(--color-success--h);
    --table--success--background--s: var(--color-success--s);
    --table--success--background--l: var(--color-success--l);
    --table--success--background--a: var(--color-success--a);
    --table--success--border-top-color: var(--color-success-shade-50);
    --table--success--border-right-color: var(--color-success-shade-50);
    --table--success--border-bottom-color: var(--color-success-shade-50);
    --table--success--border-left-color: var(--color-success-shade-50);
    --table--success--color--h: var(--contrast-text-color-light--h);
    --table--success--color--s: var(--contrast-text-color-light--s);
    --table--success--color--l: var(--contrast-text-color-light--l);
    --table--success--color--a: var(--contrast-text-color-light--a);
    --table--success--striped--background--h: var(--color-success-shade-50--h);
    --table--success--striped--background--s: var(--color-success-shade-50--s);
    --table--success--striped--background--l: var(--color-success-shade-50--l);
    --table--success--striped--background--a: var(--color-success-shade-50--a);
    --table--success--hover--background--h: var(--color-success-shade-100--h);
    --table--success--hover--background--s: var(--color-success-shade-100--s);
    --table--success--hover--background--l: var(--color-success-shade-100--l);
    --table--success--hover--background--a: var(--color-success-shade-100--a);
    --table--warning--background--h: var(--color-warning--h);
    --table--warning--background--s: var(--color-warning--s);
    --table--warning--background--l: var(--color-warning--l);
    --table--warning--background--a: var(--color-warning--a);
    --table--warning--border-top-color: var(--color-warning-shade-50);
    --table--warning--border-right-color: var(--color-warning-shade-50);
    --table--warning--border-bottom-color: var(--color-warning-shade-50);
    --table--warning--border-left-color: var(--color-warning-shade-50);
    --table--warning--color--h: var(--contrast-text-color-light--h);
    --table--warning--color--s: var(--contrast-text-color-light--s);
    --table--warning--color--l: var(--contrast-text-color-light--l);
    --table--warning--color--a: var(--contrast-text-color-light--a);
    --table--warning--striped--background--h: var(--color-warning-shade-50--h);
    --table--warning--striped--background--s: var(--color-warning-shade-50--s);
    --table--warning--striped--background--l: var(--color-warning-shade-50--l);
    --table--warning--striped--background--a: var(--color-warning-shade-50--a);
    --table--warning--hover--background--h: var(--color-warning-shade-100--h);
    --table--warning--hover--background--s: var(--color-warning-shade-100--s);
    --table--warning--hover--background--l: var(--color-warning-shade-100--l);
    --table--warning--hover--background--a: var(--color-warning-shade-100--a);
    --table--danger--background--h: var(--color-danger--h);
    --table--danger--background--s: var(--color-danger--s);
    --table--danger--background--l: var(--color-danger--l);
    --table--danger--background--a: var(--color-danger--a);
    --table--danger--border-top-color: var(--color-danger-shade-50);
    --table--danger--border-right-color: var(--color-danger-shade-50);
    --table--danger--border-bottom-color: var(--color-danger-shade-50);
    --table--danger--border-left-color: var(--color-danger-shade-50);
    --table--danger--color--h: var(--contrast-text-color-light--h);
    --table--danger--color--s: var(--contrast-text-color-light--s);
    --table--danger--color--l: var(--contrast-text-color-light--l);
    --table--danger--color--a: var(--contrast-text-color-light--a);
    --table--danger--striped--background--h: var(--color-danger-shade-50--h);
    --table--danger--striped--background--s: var(--color-danger-shade-50--s);
    --table--danger--striped--background--l: var(--color-danger-shade-50--l);
    --table--danger--striped--background--a: var(--color-danger-shade-50--a);
    --table--danger--hover--background--h: var(--color-danger-shade-100--h);
    --table--danger--hover--background--s: var(--color-danger-shade-100--s);
    --table--danger--hover--background--l: var(--color-danger-shade-100--l);
    --table--danger--hover--background--a: var(--color-danger-shade-100--a);
    --table--light--background--h: var(--color-white--h);
    --table--light--background--s: var(--color-white--s);
    --table--light--background--l: var(--color-white--l);
    --table--light--background--a: var(--color-white--a);
    --table--light--border-top-color: var(--color-light-shade-50);
    --table--light--border-right-color: var(--color-light-shade-50);
    --table--light--border-bottom-color: var(--color-light-shade-50);
    --table--light--border-left-color: var(--color-light-shade-50);
    --table--light--color--h: var(--contrast-text-color-light--h);
    --table--light--color--s: var(--contrast-text-color-light--s);
    --table--light--color--l: var(--contrast-text-color-light--l);
    --table--light--color--a: var(--contrast-text-color-light--a);
    --table--light--striped--background--h: var(--color-gray-50--h);
    --table--light--striped--background--s: var(--color-gray-50--s);
    --table--light--striped--background--l: var(--color-gray-50--l);
    --table--light--striped--background--a: var(--color-gray-50--a);
    --table--light--hover--background--h: var(--color-light--h);
    --table--light--hover--background--s: var(--color-light--s);
    --table--light--hover--background--l: var(--color-light--l);
    --table--light--hover--background--a: var(--color-light--a);
    --table--dark--background--h: var(--color-dark--h);
    --table--dark--background--s: var(--color-dark--s);
    --table--dark--background--l: var(--color-dark--l);
    --table--dark--background--a: var(--color-dark--a);
    --table--dark--border-top-color: var(--color-dark-tint-50);
    --table--dark--border-right-color: var(--color-dark-tint-50);
    --table--dark--border-bottom-color: var(--color-dark-tint-50);
    --table--dark--border-left-color: var(--color-dark-tint-50);
    --table--dark--color--h: var(--contrast-text-color-dark--h);
    --table--dark--color--s: var(--contrast-text-color-dark--s);
    --table--dark--color--l: var(--contrast-text-color-dark--l);
    --table--dark--color--a: var(--contrast-text-color-dark--a);
    --table--dark--striped--background--h: var(--color-dark-shade-50--h);
    --table--dark--striped--background--s: var(--color-dark-shade-50--s);
    --table--dark--striped--background--l: var(--color-dark-shade-50--l);
    --table--dark--striped--background--a: var(--color-dark-shade-50--a);
    --table--dark--hover--background--h: var(--color-dark-shade-100--h);
    --table--dark--hover--background--s: var(--color-dark-shade-100--s);
    --table--dark--hover--background--l: var(--color-dark-shade-100--l);
    --table--dark--hover--background--a: var(--color-dark-shade-100--a);
  }
}
