@use "../mixins/variants";

.tabs {
  @include variants.selector("light") {
    @include variants.background-h("tabs", "light");
    @include variants.background-s("tabs", "light");
    @include variants.background-l("tabs", "light");
    @include variants.background-a("tabs", "light");
    @include variants.border-top-color("tabs", "light");
    @include variants.border-right-color("tabs", "light");
    @include variants.border-bottom-color("tabs", "light");
    @include variants.border-left-color("tabs", "light");
    @include variants.color-h("tabs", "light");
    @include variants.color-s("tabs", "light");
    @include variants.color-l("tabs", "light");
    @include variants.color-a("tabs", "light");

    @include variants.background-h("tabs", "light", "title");
    @include variants.background-s("tabs", "light", "title");
    @include variants.background-l("tabs", "light", "title");
    @include variants.background-a("tabs", "light", "title");

    @include variants.background-h("tabs", "light", "title" "focus");
    @include variants.background-s("tabs", "light", "title" "focus");
    @include variants.background-l("tabs", "light", "title" "focus");
    @include variants.background-a("tabs", "light", "title" "focus");

    @include variants.background-h("tabs", "light", "title" "hover");
    @include variants.background-s("tabs", "light", "title" "hover");
    @include variants.background-l("tabs", "light", "title" "hover");
    @include variants.background-a("tabs", "light", "title" "hover");

    @include variants.background-h("tabs", "light", "title" "active");
    @include variants.background-s("tabs", "light", "title" "active");
    @include variants.background-l("tabs", "light", "title" "active");
    @include variants.background-a("tabs", "light", "title" "active");
  }
  @include variants.selector("dark") {
    @include variants.background-h("tabs", "dark");
    @include variants.background-s("tabs", "dark");
    @include variants.background-l("tabs", "dark");
    @include variants.background-a("tabs", "dark");
    @include variants.border-top-color("tabs", "dark");
    @include variants.border-right-color("tabs", "dark");
    @include variants.border-bottom-color("tabs", "dark");
    @include variants.border-left-color("tabs", "dark");
    @include variants.color-h("tabs", "dark");
    @include variants.color-s("tabs", "dark");
    @include variants.color-l("tabs", "dark");
    @include variants.color-a("tabs", "dark");

    @include variants.background-h("tabs", "dark", "title");
    @include variants.background-s("tabs", "dark", "title");
    @include variants.background-l("tabs", "dark", "title");
    @include variants.background-a("tabs", "dark", "title");

    @include variants.background-h("tabs", "dark", "title" "hover");
    @include variants.background-s("tabs", "dark", "title" "hover");
    @include variants.background-l("tabs", "dark", "title" "hover");
    @include variants.background-a("tabs", "dark", "title" "hover");

    @include variants.background-h("tabs", "dark", "title" "focus");
    @include variants.background-s("tabs", "dark", "title" "focus");
    @include variants.background-l("tabs", "dark", "title" "focus");
    @include variants.background-a("tabs", "dark", "title" "focus");

    @include variants.background-h("tabs", "dark", "title" "active");
    @include variants.background-s("tabs", "dark", "title" "active");
    @include variants.background-l("tabs", "dark", "title" "active");
    @include variants.background-a("tabs", "dark", "title" "active");
  }
  @include variants.selector("sm") {
    @include variants.border-top-left-radius("tabs", "sm");
    @include variants.border-top-right-radius("tabs", "sm");
    @include variants.border-bottom-right-radius("tabs", "sm");
    @include variants.border-bottom-left-radius("tabs", "sm");
    @include variants.font-size("tabs", "sm");
    @include variants.padding-top("tabs", "sm");
    @include variants.padding-right("tabs", "sm");
    @include variants.padding-bottom("tabs", "sm");
    @include variants.padding-left("tabs", "sm");
  }
  @include variants.selector("md") {
    @include variants.border-top-left-radius("tabs", "md");
    @include variants.border-top-right-radius("tabs", "md");
    @include variants.border-bottom-right-radius("tabs", "md");
    @include variants.border-bottom-left-radius("tabs", "md");
    @include variants.font-size("tabs", "md");
    @include variants.padding-top("tabs", "md");
    @include variants.padding-right("tabs", "md");
    @include variants.padding-bottom("tabs", "md");
    @include variants.padding-left("tabs", "md");
  }
  @include variants.selector("lg") {
    @include variants.border-top-left-radius("tabs", "lg");
    @include variants.border-top-right-radius("tabs", "lg");
    @include variants.border-bottom-right-radius("tabs", "lg");
    @include variants.border-bottom-left-radius("tabs", "lg");
    @include variants.font-size("tabs", "lg");
    @include variants.padding-top("tabs", "lg");
    @include variants.padding-right("tabs", "lg");
    @include variants.padding-bottom("tabs", "lg");
    @include variants.padding-left("tabs", "lg");
  }
}

@layer base {
  :root {
    --tabs--background--h: var(--color-white--h);
    --tabs--background--s: var(--color-white--s);
    --tabs--background--l: var(--color-white--l);
    --tabs--background--a: var(--color-white--a);
    --tabs--box-shadow-offset-x: var(--box-shadow-offset-x);
    --tabs--box-shadow-offset-y: var(--box-shadow-offset-y);
    --tabs--box-shadow-blur-radius: var(--box-shadow-blur-radius);
    --tabs--box-shadow-spread-radius: var(--box-shadow-spread-radius);
    --tabs--box-shadow-color: var(--box-shadow-color);
    --tabs--border-top-width: var(--border-top-width);
    --tabs--border-top-style: var(--border-top-style);
    --tabs--border-top-color: var(--border-top-color);
    --tabs--border-right-width: var(--border-right-width);
    --tabs--border-right-style: var(--border-right-style);
    --tabs--border-right-color: var(--border-right-color);
    --tabs--border-bottom-width: var(--border-bottom-width);
    --tabs--border-bottom-style: var(--border-bottom-style);
    --tabs--border-bottom-color: var(--border-bottom-color);
    --tabs--border-left-width: var(--border-left-width);
    --tabs--border-left-style: var(--border-left-style);
    --tabs--border-left-color: var(--border-left-color);
    --tabs--border-top-left-radius: var(--border-top-left-radius);
    --tabs--border-top-right-radius: var(--border-top-right-radius);
    --tabs--border-bottom-right-radius: var(--border-bottom-right-radius);
    --tabs--border-bottom-left-radius: var(--border-bottom-left-radius);
    --tabs--color--h: var(--contrast-text-color-light--h);
    --tabs--color--s: var(--contrast-text-color-light--s);
    --tabs--color--l: var(--contrast-text-color-light--l);
    --tabs--color--a: var(--contrast-text-color-light--a);
    --tabs--font-size: var(--font-size);
    --tabs--transition-property: background-color, color, border-color;
    --tabs--transition-duration: var(--transition-duration);
    --tabs--transition-timing-function: var(--transition-timing-function);
    --tabs--padding-top: var(--padding-top);
    --tabs--padding-right: var(--padding-right);
    --tabs--padding-bottom: var(--padding-bottom);
    --tabs--padding-left: var(--padding-left);
    --tabs--header--margin-top: 0;
    --tabs--header--margin-right: 0;
    --tabs--header--margin-bottom: var(--margin-bottom);
    --tabs--header--margin-left: 0;
    --tabs--title--background--h: var(--color-white--h);
    --tabs--title--background--s: var(--color-white--s);
    --tabs--title--background--l: var(--color-white--l);
    --tabs--title--background--a: var(--color-white--a);
    --tabs--title--border-top-width: 0;
    --tabs--title--border-top-style: var(--border-top-style);
    --tabs--title--border-top-color: var(--border-top-color);
    --tabs--title--border-right-width: var(--border-right-width);
    --tabs--title--border-right-style: var(--border-right-style);
    --tabs--title--border-right-color: var(--border-right-color);
    --tabs--title--border-bottom-width: 0;
    --tabs--title--border-bottom-style: var(--border-bottom-style);
    --tabs--title--border-bottom-color: var(--border-bottom-color);
    --tabs--title--border-left-width: 0;
    --tabs--title--border-left-style: var(--border-left-style);
    --tabs--title--border-left-color: var(--border-left-color);
    --tabs--title--hover--background--h: var(--color-light-shade-50--h);
    --tabs--title--hover--background--s: var(--color-light-shade-50--s);
    --tabs--title--hover--background--l: var(--color-light-shade-50--l);
    --tabs--title--hover--background--a: var(--color-light-shade-50--a);
    --tabs--title--focus--background--h: var(--color-light-shade-50--h);
    --tabs--title--focus--background--s: var(--color-light-shade-50--s);
    --tabs--title--focus--background--l: var(--color-light-shade-50--l);
    --tabs--title--focus--background--a: var(--color-light-shade-50--a);
    --tabs--title--active--background--h: var(--color-light--h);
    --tabs--title--active--background--s: var(--color-light--s);
    --tabs--title--active--background--l: var(--color-light--l);
    --tabs--title--active--background--a: var(--color-light--a);
    --tabs--title--active--font-weight: var(--font-weight-semibold);
    --tabs--light--background--h: var(--color-white--h);
    --tabs--light--background--s: var(--color-white--s);
    --tabs--light--background--l: var(--color-white--l);
    --tabs--light--background--a: var(--color-white--a);
    --tabs--light--border-top-color: var(--color-light-shade-50);
    --tabs--light--border-right-color: var(--color-light-shade-50);
    --tabs--light--border-bottom-color: var(--color-light-shade-50);
    --tabs--light--border-left-color: var(--color-light-shade-50);
    --tabs--light--color--h: var(--contrast-text-color-light--h);
    --tabs--light--color--s: var(--contrast-text-color-light--s);
    --tabs--light--color--l: var(--contrast-text-color-light--l);
    --tabs--light--color--a: var(--contrast-text-color-light--a);
    --tabs--light--title--background--h: var(--color-white--h);
    --tabs--light--title--background--s: var(--color-white--s);
    --tabs--light--title--background--l: var(--color-white--l);
    --tabs--light--title--background--a: var(--color-white--a);
    --tabs--light--title--focus--background--h: var(--color-light--h);
    --tabs--light--title--focus--background--s: var(--color-light--s);
    --tabs--light--title--focus--background--l: var(--color-light--l);
    --tabs--light--title--focus--background--a: var(--color-light--a);
    --tabs--light--title--hover--background--h: var(--color-light--h);
    --tabs--light--title--hover--background--s: var(--color-light--s);
    --tabs--light--title--hover--background--l: var(--color-light--l);
    --tabs--light--title--hover--background--a: var(--color-light--a);
    --tabs--light--title--active--background--h: var(--color-light-shade-50--h);
    --tabs--light--title--active--background--s: var(--color-light-shade-50--s);
    --tabs--light--title--active--background--l: var(--color-light-shade-50--l);
    --tabs--light--title--active--background--a: var(--color-light-shade-50--a);
    --tabs--dark--background--h: var(--color-dark--h);
    --tabs--dark--background--s: var(--color-dark--s);
    --tabs--dark--background--l: var(--color-dark--l);
    --tabs--dark--background--a: var(--color-dark--a);
    --tabs--dark--border-top-color: var(--color-dark-tint-50);
    --tabs--dark--border-right-color: var(--color-dark-tint-50);
    --tabs--dark--border-bottom-color: var(--color-dark-tint-50);
    --tabs--dark--border-left-color: var(--color-dark-tint-50);
    --tabs--dark--color--h: var(--contrast-text-color-dark--h);
    --tabs--dark--color--s: var(--contrast-text-color-dark--s);
    --tabs--dark--color--l: var(--contrast-text-color-dark--l);
    --tabs--dark--color--a: var(--contrast-text-color-dark--a);
    --tabs--dark--title--background--h: var(--color-dark--h);
    --tabs--dark--title--background--s: var(--color-dark--s);
    --tabs--dark--title--background--l: var(--color-dark--l);
    --tabs--dark--title--background--a: var(--color-dark--a);
    --tabs--dark--title--hover--background--h: var(--color-dark-tint-50--h);
    --tabs--dark--title--hover--background--s: var(--color-dark-tint-50--s);
    --tabs--dark--title--hover--background--l: var(--color-dark-tint-50--l);
    --tabs--dark--title--hover--background--a: var(--color-dark-tint-50--a);
    --tabs--dark--title--focus--background--h: var(--color-dark-tint-50--h);
    --tabs--dark--title--focus--background--s: var(--color-dark-tint-50--s);
    --tabs--dark--title--focus--background--l: var(--color-dark-tint-50--l);
    --tabs--dark--title--focus--background--a: var(--color-dark-tint-50--a);
    --tabs--dark--title--active--background--h: var(--color-dark-tint-100--h);
    --tabs--dark--title--active--background--s: var(--color-dark-tint-100--s);
    --tabs--dark--title--active--background--l: var(--color-dark-tint-100--l);
    --tabs--dark--title--active--background--a: var(--color-dark-tint-100--a);
    --tabs--sm--border-top-left-radius: var(--border-top-left-radius-sm);
    --tabs--sm--border-top-right-radius: var(--border-top-right-radius-sm);
    --tabs--sm--border-bottom-right-radius: var(
      --border-bottom-right-radius-sm
    );
    --tabs--sm--border-bottom-left-radius: var(--border-bottom-left-radius-sm);
    --tabs--sm--font-size: var(--font-size-sm);
    --tabs--sm--padding-top: var(--padding-top-sm);
    --tabs--sm--padding-right: var(--padding-right-sm);
    --tabs--sm--padding-bottom: var(--padding-bottom-sm);
    --tabs--sm--padding-left: var(--padding-left-sm);
    --tabs--md--border-top-left-radius: var(--border-top-left-radius-md);
    --tabs--md--border-top-right-radius: var(--border-top-right-radius-md);
    --tabs--md--border-bottom-right-radius: var(
      --border-bottom-right-radius-md
    );
    --tabs--md--border-bottom-left-radius: var(--border-bottom-left-radius-md);
    --tabs--md--font-size: var(--font-size-md);
    --tabs--md--padding-top: var(--padding-top-md);
    --tabs--md--padding-right: var(--padding-right-md);
    --tabs--md--padding-bottom: var(--padding-bottom-md);
    --tabs--md--padding-left: var(--padding-left-md);
    --tabs--lg--border-top-left-radius: var(--border-top-left-radius-lg);
    --tabs--lg--border-top-right-radius: var(--border-top-right-radius-lg);
    --tabs--lg--border-bottom-right-radius: var(
      --border-bottom-right-radius-lg
    );
    --tabs--lg--border-bottom-left-radius: var(--border-bottom-left-radius-lg);
    --tabs--lg--font-size: var(--font-size-lg);
    --tabs--lg--padding-top: var(--padding-top-lg);
    --tabs--lg--padding-right: var(--padding-right-lg);
    --tabs--lg--padding-bottom: var(--padding-bottom-lg);
    --tabs--lg--padding-left: var(--padding-left-lg);
  }
}
