<i-tooltip>
    <i-button>Normal Tooltip</i-button>
    <template #body>
        This is a <strong>freeform tooltip</strong> with a <u>long text</u>. Its width is not controlled.
    </template>
</i-tooltip>

<i-tooltip>
    <i-button>Fixed Width Tooltip</i-button>
    <template #body>
        <div class="_xs:justify-content:center" style="white-space: normal; width: 240px">
            This is a <strong>freeform tooltip</strong> with a <u>long text</u>. Its width is controlled.
        </div>
    </template>
</i-tooltip>
