@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../INavbar/css/_variables';

/**
 * Navbar Brand
 */
.navbar > .container > .row > .column > .brand {
    display: inline-flex;
    margin-right: $navbar-brand-margin;
    font-size: $navbar-brand-font-size;
    line-height: inherit;
    white-space: nowrap;
    align-items: center;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
