/**
    * Figure
    */

.figure {
    display: inline-block; // Ensures the caption's text aligns with the image.

    > .img {
        margin-bottom: $figure-image-margin-bottom;
        line-height: 1;
    }

    > .caption {
        font-size: $figure-caption-font-size;
        color: $figure-caption-color;
    }
}
