@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/sizes';
@import 'css/colors';

.dropdown-wrapper {
    display: inline-block;
    position: relative;

    .dropdown-trigger {
        display: contents;
    }
}

.dropdown {
    @include popup(('margin': var(--dropdown-margin), 'z-index': var(--dropdown-z-index)));
    @include popup-arrow();
    @include popup-arrow-size-variant();

    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    line-height: var(--dropdown-line-height);
    background-clip: padding-box;
    display: inline-block;
    white-space: normal;
    min-width: var(--dropdown-min-width);
    max-width: var(--dropdown-max-width);

    > .dropdown-header {
        border-width: var(--dropdown-border-width) var(--dropdown-border-width) 0;
        border-style: solid;
    }

    > .dropdown-body {
        border-width: var(--dropdown-border-width);
        border-style: solid;

        .dropdown-wrapper {
            width: 100%;
        }

        .dropdown-divider {
            margin-top: var(--dropdown-divider-margin);
            margin-bottom: var(--dropdown-divider-margin);
        }
    }

    > .dropdown-footer {
        border-width: 0 var(--dropdown-border-width) var(--dropdown-border-width);
        border-style: solid;
    }

    @include dropdown-size-variant('md');
    @each $size-variant-key, $dropdown-size-variant-value in $dropdown-size-variants {
        &.-#{$size-variant-key} {
            @include dropdown-size-variant($size-variant-key);
        }
    }

    @include dropdown-color-variant('light');
    @each $color-variant-key, $color-variant-value in $dropdown-color-variants {
        &.-#{$color-variant-key} {
            @include dropdown-color-variant($color-variant-key);
        }
    }
}
