//
// Navbar Items variants
//
@mixin navbar-item-color-variant($color-variant) {
    color: variant-color-by-luminance($color-variant, darken-lightness($variant-color-light, 20%), lighten-lightness($variant-color-dark, 20%));

    &.-active,
    &.-focused,
    &:focus,
    &.-hovered,
    &:hover {
        color: variant-color-by-luminance($color-variant, $variant-color-light, $variant-color-dark);
    }
}

@mixin navbar-item-collapsed-color-variant($color-variant) {
    background: darken-lightness($color-variant, 5%);

    ::v-deep .item:hover {
        background: darken-lightness($color-variant, 10%);
    }
}

@each $variant-name, $variant in variants('navbar') {
    .navbar.-#{$variant-name} {
        > .container > .row > .column > .items {
            ::v-deep .item {
                @include navbar-item-color-variant($variant);
            }
        }

        &.-collapsed {
            > .container > .row > .column > .items {
                @include navbar-item-collapsed-color-variant($variant);
            }
        }
    }
}
