:root {
    --table-margin-bottom: #{$table-margin-bottom};
    --table-cell-padding: #{$table-cell-padding};
    --table-cell-padding-sm: #{$table-cell-padding-sm};
    --table-border-width: #{$table-border-width};
    --table-border-color: #{$table-border-color};

    @each $color-variant-key, $color-variant-value in $table-color-variants {
        @each $color-variant-field-key, $color-variant-field-value in $color-variant-value {
            --table-color-variant-#{$color-variant-key}-#{$color-variant-field-key}: #{$color-variant-field-value};
        }
    }
}
