/**
 * Loader
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/colors';
@import 'css/sizes';

.loader {
    display: inline-block;
    position: relative;

    &::before {
        content: '';
        display: block;
        padding-top: 100%;
    }

    .loader-text,
    > svg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .loader-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > svg {
        animation: loader-rotate var(--loader-animation-duration) linear infinite;
        transform-origin: center center;

        > circle {
            stroke-dasharray: 89, 200;
            stroke-dashoffset: -35px;
            animation: loader-dash var(--loader-animation-duration) ease-in-out infinite;
            stroke-linecap: round;
        }
    }

    @include loader-size-variant('md');
    @each $size-variant-key, $loader-size-variant-value in $loader-size-variants {
        &.-#{$size-variant-key} {
            @include loader-size-variant($size-variant-key);
        }
    }

    @include loader-color-variant('primary');
    @each $color-variant-key, $color-variant-value in $loader-color-variants {
        &.-#{$color-variant-key} {
            @include loader-color-variant($color-variant-key);
        }
    }
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0px;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
