//
// Borders
//


--border-width := 1px
--border-color := --colors['gray-20']

--border-radius-enabled := true

--border-radius-base := 0.25rem
--border-radius := {
    xs: --border-radius-base * --size-multipliers['xs']
    sm: --border-radius-base * --size-multipliers['sm']
    md: --border-radius-base * --size-multipliers['md']
    lg: --border-radius-base * --size-multipliers['lg']
    xl: --border-radius-base * --size-multipliers['xl']
}
