//
// Borders
//


--border-width := 1px
--border-color := --colors['gray-20']

--border-radius-enabled := true

--border-radius-base := 0.25rem
--border-radius := -size-map(--border-radius-base, --sizes, --size-multipliers)
