//
// Breakpoints
//

$breakpoints-xs: 0 !default;
$breakpoints-sm: 576px !default;
$breakpoints-md: 768px !default;
$breakpoints-lg: 992px !default;
$breakpoints-xl: 1200px !default;

$breakpoints: (
    'xs': $breakpoints-xs,
    'sm': $breakpoints-sm,
    'md': $breakpoints-md,
    'lg': $breakpoints-lg,
    'xl': $breakpoints-xl,
) !default;

// Magic breakpoint
// Generates no media query, it is used for generating the blank infix in
// responsive utility classes
//
$breakpoints: map_merge($breakpoints, ('_': 0)); /* stylelint-disable-line scss/no-duplicate-dollar-variables */

// Quick accessor to the breakpoints map
@function breakpoints($key) {
    @return map_get($breakpoints, $key);
}

// Returns the available breakpoints names, without "_"
@function breakpoints-list() {
    @return map-keys(map_remove($breakpoints, '_'));
}
