//
// Color Palette
//
// Basic, state and neutral colors
//
--color-groups = {}


// Basic Colors
//
--color-red := #ff5353
--color-orange := #ff9700
--color-yellow := #ffbe21
--color-green := #4cb050
--color-teal := #37f7df
--color-blue := #3dbff1
--color-purple := #4b39b9
--color-pink := #ff2c59

--color-groups['basic'] = {
  red: --color-red
  orange: --color-orange
  yellow: --color-yellow
  green: --color-green
  teal: --color-teal
  blue: --color-blue
  purple: --color-purple
  pink: --color-pink
}

// Neutral Colors
//
--color-transparent := transparent
--color-white := #ffffff
--color-gray-10 := #f8f9fa
--color-gray-20 := #e9ecef
--color-gray-30 := #dee2e6
--color-gray-40 := #ced4da
--color-gray-50 := #adb5bd
--color-gray-60 := #868e96
--color-gray-70 := #495057
--color-gray-80 := #343a40
--color-gray-90 := #212529
--color-black := #000000

--color-groups['neutral'] = {
  transparent: --color-transparent
  white: --color-white
  gray-10: --color-gray-10
  gray-20: --color-gray-20
  gray-30: --color-gray-30
  gray-40: --color-gray-40
  gray-50: --color-gray-50
  gray-60: --color-gray-60
  gray-70: --color-gray-70
  gray-80: --color-gray-80
  gray-90: --color-gray-90
  black: --color-black
}

// Brand Colors
//
--color-primary := #3a88bc
--color-secondary := #702e6a
--color-light := #e9ecef
--color-dark := #212529

--color-groups['brand'] = {
  primary: --color-primary
  secondary: --color-secondary
  light: --color-light
  dark: --color-dark
}

// State Colors
//
--color-success := #4cb050
--color-danger := #ff5353
--color-warning := #ff9700
--color-info := #3dbff1

--color-groups['state'] = {
  success: --color-success
  danger: --color-danger
  warning: --color-warning
  info: --color-info
}


// Social Colors
//
--color-facebook := #3b5998
--color-twitter := #1da1f2
--color-google-plus := #dd4b39
--color-instagram := #fd1d1d
--color-dribbble := #ea4c89
--color-behance := #1769ff
--color-flickr := #ff0084
--color-linkedin := #0077b5
--color-youtube := #b31217
--color-pinterest := #bd081c
--color-github := #333333
--color-tumblr := #35465c
--color-twitch := #6441a5
--color-envato := #82b541
--color-vine := #00bf8f

--color-groups['social'] = {
  facebook: --color-facebook
  twitter: --color-twitter
  google-plus: --color-google-plus
  instagram: --color-instagram
  dribbble: --color-dribbble
  behance: --color-behance
  flickr: --color-flickr
  linkedin: --color-linkedin
  youtube: --color-youtube
  pinterest: --color-pinterest
  github: --color-github
  tumblr: --color-tumblr
  twitch: --color-twitch
  envato: --color-envato
  vine: --color-vine
}

// Theme light and dark colors
//
--variant-color-light := #ffffff
--variant-color-dark := #343a40

// All Colors
//
--colors = merge(--color-groups['basic'], --color-groups['brand'], --color-groups['state'], --color-groups['neutral'], --color-groups['social'])
