// Basic width and height utility sizes
//

$size-percentages: (
    '25': 25%,
    '50': 50%,
    '75': 75%,
    '100': 100%,
) !default;

// Quick accessor to the size-percentages map
@function size-percentages($key) {
    @return map_get($size-percentages, $key);
}

$sizes: ('sm', 'md', 'lg') !default;

$size-multiplier-xs: 0.6 !default;
$size-multiplier-sm: 0.8 !default;
$size-multiplier-md: 1 !default;
$size-multiplier-lg: 1.2 !default;
$size-multiplier-xl: 1.4 !default;
$size-multipliers: (
    'xs': $size-multiplier-xs,
    'sm': $size-multiplier-sm,
    'md': $size-multiplier-md,
    'lg': $size-multiplier-lg,
    'xl': $size-multiplier-xl,
) !default;

// Quick accessor to the size-multipliers map
@function size-multipliers($key) {
    @return map_get($size-multipliers, $key);
}
