//
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the --spacers map, should you need more variation.
//

$spacer: 1rem !default;
$spacers: (
    '1/2': $spacer * 1 / 2,
    '1/3': $spacer * 1 / 3,
    '2/3': $spacer * 2 / 3,
    '1/4': $spacer * 1 / 4,
    '3/4': $spacer * 3 / 4,
    '0': $spacer * 0,
    '1': $spacer * 1,
    '2': $spacer * 2,
    '3': $spacer * 3,
    '4': $spacer * 4,
    '5': $spacer * 5,
    '6': $spacer * 6,
    '7': $spacer * 7,
    '8': $spacer * 8,
) !default;

@function spacers($key) {
    @return map_get($spacers, $key);
}
