@require '../mixins/_themes'

//
// Themes
//
// Generate color themes based on the --colors, --brand-colors and --social-colors
// variables for components. If the color group is in the list, Inkline will
// generate themes for the specified color group.
//
--themes = {}

--background-themes := (basic brand neutral social state)
--border-themes := (basic brand neutral state)
--table-themes := (basic brand neutral state)
--text-themes := (basic brand neutral social state)

// Initialize theme choice collection
//
-add-theme(--themes, 'background', --background-themes)
-add-theme(--themes, 'border', --border-themes)
-add-theme(--themes, 'table', --table-themes)
-add-theme(--themes, 'text', --text-themes)
