//
// Animations
//


// Transition duration
//
--transition-enabled := true
--transition-duration := 210ms
--transition-easing := ease

// Enabled Transitions
//
--transition-button := true
--transition-dropdown := true
--transition-input := true
--transition-list-group := true
--transition-nav := true
--transition-table := true

--transition := {
  button: --transition-button
  dropdown: --transition-dropdown
  list-group: --transition-list-group
  input: --transition-input
  nav: --transition-nav
  table: --transition-table
}
