//
// Typography
//

// Font families
//
$font-family-primary-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;

$font-family-primary-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-primary-print: 'Georgia', 'Times New Roman', 'Times', serif !default;

$font-family-secondary-base: $font-family-primary-base !default;
$font-family-secondary-print: $font-family-primary-print !default;

$font-family-primary: (
    'base': $font-family-primary-base,
    'monospace': $font-family-primary-monospace,
    'print': $font-family-primary-print,
) !default;

// Quick accessor to the font-family-primary map
@function font-family-primary($key) {
    @return map_get($font-family-primary, $key);
}

$font-family-secondary: (
    'base': $font-family-secondary-base,
    'print': $font-family-secondary-print,
) !default;

// Quick accessor to the font-family-secondary map
@function font-family-secondary($key) {
    @return map_get($font-family-secondary, $key);
}

// Tracking
//
$letter-spacing: 0 !default;

// Font size
// Assumes the browser default, typically `16px`
//
$font-size-base: 1rem !default;
$font-size: (
    'xs': $font-size-base * size-multipliers('xs'),
    'sm': $font-size-base * size-multipliers('sm'),
    'md': $font-size-base * size-multipliers('md'),
    'lg': $font-size-base * size-multipliers('lg'),
    'xl': $font-size-base * size-multipliers('xl'),
);

// Quick accessor to the font-size map
@function font-size($key) {
    @return map_get($font-size, $key);
}

// Font weight
//
$font-weight-extralight: 200 !default;
$font-weight-light: 300 !default;
$font-weight-normal: normal !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: bold !default;
$font-weight-black: 900 !default;
$font-weight-lighter: lighter !default;
$font-weight-bolder: bolder !default;

$font-weight: (
    'extralight': $font-weight-extralight,
    'light': $font-weight-light,
    'lighter': $font-weight-lighter,
    'normal': $font-weight-normal,
    'semibold': $font-weight-semibold,
    'bold': $font-weight-bold,
    'bolder': $font-weight-bolder,
    'black': $font-weight-black,
) !default;

// Quick accessor to the font-weight map
@function font-weight($key) {
    @return map_get($font-weight, $key);
}

// Line height
//
$line-height: 1.5 !default;

// Muted text color
//
$text-muted: colors('gray-60') !default;

// Headings
//
$h1-font-size: 2.5 * font-size('md') !default;
$h2-font-size: 2 * font-size('md') !default;
$h3-font-size: 1.75 * font-size('md') !default;
$h4-font-size: 1.5 * font-size('md') !default;
$h5-font-size: 1.25 * font-size('md') !default;
$h6-font-size: 1 * font-size('md') !default;

$headings-font-size: (
    'h1': $h1-font-size,
    'h2': $h2-font-size,
    'h3': $h3-font-size,
    'h4': $h4-font-size,
    'h5': $h5-font-size,
    'h6': $h6-font-size,
) !default;

// Quick accessor to the headings-font-size map
@function headings-font-size($key) {
    @return map_get($headings-font-size, $key);
}

$headings-margin-top: $spacer * 2.5 !default;
$headings-margin-bottom: $spacer !default;
$headings-font-family: $font-family-secondary-base !default;
$headings-font-weight: normal !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

// Displays
//
$d1-font-size: 5.5 * font-size('md') !default;
$d2-font-size: 5 * font-size('md') !default;
$d3-font-size: 4.5 * font-size('md') !default;
$d4-font-size: 4 * font-size('md') !default;
$d5-font-size: 3.5 * font-size('md') !default;
$d6-font-size: 3 * font-size('md') !default;

$displays-font-size: (
    'd1': $d1-font-size,
    'd2': $d2-font-size,
    'd3': $d3-font-size,
    'd4': $d4-font-size,
    'd5': $d5-font-size,
    'd6': $d6-font-size,
) !default;

// Quick accessor to the displays-font-size map
@function displays-font-size($key) {
    @return map_get($displays-font-size, $key);
}

$displays-font-weight: $headings-font-weight !default;
$displays-line-height: $headings-line-height !default;

// Links
//
$link-color: $color-primary !default;
$link-color-hover: darken-lightness($link-color, 20%) !default;
$link-decoration: none !default;
$link-decoration-hover: underline !default;

// Lead
//
$lead-font-size: font-size('lg') !default;
$lead-font-weight: 300 !default;

// Lists
//
$list-inline-padding: $spacer !default;
$list-item-margin-bottom: spacers('1/2') !default;

// Description Lists
//
$dt-font-weight: font-weight('bold') !default;

// Emphasis
//
$small-font-size: font-size('sm') !default;

// Blockquote
//
$blockquote-small-color: colors('gray-60') !default;
$blockquote-font-size: font-size('lg') !default;
$blockquote-border: 3px solid colors('gray-30') !default;
$blockquote-margin: $spacer !default;
$blockquote-bordered-padding: $spacer !default;

// Horizontal rule
//
$hr-border-color: rgba(colors('black'), 0.1) !default;
$hr-border-width: $border-width !default;

// Mark
//
$mark-padding: 0.2rem 0.4rem !default;
$mark-color: colors('gray-80') !default;
$mark-background-color: #fcf8e3 !default;

// Code
//
$code-font-size: 90% !default;
$code-padding: 0.15rem 0.4rem !default;
$code-color: #bd4147 !default;
$code-background: colors('gray-10') !default;

// Kbd
//
$kbd-font-size: $code-font-size !default;
$kbd-box-shadow: inset 0 -0.1rem 0 rgba(0, 0, 0, 0.25) !default;
$kbd-nested-font-weight: font-weight('bold') !default;
$kbd-color: colors('white') !default;
$kbd-background: colors('gray-90') !default;
$kbd-padding: $code-padding !default;

// Pre
//
$pre-font-size: $code-font-size !default;
$pre-color: colors('gray-90') !default;
$pre-scrollable-max-height: 340px !default;
