//
// Zindex
//

$z-index-dropdown: 1000 !default;
$z-index-sticky: 1020 !default;
$z-index-fixed: 1030 !default;
$z-index-modal-backdrop: 1040 !default;
$z-index-modal: 1050 !default;
$z-index-popover: 1060 !default;
$z-index-tooltip: 1070 !default;

$z-index: (
    'dropdown': $z-index-dropdown,
    'sticky': $z-index-sticky,
    'fixed': $z-index-fixed,
    'modal-backdrop': $z-index-modal-backdrop,
    'modal': $z-index-modal,
    'popover': $z-index-popover,
    'tooltip': $z-index-tooltip,
);

@function z-index($key) {
    @return map_get($z-index, $key);
}
