/**
 * Color variants
 */

.toggle {
    ////
    /// Variables for the light color variant
    /// @name light
    /// @type variant
    ////
    @include variant('light', 'form') {
        ////
        /// The background of the toggle component, for the light color variant
        /// @name background
        ////
        ----background: #{color('light')};
        ////
        /// The background of the toggle component when checked, for the light color variant
        /// @name background--checked
        ////
        ----background--checked: #{color('primary')};
        ////
        /// The background of the toggle component when disabled, for the light color variant
        /// @name background--disabled
        ////
        ----background--disabled: #{color('light-40')};
        ////
        /// The background of the toggle component when checked and disabled, for the light color variant
        /// @name background--checked-disabled
        ////
        ----background--checked-disabled: #{color('primary-25')};
        ////
        /// The border-color of the toggle component, for the light color variant
        /// @name border-color
        ////
        ----border-color: #{color('light-55')};
        ////
        /// The border-color of the toggle component when checked, for the light color variant
        /// @name border-color--checked
        ////
        ----border-color--checked: #{color('primary-55')};
        ////
        /// The border-color of the toggle component when disabled, for the light color variant
        /// @name border-color--disabled
        ////
        ----border-color--disabled: #{color('light')};
        ////
        /// The border-color of the toggle component when checked and disabled, for the light color variant
        /// @name border-color--checked-disabled
        ////
        ----border-color--checked-disabled: #{color('primary-30')};
        ////
        /// The background of the toggle component indicator, for the light color variant
        /// @name indicator--background
        ////
        ----indicator--background: #{color('white')};
        ////
        /// The background of the toggle component indicator when disabled, for the light color variant
        /// @name indicator--background--disabled
        ////
        ----indicator--background--disabled: #{color('gray-05')};
        ////
        /// The background of the toggle component indicator when checked and disabled, for the light color variant
        /// @name indicator--background--checked-disabled
        ////
        ----indicator--background--checked-disabled: #{color('gray-10')};
        ////
        /// The color of the toggle component label, for the light color variant
        /// @name label--color
        ////
        ----label--color: #{contrast-color($color-light)};
        ////
        /// The color of the toggle component label when disabled, for the light color variant
        /// @name label--color--disabled
        ////
        ----label--color--disabled: #{color('light-70')};
    }
    ////
    /// Variables for the dark color variant
    /// @name dark
    /// @type variant
    ////
    @include variant('dark', 'form') {
        ////
        /// The background of the toggle component, for the dark color variant
        /// @name background
        ////
        ----background: #{color('dark')};
        ////
        /// The background of the toggle component when checked, for the dark color variant
        /// @name background--checked
        ////
        ----background--checked: #{color('primary')};
        ////
        /// The background of the toggle component when disabled, for the dark color variant
        /// @name background--disabled
        ////
        ----background--disabled: #{color('dark-40')};
        ////
        /// The background of the toggle component when checked and disabled, for the dark color variant
        /// @name background--checked-disabled
        ////
        ----background--checked-disabled: #{color('primary-75')};
        ////
        /// The border-color of the toggle component, for the dark color variant
        /// @name border-color
        ////
        ----border-color: #{color('dark')};
        ////
        /// The border-color of the toggle component when checked, for the dark color variant
        /// @name border-color--checked
        ////
        ----border-color--checked: #{color('primary-55')};
        ////
        /// The border-color of the toggle component when disabled, for the dark color variant
        /// @name border-color--disabled
        ////
        ----border-color--disabled: #{color('dark')};
        ////
        /// The border-color of the toggle component when checked and disabled, for the dark color variant
        /// @name border-color--checked-disabled
        ////
        ----border-color--checked-disabled: #{color('primary-70')};
        ////
        /// The background of the toggle component indicator, for the dark color variant
        /// @name indicator--background
        ////
        ----indicator--background: #{color('white')};
        ////
        /// The background of the toggle component indicator when disabled, for the dark color variant
        /// @name indicator--background--disabled
        ////
        ----indicator--background--disabled: #{color('gray-30')};
        ////
        /// The background of the toggle component indicator when checked and disabled, for the dark color variant
        /// @name indicator--background--checked-disabled
        ////
        ----indicator--background--checked-disabled: #{color('dark-25')};
        ////
        /// The color of the toggle component label, for the dark color variant
        /// @name label--color
        ////
        ----label--color: #{contrast-color($color-dark)};
        ////
        /// The color of the toggle component label when disabled, for the dark color variant
        /// @name label--color--disabled
        ////
        ----label--color--disabled: #{color('dark-30')};
    }
}
