/**
 * Color variants
 */

.toggle {
                        @include variant('light', 'form') {
                                        --toggle--background: var(--toggle--light--background, var(--color-light));
                                        --toggle--checked--background: var(--toggle--primary--checked--background, var(--color-primary));
                                        --toggle--disabled--background: var(--toggle--light--disabled--background, var(--color-light-400));
                                        --toggle--checked--background-disabled: var(--toggle--primary--checked--background-disabled, var(--color-primary-250));
                                        --toggle--border-color: var(--toggle--light--border-color, var(--color-light-550));
                                        --toggle--checked--border-color: var(--toggle--primary--checked--border-color, var(--color-primary-550));
                                        --toggle--disabled--border-color: var(--toggle--light--disabled--border-color, var(--color-light));
                                        --toggle--checked--border-color-disabled: var(--toggle--primary--checked--border-color-disabled, var(--color-primary-300));
                                        --toggle--indicator--background: var(--toggle--white--indicator--background, var(--color-white));
                                        --toggle--disabled--indicator--background: var(--toggle--disabled--gray--indicator--background, var(--color-gray-050));
                                        --toggle--checked--indicator--background-disabled: var(--toggle--checked--gray--indicator--background-disabled, var(--color-gray-100));
                                        --toggle--label--color: var(--toggle--light--label--color, var(--contrast-text--color-light));
                                        --toggle--disabled--label--color: var(--toggle--light--disabled--label--color, var(--color-light-700));
    }
                        @include variant('dark', 'form') {
                                        --toggle--background: var(--toggle--dark--background, var(--color-dark));
                                        --toggle--checked--background: var(--toggle--primary--checked--background, var(--color-primary));
                                        --toggle--disabled--background: var(--toggle--dark--disabled--background, var(--color-dark-400));
                                        --toggle--checked--background-disabled: var(--toggle--primary--background--checked-disabled, var(--color-primary-750));
                                        --toggle--border-color: var(--toggle--dark--border-color, var(--color-dark));
                                        --toggle--border-color--checked: var(--toggle--primary--border-color--checked, var(--color-primary-550));
                                        --toggle--border-color--disabled: var(--toggle--dark--border-color--disabled, var(--color-dark));
                                        --toggle--border-color--checked-disabled: var(--toggle--primary--border-color--checked-disabled, var(--color-primary-700));
                                        --toggle--indicator--background: var(--toggle--white--indicator--background, var(--color-white));
                                        --toggle--indicator--background--disabled: var(--toggle--gray--indicator--background--disabled, var(--color-gray-300));
                                        --toggle--indicator--background--checked-disabled: var(--toggle--dark--indicator--background--checked-disabled, var(--color-dark-250));
                                        --toggle--label--color: var(--toggle--dark--label--color, var(--contrast-text--color-dark));
                                        --toggle--label--color--disabled: var(--toggle--dark--label--color--disabled, var(--color-dark-300));
    }
}
