code[class*="language-"],
pre[class*="language-"] {
    font-size: 0.9rem !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    border-radius: 4px;
    background-color: colors('gray-10') !important;

    .token.property,
    .token.tag,
    .token.boolean,
    .token.number,
    .token.constant,
    .token.symbol,
    .token.deleted {
        color: colors('primary') !important;
    }

    .token.string,
    .token.attr-name {
        color: colors('success') !important;
    }

    .token.operator {
        background-color: transparent !important;
    }

    .token.atrule,
    .token.attr-value,
    .token.keyword {
        color: colors('secondary') !important;
    }

    &.line-numbers {
        position: relative;
        padding-left: 3.8rem;

        .line-number {
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 1em;
            background: transparent;
            pointer-events: none;
            line-height: inherit;
            width: 3rem;
            letter-spacing: -1px;
            border-right: 1px solid colors('gray-30');
            padding: 0 1rem 0 0;
            text-align: right;
            transition-property: border-color;
            transition-duration: $transition-duration;
            transition-timing-function: $transition-easing;
        }

        .line-number::before {
            content: attr(data-line-number);
            color: #999999;
            font-size: 0.75rem;
            text-shadow: none;
        }
    }
}

.inkline.-dark {
    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background-color: colors('gray-80') !important;
        color: white;

        .token.property,
        .token.tag,
        .token.boolean,
        .token.number,
        .token.constant,
        .token.symbol,
        .token.deleted {
            color: lighten(colors('primary'), 10%) !important;
        }

        .token.operator {
            color: lighten(colors('danger'), 10%) !important;
        }

        .token.punctuation {
            color: lighten(colors('gray-60'), 10%) !important;
        }

        .token.attr-name {
            color: lighten(colors('success'), 10%) !important;
        }

        .token.atrule,
        .token.attr-value,
        .token.keyword {
            color: lighten(colors('secondary'), 10%) !important;
        }

        &.line-numbers {
            .line-number {
                border-right: 1px solid colors('gray-70');
            }
        }
    }

    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: 0 0 colors('gray-90') !important;
    }
}
