@import '~@inkline/inkline/src/css/config/index';
@import '~@inkline/inkline/src/css/mixins/index';
@import 'config/index';

.layout-fixed-full-height {
    position: fixed;
    overflow: auto;
    top: $navbar-height;
    max-height: calc(100% - #{$navbar-height});
    max-height: calc(100vh - #{$navbar-height});
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.docs-feature-list {
    ul {
        li {
            h6 {
                font-weight: $font-weight-semibold;
                margin-top: 0;
                margin-bottom: $spacer / 2;
            }

            p {
                margin-top: 0;
            }
        }
    }
}
