//
// Navbar sizes
//
@each $size in $sizes {
    $_padding: map_get($navbar-padding, $size);

    .navbar.-#{$size} {
        padding: $_padding;

        @each $breakpoint in ('xs', 'sm', 'md', 'lg', 'xl') {
            &.-collapse-#{$breakpoint} {
                @include breakpoint-down($breakpoint) {
                    > .container > .row > .column > .items {
                        margin-top: nth($_padding, 1);
                    }
                }
            }
        }
    }
}
