//
// Navbar Variables
//
$navbar-padding-base: spacers('1/2') 0 !default;
$navbar-padding: size-map($navbar-padding-base, $sizes, $size-multipliers) !default;

$navbar-brand-margin: $spacer !default;
$navbar-brand-font-size: font-size('md') !default;

$navbar-brand-padding-base: spacers('1/2') 0 !default;
$navbar-brand-padding: size-map($navbar-brand-padding-base, $sizes, $size-multipliers) !default;

//
// Variants
//
$navbar-variants: ('brand', 'monochrome') !default;

$variants: map_merge($variants, ('navbar': add-variant($navbar-variants, $color-groups)));
