////
/// The background of the dropdown component
/// @name dropdown--background
/// @type color
////

////
/// The background of the dropdown component when active
/// @name dropdown--background--active
/// @type color
////

////
/// The background of the dropdown component when disabled
/// @name dropdown--background--disabled
/// @type color
////

////
/// The background of the dropdown component when hovered or focused
/// @name dropdown--background--hover
/// @type color
////

////
/// The border top color of the dropdown component
/// @name dropdown--border-top-color
/// @type color
////

////
/// The border right color of the dropdown component
/// @name dropdown--border-right-color
/// @type color
////

////
/// The border bottom color of the dropdown component
/// @name dropdown--border-bottom-color
/// @type color
////

////
/// The border left color of the dropdown component
/// @name dropdown--border-left-color
/// @type color
////

////
/// The border color of the dropdown component
/// @name dropdown--border-color
////

////
/// The border style of the dropdown component
/// @name dropdown--border-style
////

////
/// The border top width of the dropdown component
/// @name dropdown--border-top-width
////

////
/// The border right width of the dropdown component
/// @name dropdown--border-right-width
////

////
/// The border bottom width of the dropdown component
/// @name dropdown--border-bottom-width
////

////
/// The border left width of the dropdown component
/// @name dropdown--border-left-width
////

////
/// The border width of the dropdown component
/// @name dropdown--border-width
////

////
/// The border top left radius of the dropdown component
/// @name dropdown--border-top-left-radius
/// @type size
////

////
/// The border top right radius of the dropdown component
/// @name dropdown--border-top-right-radius
/// @type size
////

////
/// The border bottom right radius of the dropdown component
/// @name dropdown--border-bottom-right-radius
/// @type size
////

////
/// The border bottom left radius of the dropdown component
/// @name dropdown--border-bottom-left-radius
/// @type size
////

////
/// The border radius of the dropdown component
/// @name dropdown--border-radius
////

////
/// The box shadow horizontal offset of the dropdown component
/// @name dropdown--box-shadow-offset-x
////

////
/// The box shadow vertical offset of the dropdown component
/// @name dropdown--box-shadow-offset-y
////

////
/// The box shadow blur radius of the dropdown component
/// @name dropdown--box-shadow-blur-radius
////

////
/// The box shadow spread radius of the dropdown component
/// @name dropdown--box-shadow-spread-radius
////

////
/// The box shadow spread radius of the dropdown component
/// @name dropdown--box-shadow-color
////

////
/// The box shadow of the dropdown component
/// @name dropdown--box-shadow
////

////
/// The color of the dropdown component item
/// @name dropdown--color
/// @type color
////

////
/// The color of the dropdown component item when active
/// @name dropdown--color--active
/// @type color
////

////
/// The color of the dropdown component item when disabled
/// @name dropdown--color--disabled
/// @type color
////

////
/// The color of the dropdown component item when hovered or focused
/// @name dropdown--color--hover
/// @type color
////

////
/// The font weight of the dropdown component
/// @name dropdown--font-weight
////

////
/// The font size of the dropdown component
/// @name dropdown--font-size
/// @type size
////

////
/// The line height of the dropdown component
/// @name dropdown--line-height
////

////
/// The minimum width of the dropdown component
/// @name dropdown--min-width
////

////
/// The maximum width of the dropdown component
/// @name dropdown--max-width
////

////
/// The padding top of the dropdown component items
/// @name dropdown--padding-top
/// @type size
////

////
/// The padding right of the dropdown component items
/// @name dropdown--padding-right
/// @type size
////

////
/// The padding bottom of the dropdown component items
/// @name dropdown--padding-bottom
/// @type size
////

////
/// The padding left of the dropdown component items
/// @name dropdown--padding-left
/// @type size
////

////
/// The padding of the dropdown component items
/// @name dropdown--padding
////

////
/// The z-index of the dropdown component
/// @name dropdown--z-index
////

////
/// The margin top of the dropdown component divider
/// @name dropdown--divider--margin-top
////

////
/// The margin bottom of the dropdown component divider
/// @name dropdown--divider--margin-bottom
////

////
/// The padding top of the dropdown component item
/// @name dropdown--item--padding-top
/// @type size
////

////
/// The padding right of the dropdown component item
/// @name dropdown--item--padding-right
/// @type size
////

////
/// The padding bottom of the dropdown component item
/// @name dropdown--item--padding-bottom
/// @type size
////

////
/// The padding left of the dropdown component item
/// @name dropdown--item--padding-left
/// @type size
////

////
/// The padding of the dropdown component item
/// @name dropdown--item--padding
////

////
/// The background of the dropdown component header
/// @name dropdown--header--background
/// @type color
////

////
/// The padding top of the dropdown component header
/// @name dropdown--header--padding-top
/// @type size
////

////
/// The padding right of the dropdown component header
/// @name dropdown--header--padding-right
/// @type size
////

////
/// The padding bottom of the dropdown component header
/// @name dropdown--header--padding-bottom
/// @type size
////

////
/// The padding left of the dropdown component header
/// @name dropdown--header--padding-left
/// @type size
////

////
/// The padding of the dropdown component header
/// @name dropdown--header--padding
////

////
/// The padding top of the dropdown component body
/// @name dropdown--body--padding-top
/// @type size
////

////
/// The padding right of the dropdown component body
/// @name dropdown--body--padding-right
/// @type size
////

////
/// The padding bottom of the dropdown component body
/// @name dropdown--body--padding-bottom
/// @type size
////

////
/// The padding left of the dropdown component body
/// @name dropdown--body--padding-left
/// @type size
////

////
/// The padding of the dropdown component body
/// @name dropdown--body--padding
////

////
/// The background of the dropdown component footer
/// @name dropdown--footer--background
/// @type color
////

////
/// The padding top of the dropdown component footer
/// @name dropdown--footer--padding-top
/// @type size
////

////
/// The padding right of the dropdown component footer
/// @name dropdown--footer--padding-right
/// @type size
////

////
/// The padding bottom of the dropdown component footer
/// @name dropdown--footer--padding-bottom
/// @type size
////

////
/// The padding left of the dropdown component footer
/// @name dropdown--footer--padding-left
/// @type size
////

////
/// The padding of the dropdown component footer
/// @name dropdown--footer--padding
////

@import '../../../cssnew/mixins';

.dropdown-wrapper {
    display: inline-block;
    position: relative;

    .dropdown-trigger {
        display: contents;
        cursor: pointer;
    }
}

.dropdown {
    @include popup(var(--dropdown--z-index, 2000));
    @include popup-arrow();
    @include popup-arrow-size-variant(var(--dropdown--arrow--size, 6px));

    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    line-height: var(--dropdown--line-height, var(--line-height));
    font-size: var(--dropdown--font-size, var(--font-size));
    background-clip: padding-box;
    display: inline-block;
    white-space: normal;
    min-width: var(--dropdown--min-width, 240px);
    max-width: var(--dropdown--max-width, 90vw);
    color: var(--dropdown--color);
    box-shadow: var(
        --dropdown--box-shadow,
        (
            var(--dropdown--box-shadow-x-offset, var(--box-shadow-offset-x))
                var(--dropdown--box-shadow-y-offset, var(--box-shadow-offset-y))
                var(--dropdown--box-shadow-blur-radius, var(--box-shadow-blur-radius))
                var(--dropdown--box-shadow-spread-radius, var(--box-shadow-spread-radius))
                var(--dropdown--box-shadow-color, var(--box-shadow-color))
        )
    );

    > .dropdown-header {
        border-style: var(
            --dropdown--header--border-style,
            var(
                --dropdown--border-style,
                (
                    var(
                            --dropdown--header--border-top-style,
                            var(--dropdown--border-top-style, var(--border-top-style))
                        )
                        var(
                            --dropdown--header--border-right-style,
                            var(--dropdown--border-right-style, var(--border-right-style))
                        )
                        var(
                            --dropdown--header--border-bottom-style,
                            var(--dropdown--border-bottom-style, var(--border-bottom-style))
                        )
                        var(
                            --dropdown--header--border-left-style,
                            var(--dropdown--border-left-style, var(--border-left-style))
                        )
                )
            )
        );
        border-width: var(
            --dropdown--header--border-width,
            (
                var(
                        --dropdown--header--border-top-width,
                        var(--dropdown--border-top-width, var(--border-top-width))
                    )
                    var(
                        --dropdown--header--border-right-width,
                        var(--dropdown--border-right-width, var(--border-right-width))
                    )
                    var(
                        --dropdown--header--border-bottom-width,
                        var(--dropdown--border-bottom-width, 0)
                    )
                    var(
                        --dropdown--header--border-left-width,
                        var(--dropdown--border-left-width, var(--border-left-width))
                    )
            )
        );
        border-color: var(
            --dropdown--header--border-color,
            var(
                --dropdown--border-color,
                (
                    var(
                            --dropdown--header--border-top-color,
                            var(--dropdown--border-top-color, var(--border-top-color))
                        )
                        var(
                            --dropdown--header--border-right-color,
                            var(--dropdown--border-right-color, var(--border-right-color))
                        )
                        var(
                            --dropdown--header--border-bottom-color,
                            var(--dropdown--border-bottom-color, var(--border-bottom-color))
                        )
                        var(
                            --dropdown--header--border-left-color,
                            var(--dropdown--border-left-color, var(--border-left-color))
                        )
                )
            )
        );
        background-color: var(--dropdown--header--background, var(--dropdown--background));
        padding: var(
            --dropdown--header--padding,
            var(
                --dropdown--padding,
                (
                    var(
                            --dropdown--header--padding-top,
                            var(--dropdown--padding-top, var(--padding-top))
                        )
                        var(
                            --dropdown--header--padding-right,
                            var(--dropdown--padding-right, var(--padding-right))
                        )
                        var(
                            --dropdown--header--padding-bottom,
                            var(--dropdown--padding-bottom, var(--padding-bottom))
                        )
                        var(
                            --dropdown--header--padding-left,
                            var(--dropdown--padding-left, var(--padding-left))
                        )
                )
            )
        );
        transition-property: var(
            --dropdown--header--transition-property,
            (var(--dropdown--transition-property, (border-color)))
        );
        transition-duration: var(
            --dropdown--header--transition-duration,
            var(--dropdown--transition-duration, var(--transition-duration))
        );
        transition-timing-function: var(
            --dropdown--header--transition-timing-function,
            var(--dropdown--transition-timing-function, var(--transition-timing-function))
        );
    }

    > .dropdown-body {
        display: flex;
        flex-direction: column;
        border-width: var(
            --dropdown--border-width,
            (
                var(--dropdown--border-top-width, var(--border-top-width))
                    var(--dropdown--border-right-width, var(--border-right-width))
                    var(--dropdown--border-bottom-width, var(--border-bottom-width))
                    var(--dropdown--border-left-width, var(--border-left-width))
            )
        );
        border-style: var(
            --dropdown--border-style,
            (
                var(--dropdown--border-top-style, var(--border-top-style))
                    var(--dropdown--border-right-style, var(--border-right-style))
                    var(--dropdown--border-bottom-style, var(--border-bottom-style))
                    var(--dropdown--border-left-style, var(--border-left-style))
            )
        );
        border-color: var(
            --dropdown--border-color,
            (
                var(--dropdown--border-top-color, var(--border-top-color))
                    var(--dropdown--border-right-color, var(--border-right-color))
                    var(--dropdown--border-bottom-color, var(--border-bottom-color))
                    var(--dropdown--border-left-color, var(--border-left-color))
            )
        );
        background-color: var(--dropdown--body--background, var(--dropdown--background));
        padding: var(
            --dropdown--body--padding,
            var(
                --dropdown--padding,
                (
                    var(
                            --dropdown--body--padding-top,
                            var(--dropdown--padding-top, var(--padding-top))
                        )
                        var(
                            --dropdown--body--padding-right,
                            var(--dropdown--padding-right, var(--padding-right))
                        )
                        var(
                            --dropdown--body--padding-bottom,
                            var(--dropdown--padding-bottom, var(--padding-bottom))
                        )
                        var(
                            --dropdown--body--padding-left,
                            var(--dropdown--padding-left, var(--padding-left))
                        )
                )
            )
        );
        transition-property: var(
            --dropdown--body--transition-property,
            (var(--dropdown--transition-property, (border-color)))
        );
        transition-duration: var(
            --dropdown--body--transition-duration,
            var(--dropdown--transition-duration, var(--transition-duration))
        );
        transition-timing-function: var(
            --dropdown--body--transition-timing-function,
            var(--dropdown--transition-timing-function, var(--transition-timing-function))
        );

        .dropdown-wrapper {
            width: 100%;
        }
    }

    > .dropdown-footer {
        border-style: var(
            --dropdown--footer--border-style,
            var(
                --dropdown--border-style,
                (
                    var(
                            --dropdown--footer--border-top-style,
                            var(--dropdown--border-top-style, var(--border-top-style))
                        )
                        var(
                            --dropdown--footer--border-right-style,
                            var(--dropdown--border-right-style, var(--border-right-style))
                        )
                        var(
                            --dropdown--footer--border-bottom-style,
                            var(--dropdown--border-bottom-style, var(--border-bottom-style))
                        )
                        var(
                            --dropdown--footer--border-left-style,
                            var(--dropdown--border-left-style, var(--border-left-style))
                        )
                )
            )
        );
        border-width: var(
            --dropdown--footer--border-width,
            (
                var(--dropdown--footer--border-top-width, var(--dropdown--border-top-width, 0))
                    var(
                        --dropdown--footer--border-right-width,
                        var(--dropdown--border-right-width, var(--border-right-width))
                    )
                    var(
                        --dropdown--footer--border-bottom-width,
                        var(--dropdown--border-bottom-width, var(--border-bottom-width))
                    )
                    var(
                        --dropdown--footer--border-left-width,
                        var(--dropdown--border-left-width, var(--border-left-width))
                    )
            )
        );
        border-color: var(
            --dropdown--footer--border-color,
            var(
                --dropdown--border-color,
                (
                    var(
                            --dropdown--footer--border-top-color,
                            var(--dropdown--border-top-color, var(--border-top-color))
                        )
                        var(
                            --dropdown--footer--border-right-color,
                            var(--dropdown--border-right-color, var(--border-right-color))
                        )
                        var(
                            --dropdown--footer--border-bottom-color,
                            var(--dropdown--border-bottom-color, var(--border-bottom-color))
                        )
                        var(
                            --dropdown--footer--border-left-color,
                            var(--dropdown--border-left-color, var(--border-left-color))
                        )
                )
            )
        );
        background-color: var(--dropdown--footer--background, var(--dropdown--background));
        padding: var(
            --dropdown--footer--padding,
            var(
                --dropdown--padding,
                (
                    var(
                            --dropdown--footer--padding-top,
                            var(--dropdown--padding-top, var(--padding-top))
                        )
                        var(
                            --dropdown--footer--padding-right,
                            var(--dropdown--padding-right, var(--padding-right))
                        )
                        var(
                            --dropdown--footer--padding-bottom,
                            var(--dropdown--padding-bottom, var(--padding-bottom))
                        )
                        var(
                            --dropdown--footer--padding-left,
                            var(--dropdown--padding-left, var(--padding-left))
                        )
                )
            )
        );
        transition-property: var(
            --dropdown--footer--transition-property,
            (var(--dropdown--transition-property, (border-color)))
        );
        transition-duration: var(
            --dropdown--footer--transition-duration,
            var(--dropdown--transition-duration, var(--transition-duration))
        );
        transition-timing-function: var(
            --dropdown--footer--transition-timing-function,
            var(--dropdown--transition-timing-function, var(--transition-timing-function))
        );
    }

    > *:nth-child(2) {
        border-top-left-radius: var(
            --dropdown--border-top-left-radius,
            var(--border-top-left-radius)
        );
        border-top-right-radius: var(
            --dropdown--border-top-right-radius,
            var(--border-top-right-radius)
        );
    }

    > *:last-child {
        border-bottom-left-radius: var(
            --dropdown--border-bottom-left-radius,
            var(--border-bottom-left-radius)
        );
        border-bottom-right-radius: var(
            --dropdown--border-bottom-right-radius,
            var(--border-bottom-right-radius)
        );
    }

    @include popup-arrow-color-variant-for-side(
        'top',
        var(--dropdown--background),
        var(--dropdown--border-bottom-color, var(--border-bottom-color))
    );

    @include popup-arrow-color-variant-for-side(
        'right',
        var(--dropdown--background),
        var(--dropdown--border-left-color, var(--border-left-color))
    );

    @include popup-arrow-color-variant-for-side(
        'bottom',
        var(--dropdown--background),
        var(--dropdown--border-top-color, var(--border-top-color))
    );

    @include popup-arrow-color-variant-for-side(
        'left',
        var(--dropdown--background),
        var(--dropdown--border-right-color, var(--border-right-color))
    );
}
