////
/// The background of the dropdown component
/// @name dropdown--background
/// @type color
////
    
////
/// The background of the dropdown component when active
/// @name dropdown--background--active
/// @type color
////
    
////
/// The background of the dropdown component when disabled
/// @name dropdown--background--disabled
/// @type color
////
    
////
/// The background of the dropdown component when hovered or focused
/// @name dropdown--background--hover
/// @type color
////
    
////
/// The border top color of the dropdown component
/// @name dropdown--border-top-color
/// @type color
////
    
////
/// The border right color of the dropdown component
/// @name dropdown--border-right-color
/// @type color
////
    
////
/// The border bottom color of the dropdown component
/// @name dropdown--border-bottom-color
/// @type color
////
    
////
/// The border left color of the dropdown component
/// @name dropdown--border-left-color
/// @type color
////
    
////
/// The border color of the dropdown component
/// @name dropdown--border-color
////
    
////
/// The border style of the dropdown component
/// @name dropdown--border-style
////
    
////
/// The border top width of the dropdown component
/// @name dropdown--border-top-width
////
    
////
/// The border right width of the dropdown component
/// @name dropdown--border-right-width
////
    
////
/// The border bottom width of the dropdown component
/// @name dropdown--border-bottom-width
////
    
////
/// The border left width of the dropdown component
/// @name dropdown--border-left-width
////
    
////
/// The border width of the dropdown component
/// @name dropdown--border-width
////
    
////
/// The border top left radius of the dropdown component
/// @name dropdown--border-top-left-radius
/// @type size
////
    
////
/// The border top right radius of the dropdown component
/// @name dropdown--border-top-right-radius
/// @type size
////
    
////
/// The border bottom right radius of the dropdown component
/// @name dropdown--border-bottom-right-radius
/// @type size
////
    
////
/// The border bottom left radius of the dropdown component
/// @name dropdown--border-bottom-left-radius
/// @type size
////
    
////
/// The border radius of the dropdown component
/// @name dropdown--border-radius
////
    
////
/// The box shadow horizontal offset of the dropdown component
/// @name dropdown--box-shadow-offset-x
////
    
////
/// The box shadow vertical offset of the dropdown component
/// @name dropdown--box-shadow-offset-y
////
    
////
/// The box shadow blur radius of the dropdown component
/// @name dropdown--box-shadow-blur-radius
////
    
////
/// The box shadow spread radius of the dropdown component
/// @name dropdown--box-shadow-spread-radius
////
    
////
/// The box shadow spread radius of the dropdown component
/// @name dropdown--box-shadow-color
////
    
////
/// The box shadow of the dropdown component
/// @name dropdown--box-shadow
////
    
////
/// The color of the dropdown component item
/// @name dropdown--color
/// @type color
////
    
////
/// The color of the dropdown component item when active
/// @name dropdown--color--active
/// @type color
////
    
////
/// The color of the dropdown component item when disabled
/// @name dropdown--color--disabled
/// @type color
////
    
////
/// The color of the dropdown component item when hovered or focused
/// @name dropdown--color--hover
/// @type color
////
    
////
/// The font weight of the dropdown component
/// @name dropdown--font-weight
////
    
////
/// The font size of the dropdown component
/// @name dropdown--font-size
/// @type size
////
    
////
/// The line height of the dropdown component
/// @name dropdown--line-height
////
    
////
/// The minimum width of the dropdown component
/// @name dropdown--min-width
////
    
////
/// The maximum width of the dropdown component
/// @name dropdown--max-width
////
    
////
/// The padding top of the dropdown component items
/// @name dropdown--padding-top
/// @type size
////
    
////
/// The padding right of the dropdown component items
/// @name dropdown--padding-right
/// @type size
////
    
////
/// The padding bottom of the dropdown component items
/// @name dropdown--padding-bottom
/// @type size
////
    
////
/// The padding left of the dropdown component items
/// @name dropdown--padding-left
/// @type size
////
    
////
/// The padding of the dropdown component items
/// @name dropdown--padding
////
    
////
/// The z-index of the dropdown component
/// @name dropdown--z-index
////
    
////
/// The margin top of the dropdown component divider
/// @name dropdown--divider--margin-top
////
    
////
/// The margin bottom of the dropdown component divider
/// @name dropdown--divider--margin-bottom
////
    
////
/// The padding top of the dropdown component item
/// @name dropdown--item--padding-top
/// @type size
////
    
////
/// The padding right of the dropdown component item
/// @name dropdown--item--padding-right
/// @type size
////
    
////
/// The padding bottom of the dropdown component item
/// @name dropdown--item--padding-bottom
/// @type size
////
    
////
/// The padding left of the dropdown component item
/// @name dropdown--item--padding-left
/// @type size
////
    
////
/// The padding of the dropdown component item
/// @name dropdown--item--padding
////
    
////
/// The background of the dropdown component header
/// @name dropdown--header--background
/// @type color
////
    
////
/// The padding top of the dropdown component header
/// @name dropdown--header--padding-top
/// @type size
////
    
////
/// The padding right of the dropdown component header
/// @name dropdown--header--padding-right
/// @type size
////
    
////
/// The padding bottom of the dropdown component header
/// @name dropdown--header--padding-bottom
/// @type size
////
    
////
/// The padding left of the dropdown component header
/// @name dropdown--header--padding-left
/// @type size
////
    
////
/// The padding of the dropdown component header
/// @name dropdown--header--padding
////
    
////
/// The padding top of the dropdown component body
/// @name dropdown--body--padding-top
/// @type size
////
    
////
/// The padding right of the dropdown component body
/// @name dropdown--body--padding-right
/// @type size
////
    
////
/// The padding bottom of the dropdown component body
/// @name dropdown--body--padding-bottom
/// @type size
////
    
////
/// The padding left of the dropdown component body
/// @name dropdown--body--padding-left
/// @type size
////
    
////
/// The padding of the dropdown component body
/// @name dropdown--body--padding
////
    
////
/// The background of the dropdown component footer
/// @name dropdown--footer--background
/// @type color
////
    
////
/// The padding top of the dropdown component footer
/// @name dropdown--footer--padding-top
/// @type size
////
    
////
/// The padding right of the dropdown component footer
/// @name dropdown--footer--padding-right
/// @type size
////
    
////
/// The padding bottom of the dropdown component footer
/// @name dropdown--footer--padding-bottom
/// @type size
////
    
////
/// The padding left of the dropdown component footer
/// @name dropdown--footer--padding-left
/// @type size
////
    
////
/// The padding of the dropdown component footer
/// @name dropdown--footer--padding
////
    

@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/sizes';
@import 'css/colors';

.dropdown-wrapper {
    display: inline-block;
    position: relative;

    .dropdown-trigger {
        display: contents;
        cursor: pointer;
    }
}

.dropdown {
    @include popup(('z-index': var(----z-index)));
    @include popup-arrow();
    @include popup-arrow-size-variant();

    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    line-height: var(----line-height);
    font-size: var(----font-size);
    background-clip: padding-box;
    display: inline-block;
    white-space: normal;
    min-width: var(----min-width);
    max-width: var(----max-width);
    color: var(----color);
    box-shadow: var(----box-shadow);

    > .dropdown-header {
        border-width: var(----border-top-width) var(----border-right-width) 0 var(----border-left-width);
        border-style: var(----border-style);
        border-color: var(----border-color);
        background-color: var(----header--background);
        padding: var(----header--padding);
    }

    > .dropdown-body {
        border-width: var(----border-width);
        border-style: var(----border-style);
        border-color: var(----border-color);
        background-color: var(----background);
        padding: var(----body--padding);

        .dropdown-wrapper {
            width: 100%;
        }

        .dropdown-divider {
            margin-top: var(----divider--margin-top);
            margin-bottom: var(----divider--margin-bottom);
            background-color: var(----border-top-color);
        }
    }

    > .dropdown-footer {
        border-width: 0 var(----border-right-width) var(----border-bottom-width) var(----border-left-width);
        border-style: var(----border-style);
        border-color: var(----border-color);
        background-color: var(----footer--background);
        padding: var(----footer--padding);
    }

    > *:nth-child(2) {
        border-top-left-radius: var(----border-top-left-radius);
        border-top-right-radius: var(----border-top-right-radius);
    }

    > *:last-child {
        border-bottom-left-radius: var(----border-bottom-left-radius);
        border-bottom-right-radius: var(----border-bottom-right-radius);
    }

    @include popup-arrow-color-variant-for-side('top', (
        'background': var(----background),
        'border-color': var(----border-bottom-color)
    ));

    @include popup-arrow-color-variant-for-side('bottom', (
        'background': var(----background),
        'border-color': var(----border-top-color)
    ));

    @include popup-arrow-color-variant-for-side('left', (
        'background': var(----background),
        'border-color': var(----border-right-color)
    ));

    @include popup-arrow-color-variant-for-side('right', (
        'background': var(----background),
        'border-color': var(----border-left-color)
    ));
}
