/**
 * Size variants
 */

.dropdown {
    &.-sm {
        --dropdown--border-top-left-radius: var(
            --dropdown--sm--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-sm))
        );
        --dropdown--border-top-right-radius: var(
            --dropdown--sm--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-sm))
        );
        --dropdown--border-bottom-right-radius: var(
            --dropdown--sm--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-sm))
        );
        --dropdown--border-bottom-left-radius: var(
            --dropdown--sm--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-sm))
        );
        --dropdown--font-size: var(
            --dropdown--sm--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
        --dropdown--padding-top: var(
            --dropdown--sm--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-sm))
        );
        --dropdown--padding-right: var(
            --dropdown--sm--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-sm))
        );
        --dropdown--padding-bottom: var(
            --dropdown--sm--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-sm))
        );
        --dropdown--padding-left: var(
            --dropdown--sm--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-sm))
        );
    }

    &.-md {
        --dropdown--border-top-left-radius: var(
            --dropdown--md--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-md))
        );
        --dropdown--border-top-right-radius: var(
            --dropdown--md--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-md))
        );
        --dropdown--border-bottom-right-radius: var(
            --dropdown--md--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-md))
        );
        --dropdown--border-bottom-left-radius: var(
            --dropdown--md--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-md))
        );
        --dropdown--font-size: var(
            --dropdown--md--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
        --dropdown--padding-top: var(
            --dropdown--md--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-md))
        );
        --dropdown--padding-right: var(
            --dropdown--md--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-md))
        );
        --dropdown--padding-bottom: var(
            --dropdown--md--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-md))
        );
        --dropdown--padding-left: var(
            --dropdown--md--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-md))
        );
    }

    &.-lg {
        --dropdown--border-top-left-radius: var(
            --dropdown--lg--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-lg))
        );
        --dropdown--border-top-right-radius: var(
            --dropdown--lg--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-lg))
        );
        --dropdown--border-bottom-right-radius: var(
            --dropdown--lg--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-lg))
        );
        --dropdown--border-bottom-left-radius: var(
            --dropdown--lg--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-lg))
        );
        --dropdown--font-size: var(
            --dropdown--lg--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
        --dropdown--padding-top: var(
            --dropdown--lg--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-lg))
        );
        --dropdown--padding-right: var(
            --dropdown--lg--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-lg))
        );
        --dropdown--padding-bottom: var(
            --dropdown--lg--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-lg))
        );
        --dropdown--padding-left: var(
            --dropdown--lg--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-lg))
        );
    }
}
