/**
 * Variables
 */

.dropdown {
    ////
    /// The background of the dropdown component
    /// @name background
    /// @type color
    ////
    ----background: #{color('white')};
    ////
    /// The background of the dropdown component when active
    /// @name background--active
    /// @type color
    ////
    ----background--active: #{color('light-25')};
    ////
    /// The background of the dropdown component when disabled
    /// @name background--disabled
    /// @type color
    ////
    ----background--disabled: #{transparent};
    ////
    /// The background of the dropdown component when hovered or focused
    /// @name background--hover
    /// @type color
    ////
    ----background--hover: #{color('light-25')};
    ////
    /// The border top color of the dropdown component
    /// @name border-top-color
    /// @type color
    ////
    ----border-top-color: #{color('light')};
    ////
    /// The border right color of the dropdown component
    /// @name border-right-color
    /// @type color
    ////
    ----border-right-color: #{color('light')};
    ////
    /// The border bottom color of the dropdown component
    /// @name border-bottom-color
    /// @type color
    ////
    ----border-bottom-color: #{color('light')};
    ////
    /// The border left color of the dropdown component
    /// @name border-left-color
    /// @type color
    ////
    ----border-left-color: #{color('light')};
    ////
    /// The border color of the dropdown component
    /// @name border-color
    ////
    ----border-color: #{var(----border-top-color) var(----border-right-color) var(----border-bottom-color) var(----border-left-color)};
    ////
    /// The border style of the dropdown component
    /// @name border-style
    ////
    ----border-style: #{var(--border-style)};
    ////
    /// The border top width of the dropdown component
    /// @name border-top-width
    ////
    ----border-top-width: #{var(--border-top-width)};
    ////
    /// The border right width of the dropdown component
    /// @name border-right-width
    ////
    ----border-right-width: #{var(--border-right-width)};
    ////
    /// The border bottom width of the dropdown component
    /// @name border-bottom-width
    ////
    ----border-bottom-width: #{var(--border-bottom-width)};
    ////
    /// The border left width of the dropdown component
    /// @name border-left-width
    ////
    ----border-left-width: #{var(--border-left-width)};
    ////
    /// The border width of the dropdown component
    /// @name border-width
    ////
    ----border-width: #{var(----border-top-width) var(----border-right-width) var(----border-bottom-width) var(----border-left-width)};
    ////
    /// The border top left radius of the dropdown component
    /// @name border-top-left-radius
    /// @type size
    ////
    ----border-top-left-radius: #{var(--border-top-left-radius)};
    ////
    /// The border top right radius of the dropdown component
    /// @name border-top-right-radius
    /// @type size
    ////
    ----border-top-right-radius: #{var(--border-top-right-radius)};
    ////
    /// The border bottom right radius of the dropdown component
    /// @name border-bottom-right-radius
    /// @type size
    ////
    ----border-bottom-right-radius: #{var(--border-bottom-right-radius)};
    ////
    /// The border bottom left radius of the dropdown component
    /// @name border-bottom-left-radius
    /// @type size
    ////
    ----border-bottom-left-radius: #{var(--border-bottom-left-radius)};
    ////
    /// The border radius of the dropdown component
    /// @name border-radius
    ////
    ----border-radius: #{var(----border-top-left-radius) var(----border-top-right-radius) var(----border-bottom-right-radius) var(----border-bottom-left-radius)};
    ////
    /// The box shadow horizontal offset of the dropdown component
    /// @name box-shadow-offset-x
    ////
    ----box-shadow-offset-x: #{var(--box-shadow-offset-x)};
    ////
    /// The box shadow vertical offset of the dropdown component
    /// @name box-shadow-offset-y
    ////
    ----box-shadow-offset-y: #{var(--box-shadow-offset-y)};
    ////
    /// The box shadow blur radius of the dropdown component
    /// @name box-shadow-blur-radius
    ////
    ----box-shadow-blur-radius: #{var(--box-shadow-blur-radius)};
    ////
    /// The box shadow spread radius of the dropdown component
    /// @name box-shadow-spread-radius
    ////
    ----box-shadow-spread-radius: #{var(--box-shadow-spread-radius)};
    ////
    /// The box shadow spread radius of the dropdown component
    /// @name box-shadow-color
    ////
    ----box-shadow-color: #{var(--box-shadow-color)};
    ////
    /// The box shadow of the dropdown component
    /// @name box-shadow
    ////
    ----box-shadow: #{var(----box-shadow-offset-x) var(----box-shadow-offset-y) var(----box-shadow-blur-radius) var(----box-shadow-spread-radius) var(----box-shadow-color)};
    ////
    /// The color of the dropdown component item
    /// @name color
    /// @type color
    ////
    ----color: #{contrast-color($color-white)};
    ////
    /// The color of the dropdown component item when active
    /// @name color--active
    /// @type color
    ////
    ----color--active: #{var(--dropdown-color-variant-light-color)};
    ////
    /// The color of the dropdown component item when disabled
    /// @name color--disabled
    /// @type color
    ////
    ----color--disabled: #{color('light-65')};
    ////
    /// The color of the dropdown component item when hovered or focused
    /// @name color--hover
    /// @type color
    ////
    ----color--hover: #{var(--dropdown-color-variant-light-color)};
    ////
    /// The font weight of the dropdown component
    /// @name font-weight
    ////
    ----font-weight: #{font-weight('normal')};
    ////
    /// The font size of the dropdown component
    /// @name font-size
    /// @type size
    ////
    ----font-size: #{font-size()};
    ////
    /// The line height of the dropdown component
    /// @name line-height
    ////
    ----line-height: #{var(--line-height)};
    ////
    /// The minimum width of the dropdown component
    /// @name min-width
    ////
    ----min-width: #{240px};
    ////
    /// The maximum width of the dropdown component
    /// @name max-width
    ////
    ----max-width: #{90vw};
    ////
    /// The padding top of the dropdown component items
    /// @name padding-top
    /// @type size
    ////
    ----padding-top: #{var(--padding-top)};
    ////
    /// The padding right of the dropdown component items
    /// @name padding-right
    /// @type size
    ////
    ----padding-right: #{var(--padding-right)};
    ////
    /// The padding bottom of the dropdown component items
    /// @name padding-bottom
    /// @type size
    ////
    ----padding-bottom: #{var(--padding-bottom)};
    ////
    /// The padding left of the dropdown component items
    /// @name padding-left
    /// @type size
    ////
    ----padding-left: #{var(--padding-left)};
    ////
    /// The padding of the dropdown component items
    /// @name padding
    ////
    ----padding: #{var(----padding-top) var(----padding-right) var(----padding-bottom) var(----padding-left)};
    ////
    /// The z-index of the dropdown component
    /// @name z-index
    ////
    ----z-index: #{2000};
    ////
    /// The margin top of the dropdown component divider
    /// @name divider--margin-top
    ////
    ----divider--margin-top: #{calc(var(--margin-top) / 2)};
    ////
    /// The margin bottom of the dropdown component divider
    /// @name divider--margin-bottom
    ////
    ----divider--margin-bottom: #{calc(var(--margin-bottom) / 2)};
    ////
    /// The padding top of the dropdown component item
    /// @name item--padding-top
    /// @type size
    ////
    ----item--padding-top: #{calc(var(----padding-top) / 2)};
    ////
    /// The padding right of the dropdown component item
    /// @name item--padding-right
    /// @type size
    ////
    ----item--padding-right: #{var(----padding-right)};
    ////
    /// The padding bottom of the dropdown component item
    /// @name item--padding-bottom
    /// @type size
    ////
    ----item--padding-bottom: #{calc(var(----padding-bottom) / 2)};
    ////
    /// The padding left of the dropdown component item
    /// @name item--padding-left
    /// @type size
    ////
    ----item--padding-left: #{var(----padding-left)};
    ////
    /// The padding of the dropdown component item
    /// @name item--padding
    ////
    ----item--padding: #{var(----item--padding-top) var(----item--padding-right) var(----item--padding-bottom) var(----item--padding-left)};
    ////
    /// The background of the dropdown component header
    /// @name header--background
    /// @type color
    ////
    ----header--background: #{color('gray-05')};
    ////
    /// The padding top of the dropdown component header
    /// @name header--padding-top
    /// @type size
    ////
    ----header--padding-top: #{var(----padding-top)};
    ////
    /// The padding right of the dropdown component header
    /// @name header--padding-right
    /// @type size
    ////
    ----header--padding-right: #{var(----padding-right)};
    ////
    /// The padding bottom of the dropdown component header
    /// @name header--padding-bottom
    /// @type size
    ////
    ----header--padding-bottom: #{var(----padding-bottom)};
    ////
    /// The padding left of the dropdown component header
    /// @name header--padding-left
    /// @type size
    ////
    ----header--padding-left: #{var(----padding-left)};
    ////
    /// The padding of the dropdown component header
    /// @name header--padding
    ////
    ----header--padding: #{var(----header--padding-top) var(----header--padding-right) var(----header--padding-bottom) var(----header--padding-left)};
    ////
    /// The padding top of the dropdown component body
    /// @name body--padding-top
    /// @type size
    ////
    ----body--padding-top: #{var(----padding-top)};
    ////
    /// The padding right of the dropdown component body
    /// @name body--padding-right
    /// @type size
    ////
    ----body--padding-right: #{0};
    ////
    /// The padding bottom of the dropdown component body
    /// @name body--padding-bottom
    /// @type size
    ////
    ----body--padding-bottom: #{var(----padding-bottom)};
    ////
    /// The padding left of the dropdown component body
    /// @name body--padding-left
    /// @type size
    ////
    ----body--padding-left: #{0};
    ////
    /// The padding of the dropdown component body
    /// @name body--padding
    ////
    ----body--padding: #{var(----body--padding-top) var(----body--padding-right) var(----body--padding-bottom) var(----body--padding-left)};
    ////
    /// The background of the dropdown component footer
    /// @name footer--background
    /// @type color
    ////
    ----footer--background: #{color('gray-05')};
    ////
    /// The padding top of the dropdown component footer
    /// @name footer--padding-top
    /// @type size
    ////
    ----footer--padding-top: #{var(----padding-top)};
    ////
    /// The padding right of the dropdown component footer
    /// @name footer--padding-right
    /// @type size
    ////
    ----footer--padding-right: #{var(----padding-right)};
    ////
    /// The padding bottom of the dropdown component footer
    /// @name footer--padding-bottom
    /// @type size
    ////
    ----footer--padding-bottom: #{var(----padding-bottom)};
    ////
    /// The padding left of the dropdown component footer
    /// @name footer--padding-left
    /// @type size
    ////
    ----footer--padding-left: #{var(----padding-left)};
    ////
    /// The padding of the dropdown component footer
    /// @name footer--padding
    ////
    ----footer--padding: #{var(----footer--padding-top) var(----footer--padding-right) var(----footer--padding-bottom) var(----footer--padding-left)};
}
