/**
    * Figure
    */

.figure {
    display: inline-block; // Ensures the caption's text aligns with the image.

    > .img {
        margin-bottom: var(--figure--image--margin-bottom);
        line-height: 1;
    }

    > .caption {
        font-size: var(--figure--caption--font-size);
        color: var(--figure--caption--color);
    }
}
