/**
    * Image
    */

.img,
.image {

    // Responsive images
    //
    // Ensure images don't scale beyond their parents. This is purposefully opt-in
    // via an explicit class rather than being the default for all `<img>` because
    // it can break third-party widgets (including Google Maps) which weren't
    // expecting the images within themselves to be involuntarily resized.
    //
    &.-responsive {

        // Set a maximum relative to the parent
        max-width: 100%;

        // Override the height to auto, otherwise images will be stretched
        // when setting a width and height attribute on the img element.
        height: auto;
    }

    &.-fluid {

        // Set the width to always be container width
        width: 100%;

        // Override the height to auto, otherwise images will be stretched
        // when setting a width and height attribute on the img element.
        height: auto;
    }

    // In Internet Explorer 10, SVG images with .-responsive are
    // disproportionately sized. This fix improperly sizes other image formats,
    // so Inkline will only apply it to svg extensions
    &[src$=".svg"] {
        width: 100% \9;
    }

    // Image thumbnails
    //
    &.-thumbnail {
        padding: $thumbnail-padding;
        background-color: $thumbnail-background;
        border: $thumbnail-border-width solid $thumbnail-border-color;
        border-radius: $thumbnail-border-radius;
        transition: $thumbnail-transition;
        box-shadow: $thumbnail-box-shadow;

        @extend .img.-responsive;
    }

    // Image Polaroid
    //
    &.-polaroid {
        padding-bottom: $polaroid-padding;

        @extend .img.-thumbnail;
    }
}
