:root {
    /**
     * Breakpoint variables
     */
    --breakpoints-xs: 0px;
    --breakpoints-sm: 576px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 992px;
    --breakpoints-xl: 1200px;
    --breakpoints-2xl: 1400px;
}