/**
 * List Group Item
 */

.list-group .list-group-item {
    display: block;
    margin-bottom: 0;
    border-bottom: var(--list-group--border-bottom-width, var(--border-bottom-width)) var(--list-group--border-bottom-style, var(--border-bottom-style)) var(--list-group--border-bottom-color, var(--border-bottom-color));
    transition-property: color, border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    padding: var(
        --list-group--padding,
        var(--list-group--padding-top, var(--padding-top))
            var(--list-group--padding-right, var(--padding-right))
            var(--list-group--padding-bottom, var(--padding-bottom))
            var(--list-group--padding-left, var(--padding-left))
    );

    &.-active {
        color: var(--list-group--active--color);
        background: var(--list-group--active--background);
        border-bottom-color: var(--list-group--active--border-color);
    }

    &:first-child {
        border-top-left-radius: var(--list-group--border-top-left-radius);
        border-top-right-radius: var(--list-group--border-top-right-radius);
    }

    &:last-child {
        border-bottom-width: 0;
        border-bottom-left-radius: var(--list-group--border-bottom-left-radius);
        border-bottom-right-radius: var(--list-group--border-bottom-right-radius);
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.-disabled {
        color: var(--list-group--disabled--color);
        pointer-events: none;
        cursor: default;
    }
}
