.button {
    display: inline-flex;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

.button.-disabled, .button:disabled {
    cursor: not-allowed;
}

.button.-loading {
    cursor: default;
}

.button-icon, button-content {
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a.button.-disabled, *:disabled a.button {
    pointer-events: none;
}

.button {
    border-width: var(--button--border-width, var(--button--border-top-width) var(--button--border-right-width) var(--button--border-bottom-width) var(--button--border-left-width));
    border-style: var(--button--border-style, var(--button--border-top-style) var(--button--border-right-style) var(--button--border-bottom-style) var(--button--border-left-style));
    border-top-color: var(--button--border-top-color);
    border-right-color: var(--button--border-right-color);
    border-bottom-color: var(--button--border-bottom-color);
    border-left-color: var(--button--border-left-color);
    border-radius: var(--button--border-radius, var(--button--border-top-left-radius) var(--button--border-top-right-radius) var(--button--border-bottom-right-radius) var(--button--border-bottom-left-radius));
    background: var(--button--background);
    box-shadow: var(--button--box-shadow, var(--button--box-shadow-offset-x) var(--button--box-shadow-offset-y) var(--button--box-shadow-blur-radius) var(--button--box-shadow-spread-radius) var(--button--box-shadow-color));
    color: var(--button--color);
    font-size: var(--button--font-size);
    line-height: var(--button--line-height);
    padding: var(--button--padding, var(--button--padding-top) var(--button--padding-right) var(--button--padding-bottom) var(--button--padding-left));
    transition-property: var(--button--transition-property);
    transition-duration: var(--button--transition-duration);
    transition-timing-function: var(--button--transition-timing-function);
}

.button:hover, .button.-hover {
    background: var(--button--hover--background);
}

.button:focus, .button.-focus {
    background: var(--button--focus--background);
}

.button:active, .button.-active {
    background: var(--button--active--background);
}

.button:disabled, .button.-disabled {
    background: var(--button--background);
    opacity: var(--button--disabled--opacity);
    box-shadow: none;
}

.button-icon + .button-content {
    margin: var(--button--icon--margin, var(--button--icon--margin-top) var(--button--icon--margin-right) var(--button--icon--margin-bottom) var(--button--icon--margin-left));
}

.button .loader, .button .loader.-md {
    width: var(--button--loader--width);
    height: var(--button--loader--height);
}

.button .loader svg circle {
    stroke: var(--button--color);
}

.button.-sm {
    --button--border-top-left-radius: var(--button--sm--border-top-left-radius);
    --button--border-top-right-radius: var(--button--sm--border-top-right-radius);
    --button--border-bottom-right-radius: var(--button--sm--border-bottom-right-radius);
    --button--border-bottom-left-radius: var(--button--sm--border-bottom-left-radius);
    --button--font-size: var(--button--sm--font-size);
    --button--padding-top: var(--button--sm--padding-top);
    --button--padding-right: var(--button--sm--padding-right);
    --button--padding-bottom: var(--button--sm--padding-bottom);
    --button--padding-left: var(--button--sm--padding-left);
}

.button.-md {
    --button--border-top-left-radius: var(--button--md--border-top-left-radius);
    --button--border-top-right-radius: var(--button--md--border-top-right-radius);
    --button--border-bottom-right-radius: var(--button--md--border-bottom-right-radius);
    --button--border-bottom-left-radius: var(--button--md--border-bottom-left-radius);
    --button--font-size: var(--button--md--font-size);
    --button--padding-top: var(--button--md--padding-top);
    --button--padding-right: var(--button--md--padding-right);
    --button--padding-bottom: var(--button--md--padding-bottom);
    --button--padding-left: var(--button--md--padding-left);
}

.button.-lg {
    --button--border-top-left-radius: var(--button--lg--border-top-left-radius);
    --button--border-top-right-radius: var(--button--lg--border-top-right-radius);
    --button--border-bottom-right-radius: var(--button--lg--border-bottom-right-radius);
    --button--border-bottom-left-radius: var(--button--lg--border-bottom-left-radius);
    --button--font-size: var(--button--lg--font-size);
    --button--padding-top: var(--button--lg--padding-top);
    --button--padding-right: var(--button--lg--padding-right);
    --button--padding-bottom: var(--button--lg--padding-bottom);
    --button--padding-left: var(--button--lg--padding-left);
}

.button.-light {
    --button--border-top-color: var(--button--light--border-top-color);
    --button--border-right-color: var(--button--light--border-right-color);
    --button--border-bottom-color: var(--button--light--border-bottom-color);
    --button--border-left-color: var(--button--light--border-left-color);
    --button--background: var(--button--light--background);
    --button--color: var(--button--light--color);
    --button--hover--border-top-color: var(--button--light--hover--border-top-color);
    --button--hover--border-right-color: var(--button--light--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--light--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--light--hover--border-left-color);
    --button--hover--background: var(--button--light--hover--background);
    --button--focus--border-top-color: var(--button--light--focus--border-top-color);
    --button--focus--border-right-color: var(--button--light--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--light--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--light--focus--border-left-color);
    --button--focus--background: var(--button--light--focus--background);
    --button--active--border-top-color: var(--button--light--active--border-top-color);
    --button--active--border-right-color: var(--button--light--active--border-right-color);
    --button--active--border-bottom-color: var(--button--light--active--border-bottom-color);
    --button--active--border-left-color: var(--button--light--active--border-left-color);
    --button--active--background: var(--button--light--active--background);
}

.button.-dark {
    --button--border-top-color: var(--button--dark--border-top-color);
    --button--border-right-color: var(--button--dark--border-right-color);
    --button--border-bottom-color: var(--button--dark--border-bottom-color);
    --button--border-left-color: var(--button--dark--border-left-color);
    --button--background: var(--button--dark--background);
    --button--color: var(--button--dark--color);
    --button--hover--border-top-color: var(--button--dark--hover--border-top-color);
    --button--hover--border-right-color: var(--button--dark--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--dark--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--dark--hover--border-left-color);
    --button--hover--background: var(--button--dark--hover--background);
    --button--focus--border-top-color: var(--button--dark--focus--border-top-color);
    --button--focus--border-right-color: var(--button--dark--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--dark--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--dark--focus--border-left-color);
    --button--focus--background: var(--button--dark--focus--background);
    --button--active--border-top-color: var(--button--dark--active--border-top-color);
    --button--active--border-right-color: var(--button--dark--active--border-right-color);
    --button--active--border-bottom-color: var(--button--dark--active--border-bottom-color);
    --button--active--border-left-color: var(--button--dark--active--border-left-color);
    --button--active--background: var(--button--dark--active--background);
}

.button.-primary {
    --button--border-top-color: var(--button--primary--border-top-color);
    --button--border-right-color: var(--button--primary--border-right-color);
    --button--border-bottom-color: var(--button--primary--border-bottom-color);
    --button--border-left-color: var(--button--primary--border-left-color);
    --button--background: var(--button--primary--background);
    --button--color: var(--button--primary--color);
    --button--hover--border-top-color: var(--button--primary--hover--border-top-color);
    --button--hover--border-right-color: var(--button--primary--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--primary--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--primary--hover--border-left-color);
    --button--hover--background: var(--button--primary--hover--background);
    --button--focus--border-top-color: var(--button--primary--focus--border-top-color);
    --button--focus--border-right-color: var(--button--primary--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--primary--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--primary--focus--border-left-color);
    --button--focus--background: var(--button--primary--focus--background);
    --button--active--border-top-color: var(--button--primary--active--border-top-color);
    --button--active--border-right-color: var(--button--primary--active--border-right-color);
    --button--active--border-bottom-color: var(--button--primary--active--border-bottom-color);
    --button--active--border-left-color: var(--button--primary--active--border-left-color);
    --button--active--background: var(--button--primary--active--background);
}

.button.-secondary {
    --button--border-top-color: var(--button--secondary--border-top-color);
    --button--border-right-color: var(--button--secondary--border-right-color);
    --button--border-bottom-color: var(--button--secondary--border-bottom-color);
    --button--border-left-color: var(--button--secondary--border-left-color);
    --button--background: var(--button--secondary--background);
    --button--color: var(--button--secondary--color);
    --button--hover--border-top-color: var(--button--secondary--hover--border-top-color);
    --button--hover--border-right-color: var(--button--secondary--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--secondary--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--secondary--hover--border-left-color);
    --button--hover--background: var(--button--secondary--hover--background);
    --button--focus--border-top-color: var(--button--secondary--focus--border-top-color);
    --button--focus--border-right-color: var(--button--secondary--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--secondary--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--secondary--focus--border-left-color);
    --button--focus--background: var(--button--secondary--focus--background);
    --button--active--border-top-color: var(--button--secondary--active--border-top-color);
    --button--active--border-right-color: var(--button--secondary--active--border-right-color);
    --button--active--border-bottom-color: var(--button--secondary--active--border-bottom-color);
    --button--active--border-left-color: var(--button--secondary--active--border-left-color);
    --button--active--background: var(--button--secondary--active--background);
}

.button.-success {
    --button--border-top-color: var(--button--success--border-top-color);
    --button--border-right-color: var(--button--success--border-right-color);
    --button--border-bottom-color: var(--button--success--border-bottom-color);
    --button--border-left-color: var(--button--success--border-left-color);
    --button--background: var(--button--success--background);
    --button--color: var(--button--success--color);
    --button--hover--border-top-color: var(--button--success--hover--border-top-color);
    --button--hover--border-right-color: var(--button--success--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--success--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--success--hover--border-left-color);
    --button--hover--background: var(--button--success--hover--background);
    --button--focus--border-top-color: var(--button--success--focus--border-top-color);
    --button--focus--border-right-color: var(--button--success--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--success--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--success--focus--border-left-color);
    --button--focus--background: var(--button--success--focus--background);
    --button--active--border-top-color: var(--button--success--active--border-top-color);
    --button--active--border-right-color: var(--button--success--active--border-right-color);
    --button--active--border-bottom-color: var(--button--success--active--border-bottom-color);
    --button--active--border-left-color: var(--button--success--active--border-left-color);
    --button--active--background: var(--button--success--active--background);
}

.button.-danger {
    --button--border-top-color: var(--button--danger--border-top-color);
    --button--border-right-color: var(--button--danger--border-right-color);
    --button--border-bottom-color: var(--button--danger--border-bottom-color);
    --button--border-left-color: var(--button--danger--border-left-color);
    --button--background: var(--button--danger--background);
    --button--color: var(--button--danger--color);
    --button--hover--border-top-color: var(--button--danger--hover--border-top-color);
    --button--hover--border-right-color: var(--button--danger--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--danger--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--danger--hover--border-left-color);
    --button--hover--background: var(--button--danger--hover--background);
    --button--focus--border-top-color: var(--button--danger--focus--border-top-color);
    --button--focus--border-right-color: var(--button--danger--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--danger--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--danger--focus--border-left-color);
    --button--focus--background: var(--button--danger--focus--background);
    --button--active--border-top-color: var(--button--danger--active--border-top-color);
    --button--active--border-right-color: var(--button--danger--active--border-right-color);
    --button--active--border-bottom-color: var(--button--danger--active--border-bottom-color);
    --button--active--border-left-color: var(--button--danger--active--border-left-color);
    --button--active--background: var(--button--danger--active--background);
}

.button.-warning {
    --button--border-top-color: var(--button--warning--border-top-color);
    --button--border-right-color: var(--button--warning--border-right-color);
    --button--border-bottom-color: var(--button--warning--border-bottom-color);
    --button--border-left-color: var(--button--warning--border-left-color);
    --button--background: var(--button--warning--background);
    --button--color: var(--button--warning--color);
    --button--hover--border-top-color: var(--button--warning--hover--border-top-color);
    --button--hover--border-right-color: var(--button--warning--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--warning--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--warning--hover--border-left-color);
    --button--hover--background: var(--button--warning--hover--background);
    --button--focus--border-top-color: var(--button--warning--focus--border-top-color);
    --button--focus--border-right-color: var(--button--warning--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--warning--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--warning--focus--border-left-color);
    --button--focus--background: var(--button--warning--focus--background);
    --button--active--border-top-color: var(--button--warning--active--border-top-color);
    --button--active--border-right-color: var(--button--warning--active--border-right-color);
    --button--active--border-bottom-color: var(--button--warning--active--border-bottom-color);
    --button--active--border-left-color: var(--button--warning--active--border-left-color);
    --button--active--background: var(--button--warning--active--background);
}

.button.-info {
    --button--border-top-color: var(--button--info--border-top-color);
    --button--border-right-color: var(--button--info--border-right-color);
    --button--border-bottom-color: var(--button--info--border-bottom-color);
    --button--border-left-color: var(--button--info--border-left-color);
    --button--background: var(--button--info--background);
    --button--color: var(--button--info--color);
    --button--hover--border-top-color: var(--button--info--hover--border-top-color);
    --button--hover--border-right-color: var(--button--info--hover--border-right-color);
    --button--hover--border-bottom-color: var(--button--info--hover--border-bottom-color);
    --button--hover--border-left-color: var(--button--info--hover--border-left-color);
    --button--hover--background: var(--button--info--hover--background);
    --button--focus--border-top-color: var(--button--info--focus--border-top-color);
    --button--focus--border-right-color: var(--button--info--focus--border-right-color);
    --button--focus--border-bottom-color: var(--button--info--focus--border-bottom-color);
    --button--focus--border-left-color: var(--button--info--focus--border-left-color);
    --button--focus--background: var(--button--info--focus--background);
    --button--active--border-top-color: var(--button--info--active--border-top-color);
    --button--active--border-right-color: var(--button--info--active--border-right-color);
    --button--active--border-bottom-color: var(--button--info--active--border-bottom-color);
    --button--active--border-left-color: var(--button--info--active--border-left-color);
    --button--active--background: var(--button--info--active--background);
}

.button.-block {
    display: flex;
    width: 100%;
}

.button.-block + .button.-block {
    margin: var(--button--block--margin, var(--button--block--margin-top) var(--button--block--margin-right) var(--button--block--margin-bottom) var(--button--block--margin-left));
}

input[type="submit"].button.-block, input[type="reset"].button.-block, input[type="button"].button.-block {
    width: 100%;
}

.button.-link {
    box-shadow: none;
    background-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    cursor: pointer;
    color: var(--button--background);
}

.button.-link:active, .button.-link.-active, .button.-link:hover, .button.-link.-hover, .button.-link:focus, .button.-link.-focus {
    box-shadow: none;
    background-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    text-decoration: underline;
}

.button.-outline {
    background: transparent;
    box-shadow: none;
    border-top-color: var(--button--background);
    border-right-color: var(--button--background);
    border-bottom-color: var(--button--background);
    border-left-color: var(--button--background);
    color: var(--button--background);
}

.button.-outline:hover, .button.-outline.-hover {
    background: var(--button--background);
    box-shadow: none;
    border-top-color: var(--button--border-top-color);
    border-right-color: var(--button--border-right-color);
    border-bottom-color: var(--button--border-bottom-color);
    border-left-color: var(--button--border-left-color);
    color: var(--button--color);
}

.button.-circle, .button.-square {
    width: calc(var(--button--padding-top) + calc(var(--button--font-size) * var(--button--line-height)) + var(--button--padding-bottom));
    height: calc(var(--button--padding-top) + calc(var(--button--font-size) * var(--button--line-height)) + var(--button--padding-bottom));
    padding: 0;
}

.button.-circle {
    border-radius: 50%;
}
