//
// Breadcrumb variants
//
for --variant-name, --variant in --variants['breadcrumb']
    .breadcrumb.-{--variant-name}
        color: -variant-color-by-luminance(--variant['color'], --variant-color-light, --variant-color-dark)
        background-color: --variant['color']