//
// Breadcrumb Variables
//
--breadcrumb-font-size := --font-size

--breadcrumb-border-radius := --border-radius

--breadcrumb-padding-base := --spacers['1/2'] --spacers['1']
--breadcrumb-padding := -size-map(--breadcrumb-padding-base, --sizes, --size-multipliers)

--breadcrumb-margin-bottom := --spacer

--breadcrumb-divider := '/'

--breadcrumb-active-color := --body-color
--breadcrumb-plain-color := --text-muted

//
// Variants
//
--breadcrumb-variants := (brand monochrome)
--breadcrumb-variant-color-light := --variant-color-light
--breadcrumb-variant-color-dark := --variant-color-dark

--variants['breadcrumb'] = -add-variant(--breadcrumb-variants, { color: --color-groups })
