//
// Toggle variants
//
@each $variant-name, $variant in variants('toggle') {
    $_background: map_get($variant, 'background');
    $_indicator-background: map_get($variant, 'indicator-background');
    $_background-active: map_get($variant, 'background-active');
    $_indicator-background-active: map_get($variant, 'indicator-background-active');
    $_background-disabled: map_get($variant, 'background-disabled');
    $_indicator-background-disabled: map_get($variant, 'indicator-background-disabled');
    $_background-active-disabled: map_get($variant, 'background-active-disabled');
    $_indicator-background-active-disabled: map_get($variant, 'indicator-background-active-disabled');

    .toggle.-#{$variant-name} {
        .toggle-input {
            &:checked + .indicator {
                background-color: $_background-active;
            }

            &:focus + .indicator {
                box-shadow: 0 0 1px $_background-active;
            }

            &:disabled + .indicator,
            &[readonly] + .indicator {
                background-color: $_background-disabled;

                &::before {
                    background-color: $_indicator-background-disabled;
                }
            }

            &:disabled:checked + .indicator,
            &[readonly]:checked + .indicator {
                background-color: $_background-active-disabled;

                &::before {
                    background-color: $_indicator-background-active-disabled;
                }
            }
        }

        .indicator {
            background-color: $_background;

            &::before {
                background-color: $_indicator-background;
            }
        }
    }
}
