@import '~@inkline/inkline/css/config/index';
@import '~@inkline/inkline/css/mixins/index';

.api-table-row {
    display: flex;
    flex-direction: column;
    padding: $spacer / 2;
    border-width: 1px;
    border-style: solid;
    border-color: $border-color-light;
    transition-property: border-color;
    transition-duration: $transition-duration;
    transition-timing-function: $transition-easing;

    .tr {
        display: flex;
        flex-direction: row;

        .td {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 25%;
            padding: $spacer / 2;
            max-width: 100%;

            .label {
                font-weight: $font-weight-semibold;
                font-size: font-size('sm');
                display: block;
                margin-bottom: -3px;
                color: $text-muted;
            }

            &.-property,
            &.-event,
            &.-slot {
                font-weight: $font-weight-semibold;
            }
        }

        pre {
            max-width: 100%;
            overflow: auto;
        }
    }

    + .api-table-row {
        border-top: 0;
    }
}

.inkline {
    &.-light {
        .api-table-row {
            border-color: $border-color-light;
        }
    }

    &.-dark {
        .api-table-row {
            border-color: $border-color-dark;
        }
    }
}
