/**
 * Loader
 */
@import '../../css/config/index';
@import '../../css/mixins/index';
@import 'css/mixins';
@import 'css/variables';
@import 'css/variants';
@import 'css/sizes';

.loader {
    display: inline-block;
    position: relative;

    > .loader-content {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    > .loader-item {
        position: absolute;
        border-radius: 50%;
        animation: loader $loader-animation-duration linear infinite;
        width: 8%;
        height: 8%;

        @for $i from 1 through $loader-item-count {
            $rotation: ($i - 1) * (360 / $loader-item-count);
            $half-size: (100% - 8%) / 2;

            &:nth-of-type(#{$i}) {
                animation-delay: ($loader-animation-duration / $loader-item-count) * ($i - 1);
                top: $half-size + sin($rotation * $pi / 180) * $half-size;
                left: $half-size + cos($rotation * $pi / 180) * $half-size;
            }
        }
    }

    &.-auto {
        height: 100%;
        width: 100%;
    }

    @extend .loader.-md;
    @extend .loader.-dark;
}

@keyframes loader {
    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}
