--form-check-radio-icon := replace("#", "%23", "data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#ffffff'/%3E%3C/svg%3E")
--form-check-radio-border-radius := 100%
