@import '../../resources/css/config'

.radio
    color: #606266;
    line-height: 1;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    font-size: 16px;

.radio+.radio
    margin-left: 20px;

.is-disabled
    color: grey;

