<div class="form-input"
     @mouseenter="onMouseEnter"
     @mouseleave="onMouseLeave"
     :class="classes">

    <span class="form-input-prefix" v-if="$slots.prefix">
        <slot name="prefix"></slot>
    </span>

    <span class="form-input-suffix" v-if="$slots.suffix || clearable">
        <i class="form-input-icon -circle" aria-label="Clear" v-show="isClearable" @click="clear">&times;</i>
        <slot name="suffix"></slot>
    </span>

    <input
        v-bind="$attrs"
        v-model="model"
        ref="input"
        :type="type"
        :disabled="isDisabled"
        @focus="onFocus"
        @blur="onBlur"
        @change="onChange">
</div>
