//
// Card variables
//
--card-font-size := --font-size
--card-font-weight := --font-weight['normal']
--card-line-height := --line-height

--card-border-width := --border-width
--card-border-radius := --border-radius

--card-padding-base := --spacers['1']
--card-padding := -size-map(--card-padding-base, --sizes, --size-multipliers)

--card-background-darken := rgba(0, 0, 0, 0.10)

//
// Variants
//
--card-variants := (basic brand monochrome-white neutral state)
--card-variant-color-light := --variant-color-light
--card-variant-color-dark := --variant-color-dark

--variants['card'] = -add-variant(--card-variants, { color: --color-groups })
