//
// Variables
//
--form-check-disabled-color := --text-muted

--form-check-indicator-color := --colors['black']
--form-check-indicator-checked-color := --colors['white']
--form-check-indicator-active-color := --colors['white']
--form-check-indicator-disabled-color := --colors['gray-30']
--form-check-indicator-background-color := --colors['gray-10']
--form-check-indicator-checked-background-color := #3a88bc
--form-check-indicator-active-background-color := #3a88bc
--form-check-indicator-disabled-background-color := --colors['gray-40']
--form-check-indicator-disabled-checked-background-color := --colors['gray-60']

--form-check-indicator-size := 1rem
--form-check-indicator-gutter := --spacers['1/2']
--form-check-indicator-margin-normalize := --form-check-indicator-size / 4

--form-check-indicator-box-shadow := 0 0 0 1px rgba(--colors['black'], 0.2), inset 0 .25rem .25rem rgba(--colors['black'], 0.1)
--form-check-indicator-focused-box-shadow := 0 0 0 1px --body-background, 0 0 0.2rem 0.2rem rgba(#506ee5, 0.33)
--form-check-indicator-checked-box-shadow := none
--form-check-indicator-active-box-shadow := none
--form-check-indicator-background-size := 0.5rem