.dark-theme {
  --body--background-h: var(--color-dark-shade-50-h);
  --body--background-s: var(--color-dark-shade-50-s);
  --body--background-l: var(--color-dark-shade-50-l);
  --body--background-a: var(--color-dark-shade-50-a);
  --body--color-h: var(--text-color-light-h);
  --body--color-s: var(--text-color-light-s);
  --body--color-l: var(--text-color-light-l);
  --body--color-a: var(--text-color-light-a);
}
