/**
 * List Group
 */
@import '../../css/config/index';
@import '../../css/mixins/index';
@import 'css/_variables';
@import 'css/_sizes';

.list-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &.-bordered {
        border-width: $list-group-border-width;
        border-style: $list-group-border-style;
        border-color: $list-group-border-color;
    }

    @extend .list-group.-md;
}
