/**
 * Color variants
 */

.alert {
    @include variant('info') {
/// The background of the alert component, for the info color variant
/// @name background
        ----background: #{color('info')};

        /// The border top color of the alert component, for the info color variant
        /// @name border-top-color
        /// @type color
        ----border-top-color: #{color('info-60')};

        /// The border right color of the alert component, for the info color variant
        /// @name border-right-color
        /// @type color
        ----border-right-color: #{color('info-60')};

        /// The border bottom color of the alert component, for the info color variant
        /// @name border-bottom-color
        /// @type color
        ----border-bottom-color: #{color('info-60')};

        /// The border left color of the alert component, for the info color variant
        /// @name border-left-color
        /// @type color
        ----border-left-color: #{color('info-60')};

        /// The text color of the alert component, for the info color variant
        /// @name color
        /// @type color
        ----color: #{contrast-color($color-info)};

        /// The code background of the alert component, for the info color variant
        /// @name code--background
        /// @type color
        ----code--background: #{color('info-60')};
    }

    @include variant('success') {
        /// The background of the alert component, for the success color variant
        /// @name background
        /// @type color
        ----background: #{color('success')};

        /// The border top color of the alert component, for the success color variant
        /// @name border-top-color
        /// @type color
        ----border-top-color: #{color('success-60')};

        /// The border right color of the alert component, for the success color variant
        /// @name border-right-color
        /// @type color
        ----border-right-color: #{color('success-60')};

        /// The border bottom color of the alert component, for the success color variant
        /// @name border-bottom-color
        /// @type color
        ----border-bottom-color: #{color('success-60')};

        /// The border left color of the alert component, for the success color variant
        /// @name border-left-color
        /// @type color
        ----border-left-color: #{color('success-60')};

        /// The text color of the alert component, for the success color variant
        /// @name color
        /// @type color
        ----color: #{contrast-color($color-success)};

        /// The code background of the alert component, for the success color variant
        /// @name code--background
        /// @type color
        ----code--background: #{color('success-60')};
    }

    @include variant('warning') {
        /// The background of the alert component, for the warning color variant
        /// @name background
        /// @type color
        ----background: #{color('warning')};

        /// The border top color of the alert component, for the warning color variant
        /// @name border-top-color
        /// @type color
        ----border-top-color: #{color('warning-60')};

        /// The border right color of the alert component, for the warning color variant
        /// @name border-right-color
        /// @type color
        ----border-right-color: #{color('warning-60')};

        /// The border bottom color of the alert component, for the warning color variant
        /// @name border-bottom-color
        /// @type color
        ----border-bottom-color: #{color('warning-60')};

        /// The border left color of the alert component, for the warning color variant
        /// @name border-left-color
        /// @type color
        ----border-left-color: #{color('warning-60')};

        /// The text color of the alert component, for the warning color variant
        /// @name color
        /// @type color
        ----color: #{contrast-color($color-warning)};

        /// The code background of the alert component, for the warning color variant
        /// @name code--background
        /// @type color
        ----code--background: #{color('warning-60')};
    }

    @include variant('danger') {
        /// The background of the alert component, for the danger color variant
        /// @name background
        /// @type color
        ----background: #{color('danger')};

        /// The border top color of the alert component, for the danger color variant
        /// @name border-top-color
        /// @type color
        ----border-top-color: #{color('danger-60')};

        /// The border right color of the alert component, for the danger color variant
        /// @name border-right-color
        /// @type color
        ----border-right-color: #{color('danger-60')};

        /// The border bottom color of the alert component, for the danger color variant
        /// @name border-bottom-color
        /// @type color
        ----border-bottom-color: #{color('danger-60')};

        /// The border left color of the alert component, for the danger color variant
        /// @name border-left-color
        /// @type color
        ----border-left-color: #{color('danger-60')};

        /// The text color of the alert component, for the danger color variant
        /// @name color
        /// @type color
        ----color: #{contrast-color($color-danger)};

        /// The code background of the alert component, for the danger color variant
        /// @name code--background
        /// @type color
        ----code--background: #{color('danger-60')};
    }
}
