@use '../../../css/mixins/components';
@use '../../../css/functions/properties';

/**
 * Alert
 */

.alert {
    @include components.background('alert');
    @include components.border-style('alert');
    @include components.border-width('alert');
    @include components.border-color('alert');
    @include components.border-radius('alert');
    @include components.box-shadow('alert');
    @include components.color('alert');
    @include components.font-size('alert');
    @include components.font-weight('alert');
    @include components.transition('alert');

    position: relative;
    display: flex;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    align-items: center;

    a {
        @include components.color('alert', 'link');
        @include components.font-weight('alert', 'link');
        @include components.transition('alert', 'link');

        &:hover,
        &:focus {
            @include components.color('alert', 'link' 'hover');
        }
    }

    code {
        @include components.background('alert', 'code');
        @include components.color('alert', 'code');
    }

    > .content {
        @include components.padding('alert');

        > .title {
            @include components.font-size('alert', 'title');
            @include components.font-weight('alert', 'title');

            > * {
                margin-top: 0;
            }
        }
    }

    > .icon {
        @include components.margin('alert', 'icon');

        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    > .dismiss {
        @include components.margin('alert', 'dismiss');

        flex: 0 0 auto;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }

    &,
    > .content {
        flex: 0 1 100%;

        > hr {
            margin-right: 0;
            margin-left: 0;
        }
    }
}
