@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../Icon/css/_variables';
@import 'css/_variables';
@import 'css/_sizes';

/**
 * Checkbox
 */
.form-check.-custom.-checkbox {
    input {
        &:checked ~ .form-input-label::after {
            content: $icon-check;
            color: white;
        }

        &:indeterminate ~ .form-input-label::after {
            content: $icon-minus;
            color: white;
        }
    }

    @extend .form-check.-md.-custom.-checkbox;
}
