@import '../../resources/css/config'
@import '_variables'


.layout-footer
    flex: 0 0 auto
    background: --layout-footer-background
    padding: --layout-footer-padding
    color: --text-color
    font-size: --font-size['md']
