/**
 * Color variants
 */

.breadcrumb {
    &.-light {
        --breadcrumb--color: var(--color-dark);
        --breadcrumb--link--color: var(--color-primary);
        --breadcrumb--active--color: var(--color-gray-500);
    }

    &.-dark {
        --breadcrumb--color: var(--color-light);
        --breadcrumb--link--color: var(--color-primary);
        --breadcrumb--active--color: var(--color-gray-500);
    }
}
