/**
 * Size variants
 */

.breadcrumb {
    &.-sm {
        --breadcrumb--font-size: var(
            --breadcrumb--sm--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
        --breadcrumb--padding-left: var(
            --breadcrumb--sm--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-sm))
        );
        --breadcrumb--padding-right: var(
            --breadcrumb--sm--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-sm))
        );
    }

    &.-md {
        --breadcrumb--font-size: var(
            --breadcrumb--md--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
        --breadcrumb--padding-left: var(
            --breadcrumb--md--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-md))
        );
        --breadcrumb--padding-right: var(
            --breadcrumb--md--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-md))
        );
    }

    &.-lg {
        --breadcrumb--font-size: var(
            --breadcrumb--lg--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
        --breadcrumb--padding-left: var(
            --breadcrumb--lg--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-lg))
        );
        --breadcrumb--padding-right: var(
            --breadcrumb--lg--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-lg))
        );
    }
}
