/**
 * Variables
 */

.breadcrumb {
    /// The bottom margin of the breadcrumb component
    /// @name margin-bottom
    /// 
    ----margin-bottom: #{spacing()};

    /// The font size of the breadcrumb component
    /// @name font-size
    /// @type size
    ///
    ----font-size: #{font-size()};

    /// The padding right of the breadcrumb component
    /// @name padding-right
    /// @type size
    ///
    ----padding-right: #{var(--padding-right)};

    /// The padding left of the breadcrumb component
    /// @name padding-left
    /// @type size
    ///
    ----padding-left: #{var(--padding-left)};

    /// The text color of the breadcrumb component
    /// @name color
    /// @type color
    ///
    ----color: #{color('primary')};

    /// The text default color of the breadcrumb component
    /// @name color--default
    /// @type color
    ///
    ----color--default: #{color('gray-90')};

    /// The text active color of the breadcrumb component
    /// @name color--active
    /// @type color
    ///
    ----color--active: #{color('gray-70')};

    /**
     * Size variants
     */

    /// Variables for the sm color variant
    /// @name sm
    /// @type group
    @include variant('sm') {
        /// The font size of the breadcrumb component, for the sm size variant
        /// @name font-size
        /// @type size
        ///
        ----font-size: calc(#{font-size()} * #{size-multiplier('sm')});

        /// The padding right of the breadcrumb component, for the sm size variant
        /// @name padding-right
        /// @type size
        ///
        ----padding-right: calc(#{var(--padding-right)} * #{size-multiplier('sm')});

        /// The padding left of the breadcrumb component, for the sm size variant
        /// @name padding-left
        /// @type size
        ///
        ----padding-left: calc(#{var(--padding-left)} * #{size-multiplier('sm')});
    }

    /// Variables for the md color variant
    /// @name md
    /// @type group
    @include variant('md') {
        /// The font size of the breadcrumb component, for the md size variant
        /// @name font-size
        /// @type size
        ///
        ----font-size: calc(#{font-size()} * #{size-multiplier('md')});

        /// The padding right of the breadcrumb component, for the md size variant
        /// @name padding-right
        /// @type size
        ///
        ----padding-right: calc(#{var(--padding-right)} * #{size-multiplier('md')});

        /// The padding left of the breadcrumb component, for the md size variant
        /// @name padding-left
        /// @type size
        ///
        ----padding-left: calc(#{var(--padding-left)} * #{size-multiplier('md')});
    }

    /// Variables for the lg color variant
    /// @name lg
    /// @type group
    @include variant('lg') {
        /// The font size of the breadcrumb component, for the lg size variant
        /// @name font-size
        /// @type size
        ///
        ----font-size: calc(#{font-size()} * #{size-multiplier('lg')});

        /// The padding right of the breadcrumb component, for the lg size variant
        /// @name padding-right
        /// @type size
        ///
        ----padding-right: calc(#{var(--padding-right)} * #{size-multiplier('lg')});

        /// The padding left of the breadcrumb component, for the lg size variant
        /// @name padding-left
        /// @type size
        ///
        ----padding-left: calc(#{var(--padding-left)} * #{size-multiplier('lg')});
    }

    /**
     * Color variants
     */

    /// Variables for the light color variant
    /// @name light
    /// @type group
    @include variant('light') {
        /// The text color of the breadcrumb component, for the light color variant
        /// @name color
        /// @type color
        ///
        ----color: #{color('primary')};

        /// The text default color of the breadcrumb component, for the light color variant
        /// @name color--default
        /// @type color
        ///
        ----color--default: #{color('gray-90')};

        /// The text active color of the breadcrumb component, for the light color variant
        /// @name color--active
        /// @type color
        ///
        ----color--active: #{color('gray-70')};
    }

    /// Variables for the dark color variant
    /// @name dark
    /// @type group
    @include variant('dark') {
        /// The text color of the breadcrumb component, for the dark color variant
        /// @name color
        /// @type color
        ///
        ----color: #{color('primary')};

        /// The text default color of the breadcrumb component, for the dark color variant
        /// @name color--default
        /// @type color
        ///
        ----color--default: #{color('white')};

        /// The text active color of the breadcrumb component, for the dark color variant
        /// @name color--active
        /// @type color
        ///
        ----color--active: #{color('gray-40')};
    }}
