.button-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    box-sizing: border-box;
}

.button-group .button, .button-group .button-group {
    box-shadow: none;
}

.button-group.-horizontal > .button:not(:last-child), .button-group.-horizontal > .button-group:has(+ .button-group) .button:last-child, .button-group.-horizontal > .button-group:has(+ .button) .button:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}

.button-group.-horizontal > .button:not(:first-child), .button-group.-horizontal > .button-group + .button-group .button:first-child, .button-group.-horizontal > .button + .button-group .button:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button-group.-vertical > .button:not(:last-child), .button-group.-vertical > .button-group:has(+ .button-group) .button:last-child, .button-group.-vertical > .button-group:has(+ .button) .button:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-width: 0;
}

.button-group.-vertical > .button:not(:first-child), .button-group.-vertical > .button-group + .button-group .button:first-child, .button-group.-vertical > .button + .button-group .button:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button-group.-block {
    display: flex;
    flex-basis: 100%;
}

.button-group.-block > .button {
    flex-basis: 100%;
}

.button-group.-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.button-group.-vertical .button, .button-group.-vertical .button-group, .button-group.-vertical [class$="-wrapper"] {
    width: 100%;
}

.button-group {
    box-shadow: var(--button-group--box-shadow, var(--button-group--box-shadow-offset-x) var(--button-group--box-shadow-offset-y) var(--button-group--box-shadow-blur-radius) var(--button-group--box-shadow-spread-radius) var(--button-group--box-shadow-color));
}
