:root {
    --box-shadow-offset-x-xs: 0;
    --box-shadow-offset-y-xs: 0.125rem;
    --box-shadow-blur-radius-xs: 0.25rem;
    --box-shadow-spread-radius-xs: -0.125rem;
    --box-shadow-color-xs: transparent;
    --box-shadow-xs: var(--box-shadow-offset-x-xs) var(--box-shadow-offset-y-xs) var(--box-shadow-blur-radius-xs) var(--box-shadow-spread-radius-xs) var(--box-shadow-color-xs);
    --box-shadow-offset-x-sm: 0;
    --box-shadow-offset-y-sm: 0.25rem;
    --box-shadow-blur-radius-sm: 0.5rem;
    --box-shadow-spread-radius-sm: -0.25rem;
    --box-shadow-color-sm: rgba(0, 0, 0, 0.075);
    --box-shadow-sm: var(--box-shadow-offset-x-sm) var(--box-shadow-offset-y-sm) var(--box-shadow-blur-radius-sm) var(--box-shadow-spread-radius-sm) var(--box-shadow-color-sm);
    --box-shadow-offset-x: 0;
    --box-shadow-offset-y: 0.5rem;
    --box-shadow-blur-radius: 1rem;
    --box-shadow-spread-radius: -0.75rem;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --box-shadow: var(--box-shadow-offset-x) var(--box-shadow-offset-y) var(--box-shadow-blur-radius) var(--box-shadow-spread-radius) var(--box-shadow-color);
    --box-shadow-offset-x-lg: 0;
    --box-shadow-offset-y-lg: 1rem;
    --box-shadow-blur-radius-lg: 1.5rem;
    --box-shadow-spread-radius-lg: -1.5rem;
    --box-shadow-color-lg: rgba(0, 0, 0, 0.2);
    --box-shadow-lg: var(--box-shadow-offset-x-lg) var(--box-shadow-offset-y-lg) var(--box-shadow-blur-radius-lg) var(--box-shadow-spread-radius-lg) var(--box-shadow-color-lg);
    --box-shadow-offset-x-xl: 0;
    --box-shadow-offset-y-xl: 1.5rem;
    --box-shadow-blur-radius-xl: 2rem;
    --box-shadow-spread-radius-xl: -2rem;
    --box-shadow-color-xl: rgba(0, 0, 0, 0.25);
    --box-shadow-xl: var(--box-shadow-offset-x-xl) var(--box-shadow-offset-y-xl) var(--box-shadow-blur-radius-xl) var(--box-shadow-spread-radius-xl) var(--box-shadow-color-xl);
    --button-group--box-shadow-offset-x: var(--box-shadow-offset-x);
    --button-group--box-shadow-offset-y: var(--box-shadow-offset-y);
    --button-group--box-shadow-blur-radius: var(--box-shadow-blur-radius);
    --button-group--box-shadow-spread-radius: var(--box-shadow-spread-radius);
    --button-group--box-shadow-color: var(--box-shadow-color);
}
