:root {
    /**
     * Variables
     */

    --table-margin-bottom: #{$table-margin-bottom};
    --table-cell-padding: #{$table-cell-padding};
    --table-cell-padding-sm: #{$table-cell-padding-sm};
    --table-border-width: #{$table-border-width};

    /**
     * Colors
     */

    @each $table-color-variant-key, $table-color-variant-value in $table-color-variants {
        @each $table-color-variant-field-key, $table-color-variant-field-value in $table-color-variant-value {
            --table-color-variant-#{$table-color-variant-key}-#{$table-color-variant-field-key}: #{$table-color-variant-field-value};
        }
    }
}
