:root {
    /**
     * Variables
     */

    --radio-font-size: #{$radio-font-size};
    --radio-margin-right: #{$radio-margin-right};
    --radio-indicator-border-width: #{$radio-indicator-border-width};
    --radio-indicator-size: #{$radio-indicator-size};
    --radio-indicator-icon-size: #{$radio-indicator-icon-size};
    --radio-indicator-margin-right: #{$radio-indicator-margin-right};

    /**
     * Sizes
     */

    @each $radio-size-variant-key, $radio-size-variant-value in $radio-size-variants {
        @each $radio-size-variant-field-key, $radio-size-variant-field-value in $radio-size-variant-value {
            --radio-size-variant-#{$radio-size-variant-key}-#{$radio-size-variant-field-key}: #{$radio-size-variant-field-value};
        }
    }

    /**
     * Colors
     */

    @each $radio-color-variant-key, $radio-color-variant-value in $radio-color-variants {
        @each $radio-color-variant-field-key, $radio-color-variant-field-value in $radio-color-variant-value {
            --radio-color-variant-#{$radio-color-variant-key}-#{$radio-color-variant-field-key}: #{$radio-color-variant-field-value};
        }
    }
}
