node_modules
dist
lib
tmp
lib-cjs
lib-esm
storybook-static
package
coverage
.idea
.DS_Store
dist-ssr
*.local

# CI
/inkline-vite
/inkline-nuxt

# E2E
/test-results/
/playwright-report/
/playwright/.cache/
