# Node Modules
node_modules/

# Build Files
lib/
dist/
storybook-static/
.turbo/
vite.config.ts.timestamp*

# Test Files
test-results/
coverage/

# E2E Generated Packages
packages/e2e/nuxt
packages/e2e/vite

# OS Files
.DS_Store

# IDE
.idea/
.vscode/
