<i-navbar>
    <i-navbar-brand :to="{ path: '/docs/components/navbar' }"> Navbar </i-navbar-brand>
    <i-navbar-collapsible>
        <i-nav>
            <i-nav-item :to="{ path: '/docs/components/navbar' }" active-class="-active">
                Home
            </i-nav-item>
            <i-dropdown>
                <i-nav-item stop-propagation>Dropdown</i-nav-item>
                <template #body>
                    <i-dropdown-item>Action</i-dropdown-item>
                    <i-dropdown-item>Another action</i-dropdown-item>
                    <i-dropdown-item disabled>Disabled action</i-dropdown-item>
                    <i-dropdown-divider />
                    <i-dropdown-item>Separated item</i-dropdown-item>
                </template>
            </i-dropdown>
            <i-nav-item :to="{ path: '/docs/components/navbar' }"> Contact </i-nav-item>
        </i-nav>
    </i-navbar-collapsible>
</i-navbar>
