/**
 * Color variants
 */

.tabs {
    ////
    /// Variables for the light color variant
    /// @name light
    /// @type variant
    ////
    @include variant('light') {
        ////
        /// The background of the tabs component, for the light color variant
        /// @name background
        ////
        ----background: #{color('white')};
        ////
        /// The border top color of the tabs component, for the light color variant
        /// @name border-top-color
        ////
        ----border-top-color: #{color('light')};
        ////
        /// The border right color of the tabs component, for the light color variant
        /// @name border-right-color
        ////
        ----border-right-color: #{color('light')};
        ////
        /// The border bottom color of the tabs component, for the light color variant
        /// @name border-bottom-color
        ////
        ----border-bottom-color: #{color('light')};
        ////
        /// The border left color of the tabs component, for the light color variant
        /// @name border-left-color
        ////
        ----border-left-color: #{color('light')};
        ////
        /// The color of the tabs component item, for the light color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-white)};
        ////
        /// The background of the tabs component header, for the light color variant
        /// @name header--background
        ////
        ----header--background: #{color('white')};
        ////
        /// The background of the tabs component header when active, for the light color variant
        /// @name header--background--active
        ////
        ----header--background--active: #{color('white')};
        ////
        /// The background of the tabs component header when hovered or focused, for the light color variant
        /// @name header--background--hover
        ////
        ----header--background--hover: #{color('gray-05')};
        ////
        /// The border color of the tabs component header, for the light color variant
        /// @name header--border-color
        ////
        ----header--border-color: #{transparent};
    }
    ////
    /// Variables for the dark color variant
    /// @name dark
    /// @type variant
    ////
    @include variant('dark') {
        ////
        /// The background of the tabs component, for the dark color variant
        /// @name background
        ////
        ----background: #{color('dark')};
        ////
        /// The border top color of the tabs component, for the dark color variant
        /// @name border-top-color
        ////
        ----border-top-color: #{color('dark-60')};
        ////
        /// The border right color of the tabs component, for the dark color variant
        /// @name border-right-color
        ////
        ----border-right-color: #{color('dark-60')};
        ////
        /// The border bottom color of the tabs component, for the dark color variant
        /// @name border-bottom-color
        ////
        ----border-bottom-color: #{color('dark-60')};
        ////
        /// The border left color of the tabs component, for the dark color variant
        /// @name border-left-color
        ////
        ----border-left-color: #{color('dark-60')};
        ////
        /// The color of the tabs component item, for the dark color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-dark)};
        ////
        /// The background of the tabs component header, for the dark color variant
        /// @name header--background
        ////
        ----header--background: #{color('dark')};
        ////
        /// The background of the tabs component header when active, for the dark color variant
        /// @name header--background--active
        ////
        ----header--background--active: #{color('dark')};
        ////
        /// The background of the tabs component header when hovered or focused, for the dark color variant
        /// @name header--background--hover
        ////
        ----header--background--hover: #{color('dark-45')};
        ////
        /// The border color of the tabs component header, for the dark color variant
        /// @name header--border-color
        ////
        ----header--border-color: #{transparent};
    }
}
