/**
 * Size variants
 */

.tabs {
                        &.-sm {
                                        --tabs--border-top-left-radius: var(--tabs--sm--border-top-left-radius, var(--border-top-left-radius-sm));
                                        --tabs--border-top-right-radius: var(--tabs--sm--border-top-right-radius, var(--border-top-right-radius-sm));
                                        --tabs--border-bottom-right-radius: var(--tabs--sm--border-bottom-right-radius, var(--border-bottom-right-radius-sm));
                                        --tabs--border-bottom-left-radius: var(--tabs--sm--border-bottom-left-radius, var(--border-bottom-left-radius-sm));
                                        --tabs--font-size: var(--tabs--sm--font-size, var(--font-size-sm));
                                        --tabs--padding-top: var(--tabs--sm--padding-top, var(--padding-top-sm));
                                        --tabs--padding-right: var(--tabs--sm--padding-right, var(--padding-right-sm));
                                        --tabs--padding-bottom: var(--tabs--sm--padding-bottom, var(--padding-bottom-sm));
                                        --tabs--padding-left: var(--tabs--sm--padding-left, var(--padding-left-sm));
                                        --tabs--header--padding-bottom: var(--tabs--sm--header--padding-bottom, var(----padding-bottom-sm));
                                        --tabs--header--padding-left: var(--tabs--sm--header--padding-left, var(----padding-left-sm));
    }
                        &.-md {
                                        --tabs--border-top-left-radius: var(--tabs--md--border-top-left-radius, var(--border-top-left-radius-md));
                                        --tabs--border-top-right-radius: var(--tabs--md--border-top-right-radius, var(--border-top-right-radius-md));
                                        --tabs--border-bottom-right-radius: var(--tabs--md--border-bottom-right-radius, var(--border-bottom-right-radius-md));
                                        --tabs--border-bottom-left-radius: var(--tabs--md--border-bottom-left-radius, var(--border-bottom-left-radius-md));
                                        --tabs--font-size: var(--tabs--md--font-size, var(--font-size-md));
                                        --tabs--padding-top: var(--tabs--md--padding-top, var(--padding-top-md));
                                        --tabs--padding-right: var(--tabs--md--padding-right, var(--padding-right-md));
                                        --tabs--padding-bottom: var(--tabs--md--padding-bottom, var(--padding-bottom-md));
                                        --tabs--padding-left: var(--tabs--md--padding-left, var(--padding-left-md));
                                        --tabs--header--padding-bottom: var(--tabs--md--header--padding-bottom, var(----padding-bottom-md));
                                        --tabs--header--padding-left: var(--tabs--md--header--padding-left, var(----padding-left-md));
    }
                        &.-lg {
                                        --tabs--border-top-left-radius: var(--tabs--lg--border-top-left-radius, var(--border-top-left-radius-lg));
                                        --tabs--border-top-right-radius: var(--tabs--lg--border-top-right-radius, var(--border-top-right-radius-lg));
                                        --tabs--border-bottom-right-radius: var(--tabs--lg--border-bottom-right-radius, var(--border-bottom-right-radius-lg));
                                        --tabs--border-bottom-left-radius: var(--tabs--lg--border-bottom-left-radius, var(--border-bottom-left-radius-lg));
                                        --tabs--font-size: var(--tabs--lg--font-size, var(--font-size-lg));
                                        --tabs--padding-top: var(--tabs--lg--padding-top, var(--padding-top-lg));
                                        --tabs--padding-right: var(--tabs--lg--padding-right, var(--padding-right-lg));
                                        --tabs--padding-bottom: var(--tabs--lg--padding-bottom, var(--padding-bottom-lg));
                                        --tabs--padding-left: var(--tabs--lg--padding-left, var(--padding-left-lg));
                                        --tabs--header--padding-bottom: var(--tabs--lg--header--padding-bottom, var(----padding-bottom-lg));
                                        --tabs--header--padding-left: var(--tabs--lg--header--padding-left, var(----padding-left-lg));
    }
}
