@import '~@inkline/inkline/src/css/config/index';
@import '~@inkline/inkline/src/css/mixins/index';
@import '~@inkline/inkline/src/components/IButton/css/variables';

#index-page {
    background-image: url('~static/images/pages/index-header-large.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 1560px 675px;

    @include breakpoint(md) {
        background-size: (1560px * 0.9) (675px * 0.9);
    }

    @include breakpoint(lg) {
        background-size: (1560px * 0.85) (675px * 0.85);
    }

    @include breakpoint-down(sm) {
        background-image: url('~static/images/pages/index-header-small.svg');
        background-size: 768px 460px;
    }

    @include breakpoint(xs) {
        background-size: (768px * 0.8) (460px* 0.8);
    }

    #header {
        background-color: transparent;

        @include breakpoint-down(sm) {
            text-align: center;
        }

        @include breakpoint(xs) {
            padding-top: 22rem;
            padding-bottom: 2rem;
        }

        @include breakpoint(sm) {
            padding-top: 27rem;
            padding-bottom: 4rem;
        }

        @include breakpoint(md) {
            padding-top: 16rem;
            padding-bottom: 6rem;
        }

        @include breakpoint-up(lg) {
            padding-top: 12rem;
            padding-bottom: 10rem;
        }

        .header-title {
            @include breakpoint(xs) {
                font-size: $d5-font-size;
            }

            @include breakpoint(sm) {
                font-size: $d4-font-size;
            }

            @include breakpoint(md) {
                font-size: $d3-font-size;
            }

            @include breakpoint(lg) {
                font-size: $d2-font-size;
            }

            @include breakpoint(xl) {
                font-size: $d1-font-size;
            }
        }

        .header-subtitle {
            color: $text-muted;
            margin-top: 1rem;
            margin-bottom: 0;
            line-height: 1.5;

            @include breakpoint-up(lg) {
                font-size: font-size('lg');
            }

            @include breakpoint-down(md) {
                font-size: font-size('md');
            }

            .button {
                @include breakpoint-down(md) {
                    font-size: font-size('md');
                    border-radius: border-radius('md');
                    padding: ($spacer / 2) $spacer;
                }
            }
        }

        .header-buttons {
            display: flex;
            align-items: center;

            @include breakpoint-up(md) {
                .button {
                    margin-right: $spacer;
                }
            }

            @include breakpoint-down(sm) {
                flex-direction: column;

                .button {
                    margin-bottom: $spacer;
                }
            }

            .github-star-button {
                padding-top: 5px;
            }
        }
    }
}

.feature-box {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $spacer * 1.5;
    }

    p {
        color: $text-muted;
    }
}

.feature-box-link {
    .feature-box {
        transition: box-shadow $transition-duration $transition-easing, background-color $transition-duration $transition-easing;
    }

    &:hover {
        text-decoration: none;

        .feature-box {
            box-shadow: 0 0 ($spacer) rgba(0, 0, 0, 0.15);
        }
    }
}

#features {
    margin-bottom: -1px;
    padding: ($spacer * 3) 0 ($spacer * 6);
    background-image: url('../static/images/pages/index-features.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;

    @include breakpoint-up(lg) {
        .column {
            &:nth-child(4),
            &:nth-child(5) {
                margin-top: 2rem;
            }
        }
    }

    .feature-box {
        text-align: center;
        padding: $spacer 0;

        img {
            height: 75px;
            width: auto;
        }
    }
}

.inkline.-dark #features {
    background-image: url('../static/images/pages/index-features-dark.svg');
}

#frontend-features {
    padding: ($spacer * 4) 0 ($spacer * 8);
    background-color: colors('gray-20');

    .feature-box {
        &:hover {
            background-color: $color-primary;
            color: $color-white;

            .body {
                border-color: $color-primary;
            }

            p {
                color: rgba($color-white, 0.75);
            }
        }

        p {
            margin-bottom: $spacer * 1.5;
        }

        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;

            img {
                width: 33%;
                height: 33%;
            }

            .body {
                border: 0;
            }
        }
    }

    .column {
        @include breakpoint-down(md) {
            .feature-box {
                margin-bottom: $spacer;
            }

            &:last-child .feature-box {
                margin-bottom: 0;
            }
        }
    }
}

.inkline.-dark #frontend-features {
    background-color: colors('gray-70');
}

#sponsors {
    padding: ($spacer * 6) 0 ($spacer * 8);
    background-color: $color-white;
    text-align: center;
    z-index: 1;
    margin-top: -2px;
    background-repeat: no-repeat;
    background-size: 110% auto;
    background-position: center -1px;
    background-image: url('../static/images/pages/index-sponsors.svg');

    .sponsors-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .sponsor {
            margin: 0 $spacer / 4 $spacer;
        }
    }

    #patreon-button {
        background-color: #f86754;
        color: white;

        &:hover,
        &:focus {
            background-color: darken(#f86754, $button-darken-percentage-hover);
        }

        &:active {
            background-color: darken(#f86754, $button-darken-percentage-active);
        }

        img {
            width: 16px;
            margin-right: $spacer;
        }
    }
}

.inkline.-dark #sponsors {
    background-color: $color-gray-90;
    background-image: url('../static/images/pages/index-sponsors-dark.svg');
}

#footer {
    background-color: colors('gray-80');
    color: colors('gray-20');
    padding: ($spacer * 6) 0 ($spacer * 6);
    text-align: center;
    position: relative;

    a {
        color: $text-muted;
    }

    img {
        margin-bottom: $spacer;
    }

    .list {
        margin-top: $spacer;
    }

    .footer-icon svg {
        color: colors('gray-20');
        transition: color 0.3s ease;

        &:hover {
            color: colors('white');
        }
    }

    #footer-license {
        a {
            color: colors('white');
        }
    }

    #footer-copyright,
    #footer-policies {
        font-size: font-size('sm');
        color: $text-muted;
    }
}

$osawards-size: 125px;

#osawards {
    margin-bottom: 2 * $spacer;
    flex: 100%;

    #osawards-container {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
            width: $osawards-size;
            height: $osawards-size;
            opacity: 0.33;
            transition: opacity $transition-duration * 2 $transition-easing;
        }

        h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            font-weight: $font-weight-black;
            font-size: 25px;
            color: $color-gray-50;
            background: $color-gray-80;
            z-index: 1;
            white-space: nowrap;
            transition: color $transition-duration * 2 $transition-easing;
        }

        &:hover {
            img {
                opacity: 0.66;
            }

            h4 {
                color: $color-white;
            }
        }
    }
}
