//
// Button variants
// Add the required color variants to all button variations
//
@each $variant-name, $variant in $list-group-variants {
    .list-group.-#{$variant-name} {
        background-color: map-get($variant, 'background');
        color: map-get($variant, 'color');

        &.-bordered {
            border-color: map-get($variant, 'border-color');
        }

        > .item {
            border-bottom-color: map-get($variant, 'border-color');
        }
    }
}
