/**
 * Color variants
 */

.progress-bar {
    ////
    /// Variables for the primary color variant
    /// @name primary
    /// @type variant
    ////
    &.-primary {
        ////
        /// The color of the progress-bar component, for the primary color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-primary);
        ////
        /// The background of the progress-bar component, for the primary color variant
        /// @name background
        ////
        ----background: var(--color-primary);
    }
    ////
    /// Variables for the secondary color variant
    /// @name secondary
    /// @type variant
    ////
    &.-secondary {
        ////
        /// The color of the progress-bar component, for the secondary color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-secondary);
        ////
        /// The background of the progress-bar component, for the secondary color variant
        /// @name background
        ////
        ----background: var(--color-secondary);
    }
    ////
    /// Variables for the light color variant
    /// @name light
    /// @type variant
    ////
    &.-light {
        ////
        /// The color of the progress-bar component, for the light color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-light);
        ////
        /// The background of the progress-bar component, for the light color variant
        /// @name background
        ////
        ----background: var(--color-white);
    }
    ////
    /// Variables for the dark color variant
    /// @name dark
    /// @type variant
    ////
    &.-dark {
        ////
        /// The color of the progress-bar component, for the dark color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-dark);
        ////
        /// The background of the progress-bar component, for the dark color variant
        /// @name background
        ////
        ----background: var(--color-dark);
    }
    ////
    /// Variables for the info color variant
    /// @name info
    /// @type variant
    ////
    &.-info {
        ////
        /// The color of the progress-bar component, for the info color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-info);
        ////
        /// The background of the progress-bar component, for the info color variant
        /// @name background
        ////
        ----background: var(--color-info);
    }
    ////
    /// Variables for the success color variant
    /// @name success
    /// @type variant
    ////
    &.-success {
        ////
        /// The color of the progress-bar component, for the success color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-success);
        ////
        /// The background of the progress-bar component, for the success color variant
        /// @name background
        ////
        ----background: var(--color-success);
    }
    ////
    /// Variables for the warning color variant
    /// @name warning
    /// @type variant
    ////
    &.-warning {
        ////
        /// The color of the progress-bar component, for the warning color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-warning);
        ////
        /// The background of the progress-bar component, for the warning color variant
        /// @name background
        ////
        ----background: var(--color-warning);
    }
    ////
    /// Variables for the danger color variant
    /// @name danger
    /// @type variant
    ////
    &.-danger {
        ////
        /// The color of the progress-bar component, for the danger color variant
        /// @name color
        ////
        ----color: var(--contrast-text--color-danger);
        ////
        /// The background of the progress-bar component, for the danger color variant
        /// @name background
        ////
        ----background: var(--color-danger);
    }
}
