@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/colors';
@import 'css/sizes';

/**
 * Card
 */
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;

    > hr {
        margin-right: 0;
        margin-left: 0;
    }

    > .card-header {
        margin-bottom: 0;
        border-width: $card-border-width;
        border-style: solid;
        border-bottom-width: 0;

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > .h1,
        > .h2,
        > .h3,
        > .h4,
        > .h5,
        > .h6,
        > .p {
            margin-bottom: 0;
            margin-top: 0;
        }

        + img,
        + .card-body {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        + .list-group {
            .list-group-item:first-child {
                border-top: 0;
            }
        }
    }

    > .card-body {

        // Enable `flex-grow: 1` for decks and groups so that card blocks take up
        // as much space as possible, ensuring footers are aligned to the bottom.
        flex: 1 1 auto;
        border-width: $card-border-width;
        border-style: solid;
        transition-property: border-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-easing);

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

        > .card-title {
            margin-top: 0;
        }

        > .card-subtitle {
            margin-bottom: 0;
        }

        > .card-link {
            text-decoration: none;
        }

        > *:first-child {
            margin-top: 0;
        }

        > *:last-child {
            margin-bottom: 0;
        }
    }

    > .card-footer {
        border-width: $card-border-width;
        border-style: solid;
        border-top-width: 0;
    }

    img {
        width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
    }

    &,
    > .card-header,
    > .card-footer {
        transition-property: background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-easing);
    }

    @include card-size-variant('md');
    @each $size-variant-key, $card-size-variant-value in $card-size-variants {
        &.-#{$size-variant-key} {
            @include card-size-variant($size-variant-key);
        }
    }

    @include card-color-variant('light');
    @each $color-variant-key, $color-variant-value in $card-color-variants {
        &.-#{$color-variant-key} {
            @include card-color-variant($color-variant-key);
        }
    }
}
