//
// Breadcrumb sizes
// Add the required sizes to all breadcrumb variations
//
for size in (sm md lg)
    .breadcrumb.-{size}
        border-radius: --breadcrumb-border-radius[size]
        font-size: --breadcrumb-font-size[size]
        padding: --breadcrumb-padding[size]
