//
// Variables
//
--breadcrumb-item-padding-sm := --spacers['1'] * --size-percentages['sm']
--breadcrumb-item-padding-md := --spacers['1'] * --size-percentages['md']
--breadcrumb-item-padding-lg := --spacers['1'] * --size-percentages['lg']
--breadcrumb-item-padding := {
    'sm': --breadcrumb-item-padding-sm
    'md': --breadcrumb-item-padding-md
    'lg': --breadcrumb-item-padding-lg
}