//
// Breadcrumb themes
// Add the required color variants to all breadcrumb variations
//
for --variant-name, --variant in --variants['breadcrumb']
    .breadcrumb.-{--variant-name}
        > .breadcrumb-item
            + .breadcrumb-item
                &::before
                    color: -text-color-by-luminance(--variant['color'], transparentify(--variant-color-light, --variant['color'], 0.5), transparentify(--variant-color-dark, --variant['color'], 0.5))

            &.-active
                color: -text-color-by-luminance(--variant['color'], transparentify(--variant-color-light, --variant['color'], 0.66), transparentify(--variant-color-dark, --variant['color'], 0.66))