/**
 * Lists
 */

@use '../mixins/components';

ol {
    @include components.padding('ol');
    @include components.margin('ol');

    li {
        @include components.margin('ol', 'li');
    }
}

ul {
    @include components.padding('ul');
    @include components.margin('ul');

    li {
        @include components.margin('ul', 'li');
    }
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dl {
    @include components.margin('dl');

    dt {
        @include components.font-weight('dl', 'dt');
    }

    dd {
        @include components.margin('dl', 'dd');
    }
}

.list {
    @include components.padding('list');
    @include components.margin('list');
}

.list,
._list\:unstyled,
._list\:inline {
    > .item,
    > li {
        @include components.margin('list', 'item');
    }
}

.list.-unstyled,
._list\:unstyled {
    padding-left: 0;
    list-style: none;
}

.list.-inline,
._list\:inline {
    padding-left: 0;
    list-style: none;

    > .item,
    > li {
        display: inline-flex;
        margin-bottom: 0;

        &:not(:last-child) {
            @include components.margin('list', 'inline' 'item');
        }
    }
}
