//
// Select variables
//

//
// Variants
//
$select-dropdown-variants: ('monochrome') !default;
$select-dropdown-variant-color-light: $variant-color-light !default;
$select-dropdown-variant-color-dark: $variant-color-dark !default;
$select-dropdown-color-groups: (
  'monochrome': (
    'light': $color-white,
    'dark': $color-gray-80
  )
) !default;

$variants: map_merge($variants, ('select-dropdown': -add-variant($select-dropdown-variants, ('color': $select-dropdown-color-groups))));
