//
// Popover variants
//
for --variant-name, --variant in --variants['select']
    .select.-{--variant-name}
        color: -variant-color-by-luminance(--variant['color'], --select-variant-color-light, --select-variant-color-dark)
        background-color: --variant['color']
        border-color: darken(--variant['color'], 10%)

        -popup-arrow-variant({
            background: --variant['color'],
            border-color: darken(--variant['color'], 10%)
        })
