////
/// Variables
////

/// The width of the hamburger-menu component bars
/// @name bar-width
$hamburger-menu-bar-width: 30px !default;

/// The height of the hamburger-menu component bars
/// @name bar-height
$hamburger-menu-bar-height: 3px !default;

/// The border radius of the hamburger-menu component bars
/// @name bar-border-radius
$hamburger-menu-bar-border-radius: 2px !default;

/// The spacing between the hamburger-menu component bars
/// @name bar-spacing
$hamburger-menu-bar-spacing: 5px !default;

/// The padding of the hamburger-menu component
/// @name padding
$hamburger-menu-padding: spacing('1/2') !default;

/// The opacity of the hamburger-menu component
/// @name opacity
$hamburger-menu-opacity: 0.7 !default;

/// The opacity of the hamburger-menu component
/// @name opacity-hover
$hamburger-menu-opacity-hover: 1 !default;

////
/// Colors
////

////
/// Light color
////

/// The background of the hamburger-menu component
/// @name background
/// @group light
/// @type color
$hamburger-menu-color-variant-light-background: color('dark') !default;

/// Map for light color
/// @group light
$hamburger-menu-color-variant-light: (
    'background': $hamburger-menu-color-variant-light-background
) !default;

////
/// Dark color
////

/// The background of the hamburger-menu component
/// @name background
/// @group dark
/// @type color
$hamburger-menu-color-variant-dark-background: color('light') !default;

/// Map for dark color
/// @group dark
$hamburger-menu-color-variant-dark: (
    'background': $hamburger-menu-color-variant-dark-background
) !default;

/// Colors group map
$hamburger-menu-color-variants: (
    'light': $hamburger-menu-color-variant-light,
    'dark': $hamburger-menu-color-variant-dark
) !default;
