@import '../../resources/css/config'
@import '../../resources/css/mixins'
@import '_variables'

.button
    display: inline-block
    font-weight: --button-font-weight
    text-align: center
    white-space: nowrap
    vertical-align: middle
    user-select: none
    border: --button-border-width solid transparent
    line-height: --button-line-height
    box-shadow: --button-box-shadow
    background-repeat: repeat
    background-position: 0 0
    background-size: 100% 100%

    if --transition['button']
        transition: background-color --transition-duration --transition-easing, background-position --transition-duration --transition-easing, background-size --transition-duration --transition-easing, border-color --transition-duration --transition-easing, color --transition-duration --transition-easing, box-shadow --transition-duration --transition-easing

    // Target non disabled buttons
    &:not(:disabled):not(.-disabled)
        // Add "hand" cursor to non-disabled .button elements
        cursor: pointer

        // Focus and hover state
        &:hover
        &:focus
        &.-hovered
        &.-focused
            background-size: 150% 150%
            background-position: 100% 100%
            box-shadow: --button-box-shadow-focus
            text-decoration: none
            outline: 0

        // Active state
        &:active
        &.-active
            background-size: 200% 200%
            background-position: 100% 100%
            box-shadow: --button-box-shadow-active, --button-box-shadow-active-inset
            &:focus
                box-shadow: --button-box-shadow-active, --button-box-shadow-focus, --button-box-shadow-active-inset

    // Disabled state
    // Disabled state comes first so active can properly restyle
    &.-disabled
    &:disabled
        opacity: --button-opacity-disabled
        box-shadow: none

    // Block buttons
    // Make buttons span the whole parent width
    &.-block
        display: block
        width: 100%

        + .button.-block
            margin-top: --button-block-margin

    // Link buttons
    // Make a button look and behave like a link
    &.-link
        color: --link-color
        background-color: transparent
        background-image: none
        border-color: transparent
        box-shadow: none

        &:not(:disabled):not(.-disabled)
            &:hover
            &.-hovered
            &:focus
            &.-focused
                color: --link-color-hover
                text-decoration: --link-decoration-hover
                background-color: transparent
                background-image: none
                border-color: transparent
                box-shadow: none

        &:disabled,
        &.-disabled
            color: --button-link-disabled-color
            pointer-events: none

    // Outline buttons
    // Remove button background and add a beautiful transition on hover
    &.-outline
        background-color: transparent
        background-position: 0 0
        background-size: 300% 300%
        box-shadow: none

        &:not(:disabled):not(.-disabled)
            &:hover
            &.-hovered
            &:focus
            &.-focused
                background-size: 300% 300%
                background-position: 100% 100%
                box-shadow: --button-box-shadow-focus

            &:active
            &.-active
                background-size: 400% 400%
                background-position: 100% 100%
                box-shadow: --button-box-shadow-active, --button-box-shadow-active-inset
                &:focus
                        box-shadow: --button-box-shadow-active, --button-box-shadow-focus, --button-box-shadow-active-inset

    // Circle button
    &.-circle
        border-radius: 100%

    // Button sizes
    // Add small, medium and large button sizes
    for size in (sm md lg)
        &.-{size}
            border-radius: --button-border-radius[size]
            font-size: --button-font-size[size]
            padding: --button-padding[size]

            &.-circle
                border-radius: 100%
                width: --button-circle-size[size]
                height: --button-circle-size[size]
                padding: 0

    // Button themes
    // Add the required color themes to all button variations
    for --theme-name, --theme in --themes['button']
        &.-{--theme-name}
            color: -text-color-by-luminance(--theme['color'], --theme-color-light, --theme-color-dark)
            background-color: --theme['color']
            border-color: --theme['color']

            if --gradient-enabled and --theme['gradient']
                background-image: -linear-gradient(--theme['gradient'])

            &:not(:disabled):not(.-disabled)
                &:hover
                &:focus
                &.-hovered
                &.-focused
                    background-color: darken(--theme['color'], --button-darken-percentage-hover)
                    border-color: darken(--theme['color'], --button-darken-percentage-hover)

            &.-outline
                background-color: transparent
                color: --theme['color']
                background-image: -linear-gradient(transparent transparent (--theme['gradient'][0]) (--theme['gradient'][1]))

                &:not(:disabled):not(.-disabled)
                    &:hover
                    &.-hovered
                    &:focus
                    &.-focused
                        color: -text-color-by-luminance(--theme['color'], --theme-color-light, --theme-color-dark)
                        background-color: darken(--theme['color'], --button-darken-percentage-hover)
                        border-color: darken(--theme['color'], --button-darken-percentage-hover)

            &.-link
                color: --theme['color']

    // Transparent button
    &.-transparent
        background-color: transparent
        background-image: none

// Future-proof disabling of clicks on `<a>` elements
a.button.-disabled
fieldset:disabled a.button
    pointer-events: none


// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"]
    &.-block
        width: 100%

// Button defaults
// Set a default size and theme
.button
    @extend .button.-md
    @extend .button.-light
