@import '../../css/config/index';
@import '../../css/mixins/index';

/**
 * Dropdown Item
 */
.dropdown > .menu {
    .dropdown > .item,
    .item {
        display: block;
        width: 100%;
        clear: both;
        font-weight: $font-weight-normal;
        text-align: inherit; // For `<button>`s
        white-space: nowrap; // prevent links from randomly breaking onto new lines
        background-color: transparent; // For `<button>`s
        border: 0;
        cursor: default;

        @if transition('dropdown') {
            transition: background-color $transition-duration $transition-easing;
        }

        &:hover,
        &:focus,
        &.-active,
        &:active {
            text-decoration: none;
        }

        &.-disabled,
        &:disabled {
            pointer-events: none;
            background-color: transparent;
            background-image: none;
        }
    }

    .dropdown > .item,
    .item[href],
    .item[to] {
        cursor: pointer;
    }
}
