//
// Dropdown Menu sizes
//
for --size in --sizes
    .form.-{--size} .select > .dropdown > .menu
    .form-group.-{--size} .select > .dropdown > .menu
    .select.-{--size} > .dropdown > .menu
    .dropdown > .menu.-{--size}
        border-radius: --dropdown-border-radius[--size]
        font-size: --dropdown-font-size[--size]
        padding: --dropdown-padding[--size]
