//
// Dropdown Menu variants
//
@mixin dropdown-menu-color-variant($color-variant) {
    color: variant-color-by-luminance($color-variant, $dropdown-variant-color-light, $dropdown-variant-color-dark);
    background-color: $color-variant;
    border-color: darken-lightness($color-variant, 10%);

    @include popup-arrow-variant(('background': $color-variant, 'border-color': darken-lightness($color-variant, 10%)));
}

@each $variant-name, $variant in variants('dropdown') {
    .dropdown > .menu.-#{$variant-name} {
        @include dropdown-menu-color-variant($variant);
    }
}
