//
// Dropdown Menu Variables
//

--dropdown-font-size := --font-size
--dropdown-font-weight := --font-weight['normal']
--dropdown-line-height := --line-height

--dropdown-margin := --spacers['1/2']

--dropdown-border-width := --border-width
--dropdown-border-radius := --border-radius

--dropdown-min-width := 200px

--dropdown-padding-base := --spacers['1/2'] 0
--dropdown-padding := -size-map(--dropdown-padding-base, --sizes, --size-multipliers)

--dropdown-item-padding-base := --spacers['1/2'] --spacers['1']
--dropdown-item-padding := -size-map(--dropdown-item-padding-base, --sizes, --size-multipliers)

--dropdown-divider-margin-base := --spacers['1/2'] 0
--dropdown-divider-margin := -size-map(--dropdown-divider-margin-base, --sizes, --size-multipliers)

//
// Variants
//
--dropdown-variants := (monochrome-white)
--dropdown-variant-color-light := --variant-color-light
--dropdown-variant-color-dark := --variant-color-dark

--variants['dropdown'] = -add-variant(--dropdown-variants, { color: --color-groups })
