<div class="form-input-group" :class="classes['root']">
    <div class="form-input-prepend">
        <slot name="prepend"></slot>
        <i-button type="button" :disabled="disabled" class="form-input-button-decrease" @click="decrease">-</i-button>
    </div>

    <div class="form-input"
         :class="classes['child']"
         @mouseenter="emitMouseEnter"
         @mouseleave="emitMouseLeave">

        <span class="form-input-prefix" v-if="$slots.prefix">
            <slot name="prefix"></slot>
        </span>

        <span class="form-input-suffix" v-if="$slots.suffix || clearable">
            <i class="form-input-icon -circle" aria-label="Clear" v-show="isClearable" @click="clear">&times;</i>
            <slot name="suffix"></slot>
        </span>

        <input
            v-bind="$attrs"
            v-model="model"
            ref="input"
            :name="name"
            :tabindex="tabIndex"
            :disabled="isDisabled"
            :aria-disabled="isDisabled"
            :readonly="isReadonly"
            :aria-readonly="isReadonly"
            @click="emitClick"
            @focus="emitFocus"
            @blur="onBlurFormatPrecision"
            @change="emitChange"
            @keydown="emitKeydown"
            @keyup="emitKeyup">
    </div>

    <div class="form-input-append">
        <i-button type="button" :disabled="disabled" class="form-input-button-increase" @click="increase">+</i-button>
        <slot name="append"></slot>
    </div>
</div>

