/**
 * Variables
 */

.form-error {
    ////
    /// The font size of the form error component
    /// @name font-size
    ////
    ----font-size: #{font-size('sm')};
    ////
    /// The margin top of the form error component
    /// @name margin-top
    ////
    ----margin-top: #{calc(var(--margin-top) / 4)};
    ////
    /// The margin right of the form error component
    /// @name margin-right
    ////
    ----margin-right: #{0};
    ////
    /// The margin bottom of the form error component
    /// @name margin-bottom
    ////
    ----margin-bottom: #{0};
    ////
    /// The margin left of the form error component
    /// @name margin-left
    ////
    ----margin-left: #{0};
    ////
    /// The margin of the form error component
    /// @name margin
    ////
    ----margin: #{var(----margin-top) var(----margin-right) var(----margin-bottom) var(----margin-left)};
    ////
    /// The color of the form error component
    /// @name color
    ////
    ----color: #{color('danger')};
}
