/**
 * Color variants
 */

.checkbox {
                        @include variant('light', 'form') {
                                        --checkbox--background: var(--checkbox--white--background, var(--color-white));
                                        --checkbox--background--checked: var(--checkbox--primary--background--checked, var(--color-primary));
                                        --checkbox--background--disabled: var(--checkbox--light--background--disabled, var(--color-light-250));
                                        --checkbox--background--checked-disabled: var(--checkbox--primary--background--checked-disabled, var(--color-primary-250));
                                        --checkbox--border-color: var(--checkbox--light--border-color, var(--color-light-550));
                                        --checkbox--border-color--checked: var(--checkbox--primary--border-color--checked, var(--color-primary-550));
                                        --checkbox--border-color--disabled: var(--checkbox--light--border-color--disabled, var(--color-light));
                                        --checkbox--border-color--checked-disabled: var(--checkbox--primary--border-color--checked-disabled, var(--color-primary-300));
                                        --checkbox--color: var(--checkbox--white--color, var(--color-white));
                                        --checkbox--color--disabled: var(--checkbox--light--color--disabled, var(--color-light-250));
                                        --checkbox--label--color: var(--checkbox--light--label--color, var(--contrast-text--color-light));
                                        --checkbox--label--color--disabled: var(--checkbox--light--label--color--disabled, var(--color-light-700));
    }
                        @include variant('dark', 'form') {
                                        --checkbox--background: var(--checkbox--dark--background, var(--color-dark));
                                        --checkbox--background--checked: var(--checkbox--primary--background--checked, var(--color-primary));
                                        --checkbox--background--disabled: var(--checkbox--dark--background--disabled, var(--color-dark-250));
                                        --checkbox--background--checked-disabled: var(--checkbox--primary--background--checked-disabled, var(--color-primary-750));
                                        --checkbox--border-color: var(--checkbox--dark--border-color, var(--color-dark));
                                        --checkbox--border-color--checked: var(--checkbox--primary--border-color--checked, var(--color-primary-550));
                                        --checkbox--border-color--disabled: var(--checkbox--dark--border-color--disabled, var(--color-dark));
                                        --checkbox--border-color--checked-disabled: var(--checkbox--primary--border-color--checked-disabled, var(--color-primary-700));
                                        --checkbox--color: var(--checkbox--white--color, var(--color-white));
                                        --checkbox--color--disabled: var(--checkbox--dark--color--disabled, var(--color-dark-250));
                                        --checkbox--label--color: var(--checkbox--dark--label--color, var(--contrast-text--color-dark));
                                        --checkbox--label--color--disabled: var(--checkbox--dark--label--color--disabled, var(--color-dark-300));
    }
}
