/**
 * Size variants
 */

.checkbox {
    &.-sm {
        --checkbox--border-top-left-radius: var(
            --checkbox--sm--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-sm))
        );
        --checkbox--border-top-right-radius: var(
            --checkbox--sm--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-sm))
        );
        --checkbox--border-bottom-right-radius: var(
            --checkbox--sm--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-sm))
        );
        --checkbox--border-bottom-left-radius: var(
            --checkbox--sm--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-sm))
        );
        --checkbox--size: var(--checkbox--sm--size, calc(#{1rem} * var(--size-multiplier-sm)));
        --checkbox--checkmark--size: var(
            --checkbox--sm--checkmark--size,
            calc(#{8px} * var(--size-multiplier-sm))
        );
        --checkbox--label--font-size: var(
            --checkbox--sm--label--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
    }

    &.-md {
        --checkbox--border-top-left-radius: var(
            --checkbox--md--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-md))
        );
        --checkbox--border-top-right-radius: var(
            --checkbox--md--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-md))
        );
        --checkbox--border-bottom-right-radius: var(
            --checkbox--md--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-md))
        );
        --checkbox--border-bottom-left-radius: var(
            --checkbox--md--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-md))
        );
        --checkbox--size: var(--checkbox--md--size, calc(#{1rem} * var(--size-multiplier-md)));
        --checkbox--checkmark--size: var(
            --checkbox--md--checkmark--size,
            calc(#{8px} * var(--size-multiplier-md))
        );
        --checkbox--label--font-size: var(
            --checkbox--md--label--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
    }

    &.-lg {
        --checkbox--border-top-left-radius: var(
            --checkbox--lg--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-lg))
        );
        --checkbox--border-top-right-radius: var(
            --checkbox--lg--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-lg))
        );
        --checkbox--border-bottom-right-radius: var(
            --checkbox--lg--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-lg))
        );
        --checkbox--border-bottom-left-radius: var(
            --checkbox--lg--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-lg))
        );
        --checkbox--size: var(--checkbox--lg--size, calc(#{1rem} * var(--size-multiplier-lg)));
        --checkbox--checkmark--size: var(
            --checkbox--lg--checkmark--size,
            calc(#{8px} * var(--size-multiplier-lg))
        );
        --checkbox--label--font-size: var(
            --checkbox--lg--label--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
    }
}
