//
// Dropdown Item variants
//

@mixin dropdown-item-color-variant($variant-color) {
    .dropdown > .item,
    .item[href],
    .item[to] {
        &:not(.-disabled) {
            &:hover,
            &:focus {
                background: variant-color-by-luminance($variant-color, darken-lightness($variant-color, 12%), darken-lightness($variant-color, 4%));
            }
        }

        &.-active,
        &:active {
            background: variant-color-by-luminance($variant-color, darken-lightness($variant-color, 24%), darken-lightness($variant-color, 8%));
        }
    }

    .dropdown > .item,
    .item {
        color: variant-color-by-luminance($variant-color, $dropdown-variant-color-light, $dropdown-variant-color-dark);

        &.-disabled,
        &:disabled {
            color: variant-color-by-luminance($variant-color, darken-lightness($dropdown-variant-color-light, 40%), lighten-lightness($dropdown-variant-color-dark, 40%));
        }

        &.-divider::before {
            background-color: variant-color-by-luminance($variant-color, lighten-lightness($variant-color, 12%), darken-lightness($variant-color, 8%));
        }
    }
}

@each $variant-name, $variant in variants('dropdown') {
    .dropdown > .menu.-#{$variant-name} {
        @include dropdown-item-color-variant($variant);
    }
}
