/**
 * Breadcrumb
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/colors';
@import 'css/sizes';

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--breadcrumb-margin-bottom);
    padding-left: 0;
    list-style: none;

    @include breadcrumb-size-variant('md');
    @each $size-variant-key, $breadcrumb-size-variant-value in $breadcrumb-size-variants {
        &.-#{$size-variant-key} {
            @include breadcrumb-size-variant($size-variant-key);
        }
    }

    @include breadcrumb-color-variant('light');
    @each $color-variant-key, $color-variant-value in $breadcrumb-color-variants {
        &.-#{$color-variant-key} {
            @include breadcrumb-color-variant($color-variant-key);
        }
    }
}
