$inkline-font-path : 'assets/icons/' !default;

$icon-circle: "\e900";
$icon-chevron-down: "\e901";
$icon-caret-down: "\e902";
$icon-home: "\e903";
$icon-calendar: "\e953";
$icon-warning: "\ea07";
$icon-danger: "\ea08";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-times: "\ea0f";
$icon-check: "\ea10";
$icon-sort-asc: "\e904";
$icon-sort-desc: "\e905";
$icon-sort: "\e906";
$icon-search: "\e986";
$icon-book: "\e91f";
$icon-file: "\e926";
$icon-stack: "\e92e";
$icon-folder: "\e930";
$icon-cart: "\e93a";
$icon-phone: "\e942";
$icon-envelope: "\e945";
$icon-location: "\e947";
$icon-clock: "\e94e";
$icon-user: "\e971";
$icon-key: "\e98e";
$icon-lock: "\e98f";
$icon-settings: "\e994";
$icon-magic: "\e997";
$icon-dashboard: "\e99c";
$icon-earth: "\e9ca";
$icon-link: "\e9cb";
$icon-attachment: "\e9cd";
$icon-light: "\e9d4";
$icon-dark: "\e9d6";
$icon-star-empty: "\e9d7";
$icon-star-half: "\e9d8";
$icon-star-full: "\e9d9";
$icon-heart: "\e9da";
$icon-code: "\ea80";
