/**
 * Toast
 */

////
/// The border style of the toast component
/// @name toast--border-style
/// @type border-style
////

////
/// The border width of the toast component
/// @name toast--border-width
/// @type border-width
////

////
/// The border color of the toast component
/// @name toast--border-color
/// @type border-color
/// @variant
////

////
/// The border radius of the toast component
/// @name toast--border-radius
/// @type border-radius
////

////
/// The border radius of the toast component
/// @name toast--font-size
/// @type font-size
////

////
/// The box shadow of the toast component
/// @name toast--box-shadow
/// @type box-shadow
////

////
/// The background of the toast component
/// @name toast--background
/// @type background
////

////
/// The color of the toast component
/// @name toast--color
/// @type color
////

////
/// The transition duration of the toast component
/// @name toast--transition-duration
/// @type transition-duration
////

////
/// The transition timing function of the toast component
/// @name toast--transition-timing-function
/// @type transition-timing-function
////

////
/// The padding of the toast component
/// @name toast--padding
/// @type padding
////

.toast {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    min-width: 0;
    word-wrap: break-word;
    border-style: var(
        --toast--border-style,
        var(--toast--border-top-style, var(--border-top-style))
            var(--toast--border-right-style, var(--border-right-style))
            var(--toast--border-bottom-style, var(--border-bottom-style))
            var(--toast--border-left-style, var(--border-left-style))
    );
    border-width: var(
        --toast--border-width,
        var(--toast--border-top-width, var(--border-top-width))
            var(--toast--border-right-width, var(--border-right-width))
            var(--toast--border-bottom-width, var(--border-bottom-width))
            var(--toast--border-left-width, var(--border-left-width))
    );
    border-color: var(
        --toast--border-color,
        var(--toast--border-top-color, var(--border-top-color))
            var(--toast--border-right-color, var(--border-right-color))
            var(--toast--border-bottom-color, var(--border-bottom-color))
            var(--toast--border-left-color, var(--border-left-color))
    );
    border-radius: var(
        --toast--border-radius,
        var(--toast--border-top-left-radius, var(--border-top-left-radius))
            var(--toast--border-top-right-radius, var(--border-top-right-radius))
            var(--toast--border-bottom-right-radius, var(--border-bottom-right-radius))
            var(--toast--border-bottom-left-radius, var(--border-bottom-left-radius))
    );
    font-size: var(--toast--font-size, var(--font-size));
    box-shadow: var(
        --toast--box-shadow,
        var(--toast--box-shadow-x-offset, var(--box-shadow-offset-x))
            var(--toast--box-shadow-y-offset, var(--box-shadow-offset-y))
            var(--toast--box-shadow-blur-radius, var(--box-shadow-blur-radius))
            var(--toast--box-shadow-spread-radius, var(--box-shadow-spread-radius))
            var(--toast--box-shadow-color, var(--box-shadow-color))
    );
    background: var(--toast--background);
    color: var(--toast--color);
    background-clip: border-box;
    transition-property: var(--toast--transition-property, (background-color, color, border-color));
    transition-duration: var(--toast--transition-duration, var(--transition-duration));
    transition-timing-function: var(
        --toast--transition-timing-function,
        var(--transition-timing-function)
    );

    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    align-items: center;

    a {
        color: var(--toast--link--color, var(--toast--color));
        font-weight: 600;
        transition-property: var(--toast--link--transition-property, color);
        transition-duration: var(--toast--transition-duration, var(--transition-duration));
        transition-timing-function: var(
            --toast--transition-timing-function,
            var(--transition-timing-function)
        );

        &:hover,
        &:focus {
            color: var(--toast--link-color, var(--color));
        }
    }

    code {
        background: var(--toast--code--background);
        color: var(--toast--code--color);
    }

    > .content {
        padding: var(
            --toast--padding,
            var(--toast--padding-top, var(--padding-top))
                var(--toast--padding-right, var(--padding-right))
                var(--toast--padding-bottom, var(--padding-bottom))
                var(--toast--padding-left, var(--padding-left))
        );

        > .title {
            font-weight: var(--toast--title--font-weight, var(--font-weight-semibold));
        }
    }

    > .icon {
        padding-left: var(--toast--padding-left, var(--padding-left));
        border-color: var(
            --toast--border-color,
            var(--toast--border-top-color, var(--border-top-color))
                var(--toast--border-right-color, var(--border-right-color))
                var(--toast--border-bottom-color, var(--border-bottom-color))
                var(--toast--border-left-color, var(--border-left-color))
        );
        flex: 1;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    > .dismiss {
        flex: 0 0 auto;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        margin-right: var(--toast--padding-left, var(--padding-left));
    }

    &,
    > .content {
        flex: 0 1 100%;

        > hr {
            margin-right: 0;
            margin-left: 0;
        }

        > *:first-of-type {
            margin-top: 0;
        }

        > *:last-of-type {
            margin-bottom: 0;
        }
    }
}
