@import '../../../../css/variables';
@import '../../../../css/mixins';

/**
 * Navbar Brand
 */
.navbar .navbar-brand {
    display: inline-flex;
    color: var(----color);
    padding: var(----item--padding);
    font-size: var(----font-size);
    margin-right: var(----brand--margin-right);
    line-height: inherit;
    white-space: nowrap;
    align-items: center;

    &:hover,
    &:focus {
        text-decoration: none;
    }

    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
        margin-top: 0;
        margin-bottom: 0;
    }
}
