//
// Gutter size
//

$gutter-xs: 24px !default;
$gutter-sm: 26px !default;
$gutter-md: 28px !default;
$gutter-lg: 30px !default;
$gutter-xl: 32px !default;

$gutter: (
    'xs': $gutter-xs,
    'sm': $gutter-sm,
    'md': $gutter-md,
    'lg': $gutter-lg,
    'xl': $gutter-xl,
) !default;

// Quick accessor to the gutter map
@function gutter($key) {
    @return map_get($gutter, $key);
}
