:root {
    /**
     * Variables
     */

    --tabs-border-width: #{$tabs-border-width};
    --tabs-header-border-bottom-width: #{$tabs-header-border-bottom-width};
    --tabs-header-margin-bottom: #{$tabs-header-margin-bottom};
    --tabs-font-size: #{$tabs-font-size};
    --tabs-border-radius: #{$tabs-border-radius};
    --tabs-padding: #{$tabs-padding};
    --tabs-header-padding: #{$tabs-header-padding};

    /**
     * Sizes
     */

    @each $tabs-size-variant-key, $tabs-size-variant-value in $tabs-size-variants {
        @each $tabs-size-variant-field-key, $tabs-size-variant-field-value in $tabs-size-variant-value {
            --tabs-size-variant-#{$tabs-size-variant-key}-#{$tabs-size-variant-field-key}: #{$tabs-size-variant-field-value};
        }
    }

    /**
     * Colors
     */

    @each $tabs-color-variant-key, $tabs-color-variant-value in $tabs-color-variants {
        @each $tabs-color-variant-field-key, $tabs-color-variant-field-value in $tabs-color-variant-value {
            --tabs-color-variant-#{$tabs-color-variant-key}-#{$tabs-color-variant-field-key}: #{$tabs-color-variant-field-value};
        }
    }
}
