<div
    v-bind="$attrs"
    class="toggle"
    :class="classes"
>
    <input
        ref="input"
        type="checkbox"
        :checked="checked"
        :disabled="isDisabled"
        :readonly="isReadonly"
        :aria-checked="checked"
        :aria-disabled="isDisabled"
        :aria-readonly="isReadonly"
        :name="name"
        @change="onChange"
    >
    <label
        class="toggle-label"
        :aria-checked="checked"
        :aria-disabled="isDisabled"
        :aria-readonly="isReadonly"
        :tabindex="tabIndex"
        @click="clickInputRef"
        @blur="onBlur"
        @keydown.space.stop.prevent="clickInputRef"
    >
        <slot />
    </label>
</div>
