/**
 * Breadcrumb
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/colors';
@import 'css/sizes';

.breadcrumb {
    display: flex;
    margin-bottom: var(----margin-bottom);
    font-size: var(----font-size);

    ol {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
    }
}
