/**
 * Button Group
 */

.button-group {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    box-sizing: border-box;

    .button {
        position: relative;
        flex: 0 1 auto;
        z-index: 0;
        margin-right: 0;
        font-size: var(--button-group--font-size, var(--button--font-size));
        padding: var(
            --button-group--padding,
            var(--button-group--padding-top, var(--button--padding-top))
                var(--button-group--padding-right, var(--button--padding-right))
                var(--button-group--padding-bottom, var(--button--padding-bottom))
                var(--button-group--padding-left, var(--button--padding-left))
        );

        &:hover,
        &:focus,
        &:active,
        &.-active {
            z-index: 1;
        }

        &.-circle {
            border-radius: 100%;
            width: var(--button--circle--size);
            height: var(--button--circle--size);
            padding: 0;
        }
    }

    > .button:first-of-type {
        margin-left: 0;
    }

    &.-block {
        display: flex;
        flex-basis: 100%;

        > .button {
            flex-basis: 100%;
        }
    }

    > .button,
    > .button-group > .button,
    > [class$='-wrapper'] .button {
        border-radius: 0;
    }

    // Reset rounded corners
    &:not(.-vertical) {
        > .button:last-of-type,
        > [class$='-wrapper']:last-of-type > * > .button:last-of-type {
            border-top-right-radius: var(
                --button-group--border-top-right-radius,
                var(--button--border-top-right-radius)
            );
            border-bottom-right-radius: var(
                --button-group--border-bottom-right-radius,
                var(--button--border-bottom-right-radius)
            );
        }

        > .button:first-of-type,
        > [class$='-wrapper']:first-of-type > * > .button:first-of-type {
            border-top-left-radius: var(
                --button-group--border-top-left-radius,
                var(--button--border-top-left-radius)
            );
            border-bottom-left-radius: var(
                --button-group--border-bottom-left-radius,
                var(--button--border-bottom-left-radius)
            );
        }

        > .button:not(:last-of-type),
        > .button-group:not(:last-of-type) .button,
        > [class$='-wrapper']:not(:last-of-type) > * > .button,
        > .button-group:not(:last-of-type) [class$='-wrapper'] > * > .button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }

        > .button:not(:first-of-type),
        > .button-group:not(:first-of-type) .button,
        > [class$='-wrapper']:not(:first-of-type) > * > .button,
        > .button-group:not(:first-of-type) [class$='-wrapper'] > * > .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.-vertical {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .button,
        .button-group,
        [class$='-wrapper'] {
            width: 100%;
        }

        > .button:last-of-type,
        > [class$='-wrapper']:last-of-type > * > .button:last-of-type {
            border-bottom-left-radius: var(
                --button-group--border-bottom-left-radius,
                var(--button--border-bottom-left-radius)
            );
            border-bottom-right-radius: var(
                --button-group--border-bottom-right-radius,
                var(--button--border-bottom-right-radius)
            );
        }

        > .button:first-of-type,
        > [class$='-wrapper']:first-of-type > * > .button:first-of-type {
            border-top-left-radius: var(
                --button-group--border-top-left-radius,
                var(--button--border-top-left-radius)
            );
            border-top-right-radius: var(
                --button-group--border-top-right-radius,
                var(--button--border-top-right-radius)
            );
        }

        > .button:not(:last-of-type),
        > .button-group:not(:last-of-type) .button,
        > [class$='-wrapper']:not(:last-of-type) > * > .button,
        > .button-group:not(:last-of-type) [class$='-wrapper'] > * > .button {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
        }

        > .button:not(:first-of-type),
        > .button-group:not(:first-of-type) .button,
        > [class$='-wrapper']:not(:first-of-type) > * > .button,
        > .button-group:not(:first-of-type) [class$='-wrapper'] > * > .button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}
