%button-group-preview {
    > .button-group {
        margin-right: var(--margin-right);
        margin-bottom: var(--margin-bottom);

        .button {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
