//
// Button group themes
// Add the required color themes to all button group variations
//
for --variant-name, --variant in --variants['button']
    .button-group:not(.-vertical) > .button.-{--variant-name}:not(:first-child)
        border-left-color: darken(--variant['color'], --button-darken-percentage-hover)
    .button-group.-vertical > .button.-{--variant-name}:not(:first-child)
        border-top-color: darken(--variant['color'], --button-darken-percentage-hover)
