.breadcrumb {
    display: flex;
}

.breadcrumb ol {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.breadcrumb {
    font-size: var(--breadcrumb--font-size);
    padding: var(--breadcrumb--padding, var(--breadcrumb--padding-top) var(--breadcrumb--padding-right) var(--breadcrumb--padding-bottom) var(--breadcrumb--padding-left));
    margin: var(--breadcrumb--margin, var(--breadcrumb--margin-top) var(--breadcrumb--margin-right) var(--breadcrumb--margin-bottom) var(--breadcrumb--margin-left));
    transition-property: var(--breadcrumb--transition-property);
    transition-duration: var(--breadcrumb--transition-duration);
    transition-timing-function: var(--breadcrumb--transition-timing-function);
}

.breadcrumb.-light {
    --breadcrumb--color-h: var(--breadcrumb--color-h);
    --breadcrumb--color-s: var(--breadcrumb--color-s);
    --breadcrumb--color-l: var(--breadcrumb--color-l);
    --breadcrumb--color-a: var(--breadcrumb--color-a);
}

.breadcrumb.-dark {
    --breadcrumb--color-h: var(--breadcrumb--color-h);
    --breadcrumb--color-s: var(--breadcrumb--color-s);
    --breadcrumb--color-l: var(--breadcrumb--color-l);
    --breadcrumb--color-a: var(--breadcrumb--color-a);
}

.breadcrumb.-sm {
    --breadcrumb--font-size: var(--breadcrumb--font-size);
    --breadcrumb--padding-top: var(--breadcrumb--padding-top);
    --breadcrumb--padding-right: var(--breadcrumb--padding-right);
    --breadcrumb--padding-bottom: var(--breadcrumb--padding-bottom);
    --breadcrumb--padding-left: var(--breadcrumb--padding-left);
}

.breadcrumb.-md {
    --breadcrumb--font-size: var(--breadcrumb--font-size);
    --breadcrumb--padding-top: var(--breadcrumb--padding-top);
    --breadcrumb--padding-right: var(--breadcrumb--padding-right);
    --breadcrumb--padding-bottom: var(--breadcrumb--padding-bottom);
    --breadcrumb--padding-left: var(--breadcrumb--padding-left);
}

.breadcrumb.-lg {
    --breadcrumb--font-size: var(--breadcrumb--font-size);
    --breadcrumb--padding-top: var(--breadcrumb--padding-top);
    --breadcrumb--padding-right: var(--breadcrumb--padding-right);
    --breadcrumb--padding-bottom: var(--breadcrumb--padding-bottom);
    --breadcrumb--padding-left: var(--breadcrumb--padding-left);
}
