:root {
    --fluid--min-width: 320;
    --fluid--max-width: 1440;
    --fluid--screen: 100vw;
    --fluid--breakpoint: calc((var(--fluid--screen) - var(--fluid--min-width) / 16 * 1rem) / (var(--fluid--max-width) - var(--fluid--min-width)));
    --spacing-min: 18;
    --spacing-max: 20;
    --spacing-min-2xs: calc(var(--spacing-min) * 0.25);
    --spacing-min-xs: calc(var(--spacing-min) * 0.5);
    --spacing-min-sm: calc(var(--spacing-min) * 0.75);
    --spacing-min-md: var(--spacing-min);
    --spacing-min-lg: calc(var(--spacing-min) * 1.5);
    --spacing-min-xl: calc(var(--spacing-min) * 2);
    --spacing-min-2xl: calc(var(--spacing-min) * 4);
    --spacing-min-3xl: calc(var(--spacing-min) * 6);
    --spacing-min-4xl: calc(var(--spacing-min) * 8);
    --spacing-max-2xs: calc(var(--spacing-max) * 0.25);
    --spacing-max-xs: calc(var(--spacing-max) * 0.5);
    --spacing-max-sm: calc(var(--spacing-max) * 0.75);
    --spacing-max-md: var(--spacing-max);
    --spacing-max-lg: calc(var(--spacing-max) * 1.5);
    --spacing-max-xl: calc(var(--spacing-max) * 2);
    --spacing-max-2xl: calc(var(--spacing-max) * 4);
    --spacing-max-3xl: calc(var(--spacing-max) * 6);
    --spacing-max-4xl: calc(var(--spacing-max) * 8);
    --spacing-2xs: calc(((var(--spacing-min-2xs) / 16) * 1 rem) + (var(--spacing-max-2xs) - var(--spacing-min-2xs)) * var(--fluid--breakpoint));
    --spacing-xs: calc(((var(--spacing-min-xs) / 16) * 1 rem) + (var(--spacing-max-xs) - var(--spacing-min-xs)) * var(--fluid--breakpoint));
    --spacing-sm: calc(((var(--spacing-min-sm) / 16) * 1 rem) + (var(--spacing-max-sm) - var(--spacing-min-sm)) * var(--fluid--breakpoint));
    --spacing-md: calc(((var(--spacing-min-md) / 16) * 1 rem) + (var(--spacing-max-md) - var(--spacing-min-md)) * var(--fluid--breakpoint));
    --spacing-lg: calc(((var(--spacing-min-lg) / 16) * 1 rem) + (var(--spacing-max-lg) - var(--spacing-min-lg)) * var(--fluid--breakpoint));
    --spacing-xl: calc(((var(--spacing-min-xl) / 16) * 1 rem) + (var(--spacing-max-xl) - var(--spacing-min-xl)) * var(--fluid--breakpoint));
    --spacing-2xl: calc(((var(--spacing-min-2xl) / 16) * 1 rem) + (var(--spacing-max-2xl) - var(--spacing-min-2xl)) * var(--fluid--breakpoint));
    --spacing-3xl: calc(((var(--spacing-min-3xl) / 16) * 1 rem) + (var(--spacing-max-3xl) - var(--spacing-min-3xl)) * var(--fluid--breakpoint));
    --spacing-4xl: calc(((var(--spacing-min-4xl) / 16) * 1 rem) + (var(--spacing-max-4xl) - var(--spacing-min-4xl)) * var(--fluid--breakpoint));
    --spacing-2xs-xs: calc(((var(--spacing-min-2xs) / 16) * 1 rem) + (var(--spacing-max-xs) - var(--spacing-min-2xs)) * var(--fluid--breakpoint));
    --spacing-xs-sm: calc(((var(--spacing-min-xs) / 16) * 1 rem) + (var(--spacing-max-sm) - var(--spacing-min-xs)) * var(--fluid--breakpoint));
    --spacing-sm-md: calc(((var(--spacing-min-sm) / 16) * 1 rem) + (var(--spacing-max-md) - var(--spacing-min-sm)) * var(--fluid--breakpoint));
    --spacing-md-lg: calc(((var(--spacing-min-md) / 16) * 1 rem) + (var(--spacing-max-lg) - var(--spacing-min-md)) * var(--fluid--breakpoint));
    --spacing-lg-xl: calc(((var(--spacing-min-lg) / 16) * 1 rem) + (var(--spacing-max-xl) - var(--spacing-min-lg)) * var(--fluid--breakpoint));
    --spacing-xl-2xl: calc(((var(--spacing-min-xl) / 16) * 1 rem) + (var(--spacing-max-2xl) - var(--spacing-min-xl)) * var(--fluid--breakpoint));
    --spacing-2xl-3xl: calc(((var(--spacing-min-2xl) / 16) * 1 rem) + (var(--spacing-max-3xl) - var(--spacing-min-2xl)) * var(--fluid--breakpoint));
    --spacing-3xl-4xl: calc(((var(--spacing-min-3xl) / 16) * 1 rem) + (var(--spacing-max-4xl) - var(--spacing-min-3xl)) * var(--fluid--breakpoint));
    --spacing: var(--spacing-md);
    --margin-top: var(--spacing);
    --margin-right: var(--spacing);
    --margin-bottom: var(--spacing);
    --margin-left: var(--spacing);
    --margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
    --padding-top-2xs: var(--spacing-2xs);
    --padding-top-xs: var(--spacing-xs);
    --padding-top-sm: var(--spacing-sm);
    --padding-top-md: var(--spacing-md);
    --padding-top-lg: var(--spacing-lg);
    --padding-top-xl: var(--spacing-xl);
    --padding-top-2xl: var(--spacing-2xl);
    --padding-top-3xl: var(--spacing-3xl);
    --padding-top-4xl: var(--spacing-4xl);
    --padding-top: var(--padding-top-md);
    --padding-right-2xs: var(--spacing-2xs);
    --padding-right-xs: var(--spacing-xs);
    --padding-right-sm: var(--spacing-sm);
    --padding-right-md: var(--spacing-md);
    --padding-right-lg: var(--spacing-lg);
    --padding-right-xl: var(--spacing-xl);
    --padding-right-2xl: var(--spacing-2xl);
    --padding-right-3xl: var(--spacing-3xl);
    --padding-right-4xl: var(--spacing-4xl);
    --padding-right: var(--padding-right-md);
    --padding-bottom-2xs: var(--spacing-2xs);
    --padding-bottom-xs: var(--spacing-xs);
    --padding-bottom-sm: var(--spacing-sm);
    --padding-bottom-md: var(--spacing-md);
    --padding-bottom-lg: var(--spacing-lg);
    --padding-bottom-xl: var(--spacing-xl);
    --padding-bottom-2xl: var(--spacing-2xl);
    --padding-bottom-3xl: var(--spacing-3xl);
    --padding-bottom-4xl: var(--spacing-4xl);
    --padding-bottom: var(--padding-bottom-md);
    --padding-left-2xs: var(--spacing-2xs);
    --padding-left-xs: var(--spacing-xs);
    --padding-left-sm: var(--spacing-sm);
    --padding-left-md: var(--spacing-md);
    --padding-left-lg: var(--spacing-lg);
    --padding-left-xl: var(--spacing-xl);
    --padding-left-2xl: var(--spacing-2xl);
    --padding-left-3xl: var(--spacing-3xl);
    --padding-left-4xl: var(--spacing-4xl);
    --padding-left: var(--padding-left-md);
    --padding-2xs: var(--padding-top-2xs) var(--padding-right-2xs) var(--padding-bottom-2xs) var(--padding-left-2xs);
    --padding-xs: var(--padding-top-xs) var(--padding-right-xs) var(--padding-bottom-xs) var(--padding-left-xs);
    --padding-sm: var(--padding-top-sm) var(--padding-right-sm) var(--padding-bottom-sm) var(--padding-left-sm);
    --padding-md: var(--padding-top-md) var(--padding-right-md) var(--padding-bottom-md) var(--padding-left-md);
    --padding-lg: var(--padding-top-lg) var(--padding-right-lg) var(--padding-bottom-lg) var(--padding-left-lg);
    --padding-xl: var(--padding-top-xl) var(--padding-right-xl) var(--padding-bottom-xl) var(--padding-left-xl);
    --padding-2xl: var(--padding-top-2xl) var(--padding-right-2xl) var(--padding-bottom-2xl) var(--padding-left-2xl);
    --padding-3xl: var(--padding-top-3xl) var(--padding-right-3xl) var(--padding-bottom-3xl) var(--padding-left-3xl);
    --padding-4xl: var(--padding-top-4xl) var(--padding-right-4xl) var(--padding-bottom-4xl) var(--padding-left-4xl);
    --padding: var(--padding-md);
    --scale-minor-second: 1.067;
    --scale-major-second: 1.125;
    --scale-minor-third: 1.2;
    --scale-major-third: 1.25;
    --scale-perfect-fourth: 1.333;
    --scale-augmented-fourth: 1.414;
    --scale-perfect-fifth: 1.5;
    --scale-golden: 1.618;
    --scale: var(--scale-minor-third);
    --scale-pow-minus-2: calc(var(--scale) / var(--scale) / var(--scale));
    --scale-pow-minus-1: calc(var(--scale) / var(--scale));
    --scale-pow-1: calc(var(--scale) * 1);
    --scale-pow-2: calc(var(--scale) * var(--scale));
    --scale-pow-3: calc(var(--scale) * var(--scale) * var(--scale));
    --scale-pow-4: calc(var(--scale) * var(--scale) * var(--scale) * var(--scale));
    --scale-pow-5: calc(var(--scale) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
    --type-scale-min: var(--scale-minor-third);
    --type-scale-max: var(--scale-perfect-fourth);
    --type-scale-min-pow-minus-4: calc(1 / var(--type-scale-min) / var(--type-scale-min) / var(--type-scale-min) / var(--type-scale-min));
    --type-scale-min-pow-minus-3: calc(1 / var(--type-scale-min) / var(--type-scale-min) / var(--type-scale-min));
    --type-scale-min-pow-minus-2: calc(1 / var(--type-scale-min) / var(--type-scale-min));
    --type-scale-min-pow-minus-1: calc(1 / var(--type-scale-min));
    --type-scale-min-pow-1: calc(var(--type-scale-min) * 1);
    --type-scale-min-pow-2: calc(var(--type-scale-min) * var(--type-scale-min));
    --type-scale-min-pow-3: calc(var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min));
    --type-scale-min-pow-4: calc(var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min));
    --type-scale-min-pow-5: calc(var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min));
    --type-scale-max-pow-minus-4: calc(1 / var(--type-scale-max) / var(--type-scale-max) / var(--type-scale-max) / var(--type-scale-max));
    --type-scale-max-pow-minus-3: calc(1 / var(--type-scale-max) / var(--type-scale-max) / var(--type-scale-max));
    --type-scale-max-pow-minus-2: calc(1 / var(--type-scale-max) / var(--type-scale-max));
    --type-scale-max-pow-minus-1: calc(1 / var(--type-scale-max));
    --type-scale-max-pow-1: calc(var(--type-scale-max) * 1);
    --type-scale-max-pow-2: calc(var(--type-scale-max) * var(--type-scale-max));
    --type-scale-max-pow-3: calc(var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max));
    --type-scale-max-pow-4: calc(var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max));
    --type-scale-max-pow-5: calc(var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max));
    --font-size-min: 18;
    --font-size-max: 20;
    --font-size-min-xs: calc(var(--font-size-min) * var(--type-scale-min-pow-minus-2));
    --font-size-min-sm: calc(var(--font-size-min) * var(--type-scale-min-pow-minus-1));
    --font-size-min-md: var(--font-size-min);
    --font-size-min-lg: calc(var(--font-size-min) * var(--type-scale-min-pow-1));
    --font-size-min-xl: calc(var(--font-size-min) * var(--type-scale-min-pow-2));
    --font-size-min-2xl: calc(var(--font-size-min) * var(--type-scale-min-pow-3));
    --font-size-min-3xl: calc(var(--font-size-min) * var(--type-scale-min-pow-4));
    --font-size-min-4xl: calc(var(--font-size-min) * var(--type-scale-min-pow-5));
    --font-size-max-xs: calc(var(--font-size-max) * var(--type-scale-max-pow-minus-2));
    --font-size-max-sm: calc(var(--font-size-max) * var(--type-scale-max-pow-minus-1));
    --font-size-max-md: var(--font-size-max);
    --font-size-max-lg: calc(var(--font-size-max) * var(--type-scale-max-pow-1));
    --font-size-max-xl: calc(var(--font-size-max) * var(--type-scale-max-pow-2));
    --font-size-max-2xl: calc(var(--font-size-max) * var(--type-scale-max-pow-3));
    --font-size-max-3xl: calc(var(--font-size-max) * var(--type-scale-max-pow-4));
    --font-size-max-4xl: calc(var(--font-size-max) * var(--type-scale-max-pow-5));
    --font-size-xs: calc(((var(--font-size-min-xs) / 16) * 1rem) + (var(--font-size-max-xs) - var(--font-size-min-xs)) * var(--fluid--breakpoint));
    --font-size-sm: calc(((var(--font-size-min-sm) / 16) * 1rem) + (var(--font-size-max-sm) - var(--font-size-min-sm)) * var(--fluid--breakpoint));
    --font-size-md: calc(((var(--font-size-min-md) / 16) * 1rem) + (var(--font-size-max-md) - var(--font-size-min-md)) * var(--fluid--breakpoint));
    --font-size-lg: calc(((var(--font-size-min-lg) / 16) * 1rem) + (var(--font-size-max-lg) - var(--font-size-min-lg)) * var(--fluid--breakpoint));
    --font-size-xl: calc(((var(--font-size-min-xl) / 16) * 1rem) + (var(--font-size-max-xl) - var(--font-size-min-xl)) * var(--fluid--breakpoint));
    --font-size-2xl: calc(((var(--font-size-min-2xl) / 16) * 1rem) + (var(--font-size-max-2xl) - var(--font-size-min-2xl)) * var(--fluid--breakpoint));
    --font-size-3xl: calc(((var(--font-size-min-3xl) / 16) * 1rem) + (var(--font-size-max-3xl) - var(--font-size-min-3xl)) * var(--fluid--breakpoint));
    --font-size-4xl: calc(((var(--font-size-min-4xl) / 16) * 1rem) + (var(--font-size-max-4xl) - var(--font-size-min-4xl)) * var(--fluid--breakpoint));
    --font-size: var(--font-size-md);
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-white-a: 1;
    --color-white: hsla(var(--color-white-h) var(--color-white-s) var(--color-white-l) / var(--color-white-a));
    --color-black-h: 0;
    --color-black-s: 0%;
    --color-black-l: 0%;
    --color-black-a: 1;
    --color-black: hsla(var(--color-black-h) var(--color-black-s) var(--color-black-l) / var(--color-black-a));
    --color-gray-h: 193.63636363636363;
    --color-gray-s: 10.784313725490199%;
    --color-gray-l: 60.00000000000001%;
    --color-gray-a: 1;
    --color-gray: hsla(var(--color-gray-h) var(--color-gray-s) var(--color-gray-l) / var(--color-gray-a));
    --color-gray-50-h: var(--color-gray-h);
    --color-gray-50-s: var(--color-gray-s);
    --color-gray-50-l: 95%;
    --color-gray-50-a: var(--color-gray-a);
    --color-gray-50: hsla(var(--color-gray-50-h) var(--color-gray-50-s) var(--color-gray-50-l) / var(--color-gray-50-a));
    --color-gray-100-h: var(--color-gray-h);
    --color-gray-100-s: var(--color-gray-s);
    --color-gray-100-l: 90%;
    --color-gray-100-a: var(--color-gray-a);
    --color-gray-100: hsla(var(--color-gray-100-h) var(--color-gray-100-s) var(--color-gray-100-l) / var(--color-gray-100-a));
    --color-gray-200-h: var(--color-gray-h);
    --color-gray-200-s: var(--color-gray-s);
    --color-gray-200-l: 80%;
    --color-gray-200-a: var(--color-gray-a);
    --color-gray-200: hsla(var(--color-gray-200-h) var(--color-gray-200-s) var(--color-gray-200-l) / var(--color-gray-200-a));
    --color-gray-300-h: var(--color-gray-h);
    --color-gray-300-s: var(--color-gray-s);
    --color-gray-300-l: 70%;
    --color-gray-300-a: var(--color-gray-a);
    --color-gray-300: hsla(var(--color-gray-300-h) var(--color-gray-300-s) var(--color-gray-300-l) / var(--color-gray-300-a));
    --color-gray-400-h: var(--color-gray-h);
    --color-gray-400-s: var(--color-gray-s);
    --color-gray-400-l: 60%;
    --color-gray-400-a: var(--color-gray-a);
    --color-gray-400: hsla(var(--color-gray-400-h) var(--color-gray-400-s) var(--color-gray-400-l) / var(--color-gray-400-a));
    --color-gray-500-h: var(--color-gray-h);
    --color-gray-500-s: var(--color-gray-s);
    --color-gray-500-l: 50%;
    --color-gray-500-a: var(--color-gray-a);
    --color-gray-500: hsla(var(--color-gray-500-h) var(--color-gray-500-s) var(--color-gray-500-l) / var(--color-gray-500-a));
    --color-gray-600-h: var(--color-gray-h);
    --color-gray-600-s: var(--color-gray-s);
    --color-gray-600-l: 40%;
    --color-gray-600-a: var(--color-gray-a);
    --color-gray-600: hsla(var(--color-gray-600-h) var(--color-gray-600-s) var(--color-gray-600-l) / var(--color-gray-600-a));
    --color-gray-700-h: var(--color-gray-h);
    --color-gray-700-s: var(--color-gray-s);
    --color-gray-700-l: 30%;
    --color-gray-700-a: var(--color-gray-a);
    --color-gray-700: hsla(var(--color-gray-700-h) var(--color-gray-700-s) var(--color-gray-700-l) / var(--color-gray-700-a));
    --color-gray-800-h: var(--color-gray-h);
    --color-gray-800-s: var(--color-gray-s);
    --color-gray-800-l: 20%;
    --color-gray-800-a: var(--color-gray-a);
    --color-gray-800: hsla(var(--color-gray-800-h) var(--color-gray-800-s) var(--color-gray-800-l) / var(--color-gray-800-a));
    --color-gray-900-h: var(--color-gray-h);
    --color-gray-900-s: var(--color-gray-s);
    --color-gray-900-l: 10%;
    --color-gray-900-a: var(--color-gray-a);
    --color-gray-900: hsla(var(--color-gray-900-h) var(--color-gray-900-s) var(--color-gray-900-l) / var(--color-gray-900-a));
    --color-gray-950-h: var(--color-gray-h);
    --color-gray-950-s: var(--color-gray-s);
    --color-gray-950-l: 5%;
    --color-gray-950-a: var(--color-gray-a);
    --color-gray-950: hsla(var(--color-gray-950-h) var(--color-gray-950-s) var(--color-gray-950-l) / var(--color-gray-950-a));
    --text-color: var(--color-gray-900);
    --text-color-weak: var(--color-gray-700);
    --text-color-weaker: var(--color-gray-500);
    --text-color-weakest: var(--color-gray-300);
    --breadcrumb--font-size: var(--font-size);
    --breadcrumb--margin-top: 0;
    --breadcrumb--margin-right: 0;
    --breadcrumb--margin-bottom: var(--margin-bottom);
    --breadcrumb--margin-left: 0;
    --breadcrumb--margin: var(--breadcrumb--margin-top) var(--breadcrumb--margin-right) var(--breadcrumb--margin-bottom) var(--breadcrumb--margin-left);
    --breadcrumb--padding-top: 0;
    --breadcrumb--padding-right: var(--padding-right);
    --breadcrumb--padding-bottom: 0;
    --breadcrumb--padding-left: var(--padding-left);
    --breadcrumb--padding: var(--breadcrumb--padding-top) var(--breadcrumb--padding-right) var(--breadcrumb--padding-bottom) var(--breadcrumb--padding-left);
    --breadcrumb--separator: "/";
    --breadcrumb--active--color-h: 0;
    --breadcrumb--active--color-s: 0%;
    --breadcrumb--active--color-l: 0%;
    --breadcrumb--active--color-a: 1;
    --breadcrumb--active--color: var(--text-color-weaker);
    --size-multiplier: 1;
    --size-multiplier-xxs: calc(var(--size-multiplier) / var(--scale-pow-3));
    --size-multiplier-xs: calc(var(--size-multiplier) / var(--scale-pow-2));
    --size-multiplier-sm: calc(var(--size-multiplier) / var(--scale-pow-1));
    --size-multiplier-md: var(--size-multiplier);
    --size-multiplier-lg: calc(var(--size-multiplier) * var(--scale-pow-1));
    --size-multiplier-xl: calc(var(--size-multiplier) * var(--scale-pow-2));
    --size-multiplier-xxl: calc(var(--size-multiplier) * var(--scale-pow-3));
    --breadcrumb--sm--font-size: calc(var(--breadcrumb--font-size) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-top: calc(var(--breadcrumb--padding-top) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-right: calc(var(--breadcrumb--padding-right) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-bottom: calc(var(--breadcrumb--padding-bottom) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-left: calc(var(--breadcrumb--padding-left) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding: var(--breadcrumb--sm--padding-top) var(--breadcrumb--sm--padding-right) var(--breadcrumb--sm--padding-bottom) var(--breadcrumb--sm--padding-left);
    --breadcrumb--md--font-size: calc(var(--breadcrumb--font-size) * var(--size-multiplier-md));
    --breadcrumb--md--padding-top: calc(var(--breadcrumb--padding-top) * var(--size-multiplier-md));
    --breadcrumb--md--padding-right: calc(var(--breadcrumb--padding-right) * var(--size-multiplier-md));
    --breadcrumb--md--padding-bottom: calc(var(--breadcrumb--padding-bottom) * var(--size-multiplier-md));
    --breadcrumb--md--padding-left: calc(var(--breadcrumb--padding-left) * var(--size-multiplier-md));
    --breadcrumb--md--padding: var(--breadcrumb--md--padding-top) var(--breadcrumb--md--padding-right) var(--breadcrumb--md--padding-bottom) var(--breadcrumb--md--padding-left);
    --breadcrumb--lg--font-size: calc(var(--breadcrumb--font-size) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-top: calc(var(--breadcrumb--padding-top) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-right: calc(var(--breadcrumb--padding-right) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-bottom: calc(var(--breadcrumb--padding-bottom) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-left: calc(var(--breadcrumb--padding-left) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding: var(--breadcrumb--lg--padding-top) var(--breadcrumb--lg--padding-right) var(--breadcrumb--lg--padding-bottom) var(--breadcrumb--lg--padding-left);
    --contrast-text-color-light-h: var(--color-gray-900-h);
    --contrast-text-color-light-s: var(--color-gray-900-s);
    --contrast-text-color-light-l: var(--color-gray-900-l);
    --contrast-text-color-light-a: var(--color-gray-900-a);
    --contrast-text-color-light: hsla(var(--contrast-text-color-light-h) var(--contrast-text-color-light-s) var(--contrast-text-color-light-l) / var(--contrast-text-color-light-a));
    --contrast-text-color-dark-h: var(--color-white-h);
    --contrast-text-color-dark-s: var(--color-white-s);
    --contrast-text-color-dark-l: var(--color-white-l);
    --contrast-text-color-dark-a: var(--color-white-a);
    --contrast-text-color-dark: hsla(var(--contrast-text-color-dark-h) var(--contrast-text-color-dark-s) var(--contrast-text-color-dark-l) / var(--contrast-text-color-dark-a));
    --contrast-text-color-primary-h: var(--contrast-text-color-dark-h);
    --contrast-text-color-primary-s: var(--contrast-text-color-dark-s);
    --contrast-text-color-primary-l: var(--contrast-text-color-dark-l);
    --contrast-text-color-primary-a: var(--contrast-text-color-dark-a);
    --contrast-text-color-primary: hsla(var(--contrast-text-color-primary-h) var(--contrast-text-color-primary-s) var(--contrast-text-color-primary-l) / var(--contrast-text-color-primary-a));
    --contrast-text-color-secondary-h: var(--contrast-text-color-dark-h);
    --contrast-text-color-secondary-s: var(--contrast-text-color-dark-s);
    --contrast-text-color-secondary-l: var(--contrast-text-color-dark-l);
    --contrast-text-color-secondary-a: var(--contrast-text-color-dark-a);
    --contrast-text-color-secondary: hsla(var(--contrast-text-color-secondary-h) var(--contrast-text-color-secondary-s) var(--contrast-text-color-secondary-l) / var(--contrast-text-color-secondary-a));
    --contrast-text-color-info-h: var(--contrast-text-color-light-h);
    --contrast-text-color-info-s: var(--contrast-text-color-light-s);
    --contrast-text-color-info-l: var(--contrast-text-color-light-l);
    --contrast-text-color-info-a: var(--contrast-text-color-light-a);
    --contrast-text-color-info: hsla(var(--contrast-text-color-info-h) var(--contrast-text-color-info-s) var(--contrast-text-color-info-l) / var(--contrast-text-color-info-a));
    --contrast-text-color-success-h: var(--contrast-text-color-light-h);
    --contrast-text-color-success-s: var(--contrast-text-color-light-s);
    --contrast-text-color-success-l: var(--contrast-text-color-light-l);
    --contrast-text-color-success-a: var(--contrast-text-color-light-a);
    --contrast-text-color-success: hsla(var(--contrast-text-color-success-h) var(--contrast-text-color-success-s) var(--contrast-text-color-success-l) / var(--contrast-text-color-success-a));
    --contrast-text-color-warning-h: var(--contrast-text-color-light-h);
    --contrast-text-color-warning-s: var(--contrast-text-color-light-s);
    --contrast-text-color-warning-l: var(--contrast-text-color-light-l);
    --contrast-text-color-warning-a: var(--contrast-text-color-light-a);
    --contrast-text-color-warning: hsla(var(--contrast-text-color-warning-h) var(--contrast-text-color-warning-s) var(--contrast-text-color-warning-l) / var(--contrast-text-color-warning-a));
    --contrast-text-color-danger-h: var(--contrast-text-color-light-h);
    --contrast-text-color-danger-s: var(--contrast-text-color-light-s);
    --contrast-text-color-danger-l: var(--contrast-text-color-light-l);
    --contrast-text-color-danger-a: var(--contrast-text-color-light-a);
    --contrast-text-color-danger: hsla(var(--contrast-text-color-danger-h) var(--contrast-text-color-danger-s) var(--contrast-text-color-danger-l) / var(--contrast-text-color-danger-a));
    --breadcrumb--light--color-h: 0;
    --breadcrumb--light--color-s: 0%;
    --breadcrumb--light--color-l: 0%;
    --breadcrumb--light--color-a: 1;
    --breadcrumb--light--color: var(--contrast-text-color-light);
    --breadcrumb--dark--color-h: 0;
    --breadcrumb--dark--color-s: 0%;
    --breadcrumb--dark--color-l: 0%;
    --breadcrumb--dark--color-a: 1;
    --breadcrumb--dark--color: var(--contrast-text-color-dark);
}
