@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../INavbar/css/_variables';

/**
 * Navbar Items
 */
.navbar {
    .navbar-items {
        display: flex;
        flex-wrap: nowrap;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-between;
        align-items: center;
    }

    &.-collapsed .navbar-items {
        border-radius: border-radius('md');
    }
}
