:root {
    /**
     * Border radius variables
     */
    --border-radius-top-left: 4px;
    --border-radius-top-right: 4px;
    --border-radius-bottom-right: 4px;
    --border-radius-bottom-left: 4px;
    --border-radius: var(--border-radius-top-left) var(--border-radius-top-right) var(--border-radius-bottom-right) var(--border-radius-bottom-left);

    /**
     * Border radius xs variant variables
     */
    --border-radius-top-left-xs: calc(var(--border-radius-top-left) * var(--size-multiplier-xs));
    --border-radius-top-right-xs: calc(var(--border-radius-top-right) * var(--size-multiplier-xs));
    --border-radius-bottom-right-xs: calc(var(--border-radius-bottom-right) * var(--size-multiplier-xs));
    --border-radius-bottom-left-xs: calc(var(--border-radius-bottom-left) * var(--size-multiplier-xs));
    --border-radius-xs: var(--border-radius-top-left-xs) var(--border-radius-top-right-xs) var(--border-radius-bottom-right-xs) var(--border-radius-bottom-left-xs);

    /**
     * Border radius sm variant variables
     */
    --border-radius-top-left-sm: calc(var(--border-radius-top-left) * var(--size-multiplier-sm));
    --border-radius-top-right-sm: calc(var(--border-radius-top-right) * var(--size-multiplier-sm));
    --border-radius-bottom-right-sm: calc(var(--border-radius-bottom-right) * var(--size-multiplier-sm));
    --border-radius-bottom-left-sm: calc(var(--border-radius-bottom-left) * var(--size-multiplier-sm));
    --border-radius-sm: var(--border-radius-top-left-sm) var(--border-radius-top-right-sm) var(--border-radius-bottom-right-sm) var(--border-radius-bottom-left-sm);

    /**
     * Border radius md variant variables
     */
    --border-radius-top-left-md: calc(var(--border-radius-top-left) * var(--size-multiplier-md));
    --border-radius-top-right-md: calc(var(--border-radius-top-right) * var(--size-multiplier-md));
    --border-radius-bottom-right-md: calc(var(--border-radius-bottom-right) * var(--size-multiplier-md));
    --border-radius-bottom-left-md: calc(var(--border-radius-bottom-left) * var(--size-multiplier-md));
    --border-radius-md: var(--border-radius-top-left-md) var(--border-radius-top-right-md) var(--border-radius-bottom-right-md) var(--border-radius-bottom-left-md);

    /**
     * Border radius lg variant variables
     */
    --border-radius-top-left-lg: calc(var(--border-radius-top-left) * var(--size-multiplier-lg));
    --border-radius-top-right-lg: calc(var(--border-radius-top-right) * var(--size-multiplier-lg));
    --border-radius-bottom-right-lg: calc(var(--border-radius-bottom-right) * var(--size-multiplier-lg));
    --border-radius-bottom-left-lg: calc(var(--border-radius-bottom-left) * var(--size-multiplier-lg));
    --border-radius-lg: var(--border-radius-top-left-lg) var(--border-radius-top-right-lg) var(--border-radius-bottom-right-lg) var(--border-radius-bottom-left-lg);

    /**
     * Border radius xl variant variables
     */
    --border-radius-top-left-xl: calc(var(--border-radius-top-left) * var(--size-multiplier-xl));
    --border-radius-top-right-xl: calc(var(--border-radius-top-right) * var(--size-multiplier-xl));
    --border-radius-bottom-right-xl: calc(var(--border-radius-bottom-right) * var(--size-multiplier-xl));
    --border-radius-bottom-left-xl: calc(var(--border-radius-bottom-left) * var(--size-multiplier-xl));
    --border-radius-xl: var(--border-radius-top-left-xl) var(--border-radius-top-right-xl) var(--border-radius-bottom-right-xl) var(--border-radius-bottom-left-xl);
}
