:root {
    /**
     * Border radius variables
     */
    --border-radius-topLeft: 4px;
    --border-radius-topRight: 4px;
    --border-radius-bottomRight: 4px;
    --border-radius-bottomLeft: 4px;
    --border-radius: var(--border-radius-topLeft) var(--border-radius-topRight) var(--border-radius-bottomRight) var(--border-radius-bottomLeft);

    /**
     * Border radius xs variant variables
     */
    --border-radius-top-xs: calc(undefined * var(--size-multiplier-xs));
    --border-radius-right-xs: calc(undefined * var(--size-multiplier-xs));
    --border-radius-bottom-xs: calc(undefined * var(--size-multiplier-xs));
    --border-radius-left-xs: calc(undefined * var(--size-multiplier-xs));
    --border-radius-xs: var(--border-radius-top-xs) var(--border-radius-right-xs) var(--border-radius-bottom-xs) var(--border-radius-left-xs);

    /**
     * Border radius sm variant variables
     */
    --border-radius-top-sm: calc(undefined * var(--size-multiplier-sm));
    --border-radius-right-sm: calc(undefined * var(--size-multiplier-sm));
    --border-radius-bottom-sm: calc(undefined * var(--size-multiplier-sm));
    --border-radius-left-sm: calc(undefined * var(--size-multiplier-sm));
    --border-radius-sm: var(--border-radius-top-sm) var(--border-radius-right-sm) var(--border-radius-bottom-sm) var(--border-radius-left-sm);

    /**
     * Border radius md variant variables
     */
    --border-radius-top-md: calc(undefined * var(--size-multiplier-md));
    --border-radius-right-md: calc(undefined * var(--size-multiplier-md));
    --border-radius-bottom-md: calc(undefined * var(--size-multiplier-md));
    --border-radius-left-md: calc(undefined * var(--size-multiplier-md));
    --border-radius-md: var(--border-radius-top-md) var(--border-radius-right-md) var(--border-radius-bottom-md) var(--border-radius-left-md);

    /**
     * Border radius lg variant variables
     */
    --border-radius-top-lg: calc(undefined * var(--size-multiplier-lg));
    --border-radius-right-lg: calc(undefined * var(--size-multiplier-lg));
    --border-radius-bottom-lg: calc(undefined * var(--size-multiplier-lg));
    --border-radius-left-lg: calc(undefined * var(--size-multiplier-lg));
    --border-radius-lg: var(--border-radius-top-lg) var(--border-radius-right-lg) var(--border-radius-bottom-lg) var(--border-radius-left-lg);

    /**
     * Border radius xl variant variables
     */
    --border-radius-top-xl: calc(undefined * var(--size-multiplier-xl));
    --border-radius-right-xl: calc(undefined * var(--size-multiplier-xl));
    --border-radius-bottom-xl: calc(undefined * var(--size-multiplier-xl));
    --border-radius-left-xl: calc(undefined * var(--size-multiplier-xl));
    --border-radius-xl: var(--border-radius-top-xl) var(--border-radius-right-xl) var(--border-radius-bottom-xl) var(--border-radius-left-xl);
}
