//
// Select Option variants
//
for --variant-name, --variant in --variants['select-dropdown']
    .select > .dropdown-menu.-{--variant-name} > .option
        color: -variant-color-by-luminance(--variant['color'], --select-dropdown-variant-color-light, --select-dropdown-variant-color-dark)

        &:hover
        &:focus
            background: -variant-color-by-luminance(--variant['color'], darken(--variant['color'], 12%), darken(--variant['color'], 4%))
        
        &.-active
        &:active
            background: -variant-color-by-luminance(--variant['color'], darken(--variant['color'], 24%), darken(--variant['color'], 8%))
        
        &.-disabled,
        &:disabled
            color: -variant-color-by-luminance(--variant['color'], darken(--select-dropdown-variant-color-light, 40%), lighten(--select-dropdown-variant-color-dark, 40%))
