//
// Mixins
//
@mixin form-input-selector() {
    > input,
    > select,
    > textarea {
        @content;
    }
}

@mixin form-input-label-size($size) {
    $_font-size: map_get($input-font-size, $size);
    $_padding: map_get($input-padding, $size);

    font-size: $_font-size;

    &.-left {
        padding-right: nth($_padding, 1) * 2;
    }

    &.-right {
        padding-left: nth($_padding, 1) * 2;
    }
}

@mixin form-input-size($size) {
    $_padding: map_get($input-padding, $size);
    $_font-size: map_get($input-font-size, $size);
    $_border-radius: map_get($input-border-radius, $size);
    $_prefix-padding: map_get($input-prefix-padding, $size);

    @include form-input-selector() {
        padding: $_padding;
        font-size: $_font-size;

        @if $border-radius-enabled {
            border-radius: $_border-radius;
        }
    }

    &.-prefixed {
        @include form-input-selector() {
            padding-left: $_prefix-padding;
        }
    }

    &.-suffixed {
        @include form-input-selector() {
            padding-right: $_prefix-padding;
        }
    }
}
