//
// Collapsible Variables
//
--collapsible-border-radius := --border-radius['md']

//
// Themes
//
--collapsible-variants := (monochrome)
--collapsible-variant-color-light := --variant-color-light
--collapsible-variant-color-dark := --variant-color-dark

--variants['collapsible'] = -add-variant(--collapsible-variants, { color: --color-groups })