//
// Variables
//
--collapsible-border-radius := --border-radius['md']

//
// Themes
//
--collapsible-variants := (monochrome)

--variants['collapsible'] = -add-variant(--collapsible-variants, { color: --color-groups })