//
// Variables
//
--card-variants := (basic brand monochrome neutral state)

--card-box-shadow := --box-shadow[0] 0.5rem 0.5rem -0.5rem rgba(--colors['black'], 0.33)

//
// Themes
//
--variants['card'] = -add-variant(--card-variants, { color: --color-groups })

//
// Styles
//
.card
    box-shadow: --card-box-shadow

    // Card themes
    // Add the required color themes to all card variations
    for --variant-name, --variant in --variants['card']
        &.-{--variant-name}
            color: -variant-color-by-luminance(--variant['color'], --variant-color-light, --variant-color-dark)
            background-color: --variant['color']

            if --gradient-enabled and --variant['gradient']
                background-image: -linear-gradient(--variant['gradient'])

            > .body
                border-color: --variant['color']

            > .header
            > .footer
                border-color: --variant['color']
