/**
 * Variables
 */

.modal-overlay {
    /// The font weight of the modal component
    /// @name font-weight
    ----font-weight: #{font-weight('normal')};

    /// The font size of the modal component
    /// @name font-size
    /// @type size
    ----font-size: #{font-size()};

    /// The line height of the modal component
    /// @name line-height
    ----line-height: #{var(--line-height)};

    /// The border top width of the modal component
    /// @name border-top-width
    ----border-top-width: #{var(--border-top-width)};

    /// The border right width of the modal component
    /// @name border-right-width
    ----border-right-width: #{var(--border-right-width)};

    /// The border bottom width of the modal component
    /// @name border-bottom-width
    ----border-bottom-width: #{var(--border-bottom-width)};

    /// The border left width of the modal component
    /// @name border-left-width
    ----border-left-width: #{var(--border-left-width)};

    /// The border width of the modal component
    /// @name border-width
    ----border-width: #{var(----border-top-width) var(----border-right-width) var(----border-bottom-width) var(----border-left-width)};

    /// The border top left radius of the modal component
    /// @name border-top-left-radius
    /// @type size
    ----border-top-left-radius: #{var(--border-top-left-radius)};

    /// The border top right radius of the modal component
    /// @name border-top-right-radius
    /// @type size
    ----border-top-right-radius: #{var(--border-top-right-radius)};

    /// The border bottom right radius of the modal component
    /// @name border-bottom-right-radius
    /// @type size
    ----border-bottom-right-radius: #{var(--border-bottom-right-radius)};

    /// The border bottom left radius of the modal component
    /// @name border-bottom-left-radius
    /// @type size
    ----border-bottom-left-radius: #{var(--border-bottom-left-radius)};

    /// The border radius of the modal component
    /// @name border-radius
    ----border-radius: #{var(----border-top-left-radius) var(----border-top-right-radius) var(----border-bottom-right-radius) var(----border-bottom-left-radius)};

    /// The padding top of the modal component
    /// @name padding-top
    /// @type size
    ----padding-top: #{var(--padding-top)};

    /// The padding right of the modal component
    /// @name padding-right
    /// @type size
    ----padding-right: #{var(--padding-right)};

    /// The padding bottom of the modal component
    /// @name padding-bottom
    /// @type size
    ----padding-bottom: #{var(--padding-bottom)};

    /// The padding left of the modal component
    /// @name padding-left
    /// @type size
    ----padding-left: #{var(--padding-left)};

    /// The padding of the modal component
    /// @name padding
    ----padding: #{var(----padding-top) var(----padding-right) var(----padding-bottom) var(----padding-left)};

    /// The margin top of the modal component
    /// @name margin-top
    /// @type size
    ----margin-top: #{var(--margin-top)};

    /// The margin right of the modal component
    /// @name margin-right
    /// @type size
    ----margin-right: #{var(--margin-right)};

    /// The margin bottom of the modal component
    /// @name margin-bottom
    /// @type size
    ----margin-bottom: #{var(--margin-bottom)};

    /// The margin left of the modal component
    /// @name margin-left
    /// @type size
    ----margin-left: #{var(--margin-left)};

    /// The margin of the modal component
    /// @name margin
    ----margin: #{var(----margin-top) var(----margin-right) var(----margin-bottom) var(----margin-left)};

    /// The width of the modal component
    /// @name width
    /// @type size
    ----width: #{480px};

    /// The color of the modal component
    /// @name color
    /// @type color
    ----color: #{contrast-color($color-light)};

    /// The background of the modal component
    /// @name background
    /// @type color
    ----background: #{color('white')};

    /// The border color of the modal component
    /// @name border-color
    /// @type color
    ----border-color: #{color('light')};

    /// The color of the modal component header
    /// @name header--color
    /// @type color
    ----header--color: #{contrast-color($color-light)};

    /// The background of the modal component header
    /// @name header--background
    /// @type color
    ----header--background: #{color('light-25')};

    /// The border color of the modal component header
    /// @name header--border-color
    /// @type color
    ----header--border-color: #{color('light')};

    /// The color of the modal component footer
    /// @name footer--color
    /// @type color
    ----footer--color: #{contrast-color($color-light)};

    /// The background of the modal component footer
    /// @name footer--background
    /// @type color
    ----footer--background: #{color('light-25')};

    /// The border color of the modal component footer
    /// @name footer--border-color
    /// @type color
    ----footer--border-color: #{color('light')};

    /// The background of the modal component overlay
    /// @name overlay--background
    ----overlay--background: #{rgba(0, 0, 0, 0.75)};
}
