@import '../../functions';

// Color Palette
//
// Basic, state and neutral colors
//

// Basic Colors
//
$color-red: #f2413d !default;
$color-red-05: tint-color($color-red, 90%) !default;
$color-red-10: tint-color($color-red, 80%) !default;
$color-red-15: tint-color($color-red, 70%) !default;
$color-red-20: tint-color($color-red, 60%) !default;
$color-red-25: tint-color($color-red, 50%) !default;
$color-red-30: tint-color($color-red, 40%) !default;
$color-red-35: tint-color($color-red, 30%) !default;
$color-red-40: tint-color($color-red, 20%) !default;
$color-red-45: tint-color($color-red, 10%) !default;
$color-red-50: $color-red !default;
$color-red-55: shade-color($color-red, 10%) !default;
$color-red-60: shade-color($color-red, 20%) !default;
$color-red-65: shade-color($color-red, 30%) !default;
$color-red-70: shade-color($color-red, 40%) !default;
$color-red-75: shade-color($color-red, 50%) !default;
$color-red-80: shade-color($color-red, 60%) !default;
$color-red-85: shade-color($color-red, 70%) !default;
$color-red-90: shade-color($color-red, 80%) !default;
$color-red-95: shade-color($color-red, 90%) !default;

$color-orange: #f98e5a !default;
$color-orange-05: tint-color($color-orange, 90%) !default;
$color-orange-10: tint-color($color-orange, 80%) !default;
$color-orange-15: tint-color($color-orange, 70%) !default;
$color-orange-20: tint-color($color-orange, 60%) !default;
$color-orange-25: tint-color($color-orange, 50%) !default;
$color-orange-30: tint-color($color-orange, 40%) !default;
$color-orange-35: tint-color($color-orange, 30%) !default;
$color-orange-40: tint-color($color-orange, 20%) !default;
$color-orange-45: tint-color($color-orange, 10%) !default;
$color-orange-50: $color-orange !default;
$color-orange-55: shade-color($color-orange, 10%) !default;
$color-orange-60: shade-color($color-orange, 20%) !default;
$color-orange-65: shade-color($color-orange, 30%) !default;
$color-orange-70: shade-color($color-orange, 40%) !default;
$color-orange-75: shade-color($color-orange, 50%) !default;
$color-orange-80: shade-color($color-orange, 60%) !default;
$color-orange-85: shade-color($color-orange, 70%) !default;
$color-orange-90: shade-color($color-orange, 80%) !default;
$color-orange-95: shade-color($color-orange, 90%) !default;

$color-yellow: #ffda77 !default;
$color-yellow-05: tint-color($color-yellow, 90%) !default;
$color-yellow-10: tint-color($color-yellow, 80%) !default;
$color-yellow-15: tint-color($color-yellow, 70%) !default;
$color-yellow-20: tint-color($color-yellow, 60%) !default;
$color-yellow-25: tint-color($color-yellow, 50%) !default;
$color-yellow-30: tint-color($color-yellow, 40%) !default;
$color-yellow-35: tint-color($color-yellow, 30%) !default;
$color-yellow-40: tint-color($color-yellow, 20%) !default;
$color-yellow-45: tint-color($color-yellow, 10%) !default;
$color-yellow-50: $color-yellow !default;
$color-yellow-55: shade-color($color-yellow, 10%) !default;
$color-yellow-60: shade-color($color-yellow, 20%) !default;
$color-yellow-65: shade-color($color-yellow, 30%) !default;
$color-yellow-70: shade-color($color-yellow, 40%) !default;
$color-yellow-75: shade-color($color-yellow, 50%) !default;
$color-yellow-80: shade-color($color-yellow, 60%) !default;
$color-yellow-85: shade-color($color-yellow, 70%) !default;
$color-yellow-90: shade-color($color-yellow, 80%) !default;
$color-yellow-95: shade-color($color-yellow, 90%) !default;

$color-green: #2fb079 !default;
$color-green-05: tint-color($color-green, 90%) !default;
$color-green-10: tint-color($color-green, 80%) !default;
$color-green-15: tint-color($color-green, 70%) !default;
$color-green-20: tint-color($color-green, 60%) !default;
$color-green-25: tint-color($color-green, 50%) !default;
$color-green-30: tint-color($color-green, 40%) !default;
$color-green-35: tint-color($color-green, 30%) !default;
$color-green-40: tint-color($color-green, 20%) !default;
$color-green-45: tint-color($color-green, 10%) !default;
$color-green-50: $color-green !default;
$color-green-55: shade-color($color-green, 10%) !default;
$color-green-60: shade-color($color-green, 20%) !default;
$color-green-65: shade-color($color-green, 30%) !default;
$color-green-70: shade-color($color-green, 40%) !default;
$color-green-75: shade-color($color-green, 50%) !default;
$color-green-80: shade-color($color-green, 60%) !default;
$color-green-85: shade-color($color-green, 70%) !default;
$color-green-90: shade-color($color-green, 80%) !default;
$color-green-95: shade-color($color-green, 90%) !default;

$color-teal: #48b4a9 !default;
$color-teal-05: tint-color($color-teal, 90%) !default;
$color-teal-10: tint-color($color-teal, 80%) !default;
$color-teal-15: tint-color($color-teal, 70%) !default;
$color-teal-20: tint-color($color-teal, 60%) !default;
$color-teal-25: tint-color($color-teal, 50%) !default;
$color-teal-30: tint-color($color-teal, 40%) !default;
$color-teal-35: tint-color($color-teal, 30%) !default;
$color-teal-40: tint-color($color-teal, 20%) !default;
$color-teal-45: tint-color($color-teal, 10%) !default;
$color-teal-50: $color-teal !default;
$color-teal-55: shade-color($color-teal, 10%) !default;
$color-teal-60: shade-color($color-teal, 20%) !default;
$color-teal-65: shade-color($color-teal, 30%) !default;
$color-teal-70: shade-color($color-teal, 40%) !default;
$color-teal-75: shade-color($color-teal, 50%) !default;
$color-teal-80: shade-color($color-teal, 60%) !default;
$color-teal-85: shade-color($color-teal, 70%) !default;
$color-teal-90: shade-color($color-teal, 80%) !default;
$color-teal-95: shade-color($color-teal, 90%) !default;

$color-blue: #178bb2 !default;
$color-blue-05: tint-color($color-blue, 90%) !default;
$color-blue-10: tint-color($color-blue, 80%) !default;
$color-blue-15: tint-color($color-blue, 70%) !default;
$color-blue-20: tint-color($color-blue, 60%) !default;
$color-blue-25: tint-color($color-blue, 50%) !default;
$color-blue-30: tint-color($color-blue, 40%) !default;
$color-blue-35: tint-color($color-blue, 30%) !default;
$color-blue-40: tint-color($color-blue, 20%) !default;
$color-blue-45: tint-color($color-blue, 10%) !default;
$color-blue-50: $color-blue !default;
$color-blue-55: shade-color($color-blue, 10%) !default;
$color-blue-60: shade-color($color-blue, 20%) !default;
$color-blue-65: shade-color($color-blue, 30%) !default;
$color-blue-70: shade-color($color-blue, 40%) !default;
$color-blue-75: shade-color($color-blue, 50%) !default;
$color-blue-80: shade-color($color-blue, 60%) !default;
$color-blue-85: shade-color($color-blue, 70%) !default;
$color-blue-90: shade-color($color-blue, 80%) !default;
$color-blue-95: shade-color($color-blue, 90%) !default;

$color-purple: #8268ae !default;
$color-purple-05: tint-color($color-purple, 90%) !default;
$color-purple-10: tint-color($color-purple, 80%) !default;
$color-purple-15: tint-color($color-purple, 70%) !default;
$color-purple-20: tint-color($color-purple, 60%) !default;
$color-purple-25: tint-color($color-purple, 50%) !default;
$color-purple-30: tint-color($color-purple, 40%) !default;
$color-purple-35: tint-color($color-purple, 30%) !default;
$color-purple-40: tint-color($color-purple, 20%) !default;
$color-purple-45: tint-color($color-purple, 10%) !default;
$color-purple-50: $color-purple !default;
$color-purple-55: shade-color($color-purple, 10%) !default;
$color-purple-60: shade-color($color-purple, 20%) !default;
$color-purple-65: shade-color($color-purple, 30%) !default;
$color-purple-70: shade-color($color-purple, 40%) !default;
$color-purple-75: shade-color($color-purple, 50%) !default;
$color-purple-80: shade-color($color-purple, 60%) !default;
$color-purple-85: shade-color($color-purple, 70%) !default;
$color-purple-90: shade-color($color-purple, 80%) !default;
$color-purple-95: shade-color($color-purple, 90%) !default;

$color-pink: #fc778a !default;
$color-pink-05: tint-color($color-pink, 90%) !default;
$color-pink-10: tint-color($color-pink, 80%) !default;
$color-pink-15: tint-color($color-pink, 70%) !default;
$color-pink-20: tint-color($color-pink, 60%) !default;
$color-pink-25: tint-color($color-pink, 50%) !default;
$color-pink-30: tint-color($color-pink, 40%) !default;
$color-pink-35: tint-color($color-pink, 30%) !default;
$color-pink-40: tint-color($color-pink, 20%) !default;
$color-pink-45: tint-color($color-pink, 10%) !default;
$color-pink-50: $color-pink !default;
$color-pink-55: shade-color($color-pink, 10%) !default;
$color-pink-60: shade-color($color-pink, 20%) !default;
$color-pink-65: shade-color($color-pink, 30%) !default;
$color-pink-70: shade-color($color-pink, 40%) !default;
$color-pink-75: shade-color($color-pink, 50%) !default;
$color-pink-80: shade-color($color-pink, 60%) !default;
$color-pink-85: shade-color($color-pink, 70%) !default;
$color-pink-90: shade-color($color-pink, 80%) !default;
$color-pink-95: shade-color($color-pink, 90%) !default;

// Neutral Colors
//
$color-transparent: transparent !default;
$color-white: #ffffff !default;
$color-black: #000000 !default;

$color-gray: #8e9fa4 !default;
$color-gray-05: tint-color($color-gray, 90%) !default;
$color-gray-10: tint-color($color-gray, 80%) !default;
$color-gray-15: tint-color($color-gray, 70%) !default;
$color-gray-20: tint-color($color-gray, 60%) !default;
$color-gray-25: tint-color($color-gray, 50%) !default;
$color-gray-30: tint-color($color-gray, 40%) !default;
$color-gray-35: tint-color($color-gray, 30%) !default;
$color-gray-40: tint-color($color-gray, 20%) !default;
$color-gray-45: tint-color($color-gray, 10%) !default;
$color-gray-50: $color-gray;
$color-gray-55: shade-color($color-gray, 10%) !default;
$color-gray-60: shade-color($color-gray, 20%) !default;
$color-gray-65: shade-color($color-gray, 30%) !default;
$color-gray-70: shade-color($color-gray, 40%) !default;
$color-gray-75: shade-color($color-gray, 50%) !default;
$color-gray-80: shade-color($color-gray, 60%) !default;
$color-gray-85: shade-color($color-gray, 70%) !default;
$color-gray-90: shade-color($color-gray, 80%) !default;
$color-gray-95: shade-color($color-gray, 90%) !default;

// Brand Neutral Colors
//
$color-light: $color-gray-15 !default;
$color-light-05: tint-color($color-light, 90%) !default;
$color-light-10: tint-color($color-light, 80%) !default;
$color-light-15: tint-color($color-light, 70%) !default;
$color-light-20: tint-color($color-light, 60%) !default;
$color-light-25: tint-color($color-light, 50%) !default;
$color-light-30: tint-color($color-light, 40%) !default;
$color-light-35: tint-color($color-light, 30%) !default;
$color-light-40: tint-color($color-light, 20%) !default;
$color-light-45: tint-color($color-light, 10%) !default;
$color-light-50: $color-light;
$color-light-55: shade-color($color-light, 10%) !default;
$color-light-60: shade-color($color-light, 20%) !default;
$color-light-65: shade-color($color-light, 30%) !default;
$color-light-70: shade-color($color-light, 40%) !default;
$color-light-75: shade-color($color-light, 50%) !default;
$color-light-80: shade-color($color-light, 60%) !default;
$color-light-85: shade-color($color-light, 70%) !default;
$color-light-90: shade-color($color-light, 80%) !default;
$color-light-95: shade-color($color-light, 90%) !default;

$color-dark: $color-gray-80 !default;
$color-dark-05: tint-color($color-dark, 90%) !default;
$color-dark-10: tint-color($color-dark, 80%) !default;
$color-dark-15: tint-color($color-dark, 70%) !default;
$color-dark-20: tint-color($color-dark, 60%) !default;
$color-dark-25: tint-color($color-dark, 50%) !default;
$color-dark-30: tint-color($color-dark, 40%) !default;
$color-dark-35: tint-color($color-dark, 30%) !default;
$color-dark-40: tint-color($color-dark, 20%) !default;
$color-dark-45: tint-color($color-dark, 10%) !default;
$color-dark-50: $color-dark;
$color-dark-55: shade-color($color-dark, 10%) !default;
$color-dark-60: shade-color($color-dark, 20%) !default;
$color-dark-65: shade-color($color-dark, 30%) !default;
$color-dark-70: shade-color($color-dark, 40%) !default;
$color-dark-75: shade-color($color-dark, 50%) !default;
$color-dark-80: shade-color($color-dark, 60%) !default;
$color-dark-85: shade-color($color-dark, 70%) !default;
$color-dark-90: shade-color($color-dark, 80%) !default;
$color-dark-95: shade-color($color-dark, 90%) !default;

// Brand Colors
//
$color-primary: $color-blue !default;
$color-primary-05: tint-color($color-primary, 90%) !default;
$color-primary-10: tint-color($color-primary, 80%) !default;
$color-primary-15: tint-color($color-primary, 70%) !default;
$color-primary-20: tint-color($color-primary, 60%) !default;
$color-primary-25: tint-color($color-primary, 50%) !default;
$color-primary-30: tint-color($color-primary, 40%) !default;
$color-primary-35: tint-color($color-primary, 30%) !default;
$color-primary-40: tint-color($color-primary, 20%) !default;
$color-primary-45: tint-color($color-primary, 10%) !default;
$color-primary-50: $color-primary !default;
$color-primary-55: shade-color($color-primary, 10%) !default;
$color-primary-60: shade-color($color-primary, 20%) !default;
$color-primary-65: shade-color($color-primary, 30%) !default;
$color-primary-70: shade-color($color-primary, 40%) !default;
$color-primary-75: shade-color($color-primary, 50%) !default;
$color-primary-80: shade-color($color-primary, 60%) !default;
$color-primary-85: shade-color($color-primary, 70%) !default;
$color-primary-90: shade-color($color-primary, 80%) !default;
$color-primary-95: shade-color($color-primary, 90%) !default;

$color-secondary: $color-purple !default;
$color-secondary-05: tint-color($color-secondary, 90%) !default;
$color-secondary-10: tint-color($color-secondary, 80%) !default;
$color-secondary-15: tint-color($color-secondary, 70%) !default;
$color-secondary-20: tint-color($color-secondary, 60%) !default;
$color-secondary-25: tint-color($color-secondary, 50%) !default;
$color-secondary-30: tint-color($color-secondary, 40%) !default;
$color-secondary-35: tint-color($color-secondary, 30%) !default;
$color-secondary-40: tint-color($color-secondary, 20%) !default;
$color-secondary-45: tint-color($color-secondary, 10%) !default;
$color-secondary-50: $color-secondary !default;
$color-secondary-55: shade-color($color-secondary, 10%) !default;
$color-secondary-60: shade-color($color-secondary, 20%) !default;
$color-secondary-65: shade-color($color-secondary, 30%) !default;
$color-secondary-70: shade-color($color-secondary, 40%) !default;
$color-secondary-75: shade-color($color-secondary, 50%) !default;
$color-secondary-80: shade-color($color-secondary, 60%) !default;
$color-secondary-85: shade-color($color-secondary, 70%) !default;
$color-secondary-90: shade-color($color-secondary, 80%) !default;
$color-secondary-95: shade-color($color-secondary, 90%) !default;

// State Colors
//
$color-info: $color-teal !default;
$color-info-05: tint-color($color-info, 90%) !default;
$color-info-10: tint-color($color-info, 80%) !default;
$color-info-15: tint-color($color-info, 70%) !default;
$color-info-20: tint-color($color-info, 60%) !default;
$color-info-25: tint-color($color-info, 50%) !default;
$color-info-30: tint-color($color-info, 40%) !default;
$color-info-35: tint-color($color-info, 30%) !default;
$color-info-40: tint-color($color-info, 20%) !default;
$color-info-45: tint-color($color-info, 10%) !default;
$color-info-50: $color-info !default;
$color-info-55: shade-color($color-info, 10%) !default;
$color-info-60: shade-color($color-info, 20%) !default;
$color-info-65: shade-color($color-info, 30%) !default;
$color-info-70: shade-color($color-info, 40%) !default;
$color-info-75: shade-color($color-info, 50%) !default;
$color-info-80: shade-color($color-info, 60%) !default;
$color-info-85: shade-color($color-info, 70%) !default;
$color-info-90: shade-color($color-info, 80%) !default;
$color-info-95: shade-color($color-info, 90%) !default;

$color-warning: $color-yellow !default;
$color-warning-05: tint-color($color-warning, 90%) !default;
$color-warning-10: tint-color($color-warning, 80%) !default;
$color-warning-15: tint-color($color-warning, 70%) !default;
$color-warning-20: tint-color($color-warning, 60%) !default;
$color-warning-25: tint-color($color-warning, 50%) !default;
$color-warning-30: tint-color($color-warning, 40%) !default;
$color-warning-35: tint-color($color-warning, 30%) !default;
$color-warning-40: tint-color($color-warning, 20%) !default;
$color-warning-45: tint-color($color-warning, 10%) !default;
$color-warning-50: $color-warning !default;
$color-warning-55: shade-color($color-warning, 10%) !default;
$color-warning-60: shade-color($color-warning, 20%) !default;
$color-warning-65: shade-color($color-warning, 30%) !default;
$color-warning-70: shade-color($color-warning, 40%) !default;
$color-warning-75: shade-color($color-warning, 50%) !default;
$color-warning-80: shade-color($color-warning, 60%) !default;
$color-warning-85: shade-color($color-warning, 70%) !default;
$color-warning-90: shade-color($color-warning, 80%) !default;
$color-warning-95: shade-color($color-warning, 90%) !default;

$color-danger: $color-red !default;
$color-danger-05: tint-color($color-danger, 90%) !default;
$color-danger-10: tint-color($color-danger, 80%) !default;
$color-danger-15: tint-color($color-danger, 70%) !default;
$color-danger-20: tint-color($color-danger, 60%) !default;
$color-danger-25: tint-color($color-danger, 50%) !default;
$color-danger-30: tint-color($color-danger, 40%) !default;
$color-danger-35: tint-color($color-danger, 30%) !default;
$color-danger-40: tint-color($color-danger, 20%) !default;
$color-danger-45: tint-color($color-danger, 10%) !default;
$color-danger-50: $color-danger !default;
$color-danger-55: shade-color($color-danger, 10%) !default;
$color-danger-60: shade-color($color-danger, 20%) !default;
$color-danger-65: shade-color($color-danger, 30%) !default;
$color-danger-70: shade-color($color-danger, 40%) !default;
$color-danger-75: shade-color($color-danger, 50%) !default;
$color-danger-80: shade-color($color-danger, 60%) !default;
$color-danger-85: shade-color($color-danger, 70%) !default;
$color-danger-90: shade-color($color-danger, 80%) !default;
$color-danger-95: shade-color($color-danger, 90%) !default;

$color-success: $color-green !default;
$color-success-05: tint-color($color-success, 90%) !default;
$color-success-10: tint-color($color-success, 80%) !default;
$color-success-15: tint-color($color-success, 70%) !default;
$color-success-20: tint-color($color-success, 60%) !default;
$color-success-25: tint-color($color-success, 50%) !default;
$color-success-30: tint-color($color-success, 40%) !default;
$color-success-35: tint-color($color-success, 30%) !default;
$color-success-40: tint-color($color-success, 20%) !default;
$color-success-45: tint-color($color-success, 10%) !default;
$color-success-50: $color-success !default;
$color-success-55: shade-color($color-success, 10%) !default;
$color-success-60: shade-color($color-success, 20%) !default;
$color-success-65: shade-color($color-success, 30%) !default;
$color-success-70: shade-color($color-success, 40%) !default;
$color-success-75: shade-color($color-success, 50%) !default;
$color-success-80: shade-color($color-success, 60%) !default;
$color-success-85: shade-color($color-success, 70%) !default;
$color-success-90: shade-color($color-success, 80%) !default;
$color-success-95: shade-color($color-success, 90%) !default;

// Social Colors
//
$color-facebook: #3b5998 !default;
$color-facebook-55: shade-color($color-facebook, 10%) !default;
$color-facebook-60: shade-color($color-facebook, 20%) !default;
$color-twitter: #1da1f2 !default;
$color-twitter-55: shade-color($color-twitter, 10%) !default;
$color-twitter-60: shade-color($color-twitter, 20%) !default;
$color-google: #dd4b39 !default;
$color-google-55: shade-color($color-google, 10%) !default;
$color-google-60: shade-color($color-google, 20%) !default;
$color-github: #333333 !default;
$color-github-55: shade-color($color-github, 10%) !default;
$color-github-60: shade-color($color-github, 20%) !default;
$color-instagram: #fd1d1d !default;
$color-dribbble: #ea4c89 !default;
$color-behance: #1769ff !default;
$color-flickr: #ff0084 !default;
$color-linkedin: #0077b5 !default;
$color-youtube: #b31217 !default;
$color-pinterest: #bd081c !default;
$color-gitlab: #fa7035 !default;
$color-tumblr: #35465c !default;
$color-twitch: #6441a5 !default;
$color-envato: #82b541 !default;
$color-vine: #00bf8f !default;

// All Colors
//
$colors: (
    // Brand colors
    'primary': $color-primary,
    'secondary': $color-secondary,
    'info': $color-info,
    'warning': $color-warning,
    'danger': $color-danger,
    'success': $color-success,

    // Basic colors
    'red': $color-red,
    'orange': $color-orange,
    'yellow': $color-yellow,
    'green': $color-green,
    'teal': $color-teal,
    'blue': $color-blue,
    'purple': $color-purple,
    'pink': $color-pink,

    // Neutral colors
    'transparent': $color-transparent,
    'white': $color-white,
    'black': $color-black,
    'gray': $color-gray,
    'light': $color-light,
    'dark': $color-dark,

    // Social colors
    'facebook': $color-facebook,
    'twitter': $color-twitter,
    'google': $color-google,
    'github': $color-github,
    'instagram': $color-instagram,
    'dribbble': $color-dribbble,
    'behance': $color-behance,
    'flickr': $color-flickr,
    'linkedin': $color-linkedin,
    'youtube': $color-youtube,
    'pinterest': $color-pinterest,
    'gitlab': $color-gitlab,
    'tumblr': $color-tumblr,
    'twitch': $color-twitch,
    'envato': $color-envato,
    'vine': $color-vine,
) !default;

$shades: (
    'primary-05': $color-primary-05,
    'primary-10': $color-primary-10,
    'primary-15': $color-primary-15,
    'primary-20': $color-primary-20,
    'primary-25': $color-primary-25,
    'primary-30': $color-primary-30,
    'primary-35': $color-primary-35,
    'primary-40': $color-primary-40,
    'primary-45': $color-primary-45,
    'primary-50': $color-primary-50,
    'primary-55': $color-primary-55,
    'primary-60': $color-primary-60,
    'primary-65': $color-primary-65,
    'primary-70': $color-primary-70,
    'primary-75': $color-primary-75,
    'primary-80': $color-primary-80,
    'primary-85': $color-primary-85,
    'primary-90': $color-primary-90,
    'primary-95': $color-primary-95,

    'secondary-05': $color-secondary-05,
    'secondary-10': $color-secondary-10,
    'secondary-15': $color-secondary-15,
    'secondary-20': $color-secondary-20,
    'secondary-25': $color-secondary-25,
    'secondary-30': $color-secondary-30,
    'secondary-35': $color-secondary-35,
    'secondary-40': $color-secondary-40,
    'secondary-45': $color-secondary-45,
    'secondary-50': $color-secondary-50,
    'secondary-55': $color-secondary-55,
    'secondary-60': $color-secondary-60,
    'secondary-65': $color-secondary-65,
    'secondary-70': $color-secondary-70,
    'secondary-75': $color-secondary-75,
    'secondary-80': $color-secondary-80,
    'secondary-85': $color-secondary-85,
    'secondary-90': $color-secondary-90,
    'secondary-95': $color-secondary-95,

    'info-05': $color-info-05,
    'info-10': $color-info-10,
    'info-15': $color-info-15,
    'info-20': $color-info-20,
    'info-25': $color-info-25,
    'info-30': $color-info-30,
    'info-35': $color-info-35,
    'info-40': $color-info-40,
    'info-45': $color-info-45,
    'info-50': $color-info-50,
    'info-55': $color-info-55,
    'info-60': $color-info-60,
    'info-65': $color-info-65,
    'info-70': $color-info-70,
    'info-75': $color-info-75,
    'info-80': $color-info-80,
    'info-85': $color-info-85,
    'info-90': $color-info-90,
    'info-95': $color-info-95,

    'warning-05': $color-warning-05,
    'warning-10': $color-warning-10,
    'warning-15': $color-warning-15,
    'warning-20': $color-warning-20,
    'warning-25': $color-warning-25,
    'warning-30': $color-warning-30,
    'warning-35': $color-warning-35,
    'warning-40': $color-warning-40,
    'warning-45': $color-warning-45,
    'warning-50': $color-warning-50,
    'warning-55': $color-warning-55,
    'warning-60': $color-warning-60,
    'warning-65': $color-warning-65,
    'warning-70': $color-warning-70,
    'warning-75': $color-warning-75,
    'warning-80': $color-warning-80,
    'warning-85': $color-warning-85,
    'warning-90': $color-warning-90,
    'warning-95': $color-warning-95,

    'danger-05': $color-danger-05,
    'danger-10': $color-danger-10,
    'danger-15': $color-danger-15,
    'danger-20': $color-danger-20,
    'danger-25': $color-danger-25,
    'danger-30': $color-danger-30,
    'danger-35': $color-danger-35,
    'danger-40': $color-danger-40,
    'danger-45': $color-danger-45,
    'danger-50': $color-danger-50,
    'danger-55': $color-danger-55,
    'danger-60': $color-danger-60,
    'danger-65': $color-danger-65,
    'danger-70': $color-danger-70,
    'danger-75': $color-danger-75,
    'danger-80': $color-danger-80,
    'danger-85': $color-danger-85,
    'danger-90': $color-danger-90,
    'danger-95': $color-danger-95,

    'success-05': $color-success-05,
    'success-10': $color-success-10,
    'success-15': $color-success-15,
    'success-20': $color-success-20,
    'success-25': $color-success-25,
    'success-30': $color-success-30,
    'success-35': $color-success-35,
    'success-40': $color-success-40,
    'success-45': $color-success-45,
    'success-50': $color-success-50,
    'success-55': $color-success-55,
    'success-60': $color-success-60,
    'success-65': $color-success-65,
    'success-70': $color-success-70,
    'success-75': $color-success-75,
    'success-80': $color-success-80,
    'success-85': $color-success-85,
    'success-90': $color-success-90,
    'success-95': $color-success-95,

    'red-05': $color-red-05,
    'red-10': $color-red-10,
    'red-15': $color-red-15,
    'red-20': $color-red-20,
    'red-25': $color-red-25,
    'red-30': $color-red-30,
    'red-35': $color-red-35,
    'red-40': $color-red-40,
    'red-45': $color-red-45,
    'red-50': $color-red-50,
    'red-55': $color-red-55,
    'red-60': $color-red-60,
    'red-65': $color-red-65,
    'red-70': $color-red-70,
    'red-75': $color-red-75,
    'red-80': $color-red-80,
    'red-85': $color-red-85,
    'red-90': $color-red-90,
    'red-95': $color-red-95,

    'orange-05': $color-orange-05,
    'orange-10': $color-orange-10,
    'orange-15': $color-orange-15,
    'orange-20': $color-orange-20,
    'orange-25': $color-orange-25,
    'orange-30': $color-orange-30,
    'orange-35': $color-orange-35,
    'orange-40': $color-orange-40,
    'orange-45': $color-orange-45,
    'orange-50': $color-orange-50,
    'orange-55': $color-orange-55,
    'orange-60': $color-orange-60,
    'orange-65': $color-orange-65,
    'orange-70': $color-orange-70,
    'orange-75': $color-orange-75,
    'orange-80': $color-orange-80,
    'orange-85': $color-orange-85,
    'orange-90': $color-orange-90,
    'orange-95': $color-orange-95,

    'yellow-05': $color-yellow-05,
    'yellow-10': $color-yellow-10,
    'yellow-15': $color-yellow-15,
    'yellow-20': $color-yellow-20,
    'yellow-25': $color-yellow-25,
    'yellow-30': $color-yellow-30,
    'yellow-35': $color-yellow-35,
    'yellow-40': $color-yellow-40,
    'yellow-45': $color-yellow-45,
    'yellow-50': $color-yellow-50,
    'yellow-55': $color-yellow-55,
    'yellow-60': $color-yellow-60,
    'yellow-65': $color-yellow-65,
    'yellow-70': $color-yellow-70,
    'yellow-75': $color-yellow-75,
    'yellow-80': $color-yellow-80,
    'yellow-85': $color-yellow-85,
    'yellow-90': $color-yellow-90,
    'yellow-95': $color-yellow-95,

    'green-05': $color-green-05,
    'green-10': $color-green-10,
    'green-15': $color-green-15,
    'green-20': $color-green-20,
    'green-25': $color-green-25,
    'green-30': $color-green-30,
    'green-35': $color-green-35,
    'green-40': $color-green-40,
    'green-45': $color-green-45,
    'green-50': $color-green-50,
    'green-55': $color-green-55,
    'green-60': $color-green-60,
    'green-65': $color-green-65,
    'green-70': $color-green-70,
    'green-75': $color-green-75,
    'green-80': $color-green-80,
    'green-85': $color-green-85,
    'green-90': $color-green-90,
    'green-95': $color-green-95,

    'teal-05': $color-teal-05,
    'teal-10': $color-teal-10,
    'teal-15': $color-teal-15,
    'teal-20': $color-teal-20,
    'teal-25': $color-teal-25,
    'teal-30': $color-teal-30,
    'teal-35': $color-teal-35,
    'teal-40': $color-teal-40,
    'teal-45': $color-teal-45,
    'teal-50': $color-teal-50,
    'teal-55': $color-teal-55,
    'teal-60': $color-teal-60,
    'teal-65': $color-teal-65,
    'teal-70': $color-teal-70,
    'teal-75': $color-teal-75,
    'teal-80': $color-teal-80,
    'teal-85': $color-teal-85,
    'teal-90': $color-teal-90,
    'teal-95': $color-teal-95,

    'blue-05': $color-blue-05,
    'blue-10': $color-blue-10,
    'blue-15': $color-blue-15,
    'blue-20': $color-blue-20,
    'blue-25': $color-blue-25,
    'blue-30': $color-blue-30,
    'blue-35': $color-blue-35,
    'blue-40': $color-blue-40,
    'blue-45': $color-blue-45,
    'blue-50': $color-blue-50,
    'blue-55': $color-blue-55,
    'blue-60': $color-blue-60,
    'blue-65': $color-blue-65,
    'blue-70': $color-blue-70,
    'blue-75': $color-blue-75,
    'blue-80': $color-blue-80,
    'blue-85': $color-blue-85,
    'blue-90': $color-blue-90,
    'blue-95': $color-blue-95,

    'purple-05': $color-purple-05,
    'purple-10': $color-purple-10,
    'purple-15': $color-purple-15,
    'purple-20': $color-purple-20,
    'purple-25': $color-purple-25,
    'purple-30': $color-purple-30,
    'purple-35': $color-purple-35,
    'purple-40': $color-purple-40,
    'purple-45': $color-purple-45,
    'purple-50': $color-purple-50,
    'purple-55': $color-purple-55,
    'purple-60': $color-purple-60,
    'purple-65': $color-purple-65,
    'purple-70': $color-purple-70,
    'purple-75': $color-purple-75,
    'purple-80': $color-purple-80,
    'purple-85': $color-purple-85,
    'purple-90': $color-purple-90,
    'purple-95': $color-purple-95,

    'pink-05': $color-pink-05,
    'pink-10': $color-pink-10,
    'pink-15': $color-pink-15,
    'pink-20': $color-pink-20,
    'pink-25': $color-pink-25,
    'pink-30': $color-pink-30,
    'pink-35': $color-pink-35,
    'pink-40': $color-pink-40,
    'pink-45': $color-pink-45,
    'pink-50': $color-pink-50,
    'pink-55': $color-pink-55,
    'pink-60': $color-pink-60,
    'pink-65': $color-pink-65,
    'pink-70': $color-pink-70,
    'pink-75': $color-pink-75,
    'pink-80': $color-pink-80,
    'pink-85': $color-pink-85,
    'pink-90': $color-pink-90,
    'pink-95': $color-pink-95,

    'gray-05': $color-gray-05,
    'gray-10': $color-gray-10,
    'gray-15': $color-gray-15,
    'gray-20': $color-gray-20,
    'gray-25': $color-gray-25,
    'gray-30': $color-gray-30,
    'gray-35': $color-gray-35,
    'gray-40': $color-gray-40,
    'gray-45': $color-gray-45,
    'gray-50': $color-gray-50,
    'gray-55': $color-gray-55,
    'gray-60': $color-gray-60,
    'gray-65': $color-gray-65,
    'gray-70': $color-gray-70,
    'gray-75': $color-gray-75,
    'gray-80': $color-gray-80,
    'gray-85': $color-gray-85,
    'gray-90': $color-gray-90,
    'gray-95': $color-gray-95,

    'light-25': $color-light-25,
    'light-30': $color-light-30,
    'light-35': $color-light-35,
    'light-40': $color-light-40,
    'light-45': $color-light-45,
    'light-50': $color-light-50,
    'light-55': $color-light-55,
    'light-60': $color-light-60,
    'light-65': $color-light-65,
    'light-70': $color-light-70,
    'light-75': $color-light-75,

    'dark-25': $color-dark-25,
    'dark-30': $color-dark-30,
    'dark-35': $color-dark-35,
    'dark-40': $color-dark-40,
    'dark-45': $color-dark-45,
    'dark-50': $color-dark-50,
    'dark-55': $color-dark-55,
    'dark-60': $color-dark-60,
    'dark-65': $color-dark-65,
    'dark-70': $color-dark-70,
    'dark-75': $color-dark-75,

    'facebook-55': $color-facebook-55,
    'facebook-60': $color-facebook-60,
    'twitter-55': $color-twitter-55,
    'twitter-60': $color-twitter-60,
    'google-55': $color-google-55,
    'google-60': $color-google-60,
    'github-55': $color-github-55,
    'github-60': $color-github-60,
) !default;

@function color($color-key) {
    @return var(--color--#{$color-key});
}

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 2.5 !default;

// Customize the light and dark text colors to be used in the color contrast function
$contrast-color-for-light-background: $color-gray-90 !default;
$contrast-color-for-dark-background: $color-white !default;
