//
// Tooltip Variables
//

$tooltip-font-size: $font-size !default;
$tooltip-font-weight: font-weight('normal') !default;
$tooltip-line-height: $line-height !default;

$tooltip-margin: spacers('1/2') !default;

$tooltip-border-width: $border-width !default;
$tooltip-border-radius: $border-radius !default;

$tooltip-padding-base: spacers('1/4') spacers('1/2') !default;
$tooltip-padding: size-map($tooltip-padding-base, $sizes, $size-multipliers) !default;

//
// Variants
//
$tooltip-color-for-light-variant: $color-for-light-variant !default;
$tooltip-color-for-dark-variant: $color-for-dark-variant !default;

$tooltip-variant-light: tooltip-variant($color-white) !default;
$tooltip-variant-dark: tooltip-variant($color-dark) !default;

$tooltip-variants: (
    light: $tooltip-variant-light,
    dark: $tooltip-variant-dark
) !default;
