//
// List Group Variables
//
--list-group-font-size := --font-size

--list-group-item-disabled-color := --text-muted

--list-group-item-padding-sm := --spacers['1'] * --size-percentages['sm']
--list-group-item-padding-md := --spacers['1'] * --size-percentages['md']
--list-group-item-padding-lg := --spacers['1'] * --size-percentages['lg']
--list-group-item-padding := {
    'sm': --list-group-item-padding-sm
    'md': --list-group-item-padding-md
    'lg': --list-group-item-padding-lg
}

--list-group-border-width := --border-width
--list-group-border-style := solid
--list-group-border-color := --colors['gray-20']

--list-group-border-radius := --border-radius


--list-group-item-active-background := --colors['primary']
--list-group-item-active-color := --colors['white']
--list-group-item-active-border-color := darken(--colors['primary'], 6%)