@import '../../css/config/index';
@import '../../css/mixins/index';
@import 'css/_variables';

/**
 * Container
 */
.container,
.container.-fluid {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 100%;

    @each $breakpoint-name, $gutter-width in $gutter {
        @include breakpoint-up($breakpoint-name) {
            padding-left: ($gutter-width / 2);
            padding-right: ($gutter-width / 2);
        }
    }
}

.container {
    @each $breakpoint-name, $container-max-width in $container-width {
        @include breakpoint-up($breakpoint-name) {
            max-width: $container-max-width;
        }
    }

    &.-fluid {
        max-width: 100%;
    }
}
