._font-size:xs {
    font-size: var(--fontSize--xs);
}

._font-size:xs {
    font-size: var(--fontSize--xs);
}

._font-size:sm {
    font-size: var(--fontSize--sm);
}

._font-size:sm {
    font-size: var(--fontSize--sm);
}

._font-size:md {
    font-size: var(--fontSize--md);
}

._font-size:md {
    font-size: var(--fontSize--md);
}

._font-size:lg {
    font-size: var(--fontSize--lg);
}

._font-size:lg {
    font-size: var(--fontSize--lg);
}

._font-size:xl {
    font-size: var(--fontSize--xl);
}

._font-size:xl {
    font-size: var(--fontSize--xl);
}
