@import '../../../../css/variables';
@import '../../../../css/mixins';
@import '../../css/variables';

/**
 * Nav Item
 */
.nav .nav-item {
    display: block;
    margin-bottom: 0;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--transition-easing);
    transition-duration: var(--transition-duration);
    padding: var(----padding);
    color: var(----color);
    font-size: var(----font-size);

    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }

    &.-disabled {
        pointer-events: none;
        cursor: default;
        color: var(----color--disabled);
    }

    &.-active {
        ----color: var(----color--active);

        font-weight: bold;
    }
}
