//
// Navbar variants
//
@mixin navbar-brand-color-variant($color) {
    color: variant-color-by-luminance($color, $variant-color-light, $variant-color-dark);
}

@each $variant-name, $variant in variants('navbar') {
    .navbar.-#{$variant-name} > .container > .row > .column > .brand {
        @include navbar-brand-color-variant($variant);
    }
}
