@use '../../../css/mixins/components';

/**
 * Media
 */

@layer components {
    .media {
        position: relative;
        display: flex;
        flex-direction: row;

        > .media-body {
            flex: 0 1 auto;
        }

        > img,
        > .img,
        > .image {
            @include components.margin('media', 'image', true);

            align-self: flex-start;
            height: auto;
            flex: 0 0 auto;
        }
    }
}
