/**
 * Media
 */

.media {
    position: relative;
    display: flex;
    flex-direction: row;

    > .media-body {
        flex: 0 1 auto;
    }

    > img,
    > .img,
    > .image {
        align-self: flex-start;
        height: auto;
        flex: 0 0 auto;
        margin-right: var(--media--image--margin-right, var(--margin-right));
    }
}
