////
/// The margin right of the media component image
/// @name media--image--margin-right
////

/**
 * Media
 */

.media {
    position: relative;
    display: flex;
    flex-direction: row;

    > .media-body {
        flex: 0 1 auto;

        > *:first-of-type {
            margin-top: 0;
        }

        > *:last-of-type {
            margin-bottom: 0;
        }
    }

    > img,
    > .img,
    > .image {
        align-self: flex-start;
        height: auto;
        flex: 0 0 auto;
        margin-right: var(--media--image--margin-right, var(--margin-right));
    }
}
