/**
 * Color variants
 */

.header {
    ////
    /// Variables for the primary color variant
    /// @name primary
    /// @type variant
    ////
    @include variant('primary') {
        ////
        /// The background of the header component, for the primary color variant
        /// @name background
        ////
        ----background: #{color('primary')};
        ////
        /// The color of the header component, for the primary color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-primary)};
    }
    ////
    /// Variables for the light color variant
    /// @name light
    /// @type variant
    ////
    @include variant('light') {
        ////
        /// The background of the header component, for the light color variant
        /// @name background
        ////
        ----background: #{color('light')};
        ////
        /// The color of the header component, for the light color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-light)};
    }
    ////
    /// Variables for the dark color variant
    /// @name dark
    /// @type variant
    ////
    @include variant('dark') {
        ////
        /// The background of the header component, for the dark color variant
        /// @name background
        ////
        ----background: #{color('dark')};
        ////
        /// The color of the header component, for the dark color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-dark)};
    }
}
