@use "../mixins/variants";

.table {
  @include variants.selector("bordered") {
    @include variants.border-top-width("table", "bordered");
    @include variants.border-right-width("table", "bordered");
    @include variants.border-bottom-width("table", "bordered");
    @include variants.border-left-width("table", "bordered");
  }
  @include variants.selector("condensed") {
    @include variants.padding-top("table", "condensed");
    @include variants.padding-right("table", "condensed");
    @include variants.padding-bottom("table", "condensed");
    @include variants.padding-left("table", "condensed");
  }
  @include variants.selector("primary") {
    @include variants.background-h("table", "primary");
    @include variants.background-s("table", "primary");
    @include variants.background-l("table", "primary");
    @include variants.background-a("table", "primary");
    @include variants.border-top-color("table", "primary");
    @include variants.border-right-color("table", "primary");
    @include variants.border-bottom-color("table", "primary");
    @include variants.border-left-color("table", "primary");
    @include variants.color-h("table", "primary");
    @include variants.color-s("table", "primary");
    @include variants.color-l("table", "primary");
    @include variants.color-a("table", "primary");

    @include variants.background-h("table", "primary", "striped");
    @include variants.background-s("table", "primary", "striped");
    @include variants.background-l("table", "primary", "striped");
    @include variants.background-a("table", "primary", "striped");

    @include variants.background-h("table", "primary", "hover");
    @include variants.background-s("table", "primary", "hover");
    @include variants.background-l("table", "primary", "hover");
    @include variants.background-a("table", "primary", "hover");
  }
  @include variants.selector("secondary") {
    @include variants.background-h("table", "secondary");
    @include variants.background-s("table", "secondary");
    @include variants.background-l("table", "secondary");
    @include variants.background-a("table", "secondary");
    @include variants.border-top-color("table", "secondary");
    @include variants.border-right-color("table", "secondary");
    @include variants.border-bottom-color("table", "secondary");
    @include variants.border-left-color("table", "secondary");
    @include variants.color-h("table", "secondary");
    @include variants.color-s("table", "secondary");
    @include variants.color-l("table", "secondary");
    @include variants.color-a("table", "secondary");

    @include variants.background-h("table", "secondary", "striped");
    @include variants.background-s("table", "secondary", "striped");
    @include variants.background-l("table", "secondary", "striped");
    @include variants.background-a("table", "secondary", "striped");

    @include variants.background-h("table", "secondary", "hover");
    @include variants.background-s("table", "secondary", "hover");
    @include variants.background-l("table", "secondary", "hover");
    @include variants.background-a("table", "secondary", "hover");
  }
  @include variants.selector("info") {
    @include variants.background-h("table", "info");
    @include variants.background-s("table", "info");
    @include variants.background-l("table", "info");
    @include variants.background-a("table", "info");
    @include variants.border-top-color("table", "info");
    @include variants.border-right-color("table", "info");
    @include variants.border-bottom-color("table", "info");
    @include variants.border-left-color("table", "info");
    @include variants.color-h("table", "info");
    @include variants.color-s("table", "info");
    @include variants.color-l("table", "info");
    @include variants.color-a("table", "info");

    @include variants.background-h("table", "info", "striped");
    @include variants.background-s("table", "info", "striped");
    @include variants.background-l("table", "info", "striped");
    @include variants.background-a("table", "info", "striped");

    @include variants.background-h("table", "info", "hover");
    @include variants.background-s("table", "info", "hover");
    @include variants.background-l("table", "info", "hover");
    @include variants.background-a("table", "info", "hover");
  }
  @include variants.selector("success") {
    @include variants.background-h("table", "success");
    @include variants.background-s("table", "success");
    @include variants.background-l("table", "success");
    @include variants.background-a("table", "success");
    @include variants.border-top-color("table", "success");
    @include variants.border-right-color("table", "success");
    @include variants.border-bottom-color("table", "success");
    @include variants.border-left-color("table", "success");
    @include variants.color-h("table", "success");
    @include variants.color-s("table", "success");
    @include variants.color-l("table", "success");
    @include variants.color-a("table", "success");

    @include variants.background-h("table", "success", "striped");
    @include variants.background-s("table", "success", "striped");
    @include variants.background-l("table", "success", "striped");
    @include variants.background-a("table", "success", "striped");

    @include variants.background-h("table", "success", "hover");
    @include variants.background-s("table", "success", "hover");
    @include variants.background-l("table", "success", "hover");
    @include variants.background-a("table", "success", "hover");
  }
  @include variants.selector("warning") {
    @include variants.background-h("table", "warning");
    @include variants.background-s("table", "warning");
    @include variants.background-l("table", "warning");
    @include variants.background-a("table", "warning");
    @include variants.border-top-color("table", "warning");
    @include variants.border-right-color("table", "warning");
    @include variants.border-bottom-color("table", "warning");
    @include variants.border-left-color("table", "warning");
    @include variants.color-h("table", "warning");
    @include variants.color-s("table", "warning");
    @include variants.color-l("table", "warning");
    @include variants.color-a("table", "warning");

    @include variants.background-h("table", "warning", "striped");
    @include variants.background-s("table", "warning", "striped");
    @include variants.background-l("table", "warning", "striped");
    @include variants.background-a("table", "warning", "striped");

    @include variants.background-h("table", "warning", "hover");
    @include variants.background-s("table", "warning", "hover");
    @include variants.background-l("table", "warning", "hover");
    @include variants.background-a("table", "warning", "hover");
  }
  @include variants.selector("danger") {
    @include variants.background-h("table", "danger");
    @include variants.background-s("table", "danger");
    @include variants.background-l("table", "danger");
    @include variants.background-a("table", "danger");
    @include variants.border-top-color("table", "danger");
    @include variants.border-right-color("table", "danger");
    @include variants.border-bottom-color("table", "danger");
    @include variants.border-left-color("table", "danger");
    @include variants.color-h("table", "danger");
    @include variants.color-s("table", "danger");
    @include variants.color-l("table", "danger");
    @include variants.color-a("table", "danger");

    @include variants.background-h("table", "danger", "striped");
    @include variants.background-s("table", "danger", "striped");
    @include variants.background-l("table", "danger", "striped");
    @include variants.background-a("table", "danger", "striped");

    @include variants.background-h("table", "danger", "hover");
    @include variants.background-s("table", "danger", "hover");
    @include variants.background-l("table", "danger", "hover");
    @include variants.background-a("table", "danger", "hover");
  }
  @include variants.selector("light") {
    @include variants.background-h("table", "light");
    @include variants.background-s("table", "light");
    @include variants.background-l("table", "light");
    @include variants.background-a("table", "light");
    @include variants.border-top-color("table", "light");
    @include variants.border-right-color("table", "light");
    @include variants.border-bottom-color("table", "light");
    @include variants.border-left-color("table", "light");
    @include variants.color-h("table", "light");
    @include variants.color-s("table", "light");
    @include variants.color-l("table", "light");
    @include variants.color-a("table", "light");

    @include variants.background-h("table", "light", "striped");
    @include variants.background-s("table", "light", "striped");
    @include variants.background-l("table", "light", "striped");
    @include variants.background-a("table", "light", "striped");

    @include variants.background-h("table", "light", "hover");
    @include variants.background-s("table", "light", "hover");
    @include variants.background-l("table", "light", "hover");
    @include variants.background-a("table", "light", "hover");
  }
  @include variants.selector("dark") {
    @include variants.background-h("table", "dark");
    @include variants.background-s("table", "dark");
    @include variants.background-l("table", "dark");
    @include variants.background-a("table", "dark");
    @include variants.border-top-color("table", "dark");
    @include variants.border-right-color("table", "dark");
    @include variants.border-bottom-color("table", "dark");
    @include variants.border-left-color("table", "dark");
    @include variants.color-h("table", "dark");
    @include variants.color-s("table", "dark");
    @include variants.color-l("table", "dark");
    @include variants.color-a("table", "dark");

    @include variants.background-h("table", "dark", "striped");
    @include variants.background-s("table", "dark", "striped");
    @include variants.background-l("table", "dark", "striped");
    @include variants.background-a("table", "dark", "striped");

    @include variants.background-h("table", "dark", "hover");
    @include variants.background-s("table", "dark", "hover");
    @include variants.background-l("table", "dark", "hover");
    @include variants.background-a("table", "dark", "hover");
  }
}

:root {
  --table--background-h: var(--color-white-h);
  --table--background-s: var(--color-white-s);
  --table--background-l: var(--color-white-l);
  --table--background-a: var(--color-white-a);
  --table--border-top-width: 0;
  --table--border-top-style: var(--border-top-style);
  --table--border-top-color: var(--border-top-color);
  --table--border-right-width: 0;
  --table--border-right-style: var(--border-right-style);
  --table--border-right-color: var(--border-right-color);
  --table--border-bottom-width: var(--border-bottom-width);
  --table--border-bottom-style: var(--border-bottom-style);
  --table--border-bottom-color: var(--border-bottom-color);
  --table--border-left-width: 0;
  --table--border-left-style: var(--border-left-style);
  --table--border-left-color: var(--border-left-color);
  --table--color-h: var(--contrast-text-color-light-h);
  --table--color-s: var(--contrast-text-color-light-s);
  --table--color-l: var(--contrast-text-color-light-l);
  --table--color-a: var(--contrast-text-color-light-a);
  --table--transition-property: background-color, color, border-color;
  --table--transition-duration: var(--transition-duration);
  --table--transition-timing-function: var(--transition-timing-function);
  --table--padding-top: var(--padding-top);
  --table--padding-right: var(--padding-right);
  --table--padding-bottom: var(--padding-bottom);
  --table--padding-left: var(--padding-left);
  --table--margin-top: 0;
  --table--margin-right: 0;
  --table--margin-bottom: var(--margin-bottom);
  --table--margin-left: 0;
  --table--adjacent--border-top-color: transparent;
  --table--striped--background-h: var(--color-gray-100-h);
  --table--striped--background-s: var(--color-gray-100-s);
  --table--striped--background-l: var(--color-gray-100-l);
  --table--striped--background-a: var(--color-gray-100-a);
  --table--hover--background-h: var(--color-light-h);
  --table--hover--background-s: var(--color-light-s);
  --table--hover--background-l: var(--color-light-l);
  --table--hover--background-a: var(--color-light-a);
  --table--th--font-weight: var(--font-weight-bold);
  --table--bordered--border-top-width: var(--border-top-width);
  --table--bordered--border-right-width: var(--border-right-width);
  --table--bordered--border-bottom-width: var(--border-bottom-width);
  --table--bordered--border-left-width: var(--border-left-width);
  --table--condensed--padding-top: calc(var(--table--padding-top) * 0.5);
  --table--condensed--padding-right: calc(var(--table--padding-right) * 0.5);
  --table--condensed--padding-bottom: calc(var(--table--padding-bottom) * 0.5);
  --table--condensed--padding-left: calc(var(--table--padding-left) * 0.5);
  --table--primary--background-h: var(--color-primary-h);
  --table--primary--background-s: var(--color-primary-s);
  --table--primary--background-l: var(--color-primary-l);
  --table--primary--background-a: var(--color-primary-a);
  --table--primary--border-top-color: var(--color-primary-shade-50);
  --table--primary--border-right-color: var(--color-primary-shade-50);
  --table--primary--border-bottom-color: var(--color-primary-shade-50);
  --table--primary--border-left-color: var(--color-primary-shade-50);
  --table--primary--color-h: var(--contrast-text-color-dark-h);
  --table--primary--color-s: var(--contrast-text-color-dark-s);
  --table--primary--color-l: var(--contrast-text-color-dark-l);
  --table--primary--color-a: var(--contrast-text-color-dark-a);
  --table--primary--striped--background-h: var(--color-primary-shade-50-h);
  --table--primary--striped--background-s: var(--color-primary-shade-50-s);
  --table--primary--striped--background-l: var(--color-primary-shade-50-l);
  --table--primary--striped--background-a: var(--color-primary-shade-50-a);
  --table--primary--hover--background-h: var(--color-primary-shade-100-h);
  --table--primary--hover--background-s: var(--color-primary-shade-100-s);
  --table--primary--hover--background-l: var(--color-primary-shade-100-l);
  --table--primary--hover--background-a: var(--color-primary-shade-100-a);
  --table--secondary--background-h: var(--color-secondary-h);
  --table--secondary--background-s: var(--color-secondary-s);
  --table--secondary--background-l: var(--color-secondary-l);
  --table--secondary--background-a: var(--color-secondary-a);
  --table--secondary--border-top-color: var(--color-secondary-shade-50);
  --table--secondary--border-right-color: var(--color-secondary-shade-50);
  --table--secondary--border-bottom-color: var(--color-secondary-shade-50);
  --table--secondary--border-left-color: var(--color-secondary-shade-50);
  --table--secondary--color-h: var(--contrast-text-color-dark-h);
  --table--secondary--color-s: var(--contrast-text-color-dark-s);
  --table--secondary--color-l: var(--contrast-text-color-dark-l);
  --table--secondary--color-a: var(--contrast-text-color-dark-a);
  --table--secondary--striped--background-h: var(--color-secondary-shade-50-h);
  --table--secondary--striped--background-s: var(--color-secondary-shade-50-s);
  --table--secondary--striped--background-l: var(--color-secondary-shade-50-l);
  --table--secondary--striped--background-a: var(--color-secondary-shade-50-a);
  --table--secondary--hover--background-h: var(--color-secondary-shade-100-h);
  --table--secondary--hover--background-s: var(--color-secondary-shade-100-s);
  --table--secondary--hover--background-l: var(--color-secondary-shade-100-l);
  --table--secondary--hover--background-a: var(--color-secondary-shade-100-a);
  --table--info--background-h: var(--color-info-h);
  --table--info--background-s: var(--color-info-s);
  --table--info--background-l: var(--color-info-l);
  --table--info--background-a: var(--color-info-a);
  --table--info--border-top-color: var(--color-info-shade-50);
  --table--info--border-right-color: var(--color-info-shade-50);
  --table--info--border-bottom-color: var(--color-info-shade-50);
  --table--info--border-left-color: var(--color-info-shade-50);
  --table--info--color-h: var(--contrast-text-color-light-h);
  --table--info--color-s: var(--contrast-text-color-light-s);
  --table--info--color-l: var(--contrast-text-color-light-l);
  --table--info--color-a: var(--contrast-text-color-light-a);
  --table--info--striped--background-h: var(--color-info-shade-50-h);
  --table--info--striped--background-s: var(--color-info-shade-50-s);
  --table--info--striped--background-l: var(--color-info-shade-50-l);
  --table--info--striped--background-a: var(--color-info-shade-50-a);
  --table--info--hover--background-h: var(--color-info-shade-100-h);
  --table--info--hover--background-s: var(--color-info-shade-100-s);
  --table--info--hover--background-l: var(--color-info-shade-100-l);
  --table--info--hover--background-a: var(--color-info-shade-100-a);
  --table--success--background-h: var(--color-success-h);
  --table--success--background-s: var(--color-success-s);
  --table--success--background-l: var(--color-success-l);
  --table--success--background-a: var(--color-success-a);
  --table--success--border-top-color: var(--color-success-shade-50);
  --table--success--border-right-color: var(--color-success-shade-50);
  --table--success--border-bottom-color: var(--color-success-shade-50);
  --table--success--border-left-color: var(--color-success-shade-50);
  --table--success--color-h: var(--contrast-text-color-light-h);
  --table--success--color-s: var(--contrast-text-color-light-s);
  --table--success--color-l: var(--contrast-text-color-light-l);
  --table--success--color-a: var(--contrast-text-color-light-a);
  --table--success--striped--background-h: var(--color-success-shade-50-h);
  --table--success--striped--background-s: var(--color-success-shade-50-s);
  --table--success--striped--background-l: var(--color-success-shade-50-l);
  --table--success--striped--background-a: var(--color-success-shade-50-a);
  --table--success--hover--background-h: var(--color-success-shade-100-h);
  --table--success--hover--background-s: var(--color-success-shade-100-s);
  --table--success--hover--background-l: var(--color-success-shade-100-l);
  --table--success--hover--background-a: var(--color-success-shade-100-a);
  --table--warning--background-h: var(--color-warning-h);
  --table--warning--background-s: var(--color-warning-s);
  --table--warning--background-l: var(--color-warning-l);
  --table--warning--background-a: var(--color-warning-a);
  --table--warning--border-top-color: var(--color-warning-shade-50);
  --table--warning--border-right-color: var(--color-warning-shade-50);
  --table--warning--border-bottom-color: var(--color-warning-shade-50);
  --table--warning--border-left-color: var(--color-warning-shade-50);
  --table--warning--color-h: var(--contrast-text-color-light-h);
  --table--warning--color-s: var(--contrast-text-color-light-s);
  --table--warning--color-l: var(--contrast-text-color-light-l);
  --table--warning--color-a: var(--contrast-text-color-light-a);
  --table--warning--striped--background-h: var(--color-warning-shade-50-h);
  --table--warning--striped--background-s: var(--color-warning-shade-50-s);
  --table--warning--striped--background-l: var(--color-warning-shade-50-l);
  --table--warning--striped--background-a: var(--color-warning-shade-50-a);
  --table--warning--hover--background-h: var(--color-warning-shade-100-h);
  --table--warning--hover--background-s: var(--color-warning-shade-100-s);
  --table--warning--hover--background-l: var(--color-warning-shade-100-l);
  --table--warning--hover--background-a: var(--color-warning-shade-100-a);
  --table--danger--background-h: var(--color-danger-h);
  --table--danger--background-s: var(--color-danger-s);
  --table--danger--background-l: var(--color-danger-l);
  --table--danger--background-a: var(--color-danger-a);
  --table--danger--border-top-color: var(--color-danger-shade-50);
  --table--danger--border-right-color: var(--color-danger-shade-50);
  --table--danger--border-bottom-color: var(--color-danger-shade-50);
  --table--danger--border-left-color: var(--color-danger-shade-50);
  --table--danger--color-h: var(--contrast-text-color-light-h);
  --table--danger--color-s: var(--contrast-text-color-light-s);
  --table--danger--color-l: var(--contrast-text-color-light-l);
  --table--danger--color-a: var(--contrast-text-color-light-a);
  --table--danger--striped--background-h: var(--color-danger-shade-50-h);
  --table--danger--striped--background-s: var(--color-danger-shade-50-s);
  --table--danger--striped--background-l: var(--color-danger-shade-50-l);
  --table--danger--striped--background-a: var(--color-danger-shade-50-a);
  --table--danger--hover--background-h: var(--color-danger-shade-100-h);
  --table--danger--hover--background-s: var(--color-danger-shade-100-s);
  --table--danger--hover--background-l: var(--color-danger-shade-100-l);
  --table--danger--hover--background-a: var(--color-danger-shade-100-a);
  --table--light--background-h: var(--color-white-h);
  --table--light--background-s: var(--color-white-s);
  --table--light--background-l: var(--color-white-l);
  --table--light--background-a: var(--color-white-a);
  --table--light--border-top-color: var(--color-light-shade-50);
  --table--light--border-right-color: var(--color-light-shade-50);
  --table--light--border-bottom-color: var(--color-light-shade-50);
  --table--light--border-left-color: var(--color-light-shade-50);
  --table--light--color-h: var(--contrast-text-color-light-h);
  --table--light--color-s: var(--contrast-text-color-light-s);
  --table--light--color-l: var(--contrast-text-color-light-l);
  --table--light--color-a: var(--contrast-text-color-light-a);
  --table--light--striped--background-h: var(--color-gray-50-h);
  --table--light--striped--background-s: var(--color-gray-50-s);
  --table--light--striped--background-l: var(--color-gray-50-l);
  --table--light--striped--background-a: var(--color-gray-50-a);
  --table--light--hover--background-h: var(--color-light-h);
  --table--light--hover--background-s: var(--color-light-s);
  --table--light--hover--background-l: var(--color-light-l);
  --table--light--hover--background-a: var(--color-light-a);
  --table--dark--background-h: var(--color-dark-h);
  --table--dark--background-s: var(--color-dark-s);
  --table--dark--background-l: var(--color-dark-l);
  --table--dark--background-a: var(--color-dark-a);
  --table--dark--border-top-color: var(--color-dark-tint-50);
  --table--dark--border-right-color: var(--color-dark-tint-50);
  --table--dark--border-bottom-color: var(--color-dark-tint-50);
  --table--dark--border-left-color: var(--color-dark-tint-50);
  --table--dark--color-h: var(--contrast-text-color-dark-h);
  --table--dark--color-s: var(--contrast-text-color-dark-s);
  --table--dark--color-l: var(--contrast-text-color-dark-l);
  --table--dark--color-a: var(--contrast-text-color-dark-a);
  --table--dark--striped--background-h: var(--color-dark-shade-50-h);
  --table--dark--striped--background-s: var(--color-dark-shade-50-s);
  --table--dark--striped--background-l: var(--color-dark-shade-50-l);
  --table--dark--striped--background-a: var(--color-dark-shade-50-a);
  --table--dark--hover--background-h: var(--color-dark-shade-100-h);
  --table--dark--hover--background-s: var(--color-dark-shade-100-s);
  --table--dark--hover--background-l: var(--color-dark-shade-100-l);
  --table--dark--hover--background-a: var(--color-dark-shade-100-a);
}
