.popover {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    width: var(--popover--width);
    max-width: var(--popover--max-width);
    z-index: var(--popover--z-index);
}

.popover-trigger {
    display: inline-flex;
}

.popover[data-popup-placement^="top"] {
    transform-origin: center bottom;
}

.popover[data-popup-placement^="right"] {
    transform-origin: left center;
}

.popover[data-popup-placement^="bottom"] {
    transform-origin: center top;
}

.popover[data-popup-placement^="left"] {
    transform-origin: right center;
}

.popover-arrow {
    position: absolute;
}

.popover-arrow, .popover-arrow::after {
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    box-sizing: border-box;
}

.popover-arrow::after {
    content: "";
}

.popover[data-popup-placement^="top"] .popover-arrow, .popover[data-popup-placement^="top"] .popover-arrow::after {
    border-bottom-width: 0;
}

.popover[data-popup-placement^="bottom"] .popover-arrow, .popover[data-popup-placement^="bottom"] .popover-arrow::after {
    border-top-width: 0;
}

.popover[data-popup-placement^="right"] .popover-arrow, .popover[data-popup-placement^="right"] .popover-arrow::after {
    border-left-width: 0;
}

.popover[data-popup-placement^="left"] .popover-arrow, .popover[data-popup-placement^="left"] .popover-arrow::after {
    border-right-width: 0;
}

.popover {
    box-shadow: var(--popover--box-shadow, var(--popover--box-shadow-offset-x) var(--popover--box-shadow-offset-y) var(--popover--box-shadow-blur-radius) var(--popover--box-shadow-spread-radius) var(--popover--box-shadow-color));
    color: var(--popover--color);
    font-size: var(--popover--font-size);
}

.popover-header, .popover-body, .popover-footer {
    background: var(--popover--background);
    border-style: var(--popover--border-style, var(--popover--border-top-style) var(--popover--border-right-style) var(--popover--border-bottom-style) var(--popover--border-left-style));
    border-top-color: var(--popover--border-top-color);
    border-right-color: var(--popover--border-right-color);
    border-bottom-color: var(--popover--border-bottom-color);
    border-left-color: var(--popover--border-left-color);
    border-width: var(--popover--border-width, var(--popover--border-top-width) var(--popover--border-right-width) var(--popover--border-bottom-width) var(--popover--border-left-width));
    padding: var(--popover--padding, var(--popover--padding-top) var(--popover--padding-right) var(--popover--padding-bottom) var(--popover--padding-left));
    transition-property: var(--popover--transition-property);
    transition-duration: var(--popover--transition-duration);
    transition-timing-function: var(--popover--transition-timing-function);
}

.popover-header + .popover-body {
    border-top: 0;
}

.popover-body:has(+ .popover-footer) {
    border-bottom: 0;
}

.popover > *:first-child:not(.popover-arrow), .popover > .popover-arrow + * {
    border-top-left-radius: var(--popover--border-top-left-radius);
    border-top-right-radius: var(--popover--border-top-right-radius);
}

.popover > *:last-child {
    border-bottom-right-radius: var(--popover--border-bottom-right-radius);
    border-bottom-left-radius: var(--popover--border-bottom-left-radius);
}

.popover-arrow, .popover-arrow::after {
    width: var(--popover--arrow--size);
    height: var(--popover--arrow--size);
}

.popover-arrow, .popover-arrow::after {
    border-width: var(--popover--arrow--size);
}

.popover[data-popup-placement^="top"] .popover-arrow::after, .popover[data-popup-placement^="bottom"] .popover-arrow::after {
    margin-left: calc(var(--popover--arrow--size) * -1);
}

.popover[data-popup-placement^="left"] .popover-arrow::after, .popover[data-popup-placement^="right"] .popover-arrow::after {
    margin-top: calc(var(--popover--arrow--size) * -1);
}

.popover[data-popup-placement^="top"] .popover-arrow::after {
    bottom: 1px;
    border-top-color: var(--popover--background);
}

.popover[data-popup-placement^="top"] .popover-arrow {
    border-top-color: var(--popover--border-top-color);
}

.popover[data-popup-placement^="bottom"] .popover-arrow::after {
    top: 1px;
    border-bottom-color: var(--popover--background);
}

.popover[data-popup-placement^="bottom"] .popover-arrow {
    border-bottom-color: var(--popover--border-bottom-color);
}

.popover[data-popup-placement^="left"] .popover-arrow::after {
    right: 1px;
    border-left-color: var(--popover--background);
}

.popover[data-popup-placement^="left"] .popover-arrow {
    border-left-color: var(--popover--border-left-color);
}

.popover[data-popup-placement^="right"] .popover-arrow::after {
    left: 1px;
    border-right-color: var(--popover--background);
}

.popover[data-popup-placement^="right"] .popover-arrow {
    border-right-color: var(--popover--border-right-color);
}

.popover.-sm {
    --popover--border-top-left-radius: var(--popover--sm--border-top-left-radius);
    --popover--border-top-right-radius: var(--popover--sm--border-top-right-radius);
    --popover--border-bottom-right-radius: var(--popover--sm--border-bottom-right-radius);
    --popover--border-bottom-left-radius: var(--popover--sm--border-bottom-left-radius);
    --popover--font-size: var(--popover--sm--font-size);
    --popover--padding-top: var(--popover--sm--padding-top);
    --popover--padding-right: var(--popover--sm--padding-right);
    --popover--padding-bottom: var(--popover--sm--padding-bottom);
    --popover--padding-left: var(--popover--sm--padding-left);
}

.popover.-md {
    --popover--border-top-left-radius: var(--popover--md--border-top-left-radius);
    --popover--border-top-right-radius: var(--popover--md--border-top-right-radius);
    --popover--border-bottom-right-radius: var(--popover--md--border-bottom-right-radius);
    --popover--border-bottom-left-radius: var(--popover--md--border-bottom-left-radius);
    --popover--font-size: var(--popover--md--font-size);
    --popover--padding-top: var(--popover--md--padding-top);
    --popover--padding-right: var(--popover--md--padding-right);
    --popover--padding-bottom: var(--popover--md--padding-bottom);
    --popover--padding-left: var(--popover--md--padding-left);
}

.popover.-lg {
    --popover--border-top-left-radius: var(--popover--lg--border-top-left-radius);
    --popover--border-top-right-radius: var(--popover--lg--border-top-right-radius);
    --popover--border-bottom-right-radius: var(--popover--lg--border-bottom-right-radius);
    --popover--border-bottom-left-radius: var(--popover--lg--border-bottom-left-radius);
    --popover--font-size: var(--popover--lg--font-size);
    --popover--padding-top: var(--popover--lg--padding-top);
    --popover--padding-right: var(--popover--lg--padding-right);
    --popover--padding-bottom: var(--popover--lg--padding-bottom);
    --popover--padding-left: var(--popover--lg--padding-left);
}

.popover.-light {
    --popover--border-top-color: var(--popover--light--border-top-color);
    --popover--border-right-color: var(--popover--light--border-right-color);
    --popover--border-bottom-color: var(--popover--light--border-bottom-color);
    --popover--border-left-color: var(--popover--light--border-left-color);
    --popover--background: var(--popover--light--background);
    --popover--color: var(--popover--light--color);
}

.popover.-dark {
    --popover--border-top-color: var(--popover--dark--border-top-color);
    --popover--border-right-color: var(--popover--dark--border-right-color);
    --popover--border-bottom-color: var(--popover--dark--border-bottom-color);
    --popover--border-left-color: var(--popover--dark--border-left-color);
    --popover--background: var(--popover--dark--background);
    --popover--color: var(--popover--dark--color);
}
