/**
 * Dropdown
 */
.dropdown {
    display: inline-block;
    position: relative;

    > *:first-child {
        cursor: pointer;
    }

    > .menu .dropdown {
        width: 100%;
        display: block;
    }
}
