//
// Variables
//
$header-padding-base: 10rem !default;
$header-padding: size-map($header-padding-base, $sizes, $size-multipliers) !default;

$header-background-color-light: colors('gray-20') !default;
$header-background-color-dark: colors('gray-80') !default;
