@mixin checkbox-color-variant($color-variant-key) {
    $_color: var(--checkbox-color-variant-#{$color-variant-key}-color);
    $_color-disabled: var(--checkbox-color-variant-#{$color-variant-key}-color-disabled);
    $_indicator-background: var(--checkbox-color-variant-#{$color-variant-key}-indicator-background);
    $_indicator-background-checked: var(--checkbox-color-variant-#{$color-variant-key}-indicator-background-checked);
    $_indicator-background-disabled: var(--checkbox-color-variant-#{$color-variant-key}-indicator-background-disabled);
    $_indicator-background-checked-disabled: var(--checkbox-color-variant-#{$color-variant-key}-indicator-background-checked-disabled);
    $_indicator-border-color: var(--checkbox-color-variant-#{$color-variant-key}-indicator-border-color);
    $_indicator-border-color-checked: var(--checkbox-color-variant-#{$color-variant-key}-indicator-border-color-checked);
    $_indicator-border-color-disabled: var(--checkbox-color-variant-#{$color-variant-key}-indicator-border-color-disabled);
    $_indicator-border-color-checked-disabled: var(--checkbox-color-variant-#{$color-variant-key}-indicator-border-color-checked-disabled);
    $_indicator-icon-color: var(--checkbox-color-variant-#{$color-variant-key}-indicator-icon-color);
    $_indicator-icon-color-disabled: var(--checkbox-color-variant-#{$color-variant-key}-indicator-icon-color-disabled);

    .checkbox-label {
        color: $_color;

        &::before {
            border-color: $_indicator-border-color;
            background-color: $_indicator-background;
        }

        &::after {
            color: $_indicator-icon-color;
        }
    }

    input {
        &:checked ~ .checkbox-label,
        &[type="checkbox"]:indeterminate ~ .checkbox-label {
            &::before {
                border-color: $_indicator-border-color-checked;
                background-color: $_indicator-background-checked;
            }
        }

        &:disabled:checked ~ .checkbox-label,
        &[readonly]:checked ~ .checkbox-label {
            &::before {
                border-color: $_indicator-border-color-checked-disabled;
                background-color: $_indicator-background-checked-disabled;
            }

            &::after {
                color: $_indicator-icon-color-disabled;
            }
        }

        &:disabled ~ .checkbox-label,
        &[readonly] ~ .checkbox-label {
            color: $_color-disabled;
        }

        &::before {
            color: $_indicator-icon-color;
            background-color: $_indicator-background;
        }
    }
}
