:root {
  --font-size: 1rem;
  --font-size-multiply-xs: var(--size-multiplier-xs);
  --font-size-multiply-sm: var(--size-multiplier-sm);
  --font-size-multiply-md: var(--size-multiplier-md);
  --font-size-multiply-lg: var(--size-multiplier-lg);
  --font-size-multiply-xl: var(--size-multiplier-xl);
}
