:root {
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-family-print: "Georgia", "Times New Roman", "Times", serif;
  --font-family: var(--font-family-base);
  --font-family-base-secondary: var(--font-family-base);
  --font-family-monospace-secondary: var(--font-family-monospace);
  --font-family-print-secondary: var(--font-family-print);
  --font-family-secondary: var(--font-family-base-secondary);
}
