:root {
  --text-color: var(--color-dark);
  --text-color-dark: var(--color-dark);
  --text-color-weak: var(--color-gray-700);
  --text-color-weaker: var(--color-gray-500);
  --text-color-weakest: var(--color-gray-300);
  --text-color-light: var(--color-light);
}
