/**
 * Collapsible
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/colors';
@import 'css/sizes';

.collapsible {
    position: relative;
    display: block;
    border-width: 1px;
    border-style: solid;

    &.-blank {
        border: 0;
    }

    @include collapsible-size-variant('md');
    @each $size-variant-key, $collapsible-size-variant-value in $collapsible-size-variants {
        &.-#{$size-variant-key} {
            @include collapsible-size-variant($size-variant-key);
        }
    }

    @include collapsible-color-variant('light');
    @each $color-variant-key, $color-variant-value in $collapsible-color-variants {
        &.-#{$color-variant-key} {
            @include collapsible-color-variant($color-variant-key);
        }
    }
}
