:root {
    /**
     * Typography - Font family variables
     */
    --font-family-primary-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    --font-family-primary-monospace: 'SFMono-Regular', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-family-primary-print: 'Georgia', 'Times New Roman', 'Times', serif;
    --font-family-secondary-base: var(--font-family-primary-base);
    --font-family-secondary-monospace: var(--font-family-primary-monospace);
    --font-family-secondary-print: var(--font-family-primary-print);

    /**
     * Typography - Font weight variables
     */
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: normal;
    --font-weight-semibold: 600;
    --font-weight-bold: bold;
    --font-weight-black: 900;
    --font-weight-lighter: lighter;
    --font-weight-bolder: bolder;

    /**
     * Typography font-size variable
     */
    --font-size: 1rem;

    /**
     * Typography line-height variable
     */
    --line-height: 1.5;

    /**
     * Typography letter-spacing variable
     */
    --letter-spacing: 0;

    /**
     * Contrast color variables
     */
    --contrast-color--light: var(--color-gray-900);
    --contrast-color--dark: var(--color-white);

    /**
     * Typography font size variants variables
     */
    --font-size-xs: calc(var(--font-size) * var(--size-multiplier-xs));
    --font-size-sm: calc(var(--font-size) * var(--size-multiplier-sm));
    --font-size-md: calc(var(--font-size) * var(--size-multiplier-md));
    --font-size-lg: calc(var(--font-size) * var(--size-multiplier-lg));
    --font-size-xl: calc(var(--font-size) * var(--size-multiplier-xl));
}