@function popover-variant($variant) {
    $popover-variant-color: variant-color-by-luminance($variant, $popover-color-for-light-variant, $popover-color-for-dark-variant);
    $popover-variant-background: $variant;
    $popover-variant-header-background: darken-lightness($popover-variant-background, 10%);
    $popover-variant-footer-background: $popover-variant-background;
    $popover-variant-border-color: variant-color-by-luminance($variant, $border-color-dark, $border-color-light);

    $variant-map: (
        color: $popover-variant-color,
        background: $popover-variant-background,
        header-background: $popover-variant-header-background,
        footer-background: $popover-variant-footer-background,
        border-color: $popover-variant-border-color,
    );

    @return $variant-map;
}
