.table
    // Themes
    //
    for --variant-name, --variant in --variants['table']
        --table-text-color = -text-color-by-luminance(--variant['color'], --variant-color-light, --variant-color-dark)
        --table-border-color = -text-color-by-luminance(--variant['color'], lighten(--variant['color'], 5%), darken(--variant['color'], 5%))
        --table-hover-color = -text-color-by-luminance(--variant['color'], rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1))
        --table-stripe-color = -text-color-by-luminance(--variant['color'], rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05))

        //if --variant-name == 'light'
        //    --table-hover-color = darken(--variant['color'], 2%)
        //    --table-stripe-color = darken(--variant['color'], 1%)

        &.-{--variant-name}
            background-color: --variant['color']
            background-image: -linear-gradient(--variant['gradient'])
            border-top-color: --table-border-color
            color: --table-text-color


            // Bordered table
            //
            // Add borders to all sides of the table and table cells
            //
            &.-bordered
                &
                th
                td
                    border-color: --table-border-color


            // Striped Table
            //
            // Default zebra-stripe styles (alternating gray and transparent backgrounds)
            //
            &.-striped
                > tr:nth-of-type(odd)
                tbody > tr:nth-of-type(odd)
                    background-color: --table-stripe-color


            // Hover table
            //
            // Placed here since it has to come after the potential zebra striping
            //
            &.-hover
            &.-hoverable
                tbody tr
                    &:hover
                        background-color: --table-hover-color
