@import '~@inkline/inkline/src/css/config/index';

.footer-navigation {
    margin: $spacer 0;

    > .pagination {
        display: flex;
        list-style: none;
        padding: $spacer 0;
        justify-content: space-between;
        border-bottom: 1px solid $border-color;

        li {
            margin: 0;
        }

        .previous {
            span {
                margin-right: 0.25rem;
            }
        }

        .next {
            span {
                margin-left: 0.25rem;
            }
        }
    }

    > .contribute {
        font-size: font-size(sm);
    }
}

.inkline.-dark .footer-navigation {
    > .pagination {
        border-bottom: 1px solid $border-color-dark;
    }
}
