@each $breakpoint-key in $breakpoint-prefix-keys {
    $prefix: breakpoint-prefix($breakpoint-key);

    @include breakpoint-up($breakpoint-key) {
        ._#{$prefix}hidden {
            display: none;
        }

        ._#{$prefix}visible {
            display: block;
        }
    }
}

._visibility\:visible {
    visibility: visible;
}

._visibility\:hidden {
    visibility: hidden;
}
