/**
 * Color variants
 */

.sidebar-wrapper {
                        &.-light {
                                        --sidebar--background: var(--sidebar--light--background, var(--color-light));
                                        --sidebar--border-top-color: var(--sidebar--light--border-top-color, var(--color-light-600));
                                        --sidebar--border-right-color: var(--sidebar--light--border-right-color, var(--color-light-600));
                                        --sidebar--border-bottom-color: var(--sidebar--light--border-bottom-color, var(--color-light-600));
                                        --sidebar--border-left-color: var(--sidebar--light--border-left-color, var(--color-light-600));
                                        --sidebar--color: var(--sidebar--light--color, var(--contrast-text--color-light));
                                        --sidebar--item--color: var(--sidebar--light--item--color, var(--contrast-text--color-light));
                                        --sidebar--hover--item--color: var(--sidebar--light--hover--item--color, var(--contrast-text--color-light));
                                        --sidebar--item--background: var(--sidebar--light--item--background, var(--color-light));
                                        --sidebar--hover--item--background: var(--sidebar--light--hover--item--background, var(--color-light-550));
    }
                        &.-dark {
                                        --sidebar--background: var(--sidebar--dark--background, var(--color-dark));
                                        --sidebar--border-top-color: var(--sidebar--dark--border-top-color, var(--color-dark-400));
                                        --sidebar--border-right-color: var(--sidebar--dark--border-right-color, var(--color-dark-400));
                                        --sidebar--border-bottom-color: var(--sidebar--dark--border-bottom-color, var(--color-dark-400));
                                        --sidebar--border-left-color: var(--sidebar--dark--border-left-color, var(--color-dark-400));
                                        --sidebar--color: var(--sidebar--dark--color, var(--contrast-text--color-dark));
                                        --sidebar--item--color: var(--sidebar--dark--item--color, var(--contrast-text--color-dark));
                                        --sidebar--hover--item--color: var(--sidebar--dark--hover--item--color, var(--contrast-text--color-dark));
                                        --sidebar--item--background: var(--sidebar--dark--item--background, var(--color-dark));
                                        --sidebar--hover--item--background: var(--sidebar--dark--hover--item--background, var(--color-dark-450));
    }
}
