/**
 * Size variants
 */

.sidebar-wrapper {
                        &.-sm {
                                        --sidebar--border-top-left-radius: var(--sidebar--sm--border-top-left-radius, var(--border-top-left-radius-sm));
                                        --sidebar--border-top-right-radius: var(--sidebar--sm--border-top-right-radius, var(--border-top-right-radius-sm));
                                        --sidebar--border-bottom-right-radius: var(--sidebar--sm--border-bottom-right-radius, var(--border-bottom-right-radius-sm));
                                        --sidebar--border-bottom-left-radius: var(--sidebar--sm--border-bottom-left-radius, var(--border-bottom-left-radius-sm));
                                        --sidebar--font-size: var(--sidebar--sm--font-size, var(--font-size-sm));
                                        --sidebar--padding-top: var(--sidebar--sm--padding-top, var(--padding-top-sm));
                                        --sidebar--padding-right: var(--sidebar--sm--padding-right, var(--padding-right-sm));
                                        --sidebar--padding-bottom: var(--sidebar--sm--padding-bottom, var(--padding-bottom-sm));
                                        --sidebar--padding-left: var(--sidebar--sm--padding-left, var(--padding-left-sm));
                                        --sidebar--width: var(--sidebar--sm--width, calc(#{14rem} * var(--size-multiplier-sm)));
                                        --sidebar--item--padding-top: var(--sidebar--sm--item--padding-top, calc(#{calc(var(--padding-top) / 2)} * var(--size-multiplier-sm)));
                                        --sidebar--item--padding-right: var(--sidebar--sm--item--padding-right, var(--padding-right-sm));
                                        --sidebar--item--padding-bottom: var(--sidebar--sm--item--padding-bottom, calc(#{calc(var(--padding-bottom) / 2)} * var(--size-multiplier-sm)));
                                        --sidebar--item--padding-left: var(--sidebar--sm--item--padding-left, var(--padding-left-sm));
    }
                        &.-md {
                                        --sidebar--border-top-left-radius: var(--sidebar--md--border-top-left-radius, var(--border-top-left-radius-md));
                                        --sidebar--border-top-right-radius: var(--sidebar--md--border-top-right-radius, var(--border-top-right-radius-md));
                                        --sidebar--border-bottom-right-radius: var(--sidebar--md--border-bottom-right-radius, var(--border-bottom-right-radius-md));
                                        --sidebar--border-bottom-left-radius: var(--sidebar--md--border-bottom-left-radius, var(--border-bottom-left-radius-md));
                                        --sidebar--font-size: var(--sidebar--md--font-size, var(--font-size-md));
                                        --sidebar--padding-top: var(--sidebar--md--padding-top, var(--padding-top-md));
                                        --sidebar--padding-right: var(--sidebar--md--padding-right, var(--padding-right-md));
                                        --sidebar--padding-bottom: var(--sidebar--md--padding-bottom, var(--padding-bottom-md));
                                        --sidebar--padding-left: var(--sidebar--md--padding-left, var(--padding-left-md));
                                        --sidebar--width: var(--sidebar--md--width, calc(#{14rem} * var(--size-multiplier-md)));
                                        --sidebar--item--padding-top: var(--sidebar--md--item--padding-top, calc(#{calc(var(--padding-top) / 2)} * var(--size-multiplier-md)));
                                        --sidebar--item--padding-right: var(--sidebar--md--item--padding-right, var(--padding-right-md));
                                        --sidebar--item--padding-bottom: var(--sidebar--md--item--padding-bottom, calc(#{calc(var(--padding-bottom) / 2)} * var(--size-multiplier-md)));
                                        --sidebar--item--padding-left: var(--sidebar--md--item--padding-left, var(--padding-left-md));
    }
                        &.-lg {
                                        --sidebar--border-top-left-radius: var(--sidebar--lg--border-top-left-radius, var(--border-top-left-radius-lg));
                                        --sidebar--border-top-right-radius: var(--sidebar--lg--border-top-right-radius, var(--border-top-right-radius-lg));
                                        --sidebar--border-bottom-right-radius: var(--sidebar--lg--border-bottom-right-radius, var(--border-bottom-right-radius-lg));
                                        --sidebar--border-bottom-left-radius: var(--sidebar--lg--border-bottom-left-radius, var(--border-bottom-left-radius-lg));
                                        --sidebar--font-size: var(--sidebar--lg--font-size, var(--font-size-lg));
                                        --sidebar--padding-top: var(--sidebar--lg--padding-top, var(--padding-top-lg));
                                        --sidebar--padding-right: var(--sidebar--lg--padding-right, var(--padding-right-lg));
                                        --sidebar--padding-bottom: var(--sidebar--lg--padding-bottom, var(--padding-bottom-lg));
                                        --sidebar--padding-left: var(--sidebar--lg--padding-left, var(--padding-left-lg));
                                        --sidebar--width: var(--sidebar--lg--width, calc(#{14rem} * var(--size-multiplier-lg)));
                                        --sidebar--item--padding-top: var(--sidebar--lg--item--padding-top, calc(#{calc(var(--padding-top) / 2)} * var(--size-multiplier-lg)));
                                        --sidebar--item--padding-right: var(--sidebar--lg--item--padding-right, var(--padding-right-lg));
                                        --sidebar--item--padding-bottom: var(--sidebar--lg--item--padding-bottom, calc(#{calc(var(--padding-bottom) / 2)} * var(--size-multiplier-lg)));
                                        --sidebar--item--padding-left: var(--sidebar--lg--item--padding-left, var(--padding-left-lg));
    }
}
