<div
    class="alert"
    role="alert"
    :class="classes"
    v-bind="$attrs"
    v-show="!dismissed"
>
    <span
        class="icon"
        role="img"
        aria-hidden="true"
        v-if="$slots.icon"
    >
        <slot name="icon" />
    </span>
    <div class="content">
        <slot />
    </div>
    <span
        class="dismiss"
        role="button"
        :aria-label="dismissAriaLabel"
        @click="dismiss"
        v-if="dismissible"
    >
        <slot name="dismiss">&times;</slot>
    </span>
</div>
