////
/// The background of the collapsible component
/// @name collapsible--background
/// @type color
////
    
////
/// The border top color of the collapsible component
/// @name collapsible--border-top-color
/// @type color
////
    
////
/// The border right color of the collapsible component
/// @name collapsible--border-right-color
/// @type color
////
    
////
/// The border bottom color of the collapsible component
/// @name collapsible--border-bottom-color
/// @type color
////
    
////
/// The border left color of the collapsible component
/// @name collapsible--border-left-color
/// @type color
////
    
////
/// The border color of the collapsible component
/// @name collapsible--border-color
////
    
////
/// The border style of the collapsible component
/// @name collapsible--border-style
////
    
////
/// The border top width of the collapsible component
/// @name collapsible--border-top-width
////
    
////
/// The border right width of the collapsible component
/// @name collapsible--border-right-width
////
    
////
/// The border bottom width of the collapsible component
/// @name collapsible--border-bottom-width
////
    
////
/// The border left width of the collapsible component
/// @name collapsible--border-left-width
////
    
////
/// The border width of the collapsible component
/// @name collapsible--border-width
////
    
////
/// The border top left radius of the collapsible component
/// @name collapsible--border-top-left-radius
/// @type size
////
    
////
/// The border top right radius of the collapsible component
/// @name collapsible--border-top-right-radius
/// @type size
////
    
////
/// The border bottom right radius of the collapsible component
/// @name collapsible--border-bottom-right-radius
/// @type size
////
    
////
/// The border bottom left radius of the collapsible component
/// @name collapsible--border-bottom-left-radius
/// @type size
////
    
////
/// The border radius of the collapsible component
/// @name collapsible--border-radius
////
    
////
/// The box shadow horizontal offset of the collapsible component
/// @name collapsible--box-shadow-offset-x
////
    
////
/// The box shadow vertical offset of the collapsible component
/// @name collapsible--box-shadow-offset-y
////
    
////
/// The box shadow blur radius of the collapsible component
/// @name collapsible--box-shadow-blur-radius
////
    
////
/// The box shadow spread radius of the collapsible component
/// @name collapsible--box-shadow-spread-radius
////
    
////
/// The box shadow spread radius of the collapsible component
/// @name collapsible--box-shadow-color
////
    
////
/// The box shadow of the collapsible component
/// @name collapsible--box-shadow
////
    
////
/// The color of the collapsible component
/// @name collapsible--color
/// @type color
////
    
////
/// The font size of the collapsible component
/// @name collapsible--font-size
/// @type size
////
    
////
/// The padding top of the collapsible component
/// @name collapsible--padding-top
/// @type size
////
    
////
/// The padding right of the collapsible component
/// @name collapsible--padding-right
/// @type size
////
    
////
/// The padding bottom of the collapsible component
/// @name collapsible--padding-bottom
/// @type size
////
    
////
/// The padding left of the collapsible component
/// @name collapsible--padding-left
/// @type size
////
    
////
/// The padding of the collapsible component
/// @name collapsible--padding
////
    
////
/// The background of the collapsible component header
/// @name collapsible--header--background
////
    
////
/// The border color of the collapsible component header
/// @name collapsible--header--border-color
////
    
////
/// The border style of the collapsible component header
/// @name collapsible--header--border-style
////
    
////
/// The border top width of the collapsible component header
/// @name collapsible--header--border-top-width
////
    
////
/// The border right width of the collapsible component header
/// @name collapsible--header--border-right-width
////
    
////
/// The border bottom width of the collapsible component header
/// @name collapsible--header--border-bottom-width
////
    
////
/// The border left width of the collapsible component header
/// @name collapsible--header--border-left-width
////
    
////
/// The border width of the collapsible component header
/// @name collapsible--header--border-width
////
    
////
/// The color of the collapsible component header
/// @name collapsible--header--color
////
    
////
/// The padding top of the collapsible component header
/// @name collapsible--header--padding-top
/// @type size
////
    
////
/// The padding right of the collapsible component header
/// @name collapsible--header--padding-right
/// @type size
////
    
////
/// The padding bottom of the collapsible component header
/// @name collapsible--header--padding-bottom
/// @type size
////
    
////
/// The padding left of the collapsible component header
/// @name collapsible--header--padding-left
/// @type size
////
    
////
/// The padding of the collapsible component header
/// @name collapsible--header--padding
////
    
////
/// The background of the collapsible component body
/// @name collapsible--body--background
/// @type color
////
    
////
/// The border color of the collapsible component body
/// @name collapsible--body--border-color
////
    
////
/// The border style of the collapsible component body
/// @name collapsible--body--border-style
////
    
////
/// The border top width of the collapsible component body
/// @name collapsible--body--border-top-width
////
    
////
/// The border right width of the collapsible component body
/// @name collapsible--body--border-right-width
////
    
////
/// The border bottom width of the collapsible component body
/// @name collapsible--body--border-bottom-width
////
    
////
/// The border left width of the collapsible component body
/// @name collapsible--body--border-left-width
////
    
////
/// The border width of the collapsible component body
/// @name collapsible--body--border-width
////
    
////
/// The color of the collapsible component body
/// @name collapsible--body--color
////
    
////
/// The padding top of the collapsible component body
/// @name collapsible--body--padding-top
/// @type size
////
    
////
/// The padding right of the collapsible component body
/// @name collapsible--body--padding-right
/// @type size
////
    
////
/// The padding bottom of the collapsible component body
/// @name collapsible--body--padding-bottom
/// @type size
////
    
////
/// The padding left of the collapsible component body
/// @name collapsible--body--padding-left
/// @type size
////
    
////
/// The padding of the collapsible component body
/// @name collapsible--body--padding
////
    

/**
 * Collapsible
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/colors';
@import 'css/sizes';

.collapsible {
    position: relative;
    display: block;
    font-size: var(----font-size);
}
