/**
 * Size variants
 */

.collapsible {
    &.-sm {
        --collapsible--border-top-left-radius: var(
            --collapsible--sm--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-sm))
        );
        --collapsible--border-top-right-radius: var(
            --collapsible--sm--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-sm))
        );
        --collapsible--border-bottom-right-radius: var(
            --collapsible--sm--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-sm))
        );
        --collapsible--border-bottom-left-radius: var(
            --collapsible--sm--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-sm))
        );
        --collapsible--font-size: var(
            --collapsible--sm--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
        --collapsible--padding-top: var(
            --collapsible--sm--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-sm))
        );
        --collapsible--padding-right: var(
            --collapsible--sm--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-sm))
        );
        --collapsible--padding-bottom: var(
            --collapsible--sm--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-sm))
        );
        --collapsible--padding-left: var(
            --collapsible--sm--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-sm))
        );
        --collapsible--header--padding-top: var(
            --collapsible--sm--header--padding-top,
            var(--collapsible--padding-top)
        );
        --collapsible--header--padding-right: var(
            --collapsible--sm--header--padding-right,
            var(--collapsible--padding-right)
        );
        --collapsible--header--padding-bottom: var(
            --collapsible--sm--header--padding-bottom,
            var(--collapsible--padding-bottom)
        );
        --collapsible--header--padding-left: var(
            --collapsible--sm--header--padding-left,
            var(--collapsible--padding-left)
        );
        --collapsible--body--padding-top: var(
            --collapsible--sm--body--padding-top,
            var(--collapsible--padding-top)
        );
        --collapsible--body--padding-right: var(
            --collapsible--sm--body--padding-right,
            var(--collapsible--padding-right)
        );
        --collapsible--body--padding-bottom: var(
            --collapsible--sm--body--padding-bottom,
            var(--collapsible--padding-bottom)
        );
        --collapsible--body--padding-left: var(
            --collapsible--sm--body--padding-left,
            var(--collapsible--padding-left)
        );
    }

    &.-md {
        --collapsible--border-top-left-radius: var(
            --collapsible--md--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-md))
        );
        --collapsible--border-top-right-radius: var(
            --collapsible--md--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-md))
        );
        --collapsible--border-bottom-right-radius: var(
            --collapsible--md--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-md))
        );
        --collapsible--border-bottom-left-radius: var(
            --collapsible--md--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-md))
        );
        --collapsible--font-size: var(
            --collapsible--md--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
        --collapsible--padding-top: var(
            --collapsible--md--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-md))
        );
        --collapsible--padding-right: var(
            --collapsible--md--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-md))
        );
        --collapsible--padding-bottom: var(
            --collapsible--md--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-md))
        );
        --collapsible--padding-left: var(
            --collapsible--md--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-md))
        );
        --collapsible--header--padding-top: var(
            --collapsible--md--header--padding-top,
            var(--collapsible--padding-top)
        );
        --collapsible--header--padding-right: var(
            --collapsible--md--header--padding-right,
            var(--collapsible--padding-right)
        );
        --collapsible--header--padding-bottom: var(
            --collapsible--md--header--padding-bottom,
            var(--collapsible--padding-bottom)
        );
        --collapsible--header--padding-left: var(
            --collapsible--md--header--padding-left,
            var(--collapsible--padding-left)
        );
        --collapsible--body--padding-top: var(
            --collapsible--md--body--padding-top,
            var(--collapsible--padding-top)
        );
        --collapsible--body--padding-right: var(
            --collapsible--md--body--padding-right,
            var(--collapsible--padding-right)
        );
        --collapsible--body--padding-bottom: var(
            --collapsible--md--body--padding-bottom,
            var(--collapsible--padding-bottom)
        );
        --collapsible--body--padding-left: var(
            --collapsible--md--body--padding-left,
            var(--collapsible--padding-left)
        );
    }

    &.-lg {
        --collapsible--border-top-left-radius: var(
            --collapsible--lg--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-lg))
        );
        --collapsible--border-top-right-radius: var(
            --collapsible--lg--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-lg))
        );
        --collapsible--border-bottom-right-radius: var(
            --collapsible--lg--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-lg))
        );
        --collapsible--border-bottom-left-radius: var(
            --collapsible--lg--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-lg))
        );
        --collapsible--font-size: var(
            --collapsible--lg--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
        --collapsible--padding-top: var(
            --collapsible--lg--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-lg))
        );
        --collapsible--padding-right: var(
            --collapsible--lg--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-lg))
        );
        --collapsible--padding-bottom: var(
            --collapsible--lg--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-lg))
        );
        --collapsible--padding-left: var(
            --collapsible--lg--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-lg))
        );
        --collapsible--header--padding-top: var(
            --collapsible--lg--header--padding-top,
            var(--collapsible--padding-top)
        );
        --collapsible--header--padding-right: var(
            --collapsible--lg--header--padding-right,
            var(--collapsible--padding-right)
        );
        --collapsible--header--padding-bottom: var(
            --collapsible--lg--header--padding-bottom,
            var(--collapsible--padding-bottom)
        );
        --collapsible--header--padding-left: var(
            --collapsible--lg--header--padding-left,
            var(--collapsible--padding-left)
        );
        --collapsible--body--padding-top: var(
            --collapsible--lg--body--padding-top,
            var(--collapsible--padding-top)
        );
        --collapsible--body--padding-right: var(
            --collapsible--lg--body--padding-right,
            var(--collapsible--padding-right)
        );
        --collapsible--body--padding-bottom: var(
            --collapsible--lg--body--padding-bottom,
            var(--collapsible--padding-bottom)
        );
        --collapsible--body--padding-left: var(
            --collapsible--lg--body--padding-left,
            var(--collapsible--padding-left)
        );
    }
}
