/**
 * Variables
 */

.collapsible {
    ////
    /// The background of the collapsible component
    /// @name background
    /// @type color
    ////
    ----background: #{color('light')};
    ////
    /// The border top color of the collapsible component
    /// @name border-top-color
    /// @type color
    ////
    ----border-top-color: #{color('light-60')};
    ////
    /// The border right color of the collapsible component
    /// @name border-right-color
    /// @type color
    ////
    ----border-right-color: #{color('light-60')};
    ////
    /// The border bottom color of the collapsible component
    /// @name border-bottom-color
    /// @type color
    ////
    ----border-bottom-color: #{color('light-60')};
    ////
    /// The border left color of the collapsible component
    /// @name border-left-color
    /// @type color
    ////
    ----border-left-color: #{color('light-60')};
    ////
    /// The border color of the collapsible component
    /// @name border-color
    ////
    ----border-color: #{var(----border-top-color) var(----border-right-color) var(----border-bottom-color) var(----border-left-color)};
    ////
    /// The border style of the collapsible component
    /// @name border-style
    ////
    ----border-style: #{var(--border-style)};
    ////
    /// The border top width of the collapsible component
    /// @name border-top-width
    ////
    ----border-top-width: #{var(--border-top-width)};
    ////
    /// The border right width of the collapsible component
    /// @name border-right-width
    ////
    ----border-right-width: #{var(--border-right-width)};
    ////
    /// The border bottom width of the collapsible component
    /// @name border-bottom-width
    ////
    ----border-bottom-width: #{var(--border-bottom-width)};
    ////
    /// The border left width of the collapsible component
    /// @name border-left-width
    ////
    ----border-left-width: #{var(--border-left-width)};
    ////
    /// The border width of the collapsible component
    /// @name border-width
    ////
    ----border-width: #{var(----border-top-width) var(----border-right-width) var(----border-bottom-width) var(----border-left-width)};
    ////
    /// The border top left radius of the collapsible component
    /// @name border-top-left-radius
    /// @type size
    ////
    ----border-top-left-radius: #{var(--border-top-left-radius)};
    ////
    /// The border top right radius of the collapsible component
    /// @name border-top-right-radius
    /// @type size
    ////
    ----border-top-right-radius: #{var(--border-top-right-radius)};
    ////
    /// The border bottom right radius of the collapsible component
    /// @name border-bottom-right-radius
    /// @type size
    ////
    ----border-bottom-right-radius: #{var(--border-bottom-right-radius)};
    ////
    /// The border bottom left radius of the collapsible component
    /// @name border-bottom-left-radius
    /// @type size
    ////
    ----border-bottom-left-radius: #{var(--border-bottom-left-radius)};
    ////
    /// The border radius of the collapsible component
    /// @name border-radius
    ////
    ----border-radius: #{var(----border-top-left-radius) var(----border-top-right-radius) var(----border-bottom-right-radius) var(----border-bottom-left-radius)};
    ////
    /// The box shadow horizontal offset of the collapsible component
    /// @name box-shadow-offset-x
    ////
    ----box-shadow-offset-x: #{var(--box-shadow-offset-x)};
    ////
    /// The box shadow vertical offset of the collapsible component
    /// @name box-shadow-offset-y
    ////
    ----box-shadow-offset-y: #{var(--box-shadow-offset-y)};
    ////
    /// The box shadow blur radius of the collapsible component
    /// @name box-shadow-blur-radius
    ////
    ----box-shadow-blur-radius: #{var(--box-shadow-blur-radius)};
    ////
    /// The box shadow spread radius of the collapsible component
    /// @name box-shadow-spread-radius
    ////
    ----box-shadow-spread-radius: #{var(--box-shadow-spread-radius)};
    ////
    /// The box shadow spread radius of the collapsible component
    /// @name box-shadow-color
    ////
    ----box-shadow-color: #{var(--box-shadow-color)};
    ////
    /// The box shadow of the collapsible component
    /// @name box-shadow
    ////
    ----box-shadow: #{var(----box-shadow-offset-x) var(----box-shadow-offset-y) var(----box-shadow-blur-radius) var(----box-shadow-spread-radius) var(----box-shadow-color)};
    ////
    /// The color of the collapsible component
    /// @name color
    /// @type color
    ////
    ----color: #{contrast-color($color-light)};
    ////
    /// The font size of the collapsible component
    /// @name font-size
    /// @type size
    ////
    ----font-size: #{font-size()};
    ////
    /// The padding top of the collapsible component
    /// @name padding-top
    /// @type size
    ////
    ----padding-top: #{var(--padding-top)};
    ////
    /// The padding right of the collapsible component
    /// @name padding-right
    /// @type size
    ////
    ----padding-right: #{var(--padding-right)};
    ////
    /// The padding bottom of the collapsible component
    /// @name padding-bottom
    /// @type size
    ////
    ----padding-bottom: #{var(--padding-bottom)};
    ////
    /// The padding left of the collapsible component
    /// @name padding-left
    /// @type size
    ////
    ----padding-left: #{var(--padding-left)};
    ////
    /// The padding of the collapsible component
    /// @name padding
    ////
    ----padding: #{var(----padding-top) var(----padding-right) var(----padding-bottom) var(----padding-left)};
    ////
    /// The background of the collapsible component header
    /// @name header--background
    ////
    ----header--background: #{var(----background)};
    ////
    /// The border color of the collapsible component header
    /// @name header--border-color
    ////
    ----header--border-color: #{var(----border-color)};
    ////
    /// The border style of the collapsible component header
    /// @name header--border-style
    ////
    ----header--border-style: #{var(----border-style)};
    ////
    /// The border top width of the collapsible component header
    /// @name header--border-top-width
    ////
    ----header--border-top-width: #{var(----border-top-width)};
    ////
    /// The border right width of the collapsible component header
    /// @name header--border-right-width
    ////
    ----header--border-right-width: #{var(----border-right-width)};
    ////
    /// The border bottom width of the collapsible component header
    /// @name header--border-bottom-width
    ////
    ----header--border-bottom-width: #{var(----border-bottom-width)};
    ////
    /// The border left width of the collapsible component header
    /// @name header--border-left-width
    ////
    ----header--border-left-width: #{var(----border-left-width)};
    ////
    /// The border width of the collapsible component header
    /// @name header--border-width
    ////
    ----header--border-width: #{var(----header--border-top-width) var(----header--border-right-width) var(----header--border-bottom-width) var(----header--border-left-width)};
    ////
    /// The color of the collapsible component header
    /// @name header--color
    ////
    ----header--color: #{var(----color)};
    ////
    /// The padding top of the collapsible component header
    /// @name header--padding-top
    /// @type size
    ////
    ----header--padding-top: #{var(----padding-top)};
    ////
    /// The padding right of the collapsible component header
    /// @name header--padding-right
    /// @type size
    ////
    ----header--padding-right: #{var(----padding-right)};
    ////
    /// The padding bottom of the collapsible component header
    /// @name header--padding-bottom
    /// @type size
    ////
    ----header--padding-bottom: #{var(----padding-bottom)};
    ////
    /// The padding left of the collapsible component header
    /// @name header--padding-left
    /// @type size
    ////
    ----header--padding-left: #{var(----padding-left)};
    ////
    /// The padding of the collapsible component header
    /// @name header--padding
    ////
    ----header--padding: #{var(----header--padding-top) var(----header--padding-right) var(----header--padding-bottom) var(----header--padding-left)};
    ////
    /// The background of the collapsible component body
    /// @name body--background
    /// @type color
    ////
    ----body--background: #{color('white')};
    ////
    /// The border color of the collapsible component body
    /// @name body--border-color
    ////
    ----body--border-color: #{var(----border-color)};
    ////
    /// The border style of the collapsible component body
    /// @name body--border-style
    ////
    ----body--border-style: #{var(----border-style)};
    ////
    /// The border top width of the collapsible component body
    /// @name body--border-top-width
    ////
    ----body--border-top-width: #{0};
    ////
    /// The border right width of the collapsible component body
    /// @name body--border-right-width
    ////
    ----body--border-right-width: #{var(----border-right-width)};
    ////
    /// The border bottom width of the collapsible component body
    /// @name body--border-bottom-width
    ////
    ----body--border-bottom-width: #{var(----border-bottom-width)};
    ////
    /// The border left width of the collapsible component body
    /// @name body--border-left-width
    ////
    ----body--border-left-width: #{var(----border-left-width)};
    ////
    /// The border width of the collapsible component body
    /// @name body--border-width
    ////
    ----body--border-width: #{var(----body--border-top-width) var(----body--border-right-width) var(----body--border-bottom-width) var(----body--border-left-width)};
    ////
    /// The color of the collapsible component body
    /// @name body--color
    ////
    ----body--color: #{var(----color)};
    ////
    /// The padding top of the collapsible component body
    /// @name body--padding-top
    /// @type size
    ////
    ----body--padding-top: #{var(----padding-top)};
    ////
    /// The padding right of the collapsible component body
    /// @name body--padding-right
    /// @type size
    ////
    ----body--padding-right: #{var(----padding-right)};
    ////
    /// The padding bottom of the collapsible component body
    /// @name body--padding-bottom
    /// @type size
    ////
    ----body--padding-bottom: #{var(----padding-bottom)};
    ////
    /// The padding left of the collapsible component body
    /// @name body--padding-left
    /// @type size
    ////
    ----body--padding-left: #{var(----padding-left)};
    ////
    /// The padding of the collapsible component body
    /// @name body--padding
    ////
    ----body--padding: #{var(----body--padding-top) var(----body--padding-right) var(----body--padding-bottom) var(----body--padding-left)};
}
