name: "Chromatic"

on: push

jobs:
    chromatic:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install dependencies
              run: npm install

            - name: Run Chromatic
              uses: chromaui/action@latest
              with:
                  buildScriptName: storybook:build
                  projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
                  onlyChanged: true
                  exitZeroOnChanges: true
