@import '../../resources/css/config'
@import '_variables'


.form-input-group
    display: block
    vertical-align: middle

    &.-checkbox
    &.-radio
        font-size: 0

    + .form-input-group
        margin-top: --input-group-margin

    &.-labelled.-side-labelled
        display: flex
