<div
    class="checkbox"
    :class="classes"
    :aria-checked="checked ? 'true' : 'false'"
    role="checkbox"
    v-bind="$attrs"
>
    <input
        ref="input"
        type="checkbox"
        :checked="checked"
        tabindex="-1"
        :name="name"
        :disabled="isDisabled"
        :readonly="isReadonly"
        :indeterminate.prop="indeterminate"
        aria-hidden="true"
        @change="onChange"
    >
    <label
       class="checkbox-label"
       :aria-checked="checked"
       :aria-disabled="isDisabled"
       :aria-readonly="isReadonly"
       :tabindex="tabIndex"
       @blur="onBlur"
       @click="clickInputRef"
       @keydown.space.stop.prevent="clickInputRef"
    >
        <slot />
    </label>
</div>
