<div class="form-check -checkbox" :class="classes['root']">
    <input
        v-model="model"
        ref="input"
        type="checkbox"
        tabindex="-1"
        :name="name"
        :value="currentValue"
        :disabled="isDisabled"
        :readonly="isReadonly"
        :indeterminate.prop="indeterminate">
    <label
       class="form-input-label"
       :class="classes['label']"
       :aria-checked="checked"
       :aria-disabled="isDisabled"
       :aria-readonly="isReadonly"
       :tabindex="tabIndex"
       @blur="onBlur"
       @focus="onFocus"
       @click="clickInputRef"
       @keydown.space.stop.prevent="clickInputRef">
        <slot></slot>
    </label>

    <i-form-error v-if="validate" :schema="schema"></i-form-error>
</div>
