<i-progress>
    <i-progress-bar color="primary" :value="65" />
</i-progress>

<i-progress>
    <i-progress-bar color="secondary" :value="65" />
</i-progress>

<i-progress>
    <i-progress-bar color="info" :value="65" />
</i-progress>

<i-progress>
    <i-progress-bar color="success" :value="65" />
</i-progress>

<i-progress>
    <i-progress-bar color="warning" :value="65" />
</i-progress>

<i-progress>
    <i-progress-bar color="danger" :value="65" />
</i-progress>

<i-progress color="light">
    <i-progress-bar color="dark" :value="65" />
</i-progress>

<i-progress color="dark">
    <i-progress-bar color="light" :value="65" />
</i-progress>
