@import '~@inkline/inkline/src/css/config/index';
@import '~@inkline/inkline/src/css/mixins/index';

#light-loader-example,
#dark-loader-example {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    width: 85px;
    margin-right: $spacer;
    border-radius: 4px;
}

#light-loader-example {
    background: colors('gray-80');
}

#dark-loader-example {
    background: colors('gray-20');
}

.inkline.-dark .code-tabs.themed {
    .loader {
        > .loader-item {
            background: $color-white;
        }
    }
}
