//
// Radio variables
//
--form-check-radio-border-radius := 100%

--form-check-radio-icon-size-base := 8px
--form-check-radio-icon-size := -size-map(--form-check-radio-icon-size-base, --sizes, --size-multipliers)
