//
// Input variables
//

$label-margin-base: spacers('1/4') spacers('1') !default;
$label-margin: size-map($label-margin-base, $sizes, $size-multipliers) !default;

$label-font-size: $font-size !default;
