/**
 * Color variants
 */

.navbar {
    ////
    /// Variables for the light color variant
    /// @name light
    /// @type variant
    ////
    @include variant('light') {
        ////
        /// The background of the navbar component, for the light color variant
        /// @name background
        ////
        ----background: #{color('light')};
        ////
        /// The border top color of the navbar component, for the light color variant
        /// @name border-top-color
        ////
        ----border-top-color: #{color('light-60')};
        ////
        /// The border right color of the navbar component, for the light color variant
        /// @name border-right-color
        ////
        ----border-right-color: #{color('light-60')};
        ////
        /// The border bottom color of the navbar component, for the light color variant
        /// @name border-bottom-color
        ////
        ----border-bottom-color: #{color('light-60')};
        ////
        /// The border left color of the navbar component, for the light color variant
        /// @name border-left-color
        ////
        ----border-left-color: #{color('light-60')};
        ////
        /// The color of the navbar component, for the light color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-light)};
        ////
        /// The background of the navbar component item, for the light color variant
        /// @name item--background
        ////
        ----item--background: #{color('light')};
        ////
        /// The background of the navbar component item when hovered or focused, for the light color variant
        /// @name item--background--hover
        ////
        ----item--background--hover: #{color('light-55')};
        ////
        /// The background of the collapsed navbar component, for the light color variant
        /// @name collapsed--background
        ////
        ----collapsed--background: #{color('light')};
    }
    ////
    /// Variables for the dark color variant
    /// @name dark
    /// @type variant
    ////
    @include variant('dark') {
        ////
        /// The background of the navbar component, for the dark color variant
        /// @name background
        ////
        ----background: #{color('dark')};
        ////
        /// The border top color of the navbar component, for the dark color variant
        /// @name border-top-color
        ////
        ----border-top-color: #{color('dark-40')};
        ////
        /// The border right color of the navbar component, for the dark color variant
        /// @name border-right-color
        ////
        ----border-right-color: #{color('dark-40')};
        ////
        /// The border bottom color of the navbar component, for the dark color variant
        /// @name border-bottom-color
        ////
        ----border-bottom-color: #{color('dark-40')};
        ////
        /// The border left color of the navbar component, for the dark color variant
        /// @name border-left-color
        ////
        ----border-left-color: #{color('dark-40')};
        ////
        /// The color of the navbar component, for the dark color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-dark)};
        ////
        /// The background of the navbar component item, for the dark color variant
        /// @name item--background
        ////
        ----item--background: #{color('dark')};
        ////
        /// The background of the navbar component item when hovered or focused, for the dark color variant
        /// @name item--background--hover
        ////
        ----item--background--hover: #{color('dark-45')};
        ////
        /// The background of the collapsed navbar component, for the dark color variant
        /// @name collapsed--background
        ////
        ----collapsed--background: #{color('dark')};
    }
}
