////
/// The background of the navbar component
/// @name navbar-collapsible--background
/// @type color
////
    
////
/// The border top color of the navbar component
/// @name navbar-collapsible--border-top-color
/// @type color
////
    
////
/// The border right color of the navbar component
/// @name navbar-collapsible--border-right-color
/// @type color
////
    
////
/// The border bottom color of the navbar component
/// @name navbar-collapsible--border-bottom-color
/// @type color
////
    
////
/// The border left color of the navbar component
/// @name navbar-collapsible--border-left-color
/// @type color
////
    
////
/// The border color of the navbar component
/// @name navbar-collapsible--border-color
////
    
////
/// The border style of the navbar component
/// @name navbar-collapsible--border-style
////
    
////
/// The border top width of the navbar component
/// @name navbar-collapsible--border-top-width
////
    
////
/// The border right width of the navbar component
/// @name navbar-collapsible--border-right-width
////
    
////
/// The border bottom width of the navbar component
/// @name navbar-collapsible--border-bottom-width
////
    
////
/// The border left width of the navbar component
/// @name navbar-collapsible--border-left-width
////
    
////
/// The border width of the navbar component
/// @name navbar-collapsible--border-width
////
    
////
/// The border top left radius of the navbar component
/// @name navbar-collapsible--border-top-left-radius
/// @type size
////
    
////
/// The border top right radius of the navbar component
/// @name navbar-collapsible--border-top-right-radius
/// @type size
////
    
////
/// The border bottom right radius of the navbar component
/// @name navbar-collapsible--border-bottom-right-radius
/// @type size
////
    
////
/// The border bottom left radius of the navbar component
/// @name navbar-collapsible--border-bottom-left-radius
/// @type size
////
    
////
/// The border radius of the navbar component
/// @name navbar-collapsible--border-radius
////
    
////
/// The box shadow horizontal offset of the navbar component
/// @name navbar-collapsible--box-shadow-offset-x
////
    
////
/// The box shadow vertical offset of the navbar component
/// @name navbar-collapsible--box-shadow-offset-y
////
    
////
/// The box shadow blur radius of the navbar component
/// @name navbar-collapsible--box-shadow-blur-radius
////
    
////
/// The box shadow spread radius of the navbar component
/// @name navbar-collapsible--box-shadow-spread-radius
////
    
////
/// The box shadow spread radius of the navbar component
/// @name navbar-collapsible--box-shadow-color
////
    
////
/// The box shadow of the navbar component
/// @name navbar-collapsible--box-shadow
////
    
////
/// The font size of the navbar component
/// @name navbar-collapsible--font-size
/// @type size
////
    
////
/// The padding top of the navbar component
/// @name navbar-collapsible--padding-top
/// @type size
////
    
////
/// The padding right of the navbar component
/// @name navbar-collapsible--padding-right
////
    
////
/// The padding bottom of the navbar component
/// @name navbar-collapsible--padding-bottom
/// @type size
////
    
////
/// The padding left of the navbar component
/// @name navbar-collapsible--padding-left
////
    
////
/// The padding of the navbar component
/// @name navbar-collapsible--padding
////
    
////
/// The color of the navbar component
/// @name navbar-collapsible--color
/// @type color
////
    
////
/// The background of the navbar component item
/// @name navbar-collapsible--item--background
/// @type color
////
    
////
/// The background of the navbar component item when hovered or focused
/// @name navbar-collapsible--item--background--hover
/// @type color
////
    
////
/// The color of the navbar component item
/// @name navbar-collapsible--item--color
////
    
////
/// The color of the navbar component item when hovered
/// @name navbar-collapsible--item--color--hover
////
    
////
/// The padding top of the navbar component
/// @name navbar-collapsible--item--padding-top
/// @type size
////
    
////
/// The padding right of the navbar component
/// @name navbar-collapsible--item--padding-right
/// @type size
////
    
////
/// The padding bottom of the navbar component
/// @name navbar-collapsible--item--padding-bottom
/// @type size
////
    
////
/// The padding left of the navbar component
/// @name navbar-collapsible--item--padding-left
/// @type size
////
    
////
/// The padding of the navbar component
/// @name navbar-collapsible--item--padding
////
    
////
/// The background of the collapsed navbar component
/// @name navbar-collapsible--collapsed--background
/// @type color
////
    
////
/// The color of the collapsed navbar component item
/// @name navbar-collapsible--collapsed--item--color
////
    
////
/// The color of the collapsed navbar component item when hovered
/// @name navbar-collapsible--collapsed--item--color--hover
////
    
////
/// The background of the collapsed navbar component item
/// @name navbar-collapsible--collapsed--item--background
////
    
////
/// The background of the collapsed navbar component item when hovered or focused
/// @name navbar-collapsible--collapsed--item--background--hover
////
    
////
/// The margin right of the navbar component brand
/// @name navbar-collapsible--brand--margin-right
////
    

/**
 * Navbar
 */

@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/colors';
@import 'css/sizes';

@mixin navbar-collapse {
    .navbar-collapsible {
        position: relative;
        display: block;
        width: 100%;

        .nav {
            flex-direction: column;
            align-items: flex-start;

            .nav-item {
                width: 100%;
                transition-property: var(--navbar-collapsible--transition-property, (background-color, color));
                transition-timing-function: var(--navbar-collapsible--transition-timing-function, var(--transition-timing-function));
                transition-duration: var(--navbar-collapsible--transition-duration, var(--transition-duration));
            }

            .dropdown-wrapper {
                width: 100%;

                .dropdown {
                    width: 100%;
                    position: relative !important;
                    left: auto !important;
                    top: auto !important;
                    transform-origin: center top;

                    [data-popper-arrow] {
                        display: none;
                    }
                }
            }
        }
    }

    .collapse-toggle {
        display: inline-block;

        + .navbar-brand {
            order: -1;
        }
    }
}

.navbar {
    color: var(--navbar-collapsible--color);
    background: var(--navbar-collapsible--background);
    padding: var(
        --navbar-collapsible--padding,
        (
            var(--navbar-collapsible--padding-top, var(--padding-top))
            var(--navbar-collapsible--padding-right, var(--padding-right))
            var(--navbar-collapsible--padding-bottom, var(--padding-bottom))
            var(--navbar-collapsible--padding-left, var(--padding-left))
        )
    );
    font-size: var(--navbar-collapsible--font-size, var(--font-size));
    box-shadow: var(
        --navbar-collapsible--box-shadow,
        (
            var(--navbar-collapsible--box-shadow-x-offset, var(--box-shadow-offset-x))
            var(--navbar-collapsible--box-shadow-y-offset, var(--box-shadow-offset-y))
            var(--navbar-collapsible--box-shadow-blur-radius, var(--box-shadow-blur-radius))
            var(--navbar-collapsible--box-shadow-spread-radius, var(--box-shadow-spread-radius))
            var(--navbar-collapsible--box-shadow-color, var(--box-shadow-color))
        )
    );
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between;
    border-width: var(
        --navbar-collapsible--border-width,
        (
            var(--navbar-collapsible--border-top-width, var(--border-top-width))
            var(--navbar-collapsible--border-right-width, var(--border-right-width))
            var(--navbar-collapsible--border-bottom-width, var(--border-bottom-width))
            var(--navbar-collapsible--border-left-width, var(--border-left-width))
        )
    );
    border-style: var(
        --navbar-collapsible--border-style,
        (
            var(--navbar-collapsible--border-top-style, var(--border-top-style))
            var(--navbar-collapsible--border-right-style, var(--border-right-style))
            var(--navbar-collapsible--border-bottom-style, var(--border-bottom-style))
            var(--navbar-collapsible--border-left-style, var(--border-left-style))
        )
    );
    border-color: var(
        --navbar-collapsible--border-color,
        (
            var(--navbar-collapsible--border-top-color, var(--border-top-color))
            var(--navbar-collapsible--border-right-color, var(--border-right-color))
            var(--navbar-collapsible--border-bottom-color, var(--border-bottom-color))
            var(--navbar-collapsible--border-left-color, var(--border-left-color))
        )
    );
    border-radius: var(
        --navbar-collapsible--border-radius,
        (
            var(--navbar-collapsible--border-top-left-radius, var(--border-top-left-radius))
            var(--navbar-collapsible--border-top-right-radius, var(--border-top-right-radius))
            var(--navbar-collapsible--border-bottom-right-radius, var(--border-bottom-right-radius))
            var(--navbar-collapsible--border-bottom-left-radius, var(--border-bottom-left-radius))
        )
    );

    > .container > .row > .column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-collapsible {
        .nav-item {
            --navbar-collapsible--color: var(----item--color);
            ----padding: var(----item--padding);
            ----font-size: var(--navbar-collapsible--font-size, var(--font-size));
            --navbar-collapsible--background: var(----item--background);

            border-radius: var(
                        --navbar-collapsible--border-radius,
                        (
                                    var(--navbar-collapsible--border-top-left-radius, var(--border-top-left-radius))
                                    var(--navbar-collapsible--border-top-right-radius, var(--border-top-right-radius))
                                    var(--navbar-collapsible--border-bottom-right-radius, var(--border-bottom-right-radius))
                                    var(--navbar-collapsible--border-bottom-left-radius, var(--border-bottom-left-radius))
                        )
            );
            background: var(--navbar-collapsible--background);

            &.-focused,
            &.-hovered,
            &:focus,
            &:hover {
                --navbar-collapsible--color: var(----item--color--hover);
                --navbar-collapsible--background: var(----item--background--hover);
            }
        }
    }

    &.-collapsible {
        .navbar-collapsible {
            background: var(----collapsed--background);

            .nav-item {
                --navbar-collapsible--background: var(----collapsed--item--background);
                --navbar-collapsible--color: var(----collapsed--item--color);

                &:hover {
                    --navbar-collapsible--color: var(----collapsed--item--color--hover);
                    --navbar-collapsible--background: var(----collapsed--item--background--hover);
                }
            }
        }
    }

    .collapse-toggle {
        display: none;
    }

    @each $breakpoint in $breakpoint-keys {
        &.-collapse-#{$breakpoint} {
            @include breakpoint-down($breakpoint) {
                @include navbar-collapse();

                .navbar-collapsible {
                    margin-top: var(--navbar-collapsible--padding-top, var(--padding-top));
                    border-radius: var(
                                        --navbar-collapsible--border-radius,
                                        (
                                                            var(--navbar-collapsible--border-top-left-radius, var(--border-top-left-radius))
                                                            var(--navbar-collapsible--border-top-right-radius, var(--border-top-right-radius))
                                                            var(--navbar-collapsible--border-bottom-right-radius, var(--border-bottom-right-radius))
                                                            var(--navbar-collapsible--border-bottom-left-radius, var(--border-bottom-left-radius))
                                        )
                    );
                }
            }
        }
    }

    &.-collapse-true {
        @include navbar-collapse();
    }
}
