/**
 * Size variants
 */

.navbar {
    &.-sm {
        --navbar--border-top-left-radius: var(
            --navbar--sm--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-sm))
        );
        --navbar--border-top-right-radius: var(
            --navbar--sm--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-sm))
        );
        --navbar--border-bottom-right-radius: var(
            --navbar--sm--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-sm))
        );
        --navbar--border-bottom-left-radius: var(
            --navbar--sm--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-sm))
        );
        --navbar--font-size: var(
            --navbar--sm--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
        --navbar--padding-top: var(
            --navbar--sm--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-sm))
        );
        --navbar--padding-right: var(
            --navbar--sm--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-sm))
        );
        --navbar--padding-bottom: var(
            --navbar--sm--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-sm))
        );
        --navbar--padding-left: var(
            --navbar--sm--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-sm))
        );
        --navbar--item--padding-top: var(
            --navbar--sm--item--padding-top,
            calc(#{calc(var(--padding-top) / 2)} * var(--size-multiplier-sm))
        );
        --navbar--item--padding-right: var(
            --navbar--sm--item--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-sm))
        );
        --navbar--item--padding-bottom: var(
            --navbar--sm--item--padding-bottom,
            calc(#{calc(var(--padding-bottom) / 2)} * var(--size-multiplier-sm))
        );
        --navbar--item--padding-left: var(
            --navbar--sm--item--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-sm))
        );
    }

    &.-md {
        --navbar--border-top-left-radius: var(
            --navbar--md--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-md))
        );
        --navbar--border-top-right-radius: var(
            --navbar--md--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-md))
        );
        --navbar--border-bottom-right-radius: var(
            --navbar--md--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-md))
        );
        --navbar--border-bottom-left-radius: var(
            --navbar--md--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-md))
        );
        --navbar--font-size: var(
            --navbar--md--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
        --navbar--padding-top: var(
            --navbar--md--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-md))
        );
        --navbar--padding-right: var(
            --navbar--md--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-md))
        );
        --navbar--padding-bottom: var(
            --navbar--md--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-md))
        );
        --navbar--padding-left: var(
            --navbar--md--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-md))
        );
        --navbar--item--padding-top: var(
            --navbar--md--item--padding-top,
            calc(#{calc(var(--padding-top) / 2)} * var(--size-multiplier-md))
        );
        --navbar--item--padding-right: var(
            --navbar--md--item--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-md))
        );
        --navbar--item--padding-bottom: var(
            --navbar--md--item--padding-bottom,
            calc(#{calc(var(--padding-bottom) / 2)} * var(--size-multiplier-md))
        );
        --navbar--item--padding-left: var(
            --navbar--md--item--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-md))
        );
    }

    &.-lg {
        --navbar--border-top-left-radius: var(
            --navbar--lg--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-lg))
        );
        --navbar--border-top-right-radius: var(
            --navbar--lg--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-lg))
        );
        --navbar--border-bottom-right-radius: var(
            --navbar--lg--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-lg))
        );
        --navbar--border-bottom-left-radius: var(
            --navbar--lg--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-lg))
        );
        --navbar--font-size: var(
            --navbar--lg--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
        --navbar--padding-top: var(
            --navbar--lg--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-lg))
        );
        --navbar--padding-right: var(
            --navbar--lg--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-lg))
        );
        --navbar--padding-bottom: var(
            --navbar--lg--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-lg))
        );
        --navbar--padding-left: var(
            --navbar--lg--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-lg))
        );
        --navbar--item--padding-top: var(
            --navbar--lg--item--padding-top,
            calc(#{calc(var(--padding-top) / 2)} * var(--size-multiplier-lg))
        );
        --navbar--item--padding-right: var(
            --navbar--lg--item--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-lg))
        );
        --navbar--item--padding-bottom: var(
            --navbar--lg--item--padding-bottom,
            calc(#{calc(var(--padding-bottom) / 2)} * var(--size-multiplier-lg))
        );
        --navbar--item--padding-left: var(
            --navbar--lg--item--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-lg))
        );
    }
}
