/**
 * Badge
 */
@import '../../css/config/index';
@import '../../css/mixins/index';
@import 'css/_mixins';
@import 'css/_variables';
@import 'css/_variants';
@import 'css/_sizes';

.badge {
    display: inline-block;
    font-weight: $badge-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;

    a:hover &,
    a:focus & {
        text-decoration: none;
    }

    .button & {
        position: relative;
        top: -1px;
    }

    &.-pill {
        border-radius: $badge-pill-border-radius;
    }

    @extend .badge.-md;
    @extend .badge.-light;
}
