@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../DropdownMenu/css/_variables';
@import '../DropdownMenu/css/_mixins';
@import '../Input/css/_mixins';
@import '../Icon/css/_variables';
@import '../Icon/css/_mixins';
@import 'css/_variables';
@import 'css/_sizes';

/**
 * Select
 */
.select {
    width: 100%;

    > .menu {
        max-width: 100%;
        width: 100%;
    }

    > .form-select {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        -webkit-appearance: menulist-button;
    }

    > .form-input-group {
        &::after {
            @extend %icon;

            content: $icon-caret-down;
            display: inline-block;
            position: absolute;
            top: 50%;
            right: $spacer;
            margin-top: -8px;
            width: 12px;
            height: 6px;
            z-index: 1;
        }

        ::v-deep > .form-input {
            > input[readonly] {
                cursor: pointer;
                border-color: $select-input-border-color;

                &:disabled {
                    cursor: default;
                }

                &:not(:disabled) {
                    &:hover {
                        border-color: $select-input-border-color-hover;
                    }

                    &:focus {
                        border-color: $select-input-border-color-focus;
                    }
                }
            }
        }
    }

    &[readonly] > .form-input-group ::v-deep > .form-input {
        > input[readonly] {
            cursor: default;
        }
    }

    &.-suffixed > .form-input-group::after {
        right: $spacer * 4;
    }
}
