@import '../../css/config'
@import '../../css/mixins'
@import '../Input/css/_variables'
@import 'css/_mixins'
//@import 'css/_sizes'

/**
 * Select
 */
.select
    width: 100%

    > .dropdown-menu
        max-width: 100%
        width: 100%

    > .form-input-group
        &::after
            position: absolute
            right: --spacer
            top: 50%
            margin-top: -3px
            content: ""
            mask: url(--input-select-caret) no-repeat 50% 50%
            background-size: 100% 100%
            background: black
            display: inline-block
            width: 12px
            height: 6px
            z-index: 1
