<i-dropdown class="select" :disabled="isDisabled || isReadOnly" hide-on-click>
    <select
        v-bind="$attrs"
        v-model="labelModel"
        v-if="!filterable"
        type="text">
    </select>

    <i-input
        v-bind="$attrs"
        v-model="labelModel"
        v-if="filterable"
        ref="input"
        :disabled="isDisabled"
        :aria-disabled="isDisabled"></i-input>

    <input type="hidden" v-model="model" />

    <i-dropdown-menu>
        <slot></slot>
    </i-dropdown-menu>
</i-dropdown>