@import '../../../../css/variables';
@import '../../../../css/mixins';
@import '../../css/variables';

/**
 * Nav Item
 */
.nav .nav-item {
    display: block;
    margin-bottom: 0;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--transition-easing);
    transition-duration: var(--transition-duration);

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.-disabled {
        pointer-events: none;
        cursor: default;
    }

    &.-active {
        font-weight: bold;
    }
}
