@use '../functions/properties';

.fade-in-linear-transition-enter-active,
.fade-in-linear-transition-leave-active {
    transition-property: properties.generic('transition-property-fade-in-linear');
    transition-duration: properties.generic('transition-duration-fade-in-linear');
    transition-timing-function: properties.generic('transition-timing-function-fade-in-linear');
}

.fade-in-linear-transition-enter-from,
.fade-in-linear-transition-leave-from,
.fade-in-linear-transition-leave-active {
    opacity: 0;
}
