@use '../functions/properties';

.zoom-in-center-transition-enter-active,
.zoom-in-center-transition-leave-active {
    transition-property: properties.generic('transition-property-zoom-in-center');
    transition-duration: properties.generic('transition-duration-zoom-in-center');
    transition-timing-function: properties.generic('transition-timing-function-zoom-in-center');
    opacity: 1;
    transform-origin: center center;
}

.zoom-in-center-transition-enter-from,
.zoom-in-center-transition-leave-active {
    opacity: 0;
    transform: scale(0, 0);
}
