/**
 * Color variants
 */

.radio {
    &.-light {
        --radio--background: var(--radio--light--background, var(--color-white));
        --radio--checked--background: var(
            --radio--light--checked--background,
            var(--color-primary)
        );
        --radio--disabled--background: var(
            --radio--light--disabled--background,
            var(--color-light-200)
        );
        --radio--checked--disabled--background: var(
            --radio--light--checked--disabled--background,
            var(--color-primary-200)
        );
        --radio--border-color: var(--radio--light--border-color, var(--color-light-shade-50));
        --radio--checked--border-color: var(
            --radio--light--checked--border-color,
            var(--color-primary-shade-50)
        );
        --radio--disabled--border-color: var(
            --radio--light--disabled--border-color,
            var(--color-light)
        );
        --radio--checked--disabled--border-color: var(
            --radio--light--checked--disabled--border-color,
            var(--color-primary-300)
        );
        --radio--color: var(--radio--light--color, var(--color-white));
        --radio--disabled--color: var(--radio--light--disabled--color, var(--color-light-200));
        --radio--label--color: var(--radio--light--label--color, var(--contrast-text-color-light));
        --radio--disabled--label--color: var(
            --radio--light--disabled--label--color,
            var(--color-light-700)
        );
    }

    &.-dark {
        --radio--background: var(--radio--dark--background, var(--color-dark));
        --radio--checked--background: var(--radio--dark--checked--background, var(--color-primary));
        --radio--disabled--background: var(
            --radio--dark--disabled--background,
            var(--color-dark-200)
        );
        --radio--checked--disabled--background: var(
            --radio--dark--checked--disabled--background,
            var(--color-primary-700)
        );
        --radio--border-color: var(--radio--dark--border-color, var(--color-dark-tint-50));
        --radio--checked--border-color: var(
            --radio--dark--checked--border-color,
            var(--color-primary-lighten-50)
        );
        --radio--disabled--border-color: var(
            --radio--dark--disabled--border-color,
            var(--color-dark)
        );
        --radio--checked--disabled--border-color: var(
            --radio--dark--checked--disabled--border-color,
            var(--color-primary-700)
        );
        --radio--color: var(--radio--light--color, var(--color-white));
        --radio--disabled--color: var(--radio--dark--disabled--color, var(--color-dark-200));
        --radio--label--color: var(--radio--dark--label--color, var(--contrast-text-color-dark));
        --radio--disabled--label--color: var(
            --radio--dark--disabled--label--color,
            var(--color-dark-300)
        );
    }
}
