/**
 * Size variants
 */

.radio {
    &.-sm {
        --radio--size: var(--radio--sm--size, calc(#{1rem} * var(--size-multiplier-sm)));
        --radio--checkmark--size: var(
            --radio--sm--checkmark--size,
            calc(#{8px} * var(--size-multiplier-sm))
        );
        --radio--label--font-size: var(
            --radio--sm--label--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
    }

    &.-md {
        --radio--size: var(--radio--md--size, calc(#{1rem} * var(--size-multiplier-md)));
        --radio--checkmark--size: var(
            --radio--md--checkmark--size,
            calc(#{8px} * var(--size-multiplier-md))
        );
        --radio--label--font-size: var(
            --radio--md--label--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
    }

    &.-lg {
        --radio--size: var(--radio--lg--size, calc(#{1rem} * var(--size-multiplier-lg)));
        --radio--checkmark--size: var(
            --radio--lg--checkmark--size,
            calc(#{8px} * var(--size-multiplier-lg))
        );
        --radio--label--font-size: var(
            --radio--lg--label--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
    }
}
