@import '../../css/config'
@import '../../css/mixins'

/**
 * Layout
 */
.layout
    display: flex
    flex-direction: column
    flex: auto

    &,
    *
        box-sizing: border-box

    &.-vertical
        flex-direction: row

        > .layout,
        > .container
            overflow-x: hidden

    > .container
        flex: auto
