@import '../../css/config/index';
@import '../Button/css/_variables';
@import 'css/_sizes';

/**
 * Radio Button
 */
.button.-radio {
    position: relative;

    > input[type='radio'] {
        opacity: 0;
        outline: none;
        position: absolute;
        width: 0;
        height: 0;
    }

    @extend .button.-radio.-md;
}
