@import '../../Input/css/_variables';

//
// Variants
//
$select-dropdown-variants: ('monochrome-white') !default;
$select-dropdown-variant-color-light: $variant-color-light !default;
$select-dropdown-variant-color-dark: $variant-color-dark !default;

$variants: map_merge($variants, ('select': add-variant($select-dropdown-variants, $color-groups)));
