//
// Collapsible Item variants
//
@each $variant-name, $variant in variants('tabs') {
    .tabs.-#{$variant-name} {
        > .tab {
            border-color: variant-color-by-luminance($variant, $border-color-dark, $border-color-light);
            color: variant-color-by-luminance($variant, $variant-color-light, $variant-color-dark);
            background-color: $variant;
        }
    }
}
