//
// Badge sizes
//
@each $size in $sizes {
    $_border-radius: map_get($badge-border-radius, $size);
    $_font-size: map_get($badge-font-size, $size);
    $_padding: map_get($badge-padding, $size);

    .badge.-#{$size} {
        border-radius: $_border-radius;
        font-size: $_font-size;
        padding: $_padding;

        &.-pill {
            padding: $_padding;
        }
    }
}
