//
// Badge variants
//
@each $variant-name, $variant in variants('badge') {
    .badge.-#{$variant-name} {
        color: variant-color-by-luminance($variant, $badge-variant-color-light, $badge-variant-color-dark);
        background-color: $variant;

        a:hover &,
        a:focus & {
            background-color: darken-lightness($variant, 10%);
        }
    }
}
