//
// Badge Variables
//
$badge-font-size: (
    'sm': 65%,
    'md': 75%,
    'lg': 85%,
) !default;
$badge-font-weight: font-weight(bold) !default;
$badge-line-height: $line-height !default;

$badge-border-width: $border-width !default;
$badge-border-radius: $border-radius !default;

$badge-padding-base: spacers('1/2') spacers('2/3') !default;
$badge-padding: size-map($badge-padding-base, $sizes, $size-multipliers) !default;

$badge-pill-border-radius: 10rem !default;

//
// Variants
//
$badge-variants: ('brand', 'monochrome', 'state') !default;
$badge-variant-color-light: $variant-color-light !default;
$badge-variant-color-dark: $variant-color-dark !default;

$variants: map_merge($variants, ('badge': add-variant($badge-variants, $color-groups)));
