@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../DropdownMenu/css/_variables';
@import 'css/_sizes';
@import 'css/_variants';

/*
 * Dropdown Divider
 */
.dropdown > .menu > .divider {
    display: block;
    height: 1px;
    width: 100%;
    clear: both;

    @include dropdown-divider-color-variant(variant-element('dropdown', 'light'));
    @include dropdown-divider-size-variant('md');
}
