//
// Badge sizes
//
for --size in --sizes
    .badge.-{--size}
        border-radius: --badge-border-radius[--size]
        font-size: --badge-font-size[--size]
        padding: --badge-padding[--size]

        &.-pill
            padding: --badge-padding[--size]
