//
// Badge variants
//
for --variant-name, --variant in --variants['badge']
    .badge.-{--variant-name}
        color: -variant-color-by-luminance(--variant['color'], --badge-variant-color-light, --badge-variant-color-dark)
        background-color: --variant['color']

        a:hover &,
        a:focus &
            background-color: darken(--variant['color'], 10%)
