//
// Variables
//
--badge-font-size := {
    sm: 65%
    md: 75%
    lg: 85%
}
--badge-font-weight := --font-weight['bold']
--badge-line-height := --line-height

--badge-border-width := --border-width
--badge-border-radius := --border-radius

--badge-padding-sm := --spacers['1/3'] * --size-percentages['sm']
--badge-padding-md := --spacers['1/3'] * --size-percentages['md']
--badge-padding-lg := --spacers['1/3'] * --size-percentages['lg']
--badge-padding := {
    'sm': --badge-padding-sm
    'md': --badge-padding-md
    'lg': --badge-padding-lg
}

--badge-pill-border-radius := 10rem

--badge-variants := (brand state)

//
// Themes
//
--variants['badge'] = -add-variant(--badge-variants, { color: --color-groups })