//
// Badge Variables
//
--badge-font-size := {
    sm: 65%
    md: 75%
    lg: 85%
}
--badge-font-weight := --font-weight['bold']
--badge-line-height := --line-height

--badge-border-width := --border-width
--badge-border-radius := --border-radius

--badge-padding-base := --spacers['1/2'] --spacers['2/3']
--badge-padding := -size-map(--badge-padding-base, --sizes, --size-multipliers)

--badge-pill-border-radius := 10rem

//
// Variants
//
--badge-variants := (brand monochrome state)
--badge-variant-color-light := --variant-color-light
--badge-variant-color-dark := --variant-color-dark

--variants['badge'] = -add-variant(--badge-variants, { color: --color-groups })
