@mixin popover-color-variant($color-variant-key) {
    $_color: var(--popover-color-variant-#{$color-variant-key}-color);
    $_background: var(--popover-color-variant-#{$color-variant-key}-background);
    $_border-color: var(--popover-color-variant-#{$color-variant-key}-border-color);
    $_header-background: var(--popover-color-variant-#{$color-variant-key}-header-background);
    $_footer-background: var(--popover-color-variant-#{$color-variant-key}-footer-background);

    color: $_color;

    > .popover-header {
        border-color: $_border-color;
        background-color: $_header-background;
    }

    > .popover-body {
        background-color: $_background;
        border-color: $_border-color;
    }

    > .popover-footer {
        border-color: $_border-color;
        background-color: $_footer-background;
    }

    @include popup-arrow-color-variant-for-side('top', (
        'background': $_footer-background,
        'border-color': $_border-color
    ));

    @include popup-arrow-color-variant-for-side('bottom', (
        'background': $_header-background,
        'border-color': $_border-color
    ));

    @include popup-arrow-color-variant-for-side('left', (
        'background': $_background,
        'border-color': $_border-color
    ));

    @include popup-arrow-color-variant-for-side('right', (
        'background': $_background,
        'border-color': $_border-color
    ));
}
