////
/// The background of the popover component
/// @name popover--background
/// @type color
////

////
/// The border top color of the popover component
/// @name popover--border-top-color
/// @type color
////

////
/// The border right color of the popover component
/// @name popover--border-right-color
/// @type color
////

////
/// The border bottom color of the popover component
/// @name popover--border-bottom-color
/// @type color
////

////
/// The border left color of the popover component
/// @name popover--border-left-color
/// @type color
////

////
/// The border color of the popover component
/// @name popover--border-color
////

////
/// The border style of the popover component
/// @name popover--border-style
////

////
/// The border top width of the popover component
/// @name popover--border-top-width
////

////
/// The border right width of the popover component
/// @name popover--border-right-width
////

////
/// The border bottom width of the popover component
/// @name popover--border-bottom-width
////

////
/// The border left width of the popover component
/// @name popover--border-left-width
////

////
/// The border width of the popover component
/// @name popover--border-width
////

////
/// The border top left radius of the popover component
/// @name popover--border-top-left-radius
/// @type size
////

////
/// The border top right radius of the popover component
/// @name popover--border-top-right-radius
/// @type size
////

////
/// The border bottom right radius of the popover component
/// @name popover--border-bottom-right-radius
/// @type size
////

////
/// The border bottom left radius of the popover component
/// @name popover--border-bottom-left-radius
/// @type size
////

////
/// The border radius of the popover component
/// @name popover--border-radius
////

////
/// The box shadow horizontal offset of the popover component
/// @name popover--box-shadow-offset-x
////

////
/// The box shadow vertical offset of the popover component
/// @name popover--box-shadow-offset-y
////

////
/// The box shadow blur radius of the popover component
/// @name popover--box-shadow-blur-radius
////

////
/// The box shadow spread radius of the popover component
/// @name popover--box-shadow-spread-radius
////

////
/// The box shadow spread radius of the popover component
/// @name popover--box-shadow-color
////

////
/// The box shadow of the popover component
/// @name popover--box-shadow
////

////
/// The color of the popover component item
/// @name popover--color
/// @type color
////

////
/// The font size of the popover component
/// @name popover--font-size
/// @type size
////

////
/// The font weight of the popover component
/// @name popover--font-weight
////

////
/// The line height of the popover component
/// @name popover--line-height
////

////
/// The margin top of the popover component
/// @name popover--margin-top
/// @type size
////

////
/// The margin right of the popover component
/// @name popover--margin-right
/// @type size
////

////
/// The margin bottom of the popover component
/// @name popover--margin-bottom
/// @type size
////

////
/// The margin left of the popover component
/// @name popover--margin-left
/// @type size
////

////
/// The margin of the popover component
/// @name popover--margin
////

////
/// The padding top of the popover component
/// @name popover--padding-top
/// @type size
////

////
/// The padding right of the popover component
/// @name popover--padding-right
/// @type size
////

////
/// The padding bottom of the popover component
/// @name popover--padding-bottom
/// @type size
////

////
/// The padding left of the popover component
/// @name popover--padding-left
/// @type size
////

////
/// The padding of the popover component
/// @name popover--padding
////

////
/// The maximum width of the popover component
/// @name popover--max-width
////

////
/// The width of the popover component
/// @name popover--width
////

////
/// The z-index of the popover component
/// @name popover--z-index
////

////
/// The background of the popover component header
/// @name popover--header--background
/// @type color
////

////
/// The border color of the popover component header
/// @name popover--header--border-color
////

////
/// The border style of the popover component header
/// @name popover--header--border-style
////

////
/// The border top width of the popover component header
/// @name popover--header--border-top-width
////

////
/// The border right width of the popover component header
/// @name popover--header--border-right-width
////

////
/// The border bottom width of the popover component header
/// @name popover--header--border-bottom-width
////

////
/// The border left width of the popover component header
/// @name popover--header--border-left-width
////

////
/// The border width of the popover component header
/// @name popover--header--border-width
////

////
/// The color of the popover component header
/// @name popover--header--color
////

////
/// The padding top of the popover component header
/// @name popover--header--padding-top
////

////
/// The padding right of the popover component header
/// @name popover--header--padding-right
////

////
/// The padding bottom of the popover component header
/// @name popover--header--padding-bottom
/// @type size
////

////
/// The padding left of the popover component header
/// @name popover--header--padding-left
/// @type size
////

////
/// The padding of the popover component header
/// @name popover--header--padding
////

////
/// The background of the popover component body
/// @name popover--body--background
////

////
/// The border color of the popover component body
/// @name popover--body--border-color
////

////
/// The border style of the popover component body
/// @name popover--body--border-style
////

////
/// The border top width of the popover component body
/// @name popover--body--border-top-width
////

////
/// The border right width of the popover component body
/// @name popover--body--border-right-width
////

////
/// The border bottom width of the popover component body
/// @name popover--body--border-bottom-width
////

////
/// The border left width of the popover component body
/// @name popover--body--border-left-width
////

////
/// The border width of the popover component body
/// @name popover--body--border-width
////

////
/// The color of the popover component body
/// @name popover--body--color
////

////
/// The padding top of the popover component body
/// @name popover--body--padding-top
////

////
/// The padding right of the popover component body
/// @name popover--body--padding-right
////

////
/// The padding bottom of the popover component body
/// @name popover--body--padding-bottom
/// @type size
////

////
/// The padding left of the popover component body
/// @name popover--body--padding-left
/// @type size
////

////
/// The padding of the popover component body
/// @name popover--body--padding
////

////
/// The background of the popover component footer
/// @name popover--footer--background
/// @type color
////

////
/// The border color of the popover component footer
/// @name popover--footer--border-color
////

////
/// The border style of the popover component footer
/// @name popover--footer--border-style
////

////
/// The border top width of the popover component footer
/// @name popover--footer--border-top-width
////

////
/// The border right width of the popover component footer
/// @name popover--footer--border-right-width
////

////
/// The border bottom width of the popover component footer
/// @name popover--footer--border-bottom-width
////

////
/// The border left width of the popover component footer
/// @name popover--footer--border-left-width
////

////
/// The border width of the popover component footer
/// @name popover--footer--border-width
////

////
/// The color of the popover component footer
/// @name popover--footer--color
////

////
/// The padding top of the popover component footer
/// @name popover--footer--padding-top
////

////
/// The padding right of the popover component footer
/// @name popover--footer--padding-right
////

////
/// The padding bottom of the popover component footer
/// @name popover--footer--padding-bottom
/// @type size
////

////
/// The padding left of the popover component footer
/// @name popover--footer--padding-left
/// @type size
////

////
/// The padding of the popover component footer
/// @name popover--footer--padding
////

.popover-wrapper {
    display: inline-block;
    position: relative;

    .popover-trigger {
        display: contents;
    }
}

.popover {
    @include popup(('z-index': var(--popover--z-index)));
    @include popup-arrow();
    @include popup-arrow-size-variant();

    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    line-height: var(--popover--line-height, var(--line-height));
    box-shadow: var(
        --popover--box-shadow,
        (
            var(--popover--box-shadow-x-offset, var(--box-shadow-offset-x))
            var(--popover--box-shadow-y-offset, var(--box-shadow-offset-y))
            var(--popover--box-shadow-blur-radius, var(--box-shadow-blur-radius))
            var(--popover--box-shadow-spread-radius, var(--box-shadow-spread-radius))
            var(--popover--box-shadow-color, var(--box-shadow-color))
        )
    );
    background-clip: padding-box;
    display: inline-block;
    white-space: normal;
    width: var(--popover--width);
    max-width: var(----max-width);
    color: var(--popover--color);
    font-size: var(--popover--font-size, var(--font-size));

    > .popover-header {
        border-style: var(----header--border-style);
        border-width: var(----header--border-width);
        border-bottom-width: 0;
        border-color: var(----header--border-color);
        background-color: var(--popover--header--background, var(--popover--background));
        padding: var(----header--padding);
    }

    > .popover-body {
        border-style: var(----body--border-style);
        border-width: var(----body--border-width);
        background-color: var(--popover--body--background, var(--popover--background));
        border-color: var(----body--border-color);
        padding: var(----body--padding);
    }

    > .popover-footer {
        border-style: var(----footer--border-style);
        border-width: var(----footer--border-width);
        border-top-width: 0;
        border-color: var(----footer--border-color);
        background-color: var(--popover--footer--background, var(--popover--background));
        padding: var(----footer--padding);
    }

    > *:nth-child(2) {
        border-top-left-radius: var(--popover--border-top-left-radius, var(--border-top-left-radius));
        border-top-right-radius: var(--popover--border-top-right-radius, var(--border-top-right-radius));
    }

    > *:last-child {
        border-bottom-left-radius: var(--popover--border-bottom-left-radius, var(--border-bottom-left-radius));
        border-bottom-right-radius: var(--popover--border-bottom-right-radius, var(--border-bottom-right-radius));
    }

    @include popup-arrow-color-variant-for-side('top', (
        'background': var(--popover--body--background, var(--popover--background)),
        'border-color': var(--popover--border-top-color, var(--border-top-color))
    ));

    @include popup-arrow-color-variant-for-side('bottom', (
        'background': var(--popover--body--background, var(--popover--background)),
        'border-color': var(--popover--border-bottom-color, var(--border-bottom-color))
    ));

    @include popup-arrow-color-variant-for-side('left', (
        'background': var(--popover--body--background, var(--popover--background)),
        'border-color': var(--popover--border-left-color, var(--border-left-color))
    ));

    @include popup-arrow-color-variant-for-side('right', (
        'background': var(--popover--body--background, var(--popover--background)),
        'border-color': var(--popover--border-right-color, var(--border-right-color))
    ));
}
