////
/// Variables
////

/// The font weight of the popover component
/// @name font-weight
$popover-font-weight: font-weight('normal') !default;

/// The line height of the popover component
/// @name line-height
$popover-line-height: var(--line-height) !default;

/// The border width of the popover component
/// @name border-width
$popover-border-width: var(--border-width) !default;

/// The margin of the popover component
/// @name margin
$popover-margin: spacing('1/2') !default;

/// The z-index of the popover component
/// @name z-index
$popover-z-index: 2000 !default;

/// The width of the popover component
/// @name width
$popover-width: 280px !default;

/// The maximum width of the popover component
/// @name max-width
$popover-max-width: 90vw !default;

/// The border radius of the popover component
/// @name border-radius
/// @type size
$popover-border-radius: border-radius() !default;

/// The font size of the popover component
/// @name font-size
/// @type size
$popover-font-size: font-size() !default;

/// The padding of the popover component items
/// @name padding
/// @type size
$popover-padding: spacing() !default;

////
/// Sizes
////

////
/// Small size
////

/// The border radius of the popover component
/// @name border-radius
/// @group sm
/// @type size
$popover-size-variant-sm-border-radius: calc(var(--popover-border-radius) * #{size-multiplier('sm')}) !default;

/// The font size of the popover component
/// @name font-size
/// @group sm
/// @type size
$popover-size-variant-sm-font-size: calc(var(--popover-font-size) * #{size-multiplier('sm')}) !default;

/// The padding of the popover component items
/// @name padding
/// @group sm
/// @type size
$popover-size-variant-sm-padding: calc(var(--popover-padding) * 3 / 4 * #{size-multiplier('sm')}) calc(var(--popover-padding) * #{size-multiplier('sm')}) !default;

/// Map for sm size
/// @group sm
$popover-size-variant-sm: (
    'border-radius': $popover-size-variant-sm-border-radius,
    'font-size': $popover-size-variant-sm-font-size,
    'padding': $popover-size-variant-sm-padding
) !default;

////
/// Medium size
////

/// The border radius of the popover component
/// @name border-radius
/// @group md
/// @type size
$popover-size-variant-md-border-radius: calc(var(--popover-border-radius) * #{size-multiplier('md')}) !default;

/// The font size of the popover component
/// @name font-size
/// @group md
/// @type size
$popover-size-variant-md-font-size: calc(var(--popover-font-size) * #{size-multiplier('md')}) !default;

/// The padding of the popover component items
/// @name padding
/// @group md
/// @type size
$popover-size-variant-md-padding: calc(var(--popover-padding) * 3 / 4 * #{size-multiplier('md')}) calc(var(--popover-padding) * #{size-multiplier('md')}) !default;

/// Map for md size
/// @group md
$popover-size-variant-md: (
    'border-radius': $popover-size-variant-md-border-radius,
    'font-size': $popover-size-variant-md-font-size,
    'padding': $popover-size-variant-md-padding
) !default;

////
/// Large size
////

/// The border radius of the popover component
/// @name border-radius
/// @group lg
/// @type size
$popover-size-variant-lg-border-radius: calc(var(--popover-border-radius) * #{size-multiplier('lg')}) !default;

/// The font size of the popover component
/// @name font-size
/// @group lg
/// @type size
$popover-size-variant-lg-font-size: calc(var(--popover-font-size) * #{size-multiplier('lg')}) !default;

/// The padding of the popover component items
/// @name padding
/// @group lg
/// @type size
$popover-size-variant-lg-padding: calc(var(--popover-padding) * 3 / 4 * #{size-multiplier('lg')}) calc(var(--popover-padding) * #{size-multiplier('lg')}) !default;

/// Map for lg size
/// @group lg
$popover-size-variant-lg: (
    'border-radius': $popover-size-variant-lg-border-radius,
    'font-size': $popover-size-variant-lg-font-size,
    'padding': $popover-size-variant-lg-padding
) !default;

/// Sizes group map
$popover-size-variants: (
    'sm': $popover-size-variant-sm,
    'md': $popover-size-variant-md,
    'lg': $popover-size-variant-lg
) !default;

////
/// Colors
////

////
/// Light color
////

/// The color of the popover component item
/// @name color
/// @group light
/// @type color
$popover-color-variant-light-color: contrast-color($color-white) !default;

/// The background of the popover component
/// @name background
/// @group light
/// @type color
$popover-color-variant-light-background: color('white') !default;

/// The border-color of the popover component
/// @name border-color
/// @group light
/// @type color
$popover-color-variant-light-border-color: color('light') !default;

/// The background of the popover component header
/// @name header-background
/// @group light
/// @type color
$popover-color-variant-light-header-background: color('gray-05') !default;

/// The background of the popover component footer
/// @name footer-background
/// @group light
/// @type color
$popover-color-variant-light-footer-background: color('gray-05') !default;

/// Map for light color
/// @group light
$popover-color-variant-light: (
    'color': $popover-color-variant-light-color,
    'background': $popover-color-variant-light-background,
    'border-color': $popover-color-variant-light-border-color,
    'header-background': $popover-color-variant-light-header-background,
    'footer-background': $popover-color-variant-light-footer-background
) !default;

////
/// Dark color
////

/// The color of the popover component item
/// @name color
/// @group dark
/// @type color
$popover-color-variant-dark-color: contrast-color($color-dark) !default;

/// The background of the popover component
/// @name background
/// @group dark
/// @type color
$popover-color-variant-dark-background: color('dark') !default;

/// The border-color of the popover component
/// @name border-color
/// @group dark
/// @type color
$popover-color-variant-dark-border-color: color('dark-60') !default;

/// The background of the popover component header
/// @name header-background
/// @group dark
/// @type color
$popover-color-variant-dark-header-background: color('dark-55') !default;

/// The background of the popover component footer
/// @name footer-background
/// @group dark
/// @type color
$popover-color-variant-dark-footer-background: color('dark-55') !default;

/// Map for dark color
/// @group dark
$popover-color-variant-dark: (
    'color': $popover-color-variant-dark-color,
    'background': $popover-color-variant-dark-background,
    'border-color': $popover-color-variant-dark-border-color,
    'header-background': $popover-color-variant-dark-header-background,
    'footer-background': $popover-color-variant-dark-footer-background
) !default;

/// Colors group map
$popover-color-variants: (
    'light': $popover-color-variant-light,
    'dark': $popover-color-variant-dark
) !default;
