/**
 * Blockquote
 */

.blockquote {
    margin: 0 0 $blockquote-margin;
    font-size: $blockquote-font-size;

    &.-left {
        text-align: left;

        &.-bordered {
            padding-left: $spacer;
            border-left: $blockquote-border;
        }
    }

    &.-center {
        text-align: center;
    }

    &.-right {
        text-align: right;

        &.-bordered {
            padding-right: $blockquote-bordered-padding;
            border-right: $blockquote-border;
        }
    }

    > p {
        margin-bottom: 0;
    }

    > footer,
    > .footer {
        display: block;
        font-size: 80%;
        color: $blockquote-small-color;

        &::before {
            content: '\2014 \00A0'; // em dash, nbsp
        }
    }
}
