@use "sass:string";

/**
 * Document
 */

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: font-size('md');
    font-weight: font-weight('normal');
    font-family: font-family-primary('base');
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-align: left;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: string.unquote('"liga" on');
}
