/**
    * Headings and displays
    */

@for $i from 1 through 6 {
    h#{$i},
    .h#{$i},
    .d#{$i} {
        margin-top: $headings-margin-top;
        margin-bottom: $headings-margin-bottom;
        font-family: $headings-font-family;
        color: $headings-color;
    }

    h#{$i},
    .h#{$i} {
        font-size: headings-font-size(#{'h' + $i});
        font-weight: $headings-font-weight;
        line-height: $headings-line-height;
    }

    .d#{$i} {
        font-size: displays-font-size(#{'d' + $i});
        font-weight: $displays-font-weight;
        line-height: $displays-line-height;
    }
}
