/**
 * Lists
 */

ul,
ol,
dl,
.list {
    > .item,
    > li {
        margin-bottom: var(--list--item--margin-bottom);
    }

    &.-unstyled,
    &._list\:unstyled {
        padding-left: 0;
        list-style: none;
    }

    &.-inline,
    &._list\:inline {
        padding-left: 0;
        list-style: none;

        > .item,
        > li {
            display: inline-flex;
            margin-bottom: 0;

            &:not(:last-child) {
                margin-right: var(--list--item--padding--inline);
            }
        }
    }
}
