--card-font-size := --font-size
--card-font-weight := --font-weight['normal']
--card-line-height := --line-height

--card-border-width := --border-width
--card-border-radius := --border-radius

--card-padding-sm := --spacers['1'] * --size-percentages['sm']
--card-padding-md := --spacers['1'] * --size-percentages['md']
--card-padding-lg := --spacers['1'] * --size-percentages['lg']
--card-padding := {
    'sm': --card-padding-sm
    'md': --card-padding-md
    'lg': --card-padding-lg
}

--card-box-shadow := --box-shadow[0] 0.5rem 0.5rem -0.5rem rgba(--colors['black'], 0.33)

--card-background-darken := rgba(0, 0, 0, 0.15)
