// Borders
//

:root {
    --border-style: #{$border-style};

    --border-top-width: #{$border-top-width};
    --border-right-width: #{$border-right-width};
    --border-bottom-width: #{$border-bottom-width};
    --border-left-width: #{$border-left-width};
    --border-width: #{$border-width};

    --border-color--light: #{$border-color--light};
    --border-color--dark: #{$border-color--dark};
    --border-color: #{$border-color};

    --border-top-left-radius: #{$border-top-left-radius};
    --border-top-right-radius: #{$border-top-right-radius};
    --border-bottom-right-radius: #{$border-top-right-radius};
    --border-bottom-left-radius: #{$border-bottom-left-radius};
    --border-radius: #{$border-radius};

    @each $border-top-left-radius-key, $border-top-left-radius-value in $border-top-left-radiuses {
        --border-top-left-radius-#{$border-top-left-radius-key}: #{$border-top-left-radius-value};
    }

    @each $border-top-right-radius-key, $border-top-right-radius-value in $border-top-right-radiuses {
        --border-top-right-radius-#{$border-top-right-radius-key}: #{$border-top-right-radius-value};
    }

    @each $border-bottom-right-radius-key, $border-bottom-right-radius-value in $border-bottom-right-radiuses {
        --border-bottom-right-radius-#{$border-bottom-right-radius-key}: #{$border-bottom-right-radius-value};
    }

    @each $border-bottom-left-radius-key, $border-bottom-left-radius-value in $border-bottom-left-radiuses {
        --border-bottom-left-radius-#{$border-bottom-left-radius-key}: #{$border-bottom-left-radius-value};
    }

    @each $border-radius-key, $border-radius-value in $border-radiuses {
        --border-radius-#{$border-radius-key}: #{$border-radius-value};
    }
}
