// Borders
//

$border-style: solid !default;

$border-top-width: 1px !default;
$border-right-width: 1px !default;
$border-bottom-width: 1px !default;
$border-left-width: 1px !default;
$border-width: var(--border-top-width) var(--border-right-width) var(--border-bottom-width) var(--border-left-width) !default;

$border-color: color('gray-30') !default;
$border-color-light: $border-color !default;
$border-color-dark: color('gray-70') !default;

$border-top-left-radius: 0.25rem !default;
$border-top-right-radius: 0.25rem !default;
$border-bottom-right-radius: 0.25rem !default;
$border-bottom-left-radius: 0.25rem !default;
$border-radius: var(--border-top-left-radius) var(--border-top-right-radius) var(--border-bottom-right-radius) var(--border-bottom-left-radius) !default;

$border-radius-xs: calc(var(--border-top-left-radius) * #{size-multiplier('xs')}) calc(var(--border-top-right-radius) * #{size-multiplier('xs')}) calc(var(--border-bottom-right-radius) * #{size-multiplier('xs')}) calc(var(--border-bottom-left-radius) * #{size-multiplier('xs')}) !default;
$border-radius-sm: calc(var(--border-top-left-radius) * #{size-multiplier('sm')}) calc(var(--border-top-right-radius) * #{size-multiplier('sm')}) calc(var(--border-bottom-right-radius) * #{size-multiplier('sm')}) calc(var(--border-bottom-left-radius) * #{size-multiplier('sm')}) !default;
$border-radius-md: calc(var(--border-top-left-radius) * #{size-multiplier('md')}) calc(var(--border-top-right-radius) * #{size-multiplier('md')}) calc(var(--border-bottom-right-radius) * #{size-multiplier('md')}) calc(var(--border-bottom-left-radius) * #{size-multiplier('md')}) !default;
$border-radius-lg: calc(var(--border-top-left-radius) * #{size-multiplier('lg')}) calc(var(--border-top-right-radius) * #{size-multiplier('lg')}) calc(var(--border-bottom-right-radius) * #{size-multiplier('lg')}) calc(var(--border-bottom-left-radius) * #{size-multiplier('lg')}) !default;
$border-radius-xl: calc(var(--border-top-left-radius) * #{size-multiplier('xl')}) calc(var(--border-top-right-radius) * #{size-multiplier('xl')}) calc(var(--border-bottom-right-radius) * #{size-multiplier('xl')}) calc(var(--border-bottom-left-radius) * #{size-multiplier('xl')}) !default;

$border-radiuses: (
    'xs': $border-radius-xs,
    'sm': $border-radius-sm,
    'md': $border-radius-md,
    'lg': $border-radius-lg,
    'xl': $border-radius-xl,
) !default;

@function border-radius($border-radius-key: null) {
    @if not ($border-radius-key) {
        @return var(--border-radius);
    }

    @return var(--border-radius-#{$border-radius-key});
}

$border-variants: (
    'primary',
    'secondary',
    'light',
    'dark',
    'white',
    'gray-10',
    'gray-20',
    'gray-30',
    'gray-40',
    'gray-50',
    'gray-60',
    'gray-70',
    'gray-80',
    'gray-90',
    'black',
    'info',
    'success',
    'warning',
    'danger',
) !default;

$border-positions: ('top', 'right', 'bottom', 'left') !default;
