/**
 * Card
 */

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: var(
        --card--border-radius,
        var(--card--border-top-left-radius, var(--border-top-left-radius))
            var(--card--border-top-right-radius, var(--border-top-right-radius))
            var(--card--border-bottom-right-radius, var(--border-bottom-right-radius))
            var(--card--border-bottom-left-radius, var(--border-bottom-left-radius))
    );
    font-size: var(--card--font-size, var(--font-size));
    box-shadow: var(
        --card--box-shadow,
        var(--card--box-shadow-x-offset, var(--box-shadow-offset-x))
            var(--card--box-shadow-y-offset, var(--box-shadow-offset-y))
            var(--card--box-shadow-blur-radius, var(--box-shadow-blur-radius))
            var(--card--box-shadow-spread-radius, var(--box-shadow-spread-radius))
            var(--card--box-shadow-color, var(--box-shadow-color))
    );
    transition-property: var(
        --card--transition-property,
        var(--card--transition-property, background-color)
    );
    transition-duration: var(
        --card--transition-duration,
        var(--card--transition-duration, var(--transition-duration))
    );
    transition-timing-function: var(
        --card--transition-timing-function,
        var(--transition-timing-function)
    );

    > .card-header {
        color: var(--card--header--color, var(--card--color));
        background: var(--card--header--background, var(--card--background));
        border-style: var(
            --card--header--border-style,
            var(
                    --card--header--border-top-style,
                    var(--card--border-top-style, var(--border-top-style))
                )
                var(
                    --card--header--border-right-style,
                    var(--card--border-right-style, var(--border-right-style))
                )
                var(
                    --card--header--border-bottom-style,
                    var(--card--border-bottom-style, var(--border-bottom-style))
                )
                var(
                    --card--header--border-left-style,
                    var(--card--border-left-style, var(--border-left-style))
                )
        );
        border-width: var(
            --card--header--border-width,
            var(
                    --card--header--border-top-width,
                    var(--card--border-top-width, var(--border-top-width))
                )
                var(
                    --card--header--border-right-width,
                    var(--card--border-right-width, var(--border-right-width))
                )
                var(
                    --card--header--border-bottom-width,
                    var(--card--border-bottom-width, var(--border-bottom-width))
                )
                var(
                    --card--header--border-left-width,
                    var(--card--border-left-width, var(--border-left-width))
                )
        );
        border-color: var(
            --card--header--border-color,
            var(
                    --card--header--border-top-color,
                    var(--card--border-top-color, var(--border-top-color))
                )
                var(
                    --card--header--border-right-color,
                    var(--card--border-right-color, var(--border-right-color))
                )
                var(
                    --card--header--border-bottom-color,
                    var(--card--border-bottom-color, var(--border-bottom-color))
                )
                var(
                    --card--header--border-left-color,
                    var(--card--border-left-color, var(--border-left-color))
                )
        );
        padding: var(
            --card--header--padding,
            var(--card--header--padding-top, var(--card--padding-top, var(--padding-top)))
                var(--card--header--padding-right, var(--card--padding-right, var(--padding-right)))
                var(
                    --card--header--padding-bottom,
                    var(--card--padding-bottom, var(--padding-bottom))
                )
                var(--card--header--padding-left, var(--card--padding-left, var(--padding-left)))
        );
        border-bottom-width: 0;
        margin-bottom: 0;
        transition-property: var(
            --card--header--transition-property,
            var(--card--transition-property, (border-color))
        );
        transition-duration: var(
            --card--header--transition-duration,
            var(--card--transition-duration, var(--transition-duration))
        );
        transition-timing-function: var(
            --card--header--transition-timing-function,
            var(--card--transition-timing-function, var(--transition-timing-function))
        );

        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6,
        > p,
        > .h1,
        > .h2,
        > .h3,
        > .h4,
        > .h5,
        > .h6,
        > .p {
            margin-bottom: 0;
            margin-top: 0;
        }

        + img,
        + .card-body {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        + .list-group {
            .list-group-item:first-of-type {
                border-top: 0;
            }
        }

        &:first-of-type {
            border-top-left-radius: var(
                --card--header--border-top-left-radius,
                var(--card--border-top-left-radius)
            );
            border-top-right-radius: var(
                --card--header--border-top-right-radius,
                var(--card--border-top-right-radius)
            );
        }
    }

    > .card-body {
        // Enable `flex-grow: 1` for decks and groups so that card blocks take up
        // as much space as possible, ensuring footers are aligned to the bottom.
        flex: 1 1 auto;
        background: var(--card--body--background, var(--card--background));
        border-style: var(
            --card--body--border-style,
            var(
                    --card--body--border-top-style,
                    var(--card--border-top-style, var(--border-top-style))
                )
                var(
                    --card--body--border-right-style,
                    var(--card--border-right-style, var(--border-right-style))
                )
                var(
                    --card--body--border-bottom-style,
                    var(--card--border-bottom-style, var(--border-bottom-style))
                )
                var(
                    --card--body--border-left-style,
                    var(--card--border-left-style, var(--border-left-style))
                )
        );
        border-width: var(
            --card--body--border-width,
            var(
                    --card--body--border-top-width,
                    var(--card--border-top-width, var(--border-top-width))
                )
                var(
                    --card--body--border-right-width,
                    var(--card--border-right-width, var(--border-right-width))
                )
                var(
                    --card--body--border-bottom-width,
                    var(--card--border-bottom-width, var(--border-bottom-width))
                )
                var(
                    --card--body--border-left-width,
                    var(--card--border-left-width, var(--border-left-width))
                )
        );
        border-color: var(
            --card--body--border-color,
            var(
                    --card--body--border-top-color,
                    var(--card--border-top-color, var(--border-top-color))
                )
                var(
                    --card--body--border-right-color,
                    var(--card--border-right-color, var(--border-right-color))
                )
                var(
                    --card--body--border-bottom-color,
                    var(--card--border-bottom-color, var(--border-bottom-color))
                )
                var(
                    --card--body--border-left-color,
                    var(--card--border-left-color, var(--border-left-color))
                )
        );
        border-radius: var(
            --card--body--border-radius,
            var(
                    --card--body--border-top-left-radius,
                    var(--card--border-top-left-radius, var(--border-top-left-radius))
                )
                var(
                    --card--body--border-top-right-radius,
                    var(--card--border-top-right-radius, var(--border-top-right-radius))
                )
                var(
                    --card--body--border-bottom-right-radius,
                    var(--card--border-bottom-right-radius, var(--border-bottom-right-radius))
                )
                var(
                    --card--body--border-bottom-left-radius,
                    var(--card--border-bottom-left-radius, var(--border-bottom-left-radius))
                )
        );
        padding: var(
            --card--body--padding,
            var(--card--body--padding-top, var(--card--padding-top, var(--padding-top)))
                var(--card--body--padding-right, var(--card--padding-right, var(--padding-right)))
                var(
                    --card--body--padding-bottom,
                    var(--card--padding-bottom, var(--padding-bottom))
                )
                var(--card--body--padding-left, var(--card--padding-left, var(--padding-left)))
        );
        color: var(--card--body--color, var(--card--color));
        transition-property: var(
            --card--body--transition-property,
            var(--card--transition-property, (border-color))
        );
        transition-duration: var(
            --card--body--transition-duration,
            var(--card--transition-duration, var(--transition-duration))
        );
        transition-timing-function: var(
            --card--body--transition-timing-function,
            var(--card--transition-timing-function, var(--transition-timing-function))
        );

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    > .card-footer {
        background: var(--card--footer--background, var(--card--background));
        border-style: var(
            --card--footer--border-style,
            var(
                    --card--footer--border-top-style,
                    var(--card--border-top-style, var(--border-top-style))
                )
                var(
                    --card--footer--border-right-style,
                    var(--card--border-right-style, var(--border-right-style))
                )
                var(
                    --card--footer--border-bottom-style,
                    var(--card--border-bottom-style, var(--border-bottom-style))
                )
                var(
                    --card--footer--border-left-style,
                    var(--card--border-left-style, var(--border-left-style))
                )
        );
        border-width: var(
            --card--footer--border-width,
            var(
                    --card--footer--border-top-width,
                    var(--card--border-top-width, var(--border-top-width))
                )
                var(
                    --card--footer--border-right-width,
                    var(--card--border-right-width, var(--border-right-width))
                )
                var(
                    --card--footer--border-bottom-width,
                    var(--card--border-bottom-width, var(--border-bottom-width))
                )
                var(
                    --card--footer--border-left-width,
                    var(--card--border-left-width, var(--border-left-width))
                )
        );
        border-color: var(
            --card--footer--border-color,
            var(
                    --card--footer--border-top-color,
                    var(--card--border-top-color, var(--border-top-color))
                )
                var(
                    --card--footer--border-right-color,
                    var(--card--border-right-color, var(--border-right-color))
                )
                var(
                    --card--footer--border-bottom-color,
                    var(--card--border-bottom-color, var(--border-bottom-color))
                )
                var(
                    --card--footer--border-left-color,
                    var(--card--border-left-color, var(--border-left-color))
                )
        );
        padding: var(
            --card--footer--padding,
            var(--card--footer--padding-top, var(--card--padding-top, var(--padding-top)))
                var(--card--footer--padding-right, var(--card--padding-right, var(--padding-right)))
                var(
                    --card--footer--padding-bottom,
                    var(--card--padding-bottom, var(--padding-bottom))
                )
                var(--card--footer--padding-left, var(--card--padding-left, var(--padding-left)))
        );
        color: var(--card--footer--color, var(--card--color));
        border-top-width: 0;
        transition-property: var(
            --card--footer--transition-property,
            var(--card--transition-property, border-color)
        );
        transition-duration: var(
            --card--footer--transition-duration,
            var(--card--transition-duration, var(--transition-duration))
        );
        transition-timing-function: var(
            --card--footer--transition-timing-function,
            var(--card--transition-timing-function, var(--transition-timing-function))
        );

        border-bottom-left-radius: var(
            --card--footer--border-bottom-left-radius,
            var(--card--border-bottom-left-radius)
        );
        border-bottom-right-radius: var(
            --card--footer--border-bottom-right-radius,
            var(--card--border-bottom-right-radius)
        );
    }

    > img {
        width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
        border-top-left-radius: var(
            --card--img--border-top-left-radius,
            var(--card--border-top-left-radius, var(--border-top-left-radius))
        );
        border-top-right-radius: var(
            --card--img--border-top-right-radius,
            var(--card--border-top-right-radius, var(--border-top-right-radius))
        );
    }

    > hr {
        margin-right: 0;
        margin-left: 0;
    }

    &:last-of-type {
        border-bottom-left-radius: var(--card--border-bottom-left-radius);
        border-bottom-right-radius: var(--card--border-bottom-right-radius);
    }

    > .list-group:first-of-type,
    .list-group-item:first-of-type {
        border-top-left-radius: var(
            --card--list-group--border-top-left-radius,
            var(--card--border-top-left-radius)
        );
        border-top-right-radius: var(
            --card--list-group--border-top-right-radius,
            var(--card--border-top-right-radius)
        );
    }

    > .list-group:last-of-type,
    .list-group-item:last-of-type {
        border-bottom-left-radius: var(
            --card--list-group--border-bottom-left-radius,
            var(--card--border-bottom-left-radius)
        );
        border-bottom-right-radius: var(
            --card--list-group--border-bottom-right-radius,
            var(--card--border-bottom-right-radius)
        );
    }
}
