/**
 * Size variants
 */

.card {
    &.-sm {
        --card--border-top-left-radius: var(
            --card--sm--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-sm))
        );
        --card--border-top-right-radius: var(
            --card--sm--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-sm))
        );
        --card--border-bottom-right-radius: var(
            --card--sm--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-sm))
        );
        --card--border-bottom-left-radius: var(
            --card--sm--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-sm))
        );
        --card--font-size: var(
            --card--sm--font-size,
            calc(var(--font-size) * var(--size-multiplier-sm))
        );
        --card--padding-top: var(
            --card--sm--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-sm))
        );
        --card--padding-right: var(
            --card--sm--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-sm))
        );
        --card--padding-bottom: var(
            --card--sm--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-sm))
        );
        --card--padding-left: var(
            --card--sm--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-sm))
        );
        --card--header--padding-top: var(--card--sm--header--padding-top, var(--card--padding-top));
        --card--header--padding-right: var(
            --card--sm--header--padding-right,
            var(--card--padding-right)
        );
        --card--header--padding-bottom: var(
            --card--sm--header--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--header--padding-left: var(
            --card--sm--header--padding-left,
            var(--card--padding-left)
        );
        --card--body--padding-top: var(--card--sm--body--padding-top, var(--card--padding-top));
        --card--body--padding-right: var(
            --card--sm--body--padding-right,
            var(--card--padding-right)
        );
        --card--body--padding-bottom: var(
            --card--sm--body--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--body--padding-left: var(--card--sm--body--padding-left, var(--card--padding-left));
        --card--footer--padding-top: var(--card--sm--footer--padding-top, var(--card--padding-top));
        --card--footer--padding-right: var(
            --card--sm--footer--padding-right,
            var(--card--padding-right)
        );
        --card--footer--padding-bottom: var(
            --card--sm--footer--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--footer--padding-left: var(
            --card--sm--footer--padding-left,
            var(--card--padding-left)
        );
    }

    &.-md {
        --card--border-top-left-radius: var(
            --card--md--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-md))
        );
        --card--border-top-right-radius: var(
            --card--md--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-md))
        );
        --card--border-bottom-right-radius: var(
            --card--md--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-md))
        );
        --card--border-bottom-left-radius: var(
            --card--md--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-md))
        );
        --card--font-size: var(
            --card--md--font-size,
            calc(var(--font-size) * var(--size-multiplier-md))
        );
        --card--padding-top: var(
            --card--md--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-md))
        );
        --card--padding-right: var(
            --card--md--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-md))
        );
        --card--padding-bottom: var(
            --card--md--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-md))
        );
        --card--padding-left: var(
            --card--md--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-md))
        );
        --card--header--padding-top: var(--card--md--header--padding-top, var(--card--padding-top));
        --card--header--padding-right: var(
            --card--md--header--padding-right,
            var(--card--padding-right)
        );
        --card--header--padding-bottom: var(
            --card--md--header--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--header--padding-left: var(
            --card--md--header--padding-left,
            var(--card--padding-left)
        );
        --card--body--padding-top: var(--card--md--body--padding-top, var(--card--padding-top));
        --card--body--padding-right: var(
            --card--md--body--padding-right,
            var(--card--padding-right)
        );
        --card--body--padding-bottom: var(
            --card--md--body--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--body--padding-left: var(--card--md--body--padding-left, var(--card--padding-left));
        --card--footer--padding-top: var(--card--md--footer--padding-top, var(--card--padding-top));
        --card--footer--padding-right: var(
            --card--md--footer--padding-right,
            var(--card--padding-right)
        );
        --card--footer--padding-bottom: var(
            --card--md--footer--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--footer--padding-left: var(
            --card--md--footer--padding-left,
            var(--card--padding-left)
        );
    }

    &.-lg {
        --card--border-top-left-radius: var(
            --card--lg--border-top-left-radius,
            calc(var(--border-top-left-radius) * var(--size-multiplier-lg))
        );
        --card--border-top-right-radius: var(
            --card--lg--border-top-right-radius,
            calc(var(--border-top-right-radius) * var(--size-multiplier-lg))
        );
        --card--border-bottom-right-radius: var(
            --card--lg--border-bottom-right-radius,
            calc(var(--border-bottom-right-radius) * var(--size-multiplier-lg))
        );
        --card--border-bottom-left-radius: var(
            --card--lg--border-bottom-left-radius,
            calc(var(--border-bottom-left-radius) * var(--size-multiplier-lg))
        );
        --card--font-size: var(
            --card--lg--font-size,
            calc(var(--font-size) * var(--size-multiplier-lg))
        );
        --card--padding-top: var(
            --card--lg--padding-top,
            calc(var(--padding-top) * var(--size-multiplier-lg))
        );
        --card--padding-right: var(
            --card--lg--padding-right,
            calc(var(--padding-right) * var(--size-multiplier-lg))
        );
        --card--padding-bottom: var(
            --card--lg--padding-bottom,
            calc(var(--padding-bottom) * var(--size-multiplier-lg))
        );
        --card--padding-left: var(
            --card--lg--padding-left,
            calc(var(--padding-left) * var(--size-multiplier-lg))
        );
        --card--header--padding-top: var(--card--lg--header--padding-top, var(--card--padding-top));
        --card--header--padding-right: var(
            --card--lg--header--padding-right,
            var(--card--padding-right)
        );
        --card--header--padding-bottom: var(
            --card--lg--header--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--header--padding-left: var(
            --card--lg--header--padding-left,
            var(--card--padding-left)
        );
        --card--body--padding-top: var(--card--lg--body--padding-top, var(--card--padding-top));
        --card--body--padding-right: var(
            --card--lg--body--padding-right,
            var(--card--padding-right)
        );
        --card--body--padding-bottom: var(
            --card--lg--body--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--body--padding-left: var(--card--lg--body--padding-left, var(--card--padding-left));
        --card--footer--padding-top: var(--card--lg--footer--padding-top, var(--card--padding-top));
        --card--footer--padding-right: var(
            --card--lg--footer--padding-right,
            var(--card--padding-right)
        );
        --card--footer--padding-bottom: var(
            --card--lg--footer--padding-bottom,
            var(--card--padding-bottom)
        );
        --card--footer--padding-left: var(
            --card--lg--footer--padding-left,
            var(--card--padding-left)
        );
    }
}
