@mixin card-size-variant($size-variant-key) {
    $_border-radius: var(--card-size-variant-#{$size-variant-key}-border-radius);
    $_font-size: var(--card-size-variant-#{$size-variant-key}-font-size);
    $_padding: var(--card-size-variant-#{$size-variant-key}-padding);

    border-radius: $_border-radius;
    font-size: $_font-size;

    > .card-header {
        padding: $_padding;

        &:first-child {
            border-top-left-radius: $_border-radius;
            border-top-right-radius: $_border-radius;
        }
    }

    > .card-body {
        padding: $_padding;
        border-radius: $_border-radius;

        > .card-title {
            margin-bottom: $_padding;
        }

        > .card-subtitle {
            margin-top: calc(#{$_padding} / 2);
        }

        > .card-link + .card-link {
            margin-left: $_padding;
        }
    }

    > .card-footer {
        padding: $_padding;

        &:last-child {
            border-bottom-left-radius: $_border-radius;
            border-bottom-right-radius: $_border-radius;
        }
    }

    > img {
        border-top-left-radius: $_border-radius;
        border-top-right-radius: $_border-radius;
    }

    &:last-child {
        border-bottom-left-radius: $_border-radius;
        border-bottom-right-radius: $_border-radius;
    }

    > .list-group:first-child,
    .list-group-item:first-child {
        border-top-left-radius: $_border-radius;
        border-top-right-radius: $_border-radius;
    }

    > .list-group:last-child,
    .list-group-item:last-child {
        border-bottom-left-radius: $_border-radius;
        border-bottom-right-radius: $_border-radius;
    }
}
