/**
 * Size variants
 */

.card {
                        &.-sm {
                                        --card--border-top-left-radius: var(--card--sm--border-top-left-radius, var(--border-top-left-radius-sm));
                                        --card--border-top-right-radius: var(--card--sm--border-top-right-radius, var(--border-top-right-radius-sm));
                                        --card--border-bottom-right-radius: var(--card--sm--border-bottom-right-radius, var(--border-bottom-right-radius-sm));
                                        --card--border-bottom-left-radius: var(--card--sm--border-bottom-left-radius, var(--border-bottom-left-radius-sm));
                                        --card--font-size: var(--card--sm--font-size, var(--font-size-sm));
                                        --card--padding-top: var(--card--sm--padding-top, var(--padding-top-sm));
                                        --card--padding-right: var(--card--sm--padding-right, var(--padding-right-sm));
                                        --card--padding-bottom: var(--card--sm--padding-bottom, var(--padding-bottom-sm));
                                        --card--padding-left: var(--card--sm--padding-left, var(--padding-left-sm));
                                        --card--header--padding-bottom: var(--card--sm--header--padding-bottom, var(----padding-bottom-sm));
                                        --card--header--padding-left: var(--card--sm--header--padding-left, var(----padding-left-sm));
                                        --card--body--padding-bottom: var(--card--sm--body--padding-bottom, var(----padding-bottom-sm));
                                        --card--body--padding-left: var(--card--sm--body--padding-left, var(----padding-left-sm));
                                        --card--footer--padding-bottom: var(--card--sm--footer--padding-bottom, var(----padding-bottom-sm));
                                        --card--footer--padding-left: var(--card--sm--footer--padding-left, var(----padding-left-sm));
    }
                        &.-md {
                                        --card--border-top-left-radius: var(--card--md--border-top-left-radius, var(--border-top-left-radius-md));
                                        --card--border-top-right-radius: var(--card--md--border-top-right-radius, var(--border-top-right-radius-md));
                                        --card--border-bottom-right-radius: var(--card--md--border-bottom-right-radius, var(--border-bottom-right-radius-md));
                                        --card--border-bottom-left-radius: var(--card--md--border-bottom-left-radius, var(--border-bottom-left-radius-md));
                                        --card--font-size: var(--card--md--font-size, var(--font-size-md));
                                        --card--padding-top: var(--card--md--padding-top, var(--padding-top-md));
                                        --card--padding-right: var(--card--md--padding-right, var(--padding-right-md));
                                        --card--padding-bottom: var(--card--md--padding-bottom, var(--padding-bottom-md));
                                        --card--padding-left: var(--card--md--padding-left, var(--padding-left-md));
                                        --card--header--padding-bottom: var(--card--md--header--padding-bottom, var(----padding-bottom-md));
                                        --card--header--padding-left: var(--card--md--header--padding-left, var(----padding-left-md));
                                        --card--body--padding-bottom: var(--card--md--body--padding-bottom, var(----padding-bottom-md));
                                        --card--body--padding-left: var(--card--md--body--padding-left, var(----padding-left-md));
                                        --card--footer--padding-bottom: var(--card--md--footer--padding-bottom, var(----padding-bottom-md));
                                        --card--footer--padding-left: var(--card--md--footer--padding-left, var(----padding-left-md));
    }
                        &.-lg {
                                        --card--border-top-left-radius: var(--card--lg--border-top-left-radius, var(--border-top-left-radius-lg));
                                        --card--border-top-right-radius: var(--card--lg--border-top-right-radius, var(--border-top-right-radius-lg));
                                        --card--border-bottom-right-radius: var(--card--lg--border-bottom-right-radius, var(--border-bottom-right-radius-lg));
                                        --card--border-bottom-left-radius: var(--card--lg--border-bottom-left-radius, var(--border-bottom-left-radius-lg));
                                        --card--font-size: var(--card--lg--font-size, var(--font-size-lg));
                                        --card--padding-top: var(--card--lg--padding-top, var(--padding-top-lg));
                                        --card--padding-right: var(--card--lg--padding-right, var(--padding-right-lg));
                                        --card--padding-bottom: var(--card--lg--padding-bottom, var(--padding-bottom-lg));
                                        --card--padding-left: var(--card--lg--padding-left, var(--padding-left-lg));
                                        --card--header--padding-bottom: var(--card--lg--header--padding-bottom, var(----padding-bottom-lg));
                                        --card--header--padding-left: var(--card--lg--header--padding-left, var(----padding-left-lg));
                                        --card--body--padding-bottom: var(--card--lg--body--padding-bottom, var(----padding-bottom-lg));
                                        --card--body--padding-left: var(--card--lg--body--padding-left, var(----padding-left-lg));
                                        --card--footer--padding-bottom: var(--card--lg--footer--padding-bottom, var(----padding-bottom-lg));
                                        --card--footer--padding-left: var(--card--lg--footer--padding-left, var(----padding-left-lg));
    }
}
