//
// Checkbox Sizes
//
@each $size in $sizes {
    $_border-radius: map_get($form-check-checkbox-border-radius, $size);
    $_icon-size: map_get($form-check-checkbox-icon-size, $size);

    .form.-#{$size} .form-check,
    .form-group.-#{$size} .form-check,
    .form-check.-#{$size} {
        &.-custom.-checkbox {
            .form-input-label {
                &::before {
                    @if $border-radius-enabled {
                        border-radius: $_border-radius;
                    }
                }

                &::after {
                    font-size: $_icon-size;
                }
            }
        }
    }
}
