@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/sizes';
@import 'css/colors';

.popover-wrapper {
    display: inline-block;
    position: relative;

    .popover-trigger {
        display: contents;
    }
}

.popover {
    @include popup(('margin': var(--popover-margin), 'z-index': var(--popover-z-index)));
    @include popup-arrow();
    @include popup-arrow-size-variant();

    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    line-height: var(--popover-line-height);
    background-clip: padding-box;
    display: inline-block;
    white-space: normal;
    width: var(--popover-width);
    max-width: var(--popover-max-width);

    > .popover-header {
        border-width: var(--popover-border-width) var(--popover-border-width) 0;
        border-style: solid;
    }

    > .popover-body {
        border-width: var(--popover-border-width);
        border-style: solid;
    }

    > .popover-footer {
        border-width: 0 var(--popover-border-width) var(--popover-border-width);
        border-style: solid;
    }

    @include popover-size-variant('md');
    @each $size-variant-key, $popover-size-variant-value in $popover-size-variants {
        &.-#{$size-variant-key} {
            @include popover-size-variant($size-variant-key);
        }
    }

    @include popover-color-variant('light');
    @each $color-variant-key, $color-variant-value in $popover-color-variants {
        &.-#{$color-variant-key} {
            @include popover-color-variant($color-variant-key);
        }
    }
}
