/**
 * Badge
 */

.badge {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    color: var(--badge--color);
    background: var(--badge--background);
    border-style: var(
        --badge--border-style,
        var(--badge--border-top-style, var(--border-top-style))
            var(--badge--border-right-style, var(--border-right-style))
            var(--badge--border-bottom-style, var(--border-bottom-style))
            var(--badge--border-left-style, var(--border-left-style))
    );
    border-width: var(
        --badge--border-width,
        var(--badge--border-top-width, var(--border-top-width))
            var(--badge--border-right-width, var(--border-right-width))
            var(--badge--border-bottom-width, var(--border-bottom-width))
            var(--badge--border-left-width, var(--border-left-width))
    );
    border-color: var(
        --badge--border-color,
        var(--badge--border-top-color, var(--border-top-color))
            var(--badge--border-right-color, var(--border-right-color))
            var(--badge--border-bottom-color, var(--border-bottom-color))
            var(--badge--border-left-color, var(--border-left-color))
    );
    border-radius: var(
        --badge--border-radius,
        var(--badge--border-top-left-radius, var(--border-top-left-radius))
            var(--badge--border-top-right-radius, var(--border-top-right-radius))
            var(--badge--border-bottom-right-radius, var(--border-bottom-right-radius))
            var(--badge--border-bottom-left-radius, var(--border-bottom-left-radius))
    );
    font-size: var(--badge--font-size, var(--font-size));
    box-shadow: var(
        --badge--box-shadow,
        var(--badge--box-shadow-x-offset, var(--box-shadow-offset-x))
            var(--badge--box-shadow-y-offset, var(--box-shadow-offset-y))
            var(--badge--box-shadow-blur-radius, var(--box-shadow-blur-radius))
            var(--badge--box-shadow-spread-radius, var(--box-shadow-spread-radius))
            var(--badge--box-shadow-color, var(--box-shadow-color))
    );
    padding: var(
        --badge--padding,
        var(--badge--padding-top, var(--padding-top))
            var(--badge--padding-right, var(--padding-right))
            var(--badge--padding-bottom, var(--padding-bottom))
            var(--badge--padding-left, var(--padding-left))
    );
    font-weight: var(--badge--font-weight, var(--font-weight-semibold));
    transition-property: var(--badge--transition-property, (background-color, color, border-color));
    transition-duration: var(--badge--transition-duration, var(--transition-duration));
    transition-timing-function: var(
        --badge--transition-timing-function,
        var(--transition-timing-function)
    );

    .button & {
        position: relative;
        top: -1px;
    }

    a:hover &,
    a:focus & {
        text-decoration: none;
        background: var(--badge--link--hover--background, var(--badge--background));
    }

    &.-pill {
        --border-radius: 50%;
    }
}
