//
// Tooltip Variables
//

--tooltip-font-size := --font-size
--tooltip-font-weight := --font-weight['normal']
--tooltip-line-height := --line-height

--tooltip-margin := --spacers['1/2']

--tooltip-border-width := --border-width
--tooltip-border-radius := --border-radius

--tooltip-padding-base := --spacers['1/4'] --spacers['1/2']
--tooltip-padding := -size-map(--tooltip-padding-base, --sizes, --size-multipliers)


//
// Variants
//
--tooltip-variants := (monochrome)
--tooltip-color-groups := {
    monochrome: {
        light: --color-white,
        dark: --color-gray-80
    }
}
--variants['tooltip'] = -add-variant(--tooltip-variants, { color: --tooltip-color-groups })
