//
// Card variants
// Add the required color variants to all card variations
//
for --variant-name, --variant in --variants['tooltip']
    .tooltip.-{--variant-name}
        color: -text-color-by-luminance(--variant['color'], --variant-color-light, --variant-color-dark)
        background-color: --variant['color']
        border-color: darken(--variant['color'], 10%)

        -popup-arrow-variant({
            background: --variant['color'],
            border-color: darken(--variant['color'], 10%)
        })
