@function tabs-variant($variant) {
    $tabs-variant-color: variant-color-by-luminance($variant, $tabs-color-for-light-variant, $tabs-color-for-dark-variant);
    $tabs-variant-border-color: variant-color-by-luminance($variant, $border-color-dark, $border-color-light);
    $tabs-variant-background: $variant;

    $variant-map: (
        color: $tabs-variant-color,
        background: $tabs-variant-background,
        border-color: $tabs-variant-border-color,
    );

    @return $variant-map;
}
