// Images
//

// Image thumbnails
//
$thumbnail--padding: calc(#{spacing()} / 2) !default;
$thumbnail--background: color('white') !default;
$thumbnail--border-width: var(--border-width) !default;
$thumbnail--border-color: color('gray-40') !default;
$thumbnail--border-radius: border-radius() !default;
$thumbnail--box-shadow: 0 1px 2px rgba(color('black'), 0.075) !default;
$thumbnail--transition: all 0.2s ease-in-out !default;

// Polaroid
//
$polaroid--padding: calc(#{spacing()} * 3) !default;

// Figures
//
$figure--caption--font-size: 90% !default;
$figure--caption--color: color('gray-60') !default;
$figure--image--margin-bottom: calc(#{spacing()} / 2) !default;
