/**
 * Float
 *
 * Custom styles for additional flex alignment options.
 */

@each $breakpoint-name, $breakpoint-value in $breakpoints {
    $infix: breakpoint-infix($breakpoint-name);

    @include breakpoint($breakpoint-name) {
        ._float#{$infix}-left {
            float: left !important;
        }

        ._float#{$infix}-right {
            float: right !important;
        }

        ._float#{$infix}-none {
            float: none !important;
        }
    }
}
