/**
 * Position
 */

@each $position in ('static', 'relative', 'absolute', 'fixed', 'sticky') {
    ._position-#{$position} {
        position: $position !important;
    }
}

._fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: z-index(fixed);
}

._fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z-index(fixed);
}

._sticky-top {
    @supports (position: sticky) {
        position: sticky;
        top: 0;
        z-index: z-index(sticky);
    }
}
