@each $breakpoint-name, $breakpoint-value in $breakpoints {
    $infix: breakpoint-infix($breakpoint-name);

    @include breakpoint($breakpoint-name) {
        ._hidden#{$infix}-only {
            display: none !important;
        }

        ._visible#{$infix}-only {
            display: block;
        }
    }

    @if $infix != '' {
        ._visible#{$infix}-only,
        ._visible#{$infix}-and-up,
        ._visible#{$infix}-and-down {
            display: none !important;
        }

        @include breakpoint-up($breakpoint-name) {
            ._hidden#{$infix}-and-up {
                display: none !important;
            }

            ._visible#{$infix}-and-up {
                display: block !important;
            }
        }

        @include breakpoint-down($breakpoint-name) {
            ._hidden#{$infix}-and-down {
                display: none !important;
            }

            ._visible#{$infix}-and-down {
                display: block !important;
            }
        }
    }
}

._visibility-visible {
    visibility: visible;
}

._visibility-hidden {
    visibility: hidden;
}
