/**
 * Color variants
 */

.progress {
    &.-light {
        --progress--background: var(--progress--light--background, var(--color-light));
        --progress--border-top-color: var(
            --progress--light--border-top-color,
            var(--color-light-shade-50)
        );
        --progress--border-right-color: var(
            --progress--light--border-right-color,
            var(--color-light-shade-50)
        );
        --progress--border-bottom-color: var(
            --progress--light--border-bottom-color,
            var(--color-light-shade-50)
        );
        --progress--border-left-color: var(
            --progress--light--border-left-color,
            var(--color-light-shade-50)
        );
    }

    &.-dark {
        --progress--background: var(--progress--dark--background, var(--color-dark));
        --progress--border-top-color: var(
            --progress--dark--border-top-color,
            var(--color-dark-tint-50)
        );
        --progress--border-right-color: var(
            --progress--dark--border-right-color,
            var(--color-dark-tint-50)
        );
        --progress--border-bottom-color: var(
            --progress--dark--border-bottom-color,
            var(--color-dark-tint-50)
        );
        --progress--border-left-color: var(
            --progress--dark--border-left-color,
            var(--color-dark-tint-50)
        );
    }
}
