////
/// The background of the progress component
/// @name progress--background
/// @type color
////
    
////
/// The border top color of the progress component
/// @name progress--border-top-color
/// @type color
////
    
////
/// The border right color of the progress component
/// @name progress--border-right-color
/// @type color
////
    
////
/// The border bottom color of the progress component
/// @name progress--border-bottom-color
/// @type color
////
    
////
/// The border left color of the progress component
/// @name progress--border-left-color
/// @type color
////
    
////
/// The border color of the progress component
/// @name progress--border-color
////
    
////
/// The border style of the progress component
/// @name progress--border-style
////
    
////
/// The border top width of the progress component
/// @name progress--border-top-width
////
    
////
/// The border right width of the progress component
/// @name progress--border-right-width
////
    
////
/// The border bottom width of the progress component
/// @name progress--border-bottom-width
////
    
////
/// The border left width of the progress component
/// @name progress--border-left-width
////
    
////
/// The border width of the progress component
/// @name progress--border-width
////
    
////
/// The border top left radius of the progress component
/// @name progress--border-top-left-radius
/// @type size
////
    
////
/// The border top right radius of the progress component
/// @name progress--border-top-right-radius
/// @type size
////
    
////
/// The border bottom right radius of the progress component
/// @name progress--border-bottom-right-radius
/// @type size
////
    
////
/// The border bottom left radius of the progress component
/// @name progress--border-bottom-left-radius
/// @type size
////
    
////
/// The border radius of the progress component
/// @name progress--border-radius
////
    
////
/// The box shadow horizontal offset of the progress component
/// @name progress--box-shadow-offset-x
////
    
////
/// The box shadow vertical offset of the progress component
/// @name progress--box-shadow-offset-y
////
    
////
/// The box shadow blur radius of the progress component
/// @name progress--box-shadow-blur-radius
////
    
////
/// The box shadow spread radius of the progress component
/// @name progress--box-shadow-spread-radius
////
    
////
/// The box shadow spread radius of the progress component
/// @name progress--box-shadow-color
////
    
////
/// The box shadow of the progress component
/// @name progress--box-shadow
////
    
////
/// The height of the progress component
/// @name progress--height
/// @type size
////
    

/**
 * Progress
 */

@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/sizes';
@import 'css/colors';

.progress {
    display: flex;
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
    background: var(----background);
    border-radius: var(----border-radius);
    border-color: var(----border-color);
    border-style: var(----border-style);
    border-width: var(----border-width);
    box-shadow: var(----box-shadow);
    height: var(----height);
}
