@import '../../../../css/variables';
@import '../../../../css/mixins';
@import '../../css/variables';

.tabs {
    ----header--color: var(----color);

    .tab-title {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-width: var(----header--border-width);
        border-style: var(----header--border-style);
        border-color: var(----header--border-color);
        font-size: var(----header--font-size);
        padding: var(----header--padding);
        transition-property: background-color, border-color, color;
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-easing);
        color: var(----header--color);
        background: var(----header--background);

        &.-active {
            ----header--color: var(----header--color--active);
            ----header--background: var(----header--background--active);
            ----header--border-color: var(----header--border-color--active);

            font-weight: font-weight('semibold');
        }

        &:hover,
        &:focus {
            ----header--background: var(----header--background--hover);

            cursor: pointer;
            outline: none;
        }
    }

    &.-stretch {
        > .tabs-header .tab-title {
            flex-grow: 1;
        }
    }
}
