@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/sizes';
@import 'css/colors';

.tooltip-wrapper {
    display: inline-block;
    position: relative;

    .tooltip-trigger {
        display: contents;
    }

    .tooltip {
        @include popup(('z-index': var(----z-index)));
        @include popup-arrow();
        @include popup-arrow-size-variant();

        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        background-clip: padding-box;
        display: inline-block;
        white-space: nowrap;
        line-height: var(----line-height);
        border-width: var(----border-width);
        border-style: var(----border-style);
        color: var(----color);
        background-color: var(----background);
        border-color: var(----border-color);
        border-radius: var(----border-radius);
        font-size: var(----font-size);
        padding: var(----padding);
        box-shadow: var(----box-shadow);

        @include popup-arrow-color-variant(('background': var(----background), 'border-color': (
            'top': var(----border-top-color),
            'right': var(----border-right-color),
            'bottom': var(----border-bottom-color),
            'left': var(----border-left-color),
        )));
    }
}
