////
/// Variables
////

/// The font weight of the tooltip component
/// @name font-weight
$tooltip-font-weight: font-weight('normal') !default;

/// The line height of the tooltip component
/// @name line-height
$tooltip-line-height: var(--line-height) !default;

/// The border width of the tooltip component
/// @name border-width
$tooltip-border-width: var(--border-width) !default;

/// The margin of the tooltip component
/// @name margin
$tooltip-margin: spacing('1/2') !default;

/// The z-index of the tooltip component
/// @name z-index
$tooltip-z-index: 2000 !default;

/// The border radius of the tooltip component
/// @name border-radius
/// @type size
$tooltip-border-radius: border-radius() !default;

/// The font size of the tooltip component
/// @name font-size
/// @type size
$tooltip-font-size: font-size() !default;

/// The padding of the tooltip component items
/// @name padding
/// @type size
$tooltip-padding: spacing() !default;

////
/// Sizes
////

////
/// Small size
////

/// The border radius of the tooltip component
/// @name border-radius
/// @group sm
/// @type size
$tooltip-size-variant-sm-border-radius: calc(var(--tooltip-border-radius) * #{size-multiplier('sm')}) !default;

/// The font size of the tooltip component
/// @name font-size
/// @group sm
/// @type size
$tooltip-size-variant-sm-font-size: calc(var(--tooltip-font-size) * #{size-multiplier('sm')}) !default;

/// The padding of the tooltip component items
/// @name padding
/// @group sm
/// @type size
$tooltip-size-variant-sm-padding: calc(var(--tooltip-padding) * #{size-multiplier('sm')} / 2) calc(var(--tooltip-padding) * #{size-multiplier('sm')}) !default;

/// Map for sm size
/// @group sm
$tooltip-size-variant-sm: (
    'border-radius': $tooltip-size-variant-sm-border-radius,
    'font-size': $tooltip-size-variant-sm-font-size,
    'padding': $tooltip-size-variant-sm-padding
) !default;

////
/// Medium size
////

/// The border radius of the tooltip component
/// @name border-radius
/// @group md
/// @type size
$tooltip-size-variant-md-border-radius: calc(var(--tooltip-border-radius) * #{size-multiplier('md')}) !default;

/// The font size of the tooltip component
/// @name font-size
/// @group md
/// @type size
$tooltip-size-variant-md-font-size: calc(var(--tooltip-font-size) * #{size-multiplier('md')}) !default;

/// The padding of the tooltip component items
/// @name padding
/// @group md
/// @type size
$tooltip-size-variant-md-padding: calc(var(--tooltip-padding) * #{size-multiplier('md')} / 2) calc(var(--tooltip-padding) * #{size-multiplier('md')}) !default;

/// Map for md size
/// @group md
$tooltip-size-variant-md: (
    'border-radius': $tooltip-size-variant-md-border-radius,
    'font-size': $tooltip-size-variant-md-font-size,
    'padding': $tooltip-size-variant-md-padding
) !default;

////
/// Large size
////

/// The border radius of the tooltip component
/// @name border-radius
/// @group lg
/// @type size
$tooltip-size-variant-lg-border-radius: calc(var(--tooltip-border-radius) * #{size-multiplier('lg')}) !default;

/// The font size of the tooltip component
/// @name font-size
/// @group lg
/// @type size
$tooltip-size-variant-lg-font-size: calc(var(--tooltip-font-size) * #{size-multiplier('lg')}) !default;

/// The padding of the tooltip component items
/// @name padding
/// @group lg
/// @type size
$tooltip-size-variant-lg-padding: calc(var(--tooltip-padding) * #{size-multiplier('lg')} / 2) calc(var(--tooltip-padding) * #{size-multiplier('lg')}) !default;

/// Map for lg size
/// @group lg
$tooltip-size-variant-lg: (
    'border-radius': $tooltip-size-variant-lg-border-radius,
    'font-size': $tooltip-size-variant-lg-font-size,
    'padding': $tooltip-size-variant-lg-padding
) !default;

/// Sizes group map
$tooltip-size-variants: (
    'sm': $tooltip-size-variant-sm,
    'md': $tooltip-size-variant-md,
    'lg': $tooltip-size-variant-lg
) !default;

////
/// Colors
////

////
/// Light color
////

/// The color of the tooltip component item
/// @name color
/// @group light
/// @type color
$tooltip-color-variant-light-color: contrast-color($color-white) !default;

/// The background of the tooltip component
/// @name background
/// @group light
/// @type color
$tooltip-color-variant-light-background: color('white') !default;

/// The border-color of the tooltip component
/// @name border-color
/// @group light
/// @type color
$tooltip-color-variant-light-border-color: color('light') !default;

/// Map for light color
/// @group light
$tooltip-color-variant-light: (
    'color': $tooltip-color-variant-light-color,
    'background': $tooltip-color-variant-light-background,
    'border-color': $tooltip-color-variant-light-border-color
) !default;

////
/// Dark color
////

/// The color of the tooltip component item
/// @name color
/// @group dark
/// @type color
$tooltip-color-variant-dark-color: contrast-color($color-dark) !default;

/// The background of the tooltip component
/// @name background
/// @group dark
/// @type color
$tooltip-color-variant-dark-background: color('dark') !default;

/// The border-color of the tooltip component
/// @name border-color
/// @group dark
/// @type color
$tooltip-color-variant-dark-border-color: color('dark-60') !default;

/// Map for dark color
/// @group dark
$tooltip-color-variant-dark: (
    'color': $tooltip-color-variant-dark-color,
    'background': $tooltip-color-variant-dark-background,
    'border-color': $tooltip-color-variant-dark-border-color
) !default;

/// Colors group map
$tooltip-color-variants: (
    'light': $tooltip-color-variant-light,
    'dark': $tooltip-color-variant-dark
) !default;
