/**
 * Colors
 */
@import '../mixins/colors';

// Background
//
@each $variant-name, $variant in variants(background) {
    ._background-#{$variant-name} {
        color: variant-color-by-luminance($variant, $variant-color-light, $variant-color-dark);
        background-color: $variant !important;
    }
}

._background-transparent {
    background-color: transparent !important;
}

// Text
//
@each $variant-name, $variant in variants('text') {
    ._text-#{$variant-name} {
        color: $variant !important;
    }
}
