/**
 * Colors
 */


// Background
//
for --variant-name, --variant in --variants['background']
    ._background-{--variant-name}
        color: -variant-color-by-luminance(--variant['color'], --variant-color-light, --variant-color-dark)
        background-color: --variant['color'] !important
        if --gradient-enabled and --variant['gradient']
            background-image: -linear-gradient(--variant['gradient']) !important

._background-transparent
  background-color: transparent !important


// Text
//
for --variant-name, --variant in --variants['text']
    ._text-{--variant-name}
        color: --variant['color'] !important
