/**
 * Collapsible
 */

@import '../../css/config'
@import '../../css/mixins'
@import 'css/_variables'
@import 'css/_variants'

.collapsible
    position: relative
    display: block
    border-width: 1px
    border-style: solid
    border-radius: --collapsible-border-radius

    @extend .collapsible.-light
