<div>
    <div class="_background:white _display:flex _align-items:center _padding:1">
        <i-radio-group v-model="light" color="light">
            <i-radio value="apple">Apple</i-radio>
            <i-radio value="banana">Banana</i-radio>
            <i-radio value="strawberry">Strawberry</i-radio>
            <i-radio value="mango">Mango</i-radio>
        </i-radio-group>
    </div>

    <div class="_background:gray-90 _display:flex _align-items:center _padding:1">
        <i-radio-group v-model="dark" color="dark">
            <i-radio value="apple">Apple</i-radio>
            <i-radio value="banana">Banana</i-radio>
            <i-radio value="strawberry">Strawberry</i-radio>
            <i-radio value="mango">Mango</i-radio>
        </i-radio-group>
    </div>
</div>
