@use '../../../css/mixins/components';
@use '../../../css/functions/properties';

/**
 * Loader
 */

@layer components {
    .loader {
        @include components.width('loader');
        @include components.height('loader');

        display: inline-block;
        position: relative;

        &::before {
            content: '';
            display: block;
            padding-top: 100%;
        }

        .loader-text,
        > svg {
            position: absolute;
            height: 100%;
            width: 100%;
            inset: 0;
            margin: auto;
        }

        .loader-text {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        > svg {
            animation: loader-rotate #{properties.animation-duration('loader')} linear infinite;
            transform-origin: center center;

            > circle {
                stroke: properties.background('loader');
                stroke-dasharray: 89, 200;
                stroke-dashoffset: -35px;
                animation: loader-dash #{properties.animation-duration('loader')} ease-in-out infinite;
                stroke-linecap: round;
            }
        }

        &.-auto {
            width: 100%;
            height: 100%;
        }
    }
}

@keyframes loader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
