/**
 * Size variants
 */

.loader {
    ////
    /// Variables for the sm size variant
    /// @name sm
    /// @type variant
    ////
    &.-sm {
        ////
        /// The size of the loader component, for the sm size variant
        /// @name size
        ////
        ----size: calc(#{64px} * var(--size-multiplier-sm));
    }
    ////
    /// Variables for the md size variant
    /// @name md
    /// @type variant
    ////
    &.-md {
        ////
        /// The size of the loader component, for the md size variant
        /// @name size
        ////
        ----size: calc(#{64px} * var(--size-multiplier-md));
    }
    ////
    /// Variables for the lg size variant
    /// @name lg
    /// @type variant
    ////
    &.-lg {
        ////
        /// The size of the loader component, for the lg size variant
        /// @name size
        ////
        ----size: calc(#{64px} * var(--size-multiplier-lg));
    }
}
