/**
 * Blockquote
 */

blockquote {
    margin: 0 0 var(--blockquote--margin-bottom, var(--margin-bottom));
}

.blockquote {
    font-size: var(--blockquote--font-size, var(--font-size));

    &.-left {
        text-align: left;

        &.-bordered {
            padding-left: var(--blockquote--padding-left, var(--padding-left));
            border-left: var(--blockquote--border-left, 5px var(--border-left-style) var(--border-left-color));
        }
    }

    &.-center {
        text-align: center;
    }

    &.-right {
        text-align: right;

        &.-bordered {
            padding-right: var(--blockquote--padding-right, var(--padding-right));
            border-right: var(--blockquote--border-right, 5px var(--border-right-style) var(--border-right-color));
        }
    }

    > p {
        margin-bottom: 0;
    }

    > footer,
    > .footer {
        display: block;
        font-size: 80%;
        color: var(--blockquote--footer--color, var(--text--color-muted));

        &::before {
            content: '\2014 \00A0'; // em dash, nbsp
        }
    }
}
