@import 'document';
@import 'body';

@import 'abbr';
@import 'address';
@import 'blockquote';
@import 'code';
@import 'forms';
@import 'headings';
@import 'hidden';
@import 'hr';
@import 'iframe';
@import 'images';
@import 'links';
@import 'lists';
@import 'mark';
@import 'paragraphs';
@import 'summary';
@import 'tables';
@import 'touch';
