//
// Button variants
// Add the required color variants to all button variations
//
for --variant-name, --variant in --variants['button']
    .button.-{--variant-name}
        color: -variant-color-by-luminance(--variant['color'], --button-variant-color-light, --button-variant-color-dark)
        background-color: --variant['color']
        border-color: --variant['color']

        &:not(:disabled):not(.-disabled)
            &:hover,
            &.-hovered
                background-color: darken(--variant['color'], --button-darken-percentage-hover)
                border-color: darken(--variant['color'], --button-darken-percentage-hover)

            &:active
            &.-active
                background-color: darken(--variant['color'], 2.5 * --button-darken-percentage-hover)

            &:focus
            &.-focused
                box-shadow: 0 0 0 2px rgba(--variant['color'], 0.25)

        &.-outline
            background-color: transparent
            color: --variant['color']

            &:not(:disabled):not(.-disabled)
                &:hover
                &.-hovered
                &:focus
                &.-focused
                    color: -variant-color-by-luminance(--variant['color'], --button-variant-color-light, --button-variant-color-dark)
                    background-color: darken(--variant['color'], --button-darken-percentage-hover)
                    border-color: darken(--variant['color'], --button-darken-percentage-hover)

        &.-link
            color: --variant['color']
            background-color: transparent
            border-color: transparent

            &:not(:disabled):not(.-disabled)
                &:hover
                &.-hovered
                &:focus
                &.-focused
                    color: darken(--variant['color'], 5%)
                    background-color: transparent
                    border-color: transparent