//
// Variables
//
--button-font-size := --font-size
--button-font-weight := --font-weight['normal']
--button-line-height := --line-height

--button-border-width := --border-width
--button-border-radius := --border-radius

--button-padding-base := --spacers['1/2'] --spacers['1']
--button-padding := -size-map(--button-padding-base, --sizes, --size-multipliers)

--button-circle-size-base := --spacers['1'] * --size-multipliers['md'] * 1.6 + --button-font-size['md']
--button-circle-padding := -size-map(--button-circle-padding-base, --sizes, --size-multipliers)

--button-margin := --spacer

--button-darken-percentage-hover := 5%
--button-opacity-disabled := 0.75

--button-link-color := --link-color
--button-link-disabled-color := --text-muted


//
// Themes
//
--button-variants := (brand monochrome state social)
--button-variant-color-light := --variant-color-light
--button-variant-color-dark := --variant-color-dark

--variants['button'] = -add-variant(--button-variants, { color: --color-groups })
