@import '../../css/variables';

.expand-enter-active,
.expand-leave-active {
    transition-property: height;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-easing);
    overflow: hidden;
}

.expand-enter,
.expand-leave-to {
    height: 0;
}

* {
    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.expand-enter-from,
.expand-enter-active,
.expand-leave-active,
.expand-leave-to {
    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}
