//
// Collapsible Variables
//
$collapsible-border-radius: border-radius('md') !default;
$collapsible-item-padding: $spacer !default;

//
// Themes
//
$collapsible-variants: ('monochrome') !default;

$collapsible-color-light: $variant-color-light !default;
$collapsible-color-dark: $variant-color-dark !default;

$collapsible-background-color-light: $color-white !default;
$collapsible-background-color-dark: $color-gray-90 !default;

$variants: map_merge($variants, ('collapsible': add-variant($collapsible-variants, $color-groups)));
