//
// Collapsible Item variants
//
@each $variant-name, $variant in variants('collapsible') {
    .collapsible.-#{$variant-name} {
        > .item {
            > .header,
            > .content {
                border-color: variant-color-by-luminance($variant, lighten-lightness($variant, 5%), darken-lightness($variant, 5%));
                color: variant-color-by-luminance($variant, $collapsible-variant-color-light, $collapsible-variant-color-dark);
            }

            > .header {
                background-color: $variant;
            }

            > .content {
                background-color: #ffffff;
            }
        }
    }
}
