/**
 * Color variants
 */

.button {
    &.-primary {
        --button--background: var(--color-primary);
        --button--hover--background: var(--color-primary-dark);
        --button--active--background: var(--color-primary-darker);
        --button--border-top-color: var(--color-primary-dark);
        --button--border-right-color: var(--color-primary-dark);
        --button--border-bottom-color: var(--color-primary-dark);
        --button--border-left-color: var(--color-primary-dark);
        --button--color: var(--contrast-text--color-primary);
        --button--link--color: var(--color-primary);
        --button--link--active--color: var(--color-primary-dark);
    }

    &.-secondary {
        --button--background: var(--color-secondary);
        --button--hover--background: var(--color-secondary-dark);
        --button--active--background: var(--color-secondary-darker);
        --button--border-top-color: var(--color-secondary-dark);
        --button--border-right-color: var(--color-secondary-dark);
        --button--border-bottom-color: var(--color-secondary-dark);
        --button--border-left-color: var(--color-secondary-dark);
        --button--color: var(--contrast-text--color-secondary);
        --button--link--color: var(--color-secondary);
        --button--link--active--color: var(--color-secondary-dark);
    }

    &.-light {
        --button--background: var(--color-gray-800);
        --button--hover--background: var(--color-gray-darker);
        --button--active--background: var(--color-gray-dark);
        --button--border-top-color: var(--color-gray-darker);
        --button--border-right-color: var(--color-gray-darker);
        --button--border-bottom-color: var(--color-gray-darker);
        --button--border-left-color: var(--color-gray-darker);
        --button--color: var(--contrast-text--color-light);
        --button--link--color: var(--color-gray-800);
        --button--link--active--color: var(--color-gray-darker);
    }

    &.-dark {
        --button--background: var(--color-gray-200);
        --button--hover--background: var(--color-gray-300);
        --button--active--background: var(--color-gray-400);
        --button--border-top-color: var(--color-gray-300);
        --button--border-right-color: var(--color-gray-300);
        --button--border-bottom-color: var(--color-gray-300);
        --button--border-left-color: var(--color-gray-300);
        --button--color: var(--contrast-text--color-dark);
        --button--link--color: var(--color-gray-200);
        --button--link--active--color: var(--color-gray-300);
    }

    &.-info {
        --button--background: var(--color-info);
        --button--hover--background: var(--color-info-dark);
        --button--active--background: var(--color-info-darker);
        --button--border-top-color: var(--color-info-dark);
        --button--border-right-color: var(--color-info-dark);
        --button--border-bottom-color: var(--color-info-dark);
        --button--border-left-color: var(--color-info-dark);
        --button--color: var(--contrast-text--color-info);
        --button--link--color: var(--color-info);
        --button--link--active--color: var(--color-info-dark);
    }

    &.-success {
        --button--background: var(--color-success);
        --button--hover--background: var(--color-success-dark);
        --button--active--background: var(--color-success-darker);
        --button--border-top-color: var(--color-success-dark);
        --button--border-right-color: var(--color-success-dark);
        --button--border-bottom-color: var(--color-success-dark);
        --button--border-left-color: var(--color-success-dark);
        --button--color: var(--contrast-text--color-success);
        --button--link--color: var(--color-success);
        --button--link--active--color: var(--color-success-dark);
    }

    &.-warning {
        --button--background: var(--color-warning);
        --button--hover--background: var(--color-warning-dark);
        --button--active--background: var(--color-warning-darker);
        --button--border-top-color: var(--color-warning-dark);
        --button--border-right-color: var(--color-warning-dark);
        --button--border-bottom-color: var(--color-warning-dark);
        --button--border-left-color: var(--color-warning-dark);
        --button--color: var(--contrast-text--color-warning);
        --button--link--color: var(--color-warning);
        --button--link--active--color: var(--color-warning-dark);
    }

    &.-danger {
        --button--background: var(--color-danger);
        --button--hover--background: var(--color-danger-dark);
        --button--active--background: var(--color-danger-darker);
        --button--border-top-color: var(--color-danger-dark);
        --button--border-right-color: var(--color-danger-dark);
        --button--border-bottom-color: var(--color-danger-dark);
        --button--border-left-color: var(--color-danger-dark);
        --button--color: var(--contrast-text--color-danger);
        --button--link--color: var(--color-danger);
        --button--link--active--color: var(--color-danger-dark);
    }
}
