/**
 * Size variants
 */

.button {
    &.-sm {
        --button--border-top-left-radius: var(--button--sm--border-top-left-radius, var(--border-top-right-radius-sm));
        --button--border-top-right-radius: var(--button--sm--border-top-right-radius, var(--border-top-right-radius-sm));
        --button--border-bottom-right-radius: var(--button--sm--border-bottom-right-radius, var(--border-bottom-right-radius-sm));
        --button--border-bottom-left-radius: var(--button--sm--border-bottom-left-radius, var(--border-bottom-left-radius-sm));
        --button--font-size: var(--button--sm--font-size, var(--font-size-sm));
        --button--padding-top: var(--button--sm--padding-top, calc(var(--padding-top-sm) * 0.5));
        --button--padding-right: var(--button--sm--padding-right, var(--padding-right-sm));
        --button--padding-bottom: var(--button--sm--padding-bottom, calc(var(--padding-bottom-sm) * 0.5));
        --button--padding-left: var(--button--sm--padding-left, var(--padding-left-sm));
        --button--circle--size: var(--button--sm--circle--size, calc(34px * var(--size-multiplier-sm)));
    }

    &.-md {
        --button--border-top-left-radius: var(--button--md--border-top-left-radius, var(--border-top-right-radius-md));
        --button--border-top-right-radius: var(--button--md--border-top-right-radius, var(--border-top-right-radius-md));
        --button--border-bottom-right-radius: var(--button--md--border-bottom-right-radius, var(--border-bottom-right-radius-md));
        --button--border-bottom-left-radius: var(--button--md--border-bottom-left-radius, var(--border-bottom-left-radius-md));
        --button--font-size: var(--button--md--font-size, var(--font-size-md));
        --button--padding-top: var(--button--md--padding-top, calc(var(--padding-top-md) * 0.5));
        --button--padding-right: var(--button--md--padding-right, var(--padding-right-md));
        --button--padding-bottom: var(--button--md--padding-bottom, calc(var(--padding-bottom-md) * 0.5));
        --button--padding-left: var(--button--md--padding-left, var(--padding-left-md));
        --button--circle--size: var(--button--md--circle--size, calc(42px * var(--size-multiplier-md)));
    }

    &.-lg {
        --button--border-top-left-radius: var(--button--lg--border-top-left-radius, var(--border-top-right-radius-lg));
        --button--border-top-right-radius: var(--button--lg--border-top-right-radius, var(--border-top-right-radius-lg));
        --button--border-bottom-right-radius: var(--button--lg--border-bottom-right-radius, var(--border-bottom-right-radius-lg));
        --button--border-bottom-left-radius: var(--button--lg--border-bottom-left-radius, var(--border-bottom-left-radius-lg));
        --button--font-size: var(--button--lg--font-size, var(--font-size-lg));
        --button--padding-top: var(--button--lg--padding-top, calc(var(--padding-top-lg) * 0.5));
        --button--padding-right: var(--button--lg--padding-right, var(--padding-right-lg));
        --button--padding-bottom: var(--button--lg--padding-bottom, calc(var(--padding-bottom-lg) * 0.5));
        --button--padding-left: var(--button--lg--padding-left, var(--padding-left-lg));
        --button--circle--size: var(--button--lg--circle--size, calc(49px * var(--size-multiplier-lg)));
    }
}
