/**
 * Variables
 */

.button {
    ////
    /// The background of the button component
    /// @name background
    /// @type color
    ////
    ----background: #{color('light')};
    ////
    /// The background of the button component when hovered or focused
    /// @name background--hover
    /// @type color
    ////
    ----background--hover: #{color('light-55')};
    ////
    /// The background of the button component when active
    /// @name background--active
    /// @type color
    ////
    ----background--active: #{color('light-60')};
    ////
    /// The border top color of the button component
    /// @name border-top-color
    /// @type color
    ////
    ----border-top-color: #{color('light-55')};
    ////
    /// The border right color of the button component
    /// @name border-right-color
    /// @type color
    ////
    ----border-right-color: #{color('light-55')};
    ////
    /// The border bottom color of the button component
    /// @name border-bottom-color
    /// @type color
    ////
    ----border-bottom-color: #{color('light-55')};
    ////
    /// The border left color of the button component
    /// @name border-left-color
    /// @type color
    ////
    ----border-left-color: #{color('light-55')};
    ////
    /// The border color of the button component
    /// @name border-color
    ////
    ----border-color: #{var(----border-top-color) var(----border-right-color) var(----border-bottom-color) var(----border-left-color)};
    ////
    /// The border color of the button component when hovered or focused
    /// @name border-color--hover
    ////
    ----border-color--hover: #{var(----border-top-color) var(----border-right-color) var(----border-bottom-color) var(----border-left-color)};
    ////
    /// The border style of the button component
    /// @name border-style
    ////
    ----border-style: #{var(--border-style)};
    ////
    /// The border top width of the button component
    /// @name border-top-width
    ////
    ----border-top-width: #{var(--border-top-width)};
    ////
    /// The border right width of the button component
    /// @name border-right-width
    ////
    ----border-right-width: #{var(--border-right-width)};
    ////
    /// The border bottom width of the button component
    /// @name border-bottom-width
    ////
    ----border-bottom-width: #{var(--border-bottom-width)};
    ////
    /// The border left width of the button component
    /// @name border-left-width
    ////
    ----border-left-width: #{var(--border-left-width)};
    ////
    /// The border width of the button component
    /// @name border-width
    ////
    ----border-width: #{var(----border-top-width) var(----border-right-width) var(----border-bottom-width) var(----border-left-width)};
    ////
    /// The border top left radius of the button component
    /// @name border-top-left-radius
    /// @type size
    ////
    ----border-top-left-radius: #{var(--border-top-left-radius)};
    ////
    /// The border top right radius of the button component
    /// @name border-top-right-radius
    /// @type size
    ////
    ----border-top-right-radius: #{var(--border-top-right-radius)};
    ////
    /// The border bottom right radius of the button component
    /// @name border-bottom-right-radius
    /// @type size
    ////
    ----border-bottom-right-radius: #{var(--border-bottom-right-radius)};
    ////
    /// The border bottom left radius of the button component
    /// @name border-bottom-left-radius
    /// @type size
    ////
    ----border-bottom-left-radius: #{var(--border-bottom-left-radius)};
    ////
    /// The border radius of the button component
    /// @name border-radius
    ////
    ----border-radius: #{var(----border-top-left-radius) var(----border-top-right-radius) var(----border-bottom-right-radius) var(----border-bottom-left-radius)};
    ////
    /// The box shadow horizontal offset of the button component
    /// @name box-shadow-offset-x
    ////
    ----box-shadow-offset-x: #{var(--box-shadow-offset-x)};
    ////
    /// The box shadow vertical offset of the button component
    /// @name box-shadow-offset-y
    ////
    ----box-shadow-offset-y: #{var(--box-shadow-offset-y)};
    ////
    /// The box shadow blur radius of the button component
    /// @name box-shadow-blur-radius
    ////
    ----box-shadow-blur-radius: #{var(--box-shadow-blur-radius)};
    ////
    /// The box shadow spread radius of the button component
    /// @name box-shadow-spread-radius
    ////
    ----box-shadow-spread-radius: #{var(--box-shadow-spread-radius)};
    ////
    /// The box shadow spread radius of the button component
    /// @name box-shadow-color
    ////
    ----box-shadow-color: #{var(--box-shadow-color)};
    ////
    /// The box shadow of the button component
    /// @name box-shadow
    ////
    ----box-shadow: #{var(----box-shadow-offset-x) var(----box-shadow-offset-y) var(----box-shadow-blur-radius) var(----box-shadow-spread-radius) var(----box-shadow-color)};
    ////
    /// The color of the button component
    /// @name color
    /// @type color
    ////
    ----color: #{contrast-color($color-light)};
    ////
    /// The font size of the button component
    /// @name font-size
    /// @type size
    ////
    ----font-size: #{font-size()};
    ////
    /// The font weight of the button component
    /// @name font-weight
    ////
    ----font-weight: #{font-weight('normal')};
    ////
    /// The line height of the button component
    /// @name line-height
    ////
    ----line-height: #{var(--line-height)};
    ////
    /// The padding top of the button component
    /// @name padding-top
    /// @type size
    ////
    ----padding-top: #{calc(var(--padding-top) / 2)};
    ////
    /// The padding right of the button component
    /// @name padding-right
    /// @type size
    ////
    ----padding-right: #{var(--padding-right)};
    ////
    /// The padding bottom of the button component
    /// @name padding-bottom
    /// @type size
    ////
    ----padding-bottom: #{calc(var(--padding-bottom) / 2)};
    ////
    /// The padding left of the button component
    /// @name padding-left
    /// @type size
    ////
    ----padding-left: #{var(--padding-left)};
    ////
    /// The padding of the button component
    /// @name padding
    ////
    ----padding: #{var(----padding-top) var(----padding-right) var(----padding-bottom) var(----padding-left)};
    ////
    /// The margin of the button component when block
    /// @name block--margin
    ////
    ----block--margin: #{spacing()};
    ////
    /// The size of the button component circle variant
    /// @name circle--size
    /// @type size
    ////
    ----circle--size: #{42px};
    ////
    /// The color of the button component link variant
    /// @name link--color
    /// @type color
    ////
    ----link--color: #{color('light')};
    ////
    /// The color of the button component link variant when active
    /// @name link--color--active
    /// @type color
    ////
    ----link--color--active: #{color('light-55')};
}
