//
// Form Label Sizes
//
@mixin form-label-inline-size-variant($size) {
    $_margin: map_get($label-margin, $size);

    margin-right: nth($_margin, 2);

    &.-right {
        margin-left: nth($_margin, 2);
    }
}

@each $size in $sizes {
    $_margin: map_get($label-margin, $size);
    $_font-size: map_get($label-font-size, $size);

    .form-group.-#{$size} > .form-label,
    .form-label.-#{$size} {
        font-size: $_font-size;
        margin-bottom: nth($_margin, 1);
    }

    .form-group.-inline.-#{$size} > .form-label {
        @include form-label-inline-size-variant($size);
    }
}
