@mixin input-size-variant($size-variant-key) {
    $_border-radius: var(--input-size-variant-#{$size-variant-key}-border-radius);
    $_font-size: var(--input-size-variant-#{$size-variant-key}-font-size);
    $_padding: var(--input-size-variant-#{$size-variant-key}-padding);
    $_prefix-suffix-padding: var(--input-size-variant-#{$size-variant-key}-prefix-suffix-padding);

    > .input-prepend,
    > .input-append {
        font-size: $_font-size;

        > * {
            padding-left: $_prefix-suffix-padding;
            padding-right: $_prefix-suffix-padding;
        }

        > [class$="-wrapper"] {
            padding-left: 0;
            padding-right: 0;
        }
    }

    > .input-prepend,
    > .input-prepend > *:first-child {
        border-top-left-radius: $_border-radius;
        border-bottom-left-radius: $_border-radius;
    }

    > .input-append,
    > .input-append > *:last-child {
        border-top-right-radius: $_border-radius;
        border-bottom-right-radius: $_border-radius;
    }

    > .input {
        border-radius: $_border-radius;
        font-size: $_font-size;

        > input,
        > select,
        > textarea {
            padding: $_padding;
        }

        > .input-prefix,
        > .input-suffix {
            padding-left: $_prefix-suffix-padding;
            padding-right: $_prefix-suffix-padding;
        }
    }
}
