/**
 * Variables
 */

.input-wrapper {
    ////
    /// The background of the input component
    /// @name background
    /// @type color
    ////
    ----background: #{color('white')};
    ////
    /// The background of the input component when disabled
    /// @name background--disabled
    /// @type color
    ////
    ----background--disabled: #{color('light-25')};
    ////
    /// The border color of the input component
    /// @name border-color
    /// @type color
    ////
    ----border-color: #{color('light-55')};
    ////
    /// The border color of the input component when hovered
    /// @name border-color--hover
    /// @type color
    ////
    ----border-color--hover: #{color('light-60')};
    ////
    /// The border color of the input component when focused
    /// @name border-color--focus
    /// @type color
    ////
    ----border-color--focus: #{color('primary')};
    ////
    /// The border style of the input component
    /// @name border-style
    ////
    ----border-style: #{var(--border-style)};
    ////
    /// The border top width of the input component
    /// @name border-top-width
    ////
    ----border-top-width: #{var(--border-top-width)};
    ////
    /// The border right width of the input component
    /// @name border-right-width
    ////
    ----border-right-width: #{var(--border-right-width)};
    ////
    /// The border bottom width of the input component
    /// @name border-bottom-width
    ////
    ----border-bottom-width: #{var(--border-bottom-width)};
    ////
    /// The border left width of the input component
    /// @name border-left-width
    ////
    ----border-left-width: #{var(--border-left-width)};
    ////
    /// The border width of the input component
    /// @name border-width
    ////
    ----border-width: #{var(----border-top-width) var(----border-right-width) var(----border-bottom-width) var(----border-left-width)};
    ////
    /// The border top left radius of the input component
    /// @name border-top-left-radius
    /// @type size
    ////
    ----border-top-left-radius: #{var(--border-top-left-radius)};
    ////
    /// The border top right radius of the input component
    /// @name border-top-right-radius
    /// @type size
    ////
    ----border-top-right-radius: #{var(--border-top-right-radius)};
    ////
    /// The border bottom right radius of the input component
    /// @name border-bottom-right-radius
    /// @type size
    ////
    ----border-bottom-right-radius: #{var(--border-bottom-right-radius)};
    ////
    /// The border bottom left radius of the input component
    /// @name border-bottom-left-radius
    /// @type size
    ////
    ----border-bottom-left-radius: #{var(--border-bottom-left-radius)};
    ////
    /// The border radius of the input component
    /// @name border-radius
    ////
    ----border-radius: #{var(----border-top-left-radius) var(----border-top-right-radius) var(----border-bottom-right-radius) var(----border-bottom-left-radius)};
    ////
    /// The box shadow horizontal offset of the input component
    /// @name box-shadow-offset-x
    ////
    ----box-shadow-offset-x: #{var(--box-shadow-offset-x)};
    ////
    /// The box shadow vertical offset of the input component
    /// @name box-shadow-offset-y
    ////
    ----box-shadow-offset-y: #{var(--box-shadow-offset-y)};
    ////
    /// The box shadow blur radius of the input component
    /// @name box-shadow-blur-radius
    ////
    ----box-shadow-blur-radius: #{var(--box-shadow-blur-radius)};
    ////
    /// The box shadow spread radius of the input component
    /// @name box-shadow-spread-radius
    ////
    ----box-shadow-spread-radius: #{var(--box-shadow-spread-radius)};
    ////
    /// The box shadow spread radius of the input component
    /// @name box-shadow-color
    ////
    ----box-shadow-color: #{var(--box-shadow-color)};
    ////
    /// The box shadow of the input component
    /// @name box-shadow
    ////
    ----box-shadow: #{var(----box-shadow-offset-x) var(----box-shadow-offset-y) var(----box-shadow-blur-radius) var(----box-shadow-spread-radius) var(----box-shadow-color)};
    ////
    /// The color of the input component
    /// @name color
    /// @type color
    ////
    ----color: #{contrast-color($color-white)};
    ////
    /// The color of the input component when disabled
    /// @name color--disabled
    /// @type color
    ////
    ----color--disabled: #{color('light-75')};
    ////
    /// The font size of the input component
    /// @name font-size
    /// @type size
    ////
    ----font-size: #{font-size()};
    ////
    /// The line height of the input component
    /// @name line-height
    ////
    ----line-height: #{var(--line-height)};
    ////
    /// The padding top of the input component
    /// @name padding-top
    /// @type size
    ////
    ----padding-top: #{calc(var(--padding-top) / 2)};
    ////
    /// The padding right of the input component
    /// @name padding-right
    /// @type size
    ////
    ----padding-right: #{var(--padding-right)};
    ////
    /// The padding bottom of the input component
    /// @name padding-bottom
    /// @type size
    ////
    ----padding-bottom: #{calc(var(--padding-bottom) / 2)};
    ////
    /// The padding left of the input component
    /// @name padding-left
    /// @type size
    ////
    ----padding-left: #{var(--padding-left)};
    ////
    /// The padding of the input component
    /// @name padding
    ////
    ----padding: #{var(----padding-top) var(----padding-right) var(----padding-bottom) var(----padding-left)};
    ////
    /// The background of the input component clear button
    /// @name clear--background
    /// @type color
    ////
    ----clear--background: #{transparent};
    ////
    /// The background of the input component clear button
    /// @name clear--background--hover
    /// @type color
    ////
    ----clear--background--hover: #{color('light-30')};
    ////
    /// The background of the input component clear button
    /// @name clear--background--active
    /// @type color
    ////
    ----clear--background--active: #{color('light-40')};
    ////
    /// The color of the input component clear button
    /// @name clear--color
    /// @type color
    ////
    ----clear--color: #{color('light-70')};
    ////
    /// The size of the input component clear button
    /// @name clear--size
    ////
    ----clear--size: #{1.2rem};
    ////
    /// The color of the input component placeholder
    /// @name placeholder--color
    /// @type color
    ////
    ----placeholder--color: #{color('light-60')};
    ////
    /// The border width of the input component prefix
    /// @name prefix--border-width
    ////
    ----prefix--border-width: #{var(----border-right-width)};
    ////
    /// The border width of the input component suffix
    /// @name suffix--border-width
    ////
    ----suffix--border-width: #{var(----border-left-width)};
    ////
    /// The border style of the input component prefix and suffix
    /// @name prefix-suffix--border-style
    ////
    ----prefix-suffix--border-style: #{var(--border-style)};
    ////
    /// The color of the input component prefix and suffix
    /// @name prefix-suffix--color
    /// @type color
    ////
    ----prefix-suffix--color: #{color('light-70')};
    ////
    /// The padding right of the input component prefix and suffix
    /// @name prefix-suffix--padding-right
    ////
    ----prefix-suffix--padding-right: #{var(----padding-right)};
    ////
    /// The padding left of the input component prefix and suffix
    /// @name prefix-suffix--padding-left
    ////
    ----prefix-suffix--padding-left: #{var(----padding-left)};
    ////
    /// The background of the input component prepend and append
    /// @name prepend-append--background
    /// @type color
    ////
    ----prepend-append--background: #{color('light')};
}
