@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../Nav/css/_variables';
@import 'css/_sizes';

/**
 * Nav Item
 */
.nav > .item,
.nav > .dropdown > .item {
    display: block;
    margin-bottom: 0;

    @if transition(nav) {
        transition: background-color $transition-duration $transition-easing, border-color $transition-duration $transition-easing, color $transition-duration $transition-easing;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &.-disabled {
        color: $nav-item-disabled-color;
        pointer-events: none;
        cursor: default;
    }

    &.-active {
        font-weight: bold;
    }

    &.form-input-group {
        padding: 0;
    }

    @include nav-item-size-variant('md');
}
