//
// Themes
//
// Generate color themes based on the --colors, --brand-colors and --social-colors
// variables for components. If the color group is in the list, Inkline will
// generate themes for the specified color group.
//

--theme-color-light := --colors['white']
--theme-color-dark := --colors['gray-80']

// Available component themes
//
--themes-background := (basic brand neutral social state)
--themes-border := (basic brand neutral social state)
--themes-table := (brand neutral state)
--themes-text := (basic brand neutral social state)

// Initialize theme choice collection
//
-add-theme(--themes, 'background', --background-themes)
-add-theme(--themes, 'border', --border-themes)
-add-theme(--themes, 'table', --table-themes)
-add-theme(--themes, 'text', --text-themes)
