//
// Themes
//
// Generate color themes based on the --colors, --brand-colors and --social-colors
// variables for components. If the color group is in the list, Inkline will
// generate themes for the specified color group.
//

--theme-color-light := --colors['white']
--theme-color-dark := --colors['gray-80']

// Available component themes
//
--themes-background := (basic brand neutral social state)
--themes-button := (basic brand neutral social state)
--themes-border := (basic brand neutral state)
--themes-card := (basic brand neutral state)
--themes-table := (basic brand neutral state)
--themes-text := (basic brand neutral social state)

