//
// Loading spinner variables
//
$loading-spinner-size-base: 64px !default;
$loading-spinner-size: size-map($loading-spinner-size-base, $sizes, $size-multipliers) !default;

$loading-spinner-animation-duration: 1.2s !default;

$loading-spinner-item-size: 5px !default;
$loading-spinner-item-count: 12 !default;

//
// Variants
//
$loading-spinner-variants: ('monochrome-white') !default;

$variants: map_merge($variants, ('loading-spinner': add-variant($loading-spinner-variants, $color-groups)));
