/* stylelint-disable scss/no-duplicate-dollar-variables */

//
// Plain Sass Trigonometry Algorithm in Taylor Expansion
//
// Based on https://gist.github.com/kamikat/c4d472ce3c61feec6376
//

$pi: 3.14159265359;
$_precision: 10;

@function _to_unitless_rad($angle) {
    @if unit($angle) == "deg" {
        $angle: $angle / 180deg * $pi;
    }

    @if unit($angle) == "rad" {
        $angle: $angle / 1rad;
    }

    @return $angle;
}

@function sin($angle) {
    $a: _to_unitless_rad($angle);
    $sin: $a;

    @for $n from 1 through $_precision {
        $sin: $sin + (pow(-1, $n) / factorial(2 * $n + 1)) * pow($a, (2 * $n + 1));
    }

    @return $sin;
}

@function cos($angle) {
    $a: _to_unitless_rad($angle);
    $cos: 1;

    @for $n from 1 through $_precision {
        $cos: $cos + (pow(-1, $n) / factorial(2 * $n)) * pow($a, 2 * $n);
    }

    @return $cos;
}

@function tan($angle) {
    @return sin($angle) / cos($angle);
}
