@import '../../css/config/index';
@import '../../css/mixins/index';

.form-group-error {
  position: relative;
  margin: ($spacer / 4) 0 0;
  padding: 0;
  list-style: none;
  color: colors('state', 'danger');
  font-size: font-size('sm');

  li {
    margin: 0;
  }
}
