/**
 * Navbar
 */

@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/colors';
@import 'css/sizes';

@mixin navbar-collapse {
    .navbar-collapsible {
        position: relative;
        display: block;
        width: 100%;

        .nav {
            flex-direction: column;
            align-items: flex-start;

            .nav-item {
                width: 100%;
                transition-property: background-color, color;
                transition-timing-function: var(--transition-easing);
                transition-duration: var(--transition-duration);
            }

            .dropdown-wrapper {
                width: 100%;

                .dropdown {
                    width: 100%;
                    position: relative !important;
                    left: auto !important;
                    top: auto !important;
                    transform-origin: center top;

                    [data-popper-arrow] {
                        display: none;
                    }
                }
            }
        }
    }

    .collapse-toggle {
        display: inline-block;

        + .navbar-brand {
            order: -1;
        }
    }
}

.navbar {
    color: var(----color);
    background: var(----background);
    padding: var(----padding);
    font-size: var(----font-size);
    box-shadow: var(----box-shadow);
    position: relative;
    display: flex;
    flex-wrap: wrap; // allow us to do the line break for collapsing content
    align-items: center;
    justify-content: space-between;
    border-width: var(----border-width);
    border-style: var(----border-style);
    border-color: var(----border-color);
    border-radius: var(----border-radius);

    > .container > .row > .column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-collapsible {
        .nav-item {
            ----color: var(----item--color);
            ----padding: var(----item--padding);
            ----font-size: var(----font-size);
            ----background: var(----item--background);

            border-radius: var(----border-radius);
            background: var(----background);

            &.-focused,
            &.-hovered,
            &:focus,
            &:hover {
                ----color: var(----item--color--hover);
                ----background: var(----item--background--hover);
            }
        }
    }

    &.-collapsible {
        .navbar-collapsible {
            background: var(----collapsed--background);

            .nav-item {
                ----background: var(----collapsed--item--background);
                ----color: var(----collapsed--item--color);

                &:hover {
                    ----color: var(----collapsed--item--color--hover);
                    ----background: var(----collapsed--item--background--hover);
                }
            }
        }
    }

    .collapse-toggle {
        display: none;
    }

    @each $breakpoint in $breakpoint-keys {
        &.-collapse-#{$breakpoint} {
            @include breakpoint-down($breakpoint) {
                @include navbar-collapse();

                .navbar-collapsible {
                    margin-top: var(----padding-top);
                    border-radius: var(----border-radius);
                }
            }
        }
    }

    &.-collapse-true {
        @include navbar-collapse();
    }
}
