<nav
    v-bind="$attrs"
    class="navbar"
    :class="classes"
    v-click-outside="onClickOutside"
>
    <i-container :fluid="fluid">
        <i-row>
            <i-column>
                <i-hamburger-menu
                    class="collapse-toggle"
                    :animation="menuAnimation"
                    :color="color"
                    :modelValue="open"
                    @update:modelValue="toggleOpen"
                />
                <slot />
            </i-column>
        </i-row>
    </i-container>
</nav>
