//
// Variants
//
--breadcrumb-variants := (brand monochrome)

--variants['breadcrumb'] = -add-variant(--breadcrumb-variants, { color: --color-groups, gradient: --gradient-groups })

.breadcrumb
    //
    // Breadcrumb variants
    // Add the required color variants to all breadcrumb variations
    //
    for --variant-name, --variant in --variants['breadcrumb']
        &.-{--variant-name}
            background-color: --variant['color']
            background-image: -linear-gradient(--variant['gradient'])

.breadcrumb
    @extend .breadcrumb.-light