/**
 * Size variants
 */

.form-label {
    ////
    /// Variables for the sm size variant
    /// @name sm
    /// @type variant
    ////
    @include variant('sm', 'form') {
        ////
        /// The font size of the form label component, for the sm size variant
        /// @name font-size
        ////
        ----font-size: calc(#{font-size()} * #{size-multiplier('sm')});
    }
    ////
    /// Variables for the md size variant
    /// @name md
    /// @type variant
    ////
    @include variant('md', 'form') {
        ////
        /// The font size of the form label component, for the md size variant
        /// @name font-size
        ////
        ----font-size: calc(#{font-size()} * #{size-multiplier('md')});
    }
    ////
    /// Variables for the lg size variant
    /// @name lg
    /// @type variant
    ////
    @include variant('lg', 'form') {
        ////
        /// The font size of the form label component, for the lg size variant
        /// @name font-size
        ////
        ----font-size: calc(#{font-size()} * #{size-multiplier('lg')});
    }
}
