/**
 * Variables
 */

.form-label {
    ////
    /// The font size of the form label component
    /// @name font-size
    /// @type size
    ////
    ----font-size: #{font-size()};
    ////
    /// The margin top of the form label component
    /// @name margin-top
    ////
    ----margin-top: #{0};
    ////
    /// The margin right of the form label component
    /// @name margin-right
    ////
    ----margin-right: #{var(--margin-right)};
    ////
    /// The margin bottom of the form label component
    /// @name margin-bottom
    ////
    ----margin-bottom: #{calc(var(--margin-bottom) / 4)};
    ////
    /// The margin left of the form label component
    /// @name margin-left
    ////
    ----margin-left: #{var(--margin-left)};
}
