<i-dropdown size="sm">
    <i-button>Small Dropdown</i-button>
    <template #body>
        <i-dropdown-item>Action</i-dropdown-item>
        <i-dropdown-item>Another action</i-dropdown-item>
        <i-dropdown-item disabled>Disabled action</i-dropdown-item>
        <i-dropdown-divider />
        <i-dropdown-item>Separated item</i-dropdown-item>
    </template>
</i-dropdown>

<i-dropdown size="md">
    <i-button>Medium Dropdown</i-button>
    <template #body>
        <i-dropdown-item>Action</i-dropdown-item>
        <i-dropdown-item>Another action</i-dropdown-item>
        <i-dropdown-item disabled>Disabled action</i-dropdown-item>
        <i-dropdown-divider />
        <i-dropdown-item>Separated item</i-dropdown-item>
    </template>
</i-dropdown>

<i-dropdown size="lg">
    <i-button>Large Dropdown</i-button>
    <template #body>
        <i-dropdown-item>Action</i-dropdown-item>
        <i-dropdown-item>Another action</i-dropdown-item>
        <i-dropdown-item disabled>Disabled action</i-dropdown-item>
        <i-dropdown-divider />
        <i-dropdown-item>Separated item</i-dropdown-item>
    </template>
</i-dropdown>
