// Spacing
//

:root {
    --spacing: #{$spacing};

    --margin-top: #{$margin-top};
    --margin-right: #{$margin-right};
    --margin-bottom: #{$margin-bottom};
    --margin-left: #{$margin-left};
    --margin: #{$margin};

    --padding-top: #{$padding-top};
    --padding-right: #{$padding-right};
    --padding-bottom: #{$padding-bottom};
    --padding-left: #{$padding-left};
    --padding: #{$padding};
}
