:root {
    --spacing: 1rem;
    --scale-ratio-minor-second: 1.067;
    --scale-ratio-major-second: 1.125;
    --scale-ratio-minor-third: 1.2;
    --scale-ratio-major-third: 1.25;
    --scale-ratio-perfect-fourth: 1.333;
    --scale-ratio-augmented-fourth: 1.414;
    --scale-ratio-perfect-fifth: 1.5;
    --scale-ratio-golden: 1.618;
    --scale-ratio: var(--scale-ratio-minor-third);
    --scale-ratio-pow-1: calc(var(--scale-ratio) * 1);
    --scale-ratio-pow-2: calc(var(--scale-ratio) * var(--scale-ratio));
    --scale-ratio-pow-3: calc(var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio));
    --scale-ratio-pow-4: calc(var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio));
    --scale-ratio-pow-5: calc(var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio) * var(--scale-ratio));
    --size-multiplier: 1;
    --size-multiplier-xxs: calc(var(--size-multiplier) / var(--scale-ratio-pow-3));
    --size-multiplier-xs: calc(var(--size-multiplier) / var(--scale-ratio-pow-2));
    --size-multiplier-sm: calc(var(--size-multiplier) / var(--scale-ratio-pow-1));
    --size-multiplier-md: var(--size-multiplier);
    --size-multiplier-lg: calc(var(--size-multiplier) * var(--scale-ratio-pow-1));
    --size-multiplier-xl: calc(var(--size-multiplier) * var(--scale-ratio-pow-2));
    --size-multiplier-xxl: calc(var(--size-multiplier) * var(--scale-ratio-pow-3));
    --spacing-xs: calc(var(--spacing) * var(--size-multiplier-xs));
    --spacing-sm: calc(var(--spacing) * var(--size-multiplier-sm));
    --spacing-md: calc(var(--spacing) * var(--size-multiplier-md));
    --spacing-lg: calc(var(--spacing) * var(--size-multiplier-lg));
    --spacing-xl: calc(var(--spacing) * var(--size-multiplier-xl));
    --spacing-2: calc(var(--spacing) * 2);
    --spacing-3: calc(var(--spacing) * 3);
    --spacing-4: calc(var(--spacing) * 4);
    --spacing-5: calc(var(--spacing) * 5);
    --spacing-0_2: calc(var(--spacing) / 5);
    --spacing-0_25: calc(var(--spacing) / 4);
    --spacing-0_33: calc(var(--spacing) / 3);
    --spacing-0_5: calc(var(--spacing) / 2);
    --margin-top: var(--spacing);
    --margin-right: var(--spacing);
    --margin-bottom: var(--spacing);
    --margin-left: var(--spacing);
    --margin: var(--margin-top) var(--margin-right) var(--margin-bottom) var(--margin-left);
    --padding-top: var(--spacing);
    --padding-right: var(--spacing);
    --padding-bottom: var(--spacing);
    --padding-left: var(--spacing);
    --padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
    --font-size: 1rem;
    --font-size-xs: calc(var(--font-size) * var(--size-multiplier-xs));
    --font-size-sm: calc(var(--font-size) * var(--size-multiplier-sm));
    --font-size-md: calc(var(--font-size) * var(--size-multiplier-md));
    --font-size-lg: calc(var(--font-size) * var(--size-multiplier-lg));
    --font-size-xl: calc(var(--font-size) * var(--size-multiplier-xl));
    --color-white-h: 0;
    --color-white-s: 0%;
    --color-white-l: 100%;
    --color-white-a: 1;
    --color-white: hsla(var(--color-white-h) var(--color-white-s) var(--color-white-l) / var(--color-white-a));
    --color-black-h: 0;
    --color-black-s: 0%;
    --color-black-l: 0%;
    --color-black-a: 1;
    --color-black: hsla(var(--color-black-h) var(--color-black-s) var(--color-black-l) / var(--color-black-a));
    --color-gray-h: 193.63636363636363;
    --color-gray-s: 10.784313725490199%;
    --color-gray-l: 60.00000000000001%;
    --color-gray-a: 1;
    --color-gray: hsla(var(--color-gray-h) var(--color-gray-s) var(--color-gray-l) / var(--color-gray-a));
    --color-gray-50-h: var(--color-gray-h);
    --color-gray-50-s: var(--color-gray-s);
    --color-gray-50-l: 95%;
    --color-gray-50-a: var(--color-gray-a);
    --color-gray-50: hsla(var(--color-gray-50-h) var(--color-gray-50-s) var(--color-gray-50-l) / var(--color-gray-50-a));
    --color-gray-100-h: var(--color-gray-h);
    --color-gray-100-s: var(--color-gray-s);
    --color-gray-100-l: 90%;
    --color-gray-100-a: var(--color-gray-a);
    --color-gray-100: hsla(var(--color-gray-100-h) var(--color-gray-100-s) var(--color-gray-100-l) / var(--color-gray-100-a));
    --color-gray-200-h: var(--color-gray-h);
    --color-gray-200-s: var(--color-gray-s);
    --color-gray-200-l: 80%;
    --color-gray-200-a: var(--color-gray-a);
    --color-gray-200: hsla(var(--color-gray-200-h) var(--color-gray-200-s) var(--color-gray-200-l) / var(--color-gray-200-a));
    --color-gray-300-h: var(--color-gray-h);
    --color-gray-300-s: var(--color-gray-s);
    --color-gray-300-l: 70%;
    --color-gray-300-a: var(--color-gray-a);
    --color-gray-300: hsla(var(--color-gray-300-h) var(--color-gray-300-s) var(--color-gray-300-l) / var(--color-gray-300-a));
    --color-gray-400-h: var(--color-gray-h);
    --color-gray-400-s: var(--color-gray-s);
    --color-gray-400-l: 60%;
    --color-gray-400-a: var(--color-gray-a);
    --color-gray-400: hsla(var(--color-gray-400-h) var(--color-gray-400-s) var(--color-gray-400-l) / var(--color-gray-400-a));
    --color-gray-500-h: var(--color-gray-h);
    --color-gray-500-s: var(--color-gray-s);
    --color-gray-500-l: 50%;
    --color-gray-500-a: var(--color-gray-a);
    --color-gray-500: hsla(var(--color-gray-500-h) var(--color-gray-500-s) var(--color-gray-500-l) / var(--color-gray-500-a));
    --color-gray-600-h: var(--color-gray-h);
    --color-gray-600-s: var(--color-gray-s);
    --color-gray-600-l: 40%;
    --color-gray-600-a: var(--color-gray-a);
    --color-gray-600: hsla(var(--color-gray-600-h) var(--color-gray-600-s) var(--color-gray-600-l) / var(--color-gray-600-a));
    --color-gray-700-h: var(--color-gray-h);
    --color-gray-700-s: var(--color-gray-s);
    --color-gray-700-l: 30%;
    --color-gray-700-a: var(--color-gray-a);
    --color-gray-700: hsla(var(--color-gray-700-h) var(--color-gray-700-s) var(--color-gray-700-l) / var(--color-gray-700-a));
    --color-gray-800-h: var(--color-gray-h);
    --color-gray-800-s: var(--color-gray-s);
    --color-gray-800-l: 20%;
    --color-gray-800-a: var(--color-gray-a);
    --color-gray-800: hsla(var(--color-gray-800-h) var(--color-gray-800-s) var(--color-gray-800-l) / var(--color-gray-800-a));
    --color-gray-900-h: var(--color-gray-h);
    --color-gray-900-s: var(--color-gray-s);
    --color-gray-900-l: 10%;
    --color-gray-900-a: var(--color-gray-a);
    --color-gray-900: hsla(var(--color-gray-900-h) var(--color-gray-900-s) var(--color-gray-900-l) / var(--color-gray-900-a));
    --color-gray-950-h: var(--color-gray-h);
    --color-gray-950-s: var(--color-gray-s);
    --color-gray-950-l: 5%;
    --color-gray-950-a: var(--color-gray-a);
    --color-gray-950: hsla(var(--color-gray-950-h) var(--color-gray-950-s) var(--color-gray-950-l) / var(--color-gray-950-a));
    --text-color: var(--color-gray-900);
    --text-color-weak: var(--color-gray-700);
    --text-color-weaker: var(--color-gray-500);
    --text-color-weakest: var(--color-gray-300);
    --breadcrumb--font-size: var(--font-size);
    --breadcrumb--margin-top: 0;
    --breadcrumb--margin-right: 0;
    --breadcrumb--margin-bottom: var(--margin-bottom);
    --breadcrumb--margin-left: 0;
    --breadcrumb--margin: var(--breadcrumb--margin-top) var(--breadcrumb--margin-right) var(--breadcrumb--margin-bottom) var(--breadcrumb--margin-left);
    --breadcrumb--padding-top: 0;
    --breadcrumb--padding-right: var(--padding-right);
    --breadcrumb--padding-bottom: 0;
    --breadcrumb--padding-left: var(--padding-left);
    --breadcrumb--padding: var(--breadcrumb--padding-top) var(--breadcrumb--padding-right) var(--breadcrumb--padding-bottom) var(--breadcrumb--padding-left);
    --breadcrumb--separator: "/";
    --breadcrumb--active--color-h: 0;
    --breadcrumb--active--color-s: 0%;
    --breadcrumb--active--color-l: 0%;
    --breadcrumb--active--color-a: 1;
    --breadcrumb--active--color: var(--text-color-weaker);
    --breadcrumb--sm--font-size: calc(var(--breadcrumb--font-size) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-top: calc(var(--breadcrumb--padding-top) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-right: calc(var(--breadcrumb--padding-right) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-bottom: calc(var(--breadcrumb--padding-bottom) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding-left: calc(var(--breadcrumb--padding-left) * var(--size-multiplier-sm));
    --breadcrumb--sm--padding: var(--breadcrumb--sm--padding-top) var(--breadcrumb--sm--padding-right) var(--breadcrumb--sm--padding-bottom) var(--breadcrumb--sm--padding-left);
    --breadcrumb--md--font-size: calc(var(--breadcrumb--font-size) * var(--size-multiplier-md));
    --breadcrumb--md--padding-top: calc(var(--breadcrumb--padding-top) * var(--size-multiplier-md));
    --breadcrumb--md--padding-right: calc(var(--breadcrumb--padding-right) * var(--size-multiplier-md));
    --breadcrumb--md--padding-bottom: calc(var(--breadcrumb--padding-bottom) * var(--size-multiplier-md));
    --breadcrumb--md--padding-left: calc(var(--breadcrumb--padding-left) * var(--size-multiplier-md));
    --breadcrumb--md--padding: var(--breadcrumb--md--padding-top) var(--breadcrumb--md--padding-right) var(--breadcrumb--md--padding-bottom) var(--breadcrumb--md--padding-left);
    --breadcrumb--lg--font-size: calc(var(--breadcrumb--font-size) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-top: calc(var(--breadcrumb--padding-top) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-right: calc(var(--breadcrumb--padding-right) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-bottom: calc(var(--breadcrumb--padding-bottom) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding-left: calc(var(--breadcrumb--padding-left) * var(--size-multiplier-lg));
    --breadcrumb--lg--padding: var(--breadcrumb--lg--padding-top) var(--breadcrumb--lg--padding-right) var(--breadcrumb--lg--padding-bottom) var(--breadcrumb--lg--padding-left);
    --contrast-text-color-light: var(--color-gray-900);
    --contrast-text-color-dark: var(--color-white);
    --contrast-text-color-primary: var(--contrast-text-color-dark);
    --contrast-text-color-secondary: var(--contrast-text-color-dark);
    --contrast-text-color-info: var(--contrast-text-color-light);
    --contrast-text-color-success: var(--contrast-text-color-light);
    --contrast-text-color-warning: var(--contrast-text-color-light);
    --contrast-text-color-danger: var(--contrast-text-color-dark);
    --breadcrumb--light--color-h: 0;
    --breadcrumb--light--color-s: 0%;
    --breadcrumb--light--color-l: 0%;
    --breadcrumb--light--color-a: 1;
    --breadcrumb--light--color: var(--contrast-text-color-light);
    --breadcrumb--dark--color-h: 0;
    --breadcrumb--dark--color-s: 0%;
    --breadcrumb--dark--color-l: 0%;
    --breadcrumb--dark--color-a: 1;
    --breadcrumb--dark--color: var(--contrast-text-color-dark);
}
