:root {
    /**
     * Variables
     */

    --popover-font-weight: #{$popover-font-weight};
    --popover-line-height: #{$popover-line-height};
    --popover-border-width: #{$popover-border-width};
    --popover-margin: #{$popover-margin};
    --popover-z-index: #{$popover-z-index};
    --popover-width: #{$popover-width};
    --popover-max-width: #{$popover-max-width};
    --popover-border-radius: #{$popover-border-radius};
    --popover-font-size: #{$popover-font-size};
    --popover-padding: #{$popover-padding};

    /**
     * Sizes
     */

    @each $popover-size-variant-key, $popover-size-variant-value in $popover-size-variants {
        @each $popover-size-variant-field-key, $popover-size-variant-field-value in $popover-size-variant-value {
            --popover-size-variant-#{$popover-size-variant-key}-#{$popover-size-variant-field-key}: #{$popover-size-variant-field-value};
        }
    }

    /**
     * Colors
     */

    @each $popover-color-variant-key, $popover-color-variant-value in $popover-color-variants {
        @each $popover-color-variant-field-key, $popover-color-variant-field-value in $popover-color-variant-value {
            --popover-color-variant-#{$popover-color-variant-key}-#{$popover-color-variant-field-key}: #{$popover-color-variant-field-value};
        }
    }
}
