@function navbar-variant($variant) {
    $navbar-variant-color: variant-color-by-luminance($variant, $navbar-color-for-light-variant, $navbar-color-for-dark-variant);
    $navbar-variant-item-color: variant-color-by-luminance($variant, darken-lightness($navbar-color-for-light-variant, 20%), lighten-lightness($navbar-color-for-dark-variant, 20%));
    $navbar-variant-item-color-active: $navbar-variant-color;
    $navbar-variant-background: $variant;
    $navbar-variant-background-hover: darken-lightness($navbar-variant-background, 10%);
    $navbar-variant-collapsed-item-background: darken-lightness($navbar-variant-background, 5%);
    $navbar-variant-collapsed-item-background-hover: $navbar-variant-background-hover;

    $variant-map: (
        color: $navbar-variant-color,
        item-color: $navbar-variant-item-color,
        item-color-active: $navbar-variant-item-color-active,
        background: $navbar-variant-background,
        background-hover: $navbar-variant-background-hover,
        collapsed-item-background: $navbar-variant-collapsed-item-background,
        collapsed-item-background-hover: $navbar-variant-collapsed-item-background-hover
    );

    @return $variant-map;
}
