@import '~@inkline/inkline/css/config/index';
@import '~@inkline/inkline/css/mixins/index';

.border-square {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: colors('gray-20');
    border-color: colors('gray-40');
    margin-right: ($spacer / 2);
    margin-bottom: ($spacer / 2);
}
