@import '~@inkline/inkline/src/css/config/index';
@import '~@inkline/inkline/src/css/mixins/index';

.flexbox-preview {
    padding: ($spacer / 2);
    background: colors('gray-20');
    border: 1px solid colors('gray-30');

    &.-tall {
        height: 100px;
    }

    &.-tall-2 {
        height: 200px;
    }

    > .flexbox-preview {
        background: colors('gray-40');
        border: 1px solid colors('gray-50');
    }
}

.inkline.-dark .flexbox-preview {
    background: colors('gray-80');
    border: 1px solid colors('gray-70');

    > .flexbox-preview {
        background: colors('gray-70');
        border: 1px solid colors('gray-80');
    }
}
