//
// Alert sizes
//
for size in (sm md lg)
    .alert.-{size}
        border-radius: --alert-border-radius[size]
        font-size: --alert-font-size[size]
        padding: --alert-padding[size]

        > .title
            margin-bottom: --alert-padding[size]

        > .subtitle
            margin-top: --alert-padding[size] / 2

        > .link + .link
            margin-left: --alert-padding[size]

        > .dismiss
            margin-left: --alert-padding[size]

        > .icon
            padding-right: --alert-padding[size]
            margin-right: --alert-padding[size]