//
// Alert variables
//
--alert-font-size := --font-size
--alert-font-weight := --font-weight['normal']
--alert-line-height := --line-height

--alert-border-width := --border-width
--alert-border-radius := --border-radius

--alert-padding-base := --spacers['1']
--alert-padding := -size-map(--alert-padding-base, --sizes, --size-multipliers)

--alert-dismiss-size := 1rem

--alert-background-darken := rgba(0, 0, 0, 0.15)


//
// Variants
//
--alert-variants := (brand state)
--alert-variant-color-light := --variant-color-light
--alert-variant-color-dark := --variant-color-dark

--variants['alert'] = -add-variant(--alert-variants, { color: --color-groups })
