//
// Alert variants
//
@each $variant-name, $variant in variants('alert') {
    .alert.-#{$variant-name} {
        border-color: rgba($variant, 0.35);
        background-color: rgba($variant, 0.15);
        color: darken-lightness($variant, 15%);

        a {
            color: $variant;
        }

        > .icon {
            border-color: rgba(variant-color-by-luminance($variant, $alert-variant-color-light, $alert-variant-color-dark), 0.33);
        }
    }
}
