/**
 * Color variants
 */

.pagination {
    ////
    /// Variables for the light color variant
    /// @name light
    /// @type variant
    ////
    @include variant('light') {
        ////
        /// The background of the pagination component item, for the light color variant
        /// @name background
        ////
        ----background: #{color('light')};
        ////
        /// The background of the pagination component item when hovered or focused, for the light color variant
        /// @name background--hover
        ////
        ----background--hover: #{color('light-55')};
        ////
        /// The background of the pagination component item when active, for the light color variant
        /// @name background--active
        ////
        ----background--active: #{color('primary')};
        ////
        /// The border top color of the pagination component item, for the light color variant
        /// @name border-top-color
        ////
        ----border-top-color: #{color('light-55')};
        ////
        /// The border right color of the pagination component item, for the light color variant
        /// @name border-right-color
        ////
        ----border-right-color: #{color('light-55')};
        ////
        /// The border bottom color of the pagination component item, for the light color variant
        /// @name border-bottom-color
        ////
        ----border-bottom-color: #{color('light-55')};
        ////
        /// The border left color of the pagination component item, for the light color variant
        /// @name border-left-color
        ////
        ----border-left-color: #{color('light-55')};
        ////
        /// The border color of the pagination component item when active, for the light color variant
        /// @name border-color--active
        ////
        ----border-color--active: #{color('primary-55')};
        ////
        /// The border color of the pagination component item when active, for the light color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-light)};
        ////
        /// The border color of the pagination component item when active, for the light color variant
        /// @name color--active
        ////
        ----color--active: #{contrast-color($color-primary)};
    }
    ////
    /// Variables for the dark color variant
    /// @name dark
    /// @type variant
    ////
    @include variant('dark') {
        ////
        /// The background of the pagination component item, for the dark color variant
        /// @name background
        ////
        ----background: #{color('dark')};
        ////
        /// The background of the pagination component item when hovered or focused, for the dark color variant
        /// @name background--hover
        ////
        ----background--hover: #{color('dark-45')};
        ////
        /// The background of the pagination component item when active, for the dark color variant
        /// @name background--active
        ////
        ----background--active: #{color('primary')};
        ////
        /// The border top color of the pagination component item, for the dark color variant
        /// @name border-top-color
        ////
        ----border-top-color: #{color('dark-45')};
        ////
        /// The border right color of the pagination component item, for the dark color variant
        /// @name border-right-color
        ////
        ----border-right-color: #{color('dark-45')};
        ////
        /// The border bottom color of the pagination component item, for the dark color variant
        /// @name border-bottom-color
        ////
        ----border-bottom-color: #{color('dark-45')};
        ////
        /// The border left color of the pagination component item, for the dark color variant
        /// @name border-left-color
        ////
        ----border-left-color: #{color('dark-45')};
        ////
        /// The border color of the pagination component item when active, for the dark color variant
        /// @name border-color--active
        ////
        ----border-color--active: #{color('primary-55')};
        ////
        /// The border color of the pagination component item when active, for the dark color variant
        /// @name color
        ////
        ----color: #{contrast-color($color-dark)};
        ////
        /// The border color of the pagination component item when active, for the dark color variant
        /// @name color--active
        ////
        ----color--active: #{contrast-color($color-primary)};
    }
}
