@import '../../css/config'
@import '../../css/mixins'
@import 'css/_variables'
@import 'css/_sizes'

/**
 * Checkbox
 */
.form-check.-custom.-checkbox
    input
        &:checked ~ .form-input-label::after
            background-image: url(--form-check-checkbox-icon)

        &:indeterminate ~ .form-input-label::after
            background-image: url(--form-check-indeterminate-icon)

    @extend .form-check.-custom.-checkbox.-md
