@import '../../resources/css/config'

.form-checkbox
    position: relative
    cursor: pointer
    display: inline-block
    white-space: nowrap
    outline: none
    font-size: --font-size

    + .form-checkbox
        margin-left: --spacer

    &.-disabled
        color: --text-muted
        cursor: default

