/**
 * Color variants
 */

.nav {
    &.-light {
        --nav--color: var(--nav--light--color, var(--contrast-text-color-light));
        --nav--active--color: var(--nav--light--active--color, var(--contrast-text-color-light));
        --nav--disabled--color: var(--nav--light--disabled--color, var(--text-color-weak));
    }

    &.-dark {
        --nav--color: var(--nav--dark--color, var(--contrast-text-color-dark));
        --nav--active--color: var(--nav--primary--active--color, var(--contrast-text-color-dark));
        --nav--disabled--color: var(--nav--dark--disabled--color, var(--text-color-weak));
    }
}
