$inkline-font-path : 'assets/icons/' !default;

$icon-circle: "\e900";
$icon-chevron-down: "\e901";
$icon-caret-down: "\e902";
$icon-home: "\e903";
$icon-calendar: "\e953";
$icon-warning: "\ea07";
$icon-danger: "\ea08";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-info: "\ea0c";
$icon-times: "\ea0f";
$icon-check: "\ea10";
$icon-sort-asc: "\e904";
$icon-sort-desc: "\e905";
$icon-sort: "\e906";
