@import '../../resources/css/config'
@import '../../resources/css/mixins'

$layout-header-background ?= $colors['transparent']
$layout-header-padding ?= $spacer

.layout-header
    flex: 0 0 auto
    background: $layout-header-background
    padding: $layout-header-padding

