//
// Checkbox variables
//
$form-check-checkbox-border-radius: $border-radius;

$form-check-checkbox-icon-size-base: 8px;
$form-check-checkbox-icon-size: size-map($form-check-checkbox-icon-size-base, $sizes, $size-multipliers);
