.checkbox-group {
    display: flex;
    flex-direction: column;
}

.checkbox-group.-inline {
    flex-direction: row;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    outline: 0;
}

.checkbox:last-of-type {
    margin-right: 0;
}

.checkbox .checkbox-label {
    cursor: pointer;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    position: relative;
}

.checkbox .checkbox-label::before, .checkbox .checkbox-label::after {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-flex;
    cursor: pointer;
    width: var(--checkbox--width);
    height: var(--checkbox--height);
}

.checkbox .checkbox-label::before {
    content: "";
    user-select: none;
    transform: translate(0, -50%);
}

.checkbox input:indeterminate ~ .checkbox-label::after {
    mask-image: url('data:image/svg+xml; utf8, <svg fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><title>minus</title><path d="M0 11.375v5.25c0 0.483 0.392 0.875 0.875 0.875h26.25c0.483 0 0.875-0.392 0.875-0.875v-5.25c0-0.483-0.392-0.875-0.875-0.875h-26.25c-0.483 0-0.875 0.392-0.875 0.875z"></path></svg>');
}

.checkbox .checkbox-label::after {
    content: "";
    z-index: 1;
    text-align: center;
    transform: scale(0) translate(0, -50%);
    border: 1px solid transparent;
    transform-origin: center top;
    mask-image: url('data:image/svg+xml; utf8, <svg fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28"><title>check</title><path d="M23.625 3.5l-13.125 13.125-6.125-6.125-4.375 4.375 10.5 10.5 17.5-17.5z"></path></svg>');
    mask-size: var(--checkbox--checkmark--width) var(--checkbox--checkmark--height);
    mask-position: center center;
    mask-repeat: no-repeat;
}

.checkbox input {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox .checkbox-label, .checkbox input, .checkbox input:focus, .checkbox input:active {
    outline: 0;
}

.checkbox input:indeterminate ~ .checkbox-label::after, .checkbox input:checked ~ .checkbox-label::after {
    content: "";
    mask-position: center center;
    mask-repeat: no-repeat;
    transform: scale(1) translate(0, -50%);
}

.checkbox input:disabled ~ .checkbox-label, .checkbox input[readonly] ~ .checkbox-label {
    cursor: default;
}

.checkbox input:disabled ~ .checkbox-label::after, .checkbox input[readonly] ~ .checkbox-label::after, .checkbox input:checked:disabled ~ .checkbox-label::after, .checkbox input:checked[readonly] ~ .checkbox-label::after {
    cursor: not-allowed;
}

.checkbox {
    margin: var(--checkbox--margin);
}

.checkbox .checkbox-label {
    color: var(--checkbox--color);
    font-size: var(--checkbox--font-size);
    transition: var(--checkbox--transition);
    padding-left: calc(var(--checkbox--width) + var(--checkbox--margin-right));
}

.checkbox .checkbox-label::before {
    background: var(--checkbox--background);
    border-color: var(--checkbox--border-color);
    border-width: var(--checkbox--border-width);
    border-style: var(--checkbox--border-style);
    border-radius: var(--checkbox--border-radius);
    box-shadow: var(--checkbox--boxShadow);
    transition: var(--checkbox--transition);
}

.checkbox .checkbox-label::after {
    background: var(--checkbox--checkmark--color);
    transition-duration: var(--checkbox--transition-duration);
    transition-timing-function: var(--checkbox--transition-timing-function);
}

.checkbox:not(.-disabled) .checkbox-label:focus::before {
    box-shadow: var(--checkbox--focus--boxShadow);
}

.checkbox input:checked ~ .checkbox-label::before, .checkbox input:indeterminate ~ .checkbox-label::before {
    background: var(--checkbox--checked--background);
    border-color: var(--checkbox--checked--border-color);
}

.checkbox input:disabled ~ .checkbox-label {
    color: var(--checkbox--disabled--color);
    cursor: default;
}

.checkbox input:disabled ~ .checkbox-label::before {
    background: var(--checkbox--disabled--background);
    cursor: not-allowed;
}

.checkbox input[readonly] ~ .checkbox-label::before {
    background: var(--checkbox--readonly--background);
    cursor: not-allowed;
}

.checkbox input:checked:disabled ~ .checkbox-label::before {
    background: var(--checkbox--checked--disabled--background);
    border-color: var(--checkbox--checked--disabled--border-color);
}

.checkbox input[readonly]:checked ~ .checkbox-label::before {
    background: var(--checkbox--checked--readonly--background);
    border-color: var(--checkbox--checked--readonly--border-color);
}

.checkbox.-sm {
    font-size: var(--checkbox--sm--font-size);
}

.checkbox.-sm .checkbox-label {
    font-size: var(--checkbox--font-size);
    padding-left: calc(var(--checkbox--sm--width) + var(--checkbox--margin-right));
}

.checkbox.-sm .checkbox-label::before, .checkbox.-sm .checkbox-label::after {
    width: var(--checkbox--sm--width);
    height: var(--checkbox--sm--height);
}

.checkbox.-sm .checkbox-label::before {
    border-top-left-radius: var(--checkbox--sm--border-top-left-radius);
    border-top-right-radius: var(--checkbox--sm--border-top-right-radius);
    border-bottom-right-radius: var(--checkbox--sm--border-bottom-right-radius);
    border-bottom-left-radius: var(--checkbox--sm--border-bottom-left-radius);
}

.checkbox.-sm .checkbox-label::after {
    mask-size: var(--checkbox--sm--checkmark--width) var(--checkbox--sm--checkmark--height);
}

.checkbox.-md {
    font-size: var(--checkbox--md--font-size);
}

.checkbox.-md .checkbox-label {
    font-size: var(--checkbox--font-size);
    padding-left: calc(var(--checkbox--md--width) + var(--checkbox--margin-right));
}

.checkbox.-md .checkbox-label::before, .checkbox.-md .checkbox-label::after {
    width: var(--checkbox--md--width);
    height: var(--checkbox--md--height);
}

.checkbox.-md .checkbox-label::before {
    border-top-left-radius: var(--checkbox--md--border-top-left-radius);
    border-top-right-radius: var(--checkbox--md--border-top-right-radius);
    border-bottom-right-radius: var(--checkbox--md--border-bottom-right-radius);
    border-bottom-left-radius: var(--checkbox--md--border-bottom-left-radius);
}

.checkbox.-md .checkbox-label::after {
    mask-size: var(--checkbox--md--checkmark--width) var(--checkbox--md--checkmark--height);
}

.checkbox.-lg {
    font-size: var(--checkbox--lg--font-size);
}

.checkbox.-lg .checkbox-label {
    font-size: var(--checkbox--font-size);
    padding-left: calc(var(--checkbox--lg--width) + var(--checkbox--margin-right));
}

.checkbox.-lg .checkbox-label::before, .checkbox.-lg .checkbox-label::after {
    width: var(--checkbox--lg--width);
    height: var(--checkbox--lg--height);
}

.checkbox.-lg .checkbox-label::before {
    border-top-left-radius: var(--checkbox--lg--border-top-left-radius);
    border-top-right-radius: var(--checkbox--lg--border-top-right-radius);
    border-bottom-right-radius: var(--checkbox--lg--border-bottom-right-radius);
    border-bottom-left-radius: var(--checkbox--lg--border-bottom-left-radius);
}

.checkbox.-lg .checkbox-label::after {
    mask-size: var(--checkbox--lg--checkmark--width) var(--checkbox--lg--checkmark--height);
}

.checkbox.-light .checkbox-label {
    color: var(--checkbox--light--color);
}

.checkbox.-light .checkbox-label::before {
    border-color: var(--checkbox--light--border-color);
    background: var(--checkbox--light--background);
    color: var(--checkbox--light--color);
}

.checkbox.-light input:disabled ~ .checkbox-label::before {
    background: var(--checkbox--light--disabled--background);
    border-color: var(--checkbox--light--disabled--border-color);
}

.checkbox.-light input:checked:disabled ~ .checkbox-label::before {
    background: var(--checkbox--light--checked--disabled--background);
    border-color: var(--checkbox--light--checked--disabled--border-color);
}

.checkbox.-dark .checkbox-label {
    color: var(--checkbox--dark--color);
}

.checkbox.-dark .checkbox-label::before {
    border-color: var(--checkbox--dark--border-color);
    background: var(--checkbox--dark--background);
    color: var(--checkbox--dark--color);
}

.checkbox.-dark input:disabled ~ .checkbox-label::before {
    background: var(--checkbox--dark--disabled--background);
    border-color: var(--checkbox--dark--disabled--border-color);
}

.checkbox.-dark input:checked:disabled ~ .checkbox-label::before {
    background: var(--checkbox--dark--checked--disabled--background);
    border-color: var(--checkbox--dark--checked--disabled--border-color);
}

.checkbox.-native input {
    top: auto;
    left: auto;
    position: relative;
    opacity: 1;
    height: auto;
    width: auto;
}

.checkbox.-native .checkbox-label {
    padding-left: var(--checkbox--margin-right);
}

.checkbox.-native .checkbox-label::before, .checkbox.-native .checkbox-label::after {
    display: none;
}
