///
// Border Utilities
///
%border-utilities-preview {
    > div[class^="_border"] {
        height: 100px;
        width: 100px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
    }

    > div[class="_border"],
    > div[class^="_border-"] {
        border-color: color('gray-40');
    }

    > div[class="_border-top"] {
        border-color: color('gray-10');
        border-top-color: color('gray-50');

        .-dark & {
            border-color: color('gray-80');
            border-top-color: color('gray-50');
        }
    }

    > div[class="_border-right"] {
        border-color: color('gray-10');
        border-right-color: color('gray-50');

        .-dark & {
            border-color: color('gray-80');
            border-right-color: color('gray-50');
        }
    }

    > div[class="_border-bottom"] {
        border-color: color('gray-10');
        border-bottom-color: color('gray-50');

        .-dark & {
            border-color: color('gray-80');
            border-bottom-color: color('gray-50');
        }
    }

    > div[class="_border-left"] {
        border-color: color('gray-10');
        border-left-color: color('gray-50');

        .-dark & {
            border-color: color('gray-80');
            border-left-color: color('gray-50');
        }
    }
}

///
// Color Utilities
///
%color-utilities-preview {
    > div[class^="_background"],
    > div[class^="_color"] {
        height: 80px;
        width: 228px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: border-radius();
    }
}

///
// Flex Utilities
///
%flex-utilities-preview {
    > div[class*="_display:flex"],
    > div[class*="_display:flex"] div {
        padding: spacing('1/2');
        background: color('gray-10');
        border: 1px solid color('gray-30');

        .-dark & {
            background: color('gray-80');
            border-color: color('gray-90');
        }
    }

    > div[class*="_align-content"],
    > div[class*="_flex-direction-column"],
    > div[class*="_align-items"] {
        min-height: 180px;
    }

    > div[class*="_display:flex"] {
        > div[class^="_align-self"] {
            + div {
                height: 180px;
            }
        }
    }
}

///
// Spacing Utilities
///
%spacing-utilities-preview {
    > div[class*="_margin"] {
        padding: spacing('1/2');
        background: color('gray-10');
        border: 1px solid color('gray-30');
        min-height: 25px;
        display: flex;
    }
}

///
// Sizing Utilities
///
%sizing-utilities-preview {
    > div[class*="_max-height"],
    > div[class*="_max-width"],
    > div[class*="_height"],
    > div[class*="_width"] {
        padding: spacing('1/2');
        background: color('gray-10');
        border: 1px solid color('gray-30');
    }

    > div[class*="_max-width"],
    > div[class*="_width"] {
        display: flex;
    }

    > div[class*="_max-height"],
    > div[class*="_height"] {
        display: inline-flex;
    }

    > ._height\:25\% {
        height: 50px !important;
    }

    > ._height\:50\% {
        height: 100px !important;
    }

    > ._height\:75\% {
        height: 150px !important;
    }

    > ._max-height\:100\%,
    > ._height\:100\% {
        height: 200px !important;
    }

    > ._width\:100\% {
        width: auto !important;
    }

    > ._max-width\:100\% {
        flex: 1 1 100%;
        flex-direction: row;
    }
}

///
// Layout
///
%layout-preview {
    > .layout {
        border: 1px solid color('gray-40');
        padding: spacing();
        border-radius: var(--border-radius);

        .-dark & {
            border-color: color('gray-60');
        }

        .layout,
        .layout-content,
        .layout-header,
        .layout-footer,
        .layout-aside {
            padding: spacing();
            border-radius: var(--border-radius);
            text-align: center;
            border: 1px solid color('gray-40');

            .-dark & {
                border-color: color('gray-60');
            }
        }

        .layout-header {
            margin-bottom: spacing('1/2');
        }

        .layout-footer {
            margin-top: spacing('1/2');
        }

        .layout-aside {
            width: 30%;
            flex-basis: 30%;

            + .layout {
                margin-left: spacing();
            }
        }

        .layout {
            + .layout-aside {
                margin-left: spacing();
            }
        }

        .layout-content,
        .layout-aside {
            min-height: 300px;
        }

        .layout-content,
        .layout-aside-children {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

///
// Grid
///
%grid-preview {
    > .container {
        max-width: 100%;
        background: color('gray-05');
        border: 1px solid color('gray-10');
        border-radius: border-radius();
        padding-top: spacing();
        padding-bottom: spacing();

        .-dark & {
            background: color('gray-85');
            border-color: color('gray-80');
        }

        .row {
            background: color('gray-10');
            border: 1px solid color('gray-20');
            border-radius: border-radius();
            padding-top: spacing();
            padding-bottom: spacing();

            &.-top,
            &.-middle,
            &.-bottom {
                height: 150px;
            }

            .-dark & {
                background: color('gray-80');
                border-color: color('gray-70');
            }

            + .row {
                margin-top: spacing();
            }

            .column {
                background: color('gray-20');
                border: 1px solid color('gray-40');
                border-radius: border-radius();
                padding-top: spacing();
                padding-bottom: spacing();

                .-dark & {
                    background: color('gray-70');
                    border-color: color('gray-50');
                }

                .row {
                    background: color('gray-25');
                    border: 1px solid color('gray-50');

                    .-dark & {
                        background: color('gray-65');
                    }
                }

                .column {
                    background: color('gray-30');
                    border: 1px solid color('gray-60');

                    .-dark & {
                        background: color('gray-60');
                        border-color: color('gray-40');
                    }
                }
            }
        }
    }
}

///
// Card
///
%card-preview {
    > .card {
        max-width: 360px;
    }
}
