//
// Progress variants
//
@mixin progress-bar-color-variant($color-variant) {
    color: variant-color-by-luminance($color-variant, $progress-bar-variant-color-light, $progress-bar-variant-color-dark);
    background-color: $color-variant;
}

@each $variant-name, $variant in variants('progress-bar') {
    .progress > .bar.-#{$variant-name} {
        @include progress-bar-color-variant($variant);
    }
}
