//
// Progress Bar variables
//

//
// Variants
//
--progress-bar-variants := (brand state)
--progress-bar-variant-color-light := --variant-color-light
--progress-bar-variant-color-dark := --variant-color-dark

--variants['progress-bar'] = -add-variant(--progress-bar-variants, { color: --color-groups })
