@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../Icon/css/_variables';
@import 'css/_variables';
@import 'css/_sizes';

/**
 * Radio
 */
.form-check.-custom.-radio {
    .form-input-label {
        &::after,
        &::before {
            @if $border-radius-enabled {
                border-radius: $form-check-radio-border-radius;
            }
        }
    }

    input {
        &:checked ~ .form-input-label::after {
            content: $icon-circle;
            color: white;
        }
    }

    @extend .form-check.-md.-custom.-radio;
}
