/**
 * Color variants
 */

.select-wrapper {
    &.-light {
        --select--background: var(--select--light--background, var(--color-white));
        --select--border-top-color: var(
            --select--light--border-top-color,
            var(--color-light-shade-50)
        );
        --select--border-right-color: var(
            --select--light--border-right-color,
            var(--color-light-shade-50)
        );
        --select--border-bottom-color: var(
            --select--light--border-bottom-color,
            var(--color-light-shade-50)
        );
        --select--border-left-color: var(
            --select--light--border-left-color,
            var(--color-light-shade-50)
        );
        --select--color: var(--select--light--color, var(--contrast-text-color-white));
        --select--option--hover--background: var(
            --select--light--option--hover--background,
            var(--color-gray-50)
        );
        --select--option--disabled--background: var(
            --select--light--option--disabled--background,
            transparent
        );
        --select--option--disabled--color: var(
            --select--light--option--disabled--color,
            var(--text-color-weak)
        );
        --select--header--background: var(
            --select--light--header--background,
            var(--color-gray-50)
        );
        --select--footer--background: var(
            --select--light--footer--background,
            var(--color-gray-50)
        );
    }

    &.-dark {
        --select--background: var(--select--dark--background, var(--color-dark));
        --select--border-top-color: var(
            --select--dark--border-top-color,
            var(--color-dark-tint-50)
        );
        --select--border-right-color: var(
            --select--dark--border-right-color,
            var(--color-dark-tint-50)
        );
        --select--border-bottom-color: var(
            --select--dark--border-bottom-color,
            var(--color-dark-tint-50)
        );
        --select--border-left-color: var(
            --select--dark--border-left-color,
            var(--color-dark-tint-50)
        );
        --select--color: var(--select--dark--color, var(--contrast-text-color-dark));
        --select--option--hover--background: var(
            --select--dark--option--hover--background,
            var(--color-dark-tint-50)
        );
        --select--option--disabled--background: var(
            --select--dark--option--disabled--background,
            transparent
        );
        --select--option--disabled--color: var(
            --select--dark--option--disabled--color,
            var(--text-color-weak)
        );
        --select--header--background: var(
            --select--dark--header--background,
            var(--color-dark-tint-50)
        );
        --select--footer--background: var(
            --select--dark--footer--background,
            var(--color-dark-tint-50)
        );
    }
}
