/**
 * Select
 */

@use '../../../css/mixins';
@use '../../../css/icons';

.select-wrapper {
    display: block;
    position: relative;

    .select {
        @include mixins.popup(var(--select--z-index, 2000));
        @include mixins.popup-arrow();
        @include mixins.popup-arrow-size-variant(var(--select--arrow--size, 6px));

        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        line-height: var(--select-line-height);
        //background-clip: padding-box;
        display: block;
        white-space: normal;
        width: 100%;
        min-width: var(--select--min-width, 240px);
        max-width: var(--select--max-width, 90vw);
        color: var(--select--color);
        font-size: var(--select--font-size, var(--font-size));
        box-shadow: var(
            --select--box-shadow,
            var(--select--box-shadow-x-offset, var(--box-shadow-offset-x))
                var(--select--box-shadow-y-offset, var(--box-shadow-offset-y))
                var(--select--box-shadow-blur-radius, var(--box-shadow-blur-radius))
                var(--select--box-shadow-spread-radius, var(--box-shadow-spread-radius))
                var(--select--box-shadow-color, var(--box-shadow-color))
        );

        > .select-header {
            border-style: var(
                --select--header--border-style,
                var(
                        --select--header--border-top-style,
                        var(--select--border-top-style, var(--border-top-style))
                    )
                    var(
                        --select--header--border-right-style,
                        var(--select--border-right-style, var(--border-right-style))
                    )
                    var(
                        --select--header--border-bottom-style,
                        var(--select--border-bottom-style, var(--border-bottom-style))
                    )
                    var(
                        --select--header--border-left-style,
                        var(--select--border-left-style, var(--border-left-style))
                    )
            );
            border-width: var(
                --select--header--border-width,
                var(
                        --select--header--border-top-width,
                        var(--select--border-top-width, var(--border-top-width))
                    )
                    var(
                        --select--header--border-right-width,
                        var(--select--border-right-width, var(--border-right-width))
                    )
                    var(--select--header--border-bottom-width, 0)
                    var(
                        --select--header--border-left-width,
                        var(--select--border-left-width, var(--border-left-width))
                    )
            );
            border-color: var(
                --select--header--border-color,
                var(
                        --select--header--border-top-color,
                        var(--select--border-top-color, var(--border-top-color))
                    )
                    var(
                        --select--header--border-right-color,
                        var(--select--border-right-color, var(--border-right-color))
                    )
                    var(
                        --select--header--border-bottom-color,
                        var(--select--border-bottom-color, var(--border-bottom-color))
                    )
                    var(
                        --select--header--border-left-color,
                        var(--select--border-left-color, var(--border-left-color))
                    )
            );
            background-color: var(--select--header--background, var(--select--background));
            padding: var(
                --select--header--padding,
                var(--select--header--padding-top, var(--select--padding-top, var(--padding-top)))
                    var(
                        --select--header--padding-right,
                        var(--select--padding-right, var(--padding-right))
                    )
                    var(
                        --select--header--padding-bottom,
                        var(--select--padding-bottom, var(--padding-bottom))
                    )
                    var(
                        --select--header--padding-left,
                        var(--select--padding-left, var(--padding-left))
                    )
            );
        }

        > .select-body {
            overflow: auto;
            border-style: var(
                --select--body--border-style,
                var(
                        --select--body--border-top-style,
                        var(--select--border-top-style, var(--border-top-style))
                    )
                    var(
                        --select--body--border-right-style,
                        var(--select--border-right-style, var(--border-right-style))
                    )
                    var(
                        --select--body--border-bottom-style,
                        var(--select--border-bottom-style, var(--border-bottom-style))
                    )
                    var(
                        --select--body--border-left-style,
                        var(--select--border-left-style, var(--border-left-style))
                    )
            );
            border-width: var(
                --select--body--border-width,
                var(
                        --select--body--border-top-width,
                        var(--select--border-top-width, var(--border-top-width))
                    )
                    var(
                        --select--body--border-right-width,
                        var(--select--border-right-width, var(--border-right-width))
                    )
                    var(
                        --select--body--border-bottom-width,
                        var(--select--border-bottom-width, var(--border-bottom-width))
                    )
                    var(
                        --select--body--border-left-width,
                        var(--select--border-left-width, var(--border-left-width))
                    )
            );
            border-color: var(
                --select--body--border-color,
                var(
                        --select--body--border-top-color,
                        var(--select--border-top-color, var(--border-top-color))
                    )
                    var(
                        --select--body--border-right-color,
                        var(--select--border-right-color, var(--border-right-color))
                    )
                    var(
                        --select--body--border-bottom-color,
                        var(--select--border-bottom-color, var(--border-bottom-color))
                    )
                    var(
                        --select--body--border-left-color,
                        var(--select--border-left-color, var(--border-left-color))
                    )
            );
            background-color: var(--select--body--background, var(--select--background));
            padding: var(
                --select--body--padding,
                var(--select--body--padding-top, var(--select--padding-top, var(--padding-top)))
                    var(
                        --select--body--padding-right,
                        var(--select--padding-right, var(--padding-right))
                    )
                    var(
                        --select--body--padding-bottom,
                        var(--select--padding-bottom, var(--padding-bottom))
                    )
                    var(
                        --select--body--padding-left,
                        var(--select--padding-left, var(--padding-left))
                    )
            );
            max-height: var(--select--max-height, 300px);

            .select-divider {
                background-color: var(
                    --select--divider--border-color,
                    var(--select--border-top, var(--border-top-color))
                );
            }

            .select-no-results {
                text-align: center;
            }
        }

        > .select-footer {
            border-style: var(
                --select--footer--border-style,
                var(
                        --select--footer--border-top-style,
                        var(--select--border-top-style, var(--border-top-style))
                    )
                    var(
                        --select--footer--border-right-style,
                        var(--select--border-right-style, var(--border-right-style))
                    )
                    var(
                        --select--footer--border-bottom-style,
                        var(--select--border-bottom-style, var(--border-bottom-style))
                    )
                    var(
                        --select--footer--border-left-style,
                        var(--select--border-left-style, var(--border-left-style))
                    )
            );
            border-width: var(
                --select--footer--border-width,
                var(--select--footer--border-top-width, 0)
                    var(
                        --select--footer--border-right-width,
                        var(--select--border-right-width, var(--border-right-width))
                    )
                    var(
                        --select--footer--border-bottom-width,
                        var(--select--border-bottom-width, var(--border-bottom-width))
                    )
                    var(
                        --select--footer--border-left-width,
                        var(--select--border-left-width, var(--border-left-width))
                    )
            );
            border-color: var(
                --select--footer--border-color,
                var(
                        --select--footer--border-top-color,
                        var(--select--border-top-color, var(--border-top-color))
                    )
                    var(
                        --select--footer--border-right-color,
                        var(--select--border-right-color, var(--border-right-color))
                    )
                    var(
                        --select--footer--border-bottom-color,
                        var(--select--border-bottom-color, var(--border-bottom-color))
                    )
                    var(
                        --select--footer--border-left-color,
                        var(--select--border-left-color, var(--border-left-color))
                    )
            );
            background-color: var(--select--footer--background, var(--select--background));
            padding: var(
                --select--footer--padding,
                var(--select--footer--padding-top, var(--select--padding-top, var(--padding-top)))
                    var(
                        --select--footer--padding-right,
                        var(--select--padding-right, var(--padding-right))
                    )
                    var(
                        --select--footer--padding-bottom,
                        var(--select--padding-bottom, var(--padding-bottom))
                    )
                    var(
                        --select--footer--padding-left,
                        var(--select--padding-left, var(--padding-left))
                    )
            );
        }

        > div:first-of-type {
            border-top-left-radius: var(
                --select--border-top-left-radius,
                var(--border-top-left-radius)
            );
            border-top-right-radius: var(
                --select--border-top-right-radius,
                var(--border-top-right-radius)
            );
        }

        > div:last-of-type {
            border-bottom-left-radius: var(
                --select--border-bottom-left-radius,
                var(--border-bottom-left-radius)
            );
            border-bottom-right-radius: var(
                --select--border-bottom-right-radius,
                var(--border-bottom-right-radius)
            );
        }

        @include mixins.popup-arrow-color-variant-for-side(
            'top',
            var(--select--background),
            var(--select--border-bottom-color, var(--border-bottom-color))
        );

        @include mixins.popup-arrow-color-variant-for-side(
            'right',
            var(--select--background),
            var(--select--border-left-color, var(--border-left-color))
        );

        @include mixins.popup-arrow-color-variant-for-side(
            'bottom',
            var(--select--background),
            var(--select--border-top-color, var(--border-top-color))
        );

        @include mixins.popup-arrow-color-variant-for-side(
            'left',
            var(--select--background),
            var(--select--border-right-color, var(--border-right-color))
        );
    }

    &.-error {
        > .input-wrapper .input {
            border-color: var(--input--error--border-color, var(--color-danger));
        }
    }

    .input-wrapper {
        .input-icon {
            margin-right: var(--margin-left);
        }

        .input-suffix > .select-caret {
            cursor: pointer;
            mask-image: url('#{icons.$ink-caret-down}');
            -webkit-mask-image: url('#{icons.$ink-caret-down}');
            mask-position: center center;
            -webkit-mask-position: center center;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            background-color: var(--select--color);
            height: var(--select--font-size, var(--font-size));
            width: var(--select--font-size, var(--font-size));
            mask-size: var(--select--font-size, var(--font-size)) var(--font-size);
            margin-left: var(--select--caret--margin-left, var(--select--margin-left));
        }
    }
}
