@import '../../css/variables';
@import '../../css/mixins';
@import '../../css/icons';
@import 'css/variables';
@import 'css/sizes';
@import 'css/colors';

.select-wrapper {
    display: block;
    position: relative;

    .select {
        @include popup(('z-index': var(----z-index)));
        @include popup-arrow();
        @include popup-arrow-size-variant();

        text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
        list-style: none;
        line-height: var(--select-line-height);
        background-clip: padding-box;
        display: inline-block;
        white-space: normal;
        min-width: var(----min-width);
        max-width: var(----max-width);
        color: var(----color);
        font-size: var(----font-size);
        box-shadow: var(----box-shadow);

        > .select-header {
            border-width: var(----header--border-width);
            border-style: var(----header--border-style);
            border-color: var(----header--border-color);
            background-color: var(----header--background);
            padding: var(----header--padding);
        }

        > .select-body {
            overflow: auto;
            border-width: var(----body--border-width);
            border-style: var(----body--border-style);
            border-color: var(----body--border-color);
            background-color: var(----body--background);
            padding: var(----body--padding);
            max-height: var(----max-height);

            .select-option {
                color: var(----option--color);
                border-color: var(----option--border-color);
                padding: var(----option--padding);
                background: var(----option--background);
                border-radius: var(----option--border-radius);

                mark {
                    padding-left: 0;
                    padding-right: 0;
                }

                &:not(.-disabled, .-plaintext) {
                    &:hover,
                    &:focus {
                        ----option--color: var(----option--color--hover);
                        ----option--background: var(----option--background--hover);
                    }
                }

                &.-disabled {
                    ----option--color: var(----option--color--disabled);
                    ----option--background: var(----option--background--disabled);
                }

                &.-active {
                    ----option--color: var(----option--color--active);
                    ----option--background: var(----option--background--active);
                }
            }

            .select-divider {
                background-color: var(----divider--border-color);
            }

            .select-no-results {
                text-align: center;
            }
        }

        > .select-footer {
            border-width: var(----footer--border-width);
            border-style: var(----footer--border-style);
            border-color: var(----footer--border-color);
            background-color: var(----footer--background);
            padding: var(----footer--padding);
        }

        > *:nth-child(2) {
            border-top-left-radius: var(----border-top-left-radius);
            border-top-right-radius: var(----border-top-right-radius);
        }

        > *:last-child {
            border-bottom-left-radius: var(----border-bottom-left-radius);
            border-bottom-right-radius: var(----border-bottom-right-radius);
        }

        @include popup-arrow-color-variant-for-side('top', (
            'background': var(----body--background),
            'border-color': var(----body--border-bottom-color)
        ));

        @include popup-arrow-color-variant-for-side('bottom', (
            'background': var(----body--background),
            'border-color': var(----border-top-color)
        ));

        @include popup-arrow-color-variant-for-side('left', (
            'background': var(----body--background),
            'border-color': var(----border-right-color)
        ));

        @include popup-arrow-color-variant-for-side('right', (
            'background': var(----body--background),
            'border-color': var(----border-left-color)
        ));
    }

    .input-wrapper {
        * + .select-caret {
            margin-left: spacing();
        }

        .input-suffix > .select-caret {
            cursor: pointer;
            mask-image: url($ink-caret-down);
            mask-position: center center;
            mask-repeat: no-repeat;
            background-color: var(----color);
            height: var(----font-size);
            width: var(----font-size);
            mask-size: var(----font-size) var(----font-size);
        }
    }
}
