////
/// Variables
////

/// The font weight of the select component
/// @name font-weight
$select-font-weight: font-weight('normal') !default;

/// The line height of the select component
/// @name line-height
$select-line-height: var(--line-height) !default;

/// The border width of the select component
/// @name border-width
$select-border-width: var(--border-width) !default;

/// The margin of the select component
/// @name margin
$select-margin: spacing('1/2') !default;

/// The z-index of the select component
/// @name z-index
$select-z-index: 2000 !default;

/// The minimum width of the select component
/// @name min-width
$select-min-width: 240px !default;

/// The maximum width of the select component
/// @name max-width
$select-max-width: 90vw !default;

/// The margin of the select component divider
/// @name divider-margin
$select-divider-margin: spacing('1/2') !default;

/// The border radius of the select component
/// @name border-radius
/// @type size
$select-border-radius: border-radius() !default;

/// The font size of the select component
/// @name font-size
/// @type size
$select-font-size: font-size() !default;

/// The padding of the select component items
/// @name padding
/// @type size
$select-padding: spacing() !default;

/// The padding of the select component popover body
/// @name body-padding
/// @type size
$select-body-padding: spacing() !default;

/// The padding of the select component popover header
/// @name header-padding
/// @type size
$select-header-padding: spacing() !default;

/// The padding of the select component popover footer
/// @name footer-padding
/// @type size
$select-footer-padding: spacing() !default;

////
/// Sizes
////

////
/// Small size
////

/// The border radius of the select component
/// @name border-radius
/// @group sm
/// @type size
$select-size-variant-sm-border-radius: calc(var(--select-border-radius) * #{size-multiplier('sm')}) !default;

/// The font size of the select component
/// @name font-size
/// @group sm
/// @type size
$select-size-variant-sm-font-size: calc(var(--select-font-size) * #{size-multiplier('sm')}) !default;

/// The padding of the select component items
/// @name padding
/// @group sm
/// @type size
$select-size-variant-sm-padding: calc(var(--select-padding) * #{size-multiplier('sm')} / 2) calc(var(--select-padding) * #{size-multiplier('sm')}) !default;

/// The padding of the select component popover body
/// @name body-padding
/// @group sm
/// @type size
$select-size-variant-sm-body-padding: calc(var(--select-body-padding) * #{size-multiplier('sm')}) 0 !default;

/// The padding of the select component popover header
/// @name header-padding
/// @group sm
/// @type size
$select-size-variant-sm-header-padding: calc(var(--select-header-padding) * #{size-multiplier('sm')}) !default;

/// The padding of the select component popover footer
/// @name footer-padding
/// @group sm
/// @type size
$select-size-variant-sm-footer-padding: calc(var(--select-footer-padding) * #{size-multiplier('sm')}) !default;

/// Map for sm size
/// @group sm
$select-size-variant-sm: (
    'border-radius': $select-size-variant-sm-border-radius,
    'font-size': $select-size-variant-sm-font-size,
    'padding': $select-size-variant-sm-padding,
    'body-padding': $select-size-variant-sm-body-padding,
    'header-padding': $select-size-variant-sm-header-padding,
    'footer-padding': $select-size-variant-sm-footer-padding
) !default;

////
/// Medium size
////

/// The border radius of the select component
/// @name border-radius
/// @group md
/// @type size
$select-size-variant-md-border-radius: calc(var(--select-border-radius) * #{size-multiplier('md')}) !default;

/// The font size of the select component
/// @name font-size
/// @group md
/// @type size
$select-size-variant-md-font-size: calc(var(--select-font-size) * #{size-multiplier('md')}) !default;

/// The padding of the select component items
/// @name padding
/// @group md
/// @type size
$select-size-variant-md-padding: calc(var(--select-padding) * #{size-multiplier('md')} / 2) calc(var(--select-padding) * #{size-multiplier('md')}) !default;

/// The padding of the select component popover body
/// @name body-padding
/// @group md
/// @type size
$select-size-variant-md-body-padding: calc(var(--select-body-padding) * #{size-multiplier('md')}) 0 !default;

/// The padding of the select component popover header
/// @name header-padding
/// @group md
/// @type size
$select-size-variant-md-header-padding: calc(var(--select-header-padding) * #{size-multiplier('md')}) !default;

/// The padding of the select component popover footer
/// @name footer-padding
/// @group md
/// @type size
$select-size-variant-md-footer-padding: calc(var(--select-footer-padding) * #{size-multiplier('md')}) !default;

/// Map for md size
/// @group md
$select-size-variant-md: (
    'border-radius': $select-size-variant-md-border-radius,
    'font-size': $select-size-variant-md-font-size,
    'padding': $select-size-variant-md-padding,
    'body-padding': $select-size-variant-md-body-padding,
    'header-padding': $select-size-variant-md-header-padding,
    'footer-padding': $select-size-variant-md-footer-padding
) !default;

////
/// Large size
////

/// The border radius of the select component
/// @name border-radius
/// @group lg
/// @type size
$select-size-variant-lg-border-radius: calc(var(--select-border-radius) * #{size-multiplier('lg')}) !default;

/// The font size of the select component
/// @name font-size
/// @group lg
/// @type size
$select-size-variant-lg-font-size: calc(var(--select-font-size) * #{size-multiplier('lg')}) !default;

/// The padding of the select component items
/// @name padding
/// @group lg
/// @type size
$select-size-variant-lg-padding: calc(var(--select-padding) * #{size-multiplier('lg')} / 2) calc(var(--select-padding) * #{size-multiplier('lg')}) !default;

/// The padding of the select component popover body
/// @name body-padding
/// @group lg
/// @type size
$select-size-variant-lg-body-padding: calc(var(--select-body-padding) * #{size-multiplier('lg')}) 0 !default;

/// The padding of the select component popover header
/// @name header-padding
/// @group lg
/// @type size
$select-size-variant-lg-header-padding: calc(var(--select-header-padding) * #{size-multiplier('lg')}) !default;

/// The padding of the select component popover footer
/// @name footer-padding
/// @group lg
/// @type size
$select-size-variant-lg-footer-padding: calc(var(--select-footer-padding) * #{size-multiplier('lg')}) !default;

/// Map for lg size
/// @group lg
$select-size-variant-lg: (
    'border-radius': $select-size-variant-lg-border-radius,
    'font-size': $select-size-variant-lg-font-size,
    'padding': $select-size-variant-lg-padding,
    'body-padding': $select-size-variant-lg-body-padding,
    'header-padding': $select-size-variant-lg-header-padding,
    'footer-padding': $select-size-variant-lg-footer-padding
) !default;

/// Sizes group map
$select-size-variants: (
    'sm': $select-size-variant-sm,
    'md': $select-size-variant-md,
    'lg': $select-size-variant-lg
) !default;

////
/// Colors
////

////
/// Light color
////

/// The color of the select component item
/// @name color
/// @group light
/// @type color
$select-color-variant-light-color: contrast-color($color-white) !default;

/// The color of the select component item when hovered or focused
/// @name color-hover
/// @group light
/// @type color
$select-color-variant-light-color-hover: var(--select-color-variant-light-color) !default;

/// The color of the select component item when active
/// @name color-active
/// @group light
/// @type color
$select-color-variant-light-color-active: var(--select-color-variant-light-color) !default;

/// The color of the select component item when disabled
/// @name color-disabled
/// @group light
/// @type color
$select-color-variant-light-color-disabled: color('light-65') !default;

/// The background of the select component
/// @name background
/// @group light
/// @type color
$select-color-variant-light-background: color('white') !default;

/// The background of the select component when hovered or focused
/// @name background-hover
/// @group light
/// @type color
$select-color-variant-light-background-hover: color('light-25') !default;

/// The background of the select component when active
/// @name background-active
/// @group light
/// @type color
$select-color-variant-light-background-active: color('light-25') !default;

/// The background of the select component when disabled
/// @name background-disabled
/// @group light
/// @type color
$select-color-variant-light-background-disabled: transparent !default;

/// The border-color of the select component
/// @name border-color
/// @group light
/// @type color
$select-color-variant-light-border-color: color('light') !default;

/// The background of the select component header
/// @name header-background
/// @group light
/// @type color
$select-color-variant-light-header-background: color('gray-05') !default;

/// The background of the select component footer
/// @name footer-background
/// @group light
/// @type color
$select-color-variant-light-footer-background: color('gray-05') !default;

/// Map for light color
/// @group light
$select-color-variant-light: (
    'color': $select-color-variant-light-color,
    'color-hover': $select-color-variant-light-color-hover,
    'color-active': $select-color-variant-light-color-active,
    'color-disabled': $select-color-variant-light-color-disabled,
    'background': $select-color-variant-light-background,
    'background-hover': $select-color-variant-light-background-hover,
    'background-active': $select-color-variant-light-background-active,
    'background-disabled': $select-color-variant-light-background-disabled,
    'border-color': $select-color-variant-light-border-color,
    'header-background': $select-color-variant-light-header-background,
    'footer-background': $select-color-variant-light-footer-background
) !default;

////
/// Dark color
////

/// The color of the select component item
/// @name color
/// @group dark
/// @type color
$select-color-variant-dark-color: contrast-color($color-dark) !default;

/// The color of the select component item when hovered or focused
/// @name color-hover
/// @group dark
/// @type color
$select-color-variant-dark-color-hover: var(--select-color-variant-dark-color) !default;

/// The color of the select component item when active
/// @name color-active
/// @group dark
/// @type color
$select-color-variant-dark-color-active: var(--select-color-variant-dark-color) !default;

/// The color of the select component item when disabled
/// @name color-disabled
/// @group dark
/// @type color
$select-color-variant-dark-color-disabled: color('dark-25') !default;

/// The background of the select component
/// @name background
/// @group dark
/// @type color
$select-color-variant-dark-background: color('dark') !default;

/// The background of the select component when hovered or focused
/// @name background-hover
/// @group dark
/// @type color
$select-color-variant-dark-background-hover: color('dark-45') !default;

/// The background of the select component when active
/// @name background-active
/// @group dark
/// @type color
$select-color-variant-dark-background-active: color('dark-45') !default;

/// The background of the select component when disabled
/// @name background-disabled
/// @group dark
/// @type color
$select-color-variant-dark-background-disabled: transparent !default;

/// The border-color of the select component
/// @name border-color
/// @group dark
/// @type color
$select-color-variant-dark-border-color: color('dark-60') !default;

/// The background of the select component header
/// @name header-background
/// @group dark
/// @type color
$select-color-variant-dark-header-background: color('dark-55') !default;

/// The background of the select component footer
/// @name footer-background
/// @group dark
/// @type color
$select-color-variant-dark-footer-background: color('dark-55') !default;

/// Map for dark color
/// @group dark
$select-color-variant-dark: (
    'color': $select-color-variant-dark-color,
    'color-hover': $select-color-variant-dark-color-hover,
    'color-active': $select-color-variant-dark-color-active,
    'color-disabled': $select-color-variant-dark-color-disabled,
    'background': $select-color-variant-dark-background,
    'background-hover': $select-color-variant-dark-background-hover,
    'background-active': $select-color-variant-dark-background-active,
    'background-disabled': $select-color-variant-dark-background-disabled,
    'border-color': $select-color-variant-dark-border-color,
    'header-background': $select-color-variant-dark-header-background,
    'footer-background': $select-color-variant-dark-footer-background
) !default;

/// Colors group map
$select-color-variants: (
    'light': $select-color-variant-light,
    'dark': $select-color-variant-dark
) !default;
