/**
 * Color variants
 */

.progress-bar {
    &.-primary {
        --progress-bar--color: var(
            --progress-bar--primary--color,
            var(--contrast-text--color-primary)
        );
        --progress-bar--background: var(--progress-bar--primary--background, var(--color-primary));
    }

    &.-secondary {
        --progress-bar--color: var(
            --progress-bar--secondary--color,
            var(--contrast-text--color-secondary)
        );
        --progress-bar--background: var(
            --progress-bar--secondary--background,
            var(--color-secondary)
        );
    }

    &.-light {
        --progress-bar--color: var(--progress-bar--light--color, var(--contrast-text--color-light));
        --progress-bar--background: var(--progress-bar--light--background, var(--color-white));
    }

    &.-dark {
        --progress-bar--color: var(--progress-bar--dark--color, var(--contrast-text--color-dark));
        --progress-bar--background: var(--progress-bar--dark--background, var(--color-dark));
    }

    &.-info {
        --progress-bar--color: var(--progress-bar--info--color, var(--contrast-text--color-info));
        --progress-bar--background: var(--progress-bar--info--background, var(--color-info));
    }

    &.-success {
        --progress-bar--color: var(
            --progress-bar--success--color,
            var(--contrast-text--color-success)
        );
        --progress-bar--background: var(--progress-bar--success--background, var(--color-success));
    }

    &.-warning {
        --progress-bar--color: var(
            --progress-bar--warning--color,
            var(--contrast-text--color-warning)
        );
        --progress-bar--background: var(--progress-bar--warning--background, var(--color-warning));
    }

    &.-danger {
        --progress-bar--color: var(
            --progress-bar--danger--color,
            var(--contrast-text--color-danger)
        );
        --progress-bar--background: var(--progress-bar--danger--background, var(--color-danger));
    }
}
