@use '../../../css/mixins/components';

/**
 * Progress bar
 */

@layer components {
    .progress-bar {
        @include components.background('progress-bar');
        @include components.color('progress-bar');

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        height: 100%;
    }
}
