@import '../../css/config'
@import '../../css/mixins'
@import 'css/_variables'

/**
 * Media
 */
.media
    position: relative
    display: flex
    flex-direction: column

    > .body
        flex: 1 1 auto

        > .title,
        > .h1, > h1,
        > .h2, > h2,
        > .h3, > h3,
        > .h4, > h4,
        > .h5, > h5,
        > .h6, > h6
            &:first-child
                margin-top: 0

    > img
    > .image
        margin-right: --media-image-margin-right
