//
// Tabs variants
//
@each $variant-name, $variant in variants('tabs') {
    .tabs.-#{$variant-name} {
        border-color: variant-color-by-luminance($variant, lighten-lightness($variant, 5%), darken-lightness($variant, 5%));
    }
}
