//
// Variables
//
--navbar-padding-sm := --spacers['1'] * --size-percentages['sm'] 0
--navbar-padding-md := --spacers['1'] * --size-percentages['md'] 0
--navbar-padding-lg := --spacers['1'] * --size-percentages['lg'] 0
--navbar-padding := {
    'sm': --navbar-padding-sm
    'md': --navbar-padding-md
    'lg': --navbar-padding-lg
}

--navbar-brand-margin := --spacer
--navbar-brand-font-size := --font-size-lg

//
// Variants
//
--navbar-variants := (brand monochrome)

--variants['navbar'] = -add-variant(--navbar-variants, { color: --color-groups })
