//
// Navbar Variables
//
--navbar-padding-base := --spacers['1/2'] 0
--navbar-padding := -size-map(--navbar-padding-base, --sizes, --size-multipliers)

--navbar-brand-margin := --spacer
--navbar-brand-font-size := --font-size-lg

--navbar-brand-padding-base := --spacers['1/2'] 0
--navbar-brand-padding := -size-map(--navbar-brand-padding-base, --sizes, --size-multipliers)

--navbar-hamburger-bar-width := 30px
--navbar-hamburger-bar-height := 3px
--navbar-hamburger-bar-border-radius := 2px
--navbar-hamburger-bar-spacing := 5px
--navbar-hamburger-bar-color := #000
--navbar-hamburger-padding := --spacer / 2
--navbar-hamburger-opacity := 0.7
--navbar-hamburger-hover-opacity := 1

//
// Variants
//
--navbar-variants := (brand monochrome)

--variants['navbar'] = -add-variant(--navbar-variants, { color: --color-groups })
