//
// Navbar Variables
//
--navbar-padding-sm := --spacers['1/2'] * --size-percentages['sm'] 0
--navbar-padding-md := --spacers['1/2'] * --size-percentages['md'] 0
--navbar-padding-lg := --spacers['1/2'] * --size-percentages['lg'] 0
--navbar-padding := {
    'sm': --navbar-padding-sm
    'md': --navbar-padding-md
    'lg': --navbar-padding-lg
}

--navbar-brand-margin := --spacer
--navbar-brand-font-size := --font-size-lg

--navbar-brand-padding-sm := --spacers['1/2'] * --size-percentages['sm'] 0
--navbar-brand-padding-md := --spacers['1/2'] * --size-percentages['md'] 0
--navbar-brand-padding-lg := --spacers['1/2'] * --size-percentages['lg'] 0
--navbar-brand-padding := {
    'sm': --navbar-brand-padding-sm
    'md': --navbar-brand-padding-md
    'lg': --navbar-brand-padding-lg
}

--navbar-hamburger-bar-width := 30px
--navbar-hamburger-bar-height := 3px
--navbar-hamburger-bar-border-radius := 2px
--navbar-hamburger-bar-spacing := 5px
--navbar-hamburger-bar-color := #000
--navbar-hamburger-padding := --spacer / 2
--navbar-hamburger-opacity := 0.7
--navbar-hamburger-hover-opacity := 1

//
// Variants
//
--navbar-variants := (brand monochrome)

--variants['navbar'] = -add-variant(--navbar-variants, { color: --color-groups })
