/**
 * Checkable Buttons
 */

.checkable-button-group {
    &.-default {
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        background: var(--checkable-button-group--background);
        border-style: var(
            --checkable-button-group--border-style,
            var(--checkable-button-group--border-top-style, var(--border-top-style))
                var(--checkable-button-group--border-right-style, var(--border-right-style))
                var(--checkable-button-group--border-bottom-style, var(--border-bottom-style))
                var(--checkable-button-group--border-left-style, var(--border-left-style))
        );
        border-width: var(
            --checkable-button-group--border-width,
            var(--checkable-button-group--border-top-width, var(--border-top-width))
                var(--checkable-button-group--border-right-width, var(--border-right-width))
                var(--checkable-button-group--border-bottom-width, var(--border-bottom-width))
                var(--checkable-button-group--border-left-width, var(--border-left-width))
        );
        border-color: var(
            --checkable-button-group--border-color,
            var(--checkable-button-group--border-top-color, var(--border-top-color))
                var(--checkable-button-group--border-right-color, var(--border-right-color))
                var(--checkable-button-group--border-bottom-color, var(--border-bottom-color))
                var(--checkable-button-group--border-left-color, var(--border-left-color))
        );
        border-radius: var(
            --checkable-button-group--border-radius,
            var(--checkable-button-group--border-top-left-radius, var(--border-top-left-radius))
                var(
                    --checkable-button-group--border-top-right-radius,
                    var(--border-top-right-radius)
                )
                var(
                    --checkable-button-group--border-bottom-right-radius,
                    var(--border-bottom-right-radius)
                )
                var(
                    --checkable-button-group--border-bottom-left-radius,
                    var(--border-bottom-left-radius)
                )
        );
        box-shadow: var(
            --checkable-button-group--box-shadow,
            var(--checkable-button-group--box-shadow-x-offset, var(--box-shadow-offset-x))
                var(--checkable-button-group--box-shadow-y-offset, var(--box-shadow-offset-y))
                var(--checkable-button-group--box-shadow-blur-radius, var(--box-shadow-blur-radius))
                var(
                    --checkable-button-group--box-shadow-spread-radius,
                    var(--box-shadow-spread-radius)
                )
                var(--checkable-button-group--box-shadow-color, var(--box-shadow-color))
        );
        padding: var(
            --checkable-button-group--padding,
            var(--checkable-button-group--padding-top, var(--padding-top-1-2))
                var(--checkable-button-group--padding-right, var(--padding-right-1-2))
                var(--checkable-button-group--padding-bottom, var(--padding-bottom-1-2))
                var(--checkable-button-group--padding-left, var(--padding-left-1-2))
        );

        transition-property: var(
            --checkable-button-group--transition-property,
            (background-color, border-color)
        );
        transition-duration: var(
            --checkable-button-group--transition-duration,
            var(--transition-duration)
        );
        transition-timing-function: var(
            --checkable-button-group--transition-timing-function,
            var(--transition-timing-function)
        );

        > .button {
            margin-right: var(--checkable-button-group--gap, var(--margin-right-1-2));

            &:not(:disabled):not(:hover):not(:focus):not(.-disabled).-active {
                background: var(
                    --checkable-button-group--button--active--background,
                    var(--button--background)
                );
            }

            &:not(.-active) {
                background: var(
                    --checkable-button-group--button--background,
                    transparent
                ) !important;
                border-color: var(--checkable-button-group--button--border-color, transparent);
                box-shadow: var(--checkable-button-group--button--box-shadow, none);

                &:not(.-disabled) {
                    &:hover,
                    &:focus {
                        border-top-color: var(--button--border-top-color);
                        border-right-color: var(--button--border-top-color);
                        border-bottom-color: var(--button--border-top-color);
                        border-left-color: var(--button--border-top-color);
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
