.icon {
    overflow: visible;
    font-size: var(--icon--font-size);
}

.icon.-sm {
    --icon--font-size: var(--icon--font-size);
}

.icon.-md {
    --icon--font-size: var(--icon--font-size);
}

.icon.-lg {
    --icon--font-size: var(--icon--font-size);
}
