:root {
    --fluid--min-width: 320;
    --fluid--max-width: 1440;
    --fluid--screen: 100vw;
    --fluid--breakpoint: calc((var(--fluid--screen) - var(--fluid--min-width) / 16 * 1rem) / (var(--fluid--max-width) - var(--fluid--min-width)));
    --scale-minor-second: 1.067;
    --scale-major-second: 1.125;
    --scale-minor-third: 1.2;
    --scale-major-third: 1.25;
    --scale-perfect-fourth: 1.333;
    --scale-augmented-fourth: 1.414;
    --scale-perfect-fifth: 1.5;
    --scale-golden: 1.618;
    --scale: var(--scale-minor-third);
    --scale-pow-minus-2: calc(var(--scale) / var(--scale) / var(--scale));
    --scale-pow-minus-1: calc(var(--scale) / var(--scale));
    --scale-pow-1: calc(var(--scale) * 1);
    --scale-pow-2: calc(var(--scale) * var(--scale));
    --scale-pow-3: calc(var(--scale) * var(--scale) * var(--scale));
    --scale-pow-4: calc(var(--scale) * var(--scale) * var(--scale) * var(--scale));
    --scale-pow-5: calc(var(--scale) * var(--scale) * var(--scale) * var(--scale) * var(--scale));
    --type-scale-min: var(--scale-minor-third);
    --type-scale-max: var(--scale-perfect-fourth);
    --type-scale-min-pow-minus-2: calc(var(--type-scale-min) / var(--type-scale-min) / var(--type-scale-min));
    --type-scale-min-pow-minus-1: calc(var(--type-scale-min) / var(--type-scale-min));
    --type-scale-min-pow-1: calc(var(--type-scale-min) * 1);
    --type-scale-min-pow-2: calc(var(--type-scale-min) * var(--type-scale-min));
    --type-scale-min-pow-3: calc(var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min));
    --type-scale-min-pow-4: calc(var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min));
    --type-scale-min-pow-5: calc(var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min) * var(--type-scale-min));
    --type-scale-max-pow-minus-2: calc(var(--type-scale-max) / var(--type-scale-max) / var(--type-scale-max));
    --type-scale-max-pow-minus-1: calc(var(--type-scale-max) / var(--type-scale-max));
    --type-scale-max-pow-1: calc(var(--type-scale-max) * 1);
    --type-scale-max-pow-2: calc(var(--type-scale-max) * var(--type-scale-max));
    --type-scale-max-pow-3: calc(var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max));
    --type-scale-max-pow-4: calc(var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max));
    --type-scale-max-pow-5: calc(var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max) * var(--type-scale-max));
    --font-size-min: 17;
    --font-size-max: 20;
    --font-size-xs: calc((var(--font-size-min) * var(--type-scale-min-pow-minus-2) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-minus-2) - var(--font-size-min) * var(--type-scale-min-pow-minus-2)) * var(--fluid--breakpoint));
    --font-size-sm: calc((var(--font-size-min) * var(--type-scale-min-pow-minus-1) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-minus-1) - var(--font-size-min) * var(--type-scale-min-pow-minus-1)) * var(--fluid--breakpoint));
    --font-size-md: calc((var(--font-size-min) / 16 * 1rem) + (var(--font-size-max) - var(--font-size-min)) * var(--fluid--breakpoint));
    --font-size-lg: calc((var(--font-size-min) * var(--type-scale-min-pow-1) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-1) - var(--font-size-min) * var(--type-scale-min-pow-1)) * var(--fluid--breakpoint));
    --font-size-xl: calc((var(--font-size-min) * var(--type-scale-min-pow-2) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-2) - var(--font-size-min) * var(--type-scale-min-pow-2)) * var(--fluid--breakpoint));
    --font-size-2xl: calc((var(--font-size-min) * var(--type-scale-min-pow-3) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-3) - var(--font-size-min) * var(--type-scale-min-pow-3)) * var(--fluid--breakpoint));
    --font-size-3xl: calc((var(--font-size-min) * var(--type-scale-min-pow-4) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-4) - var(--font-size-min) * var(--type-scale-min-pow-4)) * var(--fluid--breakpoint));
    --font-size-4xl: calc((var(--font-size-min) * var(--type-scale-min-pow-5) / 16 * 1rem) + (var(--font-size-max) * var(--type-scale-max-pow-5) - var(--font-size-min) * var(--type-scale-min-pow-5)) * var(--fluid--breakpoint));
    --font-size: var(--font-size-md);
    --icon--font-size: var(--font-size);
    --size-multiplier: 1;
    --size-multiplier-xxs: calc(var(--size-multiplier) / var(--scale-pow-3));
    --size-multiplier-xs: calc(var(--size-multiplier) / var(--scale-pow-2));
    --size-multiplier-sm: calc(var(--size-multiplier) / var(--scale-pow-1));
    --size-multiplier-md: var(--size-multiplier);
    --size-multiplier-lg: calc(var(--size-multiplier) * var(--scale-pow-1));
    --size-multiplier-xl: calc(var(--size-multiplier) * var(--scale-pow-2));
    --size-multiplier-xxl: calc(var(--size-multiplier) * var(--scale-pow-3));
    --icon--sm--font-size: calc(var(--icon--font-size) * var(--size-multiplier-sm));
    --icon--md--font-size: calc(var(--icon--font-size) * var(--size-multiplier-md));
    --icon--lg--font-size: calc(var(--icon--font-size) * var(--size-multiplier-lg));
}
