/**
 * Nav Item
 */
.nav .nav-item {
    display: block;
    margin-bottom: 0;
    transition-property: var(--nav--transition-property, background-color, border-color, color);
    transition-timing-function: var(
        --nav--transition-timing-function,
        var(--transition-timing-function)
    );
    transition-duration: var(--nav--transition-duration, var(--transition-duration));
    padding: var(
        --nav--padding,
        (
            var(--nav--padding-top, var(--padding-top))
                var(--nav--padding-right, var(--padding-right))
                var(--nav--padding-bottom, var(--padding-bottom))
                var(--nav--padding-left, var(--padding-left))
        )
    );
    color: var(--nav--color);
    font-size: var(--nav--font-size, var(--font-size));

    &:hover,
    &:focus {
        text-decoration: none;
        outline: 0;
    }

    &.-disabled {
        pointer-events: none;
        cursor: default;
        color: var(--nav--disabled--color);
    }

    &.-active {
        color: var(--nav--active--color);
        font-weight: bold;
    }

    &[to],
    &[href] {
        cursor: pointer;
    }
}
