@import '../src/css/global/preview';
@import '../src/components/IAlert/css/preview';
@import '../src/components/IBadge/css/preview';
@import '../src/components/IButton/css/preview';
@import '../src/components/IButtonGroup/css/preview';
@import '../src/components/ICard/css/preview';
@import '../src/components/ICard/css/preview';
@import '../src/components/IContainer/css/preview';
@import '../src/components/ICollapsible/css/preview';
@import '../src/components/IDropdown/css/preview';
@import '../src/components/IHamburgerMenu/css/preview';
@import '../src/components/IHeader/css/preview';
@import '../src/components/IInput/css/preview';
@import '../src/components/ILayout/css/preview';
@import '../src/components/IListGroup/css/preview';
@import '../src/components/INav/css/preview';
@import '../src/components/INavbar/css/preview';
@import '../src/components/IPagination/css/preview';
@import '../src/components/IPopover/css/preview';
@import '../src/components/IProgress/css/preview';
@import '../src/components/ISelect/css/preview';
@import '../src/components/ISidebar/css/preview';
@import '../src/components/ITable/css/preview';
@import '../src/components/ITabs/css/preview';
@import '../src/components/IToast/css/preview';
@import '../src/components/ITooltip/css/preview';
@import '../src/css/preview';

#root {
    min-height: calc(100vh - 2rem);
}

.storybook-example {
    @extend %layout-local-preview;

    @extend %border-utilities-preview;
    @extend %color-utilities-preview;
    @extend %flex-utilities-preview;
    @extend %spacing-utilities-preview;
    @extend %sizing-utilities-preview;

    > hr {
        margin-bottom: var(--margin-bottom-2);
    }
}

#root,
.storybook-example {
    @extend %alert-preview;
    @extend %badge-preview;
    @extend %button-preview;
    @extend %button-group-preview;
    @extend %card-preview;
    @extend %collapsible-preview;
    @extend %dropdown-preview;
    @extend %hamburger-menu-preview;
    @extend %header-preview;
    @extend %grid-preview;
    @extend %input-preview;
    @extend %layout-preview;
    @extend %list-group-preview;
    @extend %nav-preview;
    @extend %navbar-preview;
    @extend %pagination-preview;
    @extend %popover-preview;
    @extend %progress-preview;
    @extend %select-preview;
    @extend %tooltip-preview;
    @extend %sidebar-preview;
    @extend %table-preview;
    @extend %tabs-preview;
    @extend %toast-preview;
}
