-size-map(--base-size, --multiplier-keys = --sizes, --multipliers = --size-multipliers)
    --size-map = {}

    for --multiplier-key in --multiplier-keys
        if length(--base-size) === 1
            --size-map[--multiplier-key] = --base-size * --size-multipliers[--multiplier-key]
        else if length(--base-size) === 2
            --size-map[--multiplier-key] = --base-size[0] * --size-multipliers[--multiplier-key] --base-size[1] * --size-multipliers[--multiplier-key]
        else if length(--base-size) === 3
            --size-map[--multiplier-key] = --base-size[0] * --size-multipliers[--multiplier-key] --base-size[1] * --size-multipliers[--multiplier-key] --base-size[2] * --size-multipliers[--multiplier-key]
        else if length(--base-size) === 4
            --size-map[--multiplier-key] = --base-size[0] * --size-multipliers[--multiplier-key] --base-size[1] * --size-multipliers[--multiplier-key] --base-size[2] * --size-multipliers[--multiplier-key] --base-size[3] * --size-multipliers[--multiplier-key]

    return --size-map
