@layer base {
  :root {
    --mark--padding-top: 0.1875rem;
    --mark--padding-right: 0.1875rem;
    --mark--padding-bottom: 0.1875rem;
    --mark--padding-left: 0.1875rem;
    --mark--background--h: var(--color-yellow-100--h);
    --mark--background--s: var(--color-yellow-100--s);
    --mark--background--l: var(--color-yellow-100--l);
    --mark--background--a: var(--color-yellow-100--a);
  }
}
