@mixin list-group-color-variant($color-variant-key) {
    $_color: var(--list-group-color-variant-#{$color-variant-key}-color);
    $_color-disabled: var(--list-group-color-variant-#{$color-variant-key}-color-disabled);
    $_color-active: var(--list-group-color-variant-#{$color-variant-key}-color-active);
    $_background: var(--list-group-color-variant-#{$color-variant-key}-background);
    $_background-active: var(--list-group-color-variant-#{$color-variant-key}-background-active);
    $_border-color: var(--list-group-color-variant-#{$color-variant-key}-border-color);
    $_border-color-active: var(--list-group-color-variant-#{$color-variant-key}-border-color-active);

    background-color: $_background;
    color: $_color;

    &.-border {
        border-color: $_border-color;
    }

    > .list-group-item {
        border-bottom-color: $_border-color;

        &.-disabled {
            color: $_color-disabled;
        }

        &.-active {
            color: $_color-active;
            background: $_background-active;
            border-bottom-color: $_border-color-active;
        }
    }
}
