/**
 * Color variants
 */

.list-group {
                        &.-light {
                                        --list-group--background: var(--list-group--white--background, var(--color-white));
                                        --list-group--background--active: var(--list-group--primary--background--active, var(--color-primary));
                                        --list-group--border-top-color: var(--list-group--light--border-top-color, var(--color-light));
                                        --list-group--border-right-color: var(--list-group--light--border-right-color, var(--color-light));
                                        --list-group--border-bottom-color: var(--list-group--light--border-bottom-color, var(--color-light));
                                        --list-group--border-left-color: var(--list-group--light--border-left-color, var(--color-light));
                                        --list-group--border-color--active: var(--list-group--primary--border-color--active, var(--color-primary-550));
                                        --list-group--color: var(--list-group--light--color, var(--contrast-text--color-light));
                                        --list-group--color--active: var(--list-group--primary--color--active, var(--contrast-text--color-primary));
                                        --list-group--color--disabled: var(--list-group--color--disabled, #{var(--text-muted)});
    }
                        &.-dark {
                                        --list-group--background: var(--list-group--dark--background, var(--color-dark));
                                        --list-group--background--active: var(--list-group--primary--background--active, var(--color-primary));
                                        --list-group--border-top-color: var(--list-group--dark--border-top-color, var(--color-dark-600));
                                        --list-group--border-right-color: var(--list-group--dark--border-right-color, var(--color-dark-600));
                                        --list-group--border-bottom-color: var(--list-group--dark--border-bottom-color, var(--color-dark-600));
                                        --list-group--border-left-color: var(--list-group--dark--border-left-color, var(--color-dark-600));
                                        --list-group--border-color--active: var(--list-group--primary--border-color--active, var(--color-primary-550));
                                        --list-group--color: var(--list-group--dark--color, var(--contrast-text--color-dark));
                                        --list-group--color--active: var(--list-group--primary--color--active, var(--contrast-text--color-primary));
                                        --list-group--color--disabled: var(--list-group--color--disabled, #{var(--text-muted)});
    }
}
