////
/// The background of the list group component
/// @name list-group--background
/// @type color
////
    
////
/// The background of the list group component when active
/// @name list-group--background--active
/// @type color
////
    
////
/// The border top color of the list group component
/// @name list-group--border-top-color
/// @type color
////
    
////
/// The border right color of the list group component
/// @name list-group--border-right-color
/// @type color
////
    
////
/// The border bottom color of the list group component
/// @name list-group--border-bottom-color
/// @type color
////
    
////
/// The border left color of the list group component
/// @name list-group--border-left-color
/// @type color
////
    
////
/// The border color of the list group component
/// @name list-group--border-color
////
    
////
/// The border-color of the list group component
/// @name list-group--border-color--active
/// @type color
////
    
////
/// The border style of the list group component
/// @name list-group--border-style
////
    
////
/// The border top width of the list group component
/// @name list-group--border-top-width
////
    
////
/// The border right width of the list group component
/// @name list-group--border-right-width
////
    
////
/// The border bottom width of the list group component
/// @name list-group--border-bottom-width
////
    
////
/// The border left width of the list group component
/// @name list-group--border-left-width
////
    
////
/// The border width of the list group component
/// @name list-group--border-width
////
    
////
/// The border top left radius of the list group component
/// @name list-group--border-top-left-radius
/// @type size
////
    
////
/// The border top right radius of the list group component
/// @name list-group--border-top-right-radius
/// @type size
////
    
////
/// The border bottom right radius of the list group component
/// @name list-group--border-bottom-right-radius
/// @type size
////
    
////
/// The border bottom left radius of the list group component
/// @name list-group--border-bottom-left-radius
/// @type size
////
    
////
/// The border radius of the list group component
/// @name list-group--border-radius
////
    
////
/// The color of the list group component item
/// @name list-group--color
/// @type color
////
    
////
/// The color of the list group component item when active
/// @name list-group--color--active
/// @type color
////
    
////
/// The color of the list group component item when disabled
/// @name list-group--color--disabled
/// @type color
////
    
////
/// The font size of the list group component
/// @name list-group--font-size
/// @type size
////
    
////
/// The padding top of the list group component
/// @name list-group--padding-top
/// @type size
////
    
////
/// The padding right of the list group component
/// @name list-group--padding-right
/// @type size
////
    
////
/// The padding bottom of the list group component
/// @name list-group--padding-bottom
/// @type size
////
    
////
/// The padding left of the list group component
/// @name list-group--padding-left
/// @type size
////
    
////
/// The padding of the list group component
/// @name list-group--padding
////
    

/**
 * List Group
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/colors';
@import 'css/sizes';

.list-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition-property: background-color, border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-easing);
    background-color: var(----background);
    color: var(----color);
    font-size: var(----font-size);
    border-radius: var(----border-radius);

    &.-border {
        border-width: var(----border-width);
        border-style: var(----border-style);
        border-color: var(----border-color);
    }
}
