//
// Hamburger Variables
//
$hamburger-menu-bar-width: 30px !default;
$hamburger-menu-bar-height: 3px !default;
$hamburger-menu-bar-border-radius: 2px !default;
$hamburger-menu-bar-spacing: 5px !default;
$hamburger-menu-bar-color: #000000 !default;
$hamburger-menu-padding: $spacer / 2 !default;
$hamburger-menu-opacity: 0.7 !default;
$hamburger-menu-hover-opacity: 1 !default;

//
// Variants
//
$hamburger-menu-color-for-light-variant: $color-for-light-variant !default;
$hamburger-menu-color-for-dark-variant: $color-for-dark-variant !default;

$hamburger-menu-variant-light: hamburger-menu-variant($color-dark) !default;
$hamburger-menu-variant-dark: hamburger-menu-variant($color-light) !default;

$hamburger-menu-variants: (
    light: $hamburger-menu-variant-light,
    dark: $hamburger-menu-variant-dark
) !default;
