//
// Popover sizes
//
for --size in --sizes
    .popover.-{--size}
        border-radius: --popover-border-radius[--size]
        font-size: --popover-font-size[--size]

        > .header
        > .body
        > .footer
            padding: --popover-padding[--size]
