//
// Popover sizes
//
@each $size in $sizes {
    .popover.-#{$size} {
        $_border-radius: map_get($popover-border-radius, $size);
        $_font-size: map_get($popover-font-size, $size);
        $_padding: map_get($popover-padding, $size);

        border-radius: $_border-radius;
        font-size: $_font-size;

        > .header,
        > .body,
        > .footer {
            padding: $_padding;
        }
    }
}
