//
// Dropdown variants
// Add the required color variants to all card variations
//
for --variant-name, --variant in --variants['dropdown']
    .dropdown-menu.-{--variant-name} > .item
    .dropdown-menu.-{--variant-name} > .dropdown > .item
        color: -text-color-by-luminance(--variant['color'], --variant-color-light, --variant-color-dark)

        &[href]
        &[to]
            &:hover
            &:focus
                background: -text-color-by-luminance(--variant['color'], darken(--variant['color'], 12%), darken(--variant['color'], 4%))

            &.-active
            &:active
                background: -text-color-by-luminance(--variant['color'], darken(--variant['color'], 24%), darken(--variant['color'], 8%))

        &.-disabled,
        &:disabled
            color: -text-color-by-luminance(--variant['color'], darken(--variant-color-light, 40%), lighten(--variant-color-dark, 40%))

        &.-divider::before
            background-color: -text-color-by-luminance(--variant['color'], lighten(--variant['color'], 12%), darken(--variant['color'], 8%))
