//
// Tooltip variants
//
@each $variant-name, $variant in variants('tooltip') {
    .tooltip.-#{$variant-name} {
        color: variant-color-by-luminance($variant, $variant-color-light, $variant-color-dark);
        background-color: $variant;
        border-color: darken-lightness($variant, 10%);

        @include popup-arrow-variant(('background': $variant, 'border-color': darken-lightness($variant, 10%)));
    }
}
