//
// Dropdown Divider variants
// Add the required color variants to all card variations
//
@mixin dropdown-divider-color-variant($variant-color) {
    background-color: variant-color-by-luminance($variant-color, lighten-lightness($variant-color, 10%), darken-lightness($variant-color, 10%));
}

@each $variant-name, $variant in variants('dropdown') {
    .dropdown > .menu.-#{$variant-name} > .divider {
        @include dropdown-divider-color-variant($variant);
    }
}
