//
// Select Option variants
//
@mixin select-option-color-variant($color-variant) {
    color: variant-color-by-luminance($color-variant, $select-dropdown-variant-color-light, $select-dropdown-variant-color-dark);

    &:hover,
    &:focus {
        background: variant-color-by-luminance($color-variant, darken-lightness($color-variant, 12%), darken-lightness($color-variant, 4%));
    }

    &.-active,
    &:active {
        background: variant-color-by-luminance($color-variant, darken-lightness($color-variant, 24%), darken-lightness($color-variant, 8%));
    }

    &.-disabled,
    &:disabled {
        color: variant-color-by-luminance($color-variant, darken-lightness($select-dropdown-variant-color-light, 40%), lighten-lightness($select-dropdown-variant-color-dark, 40%));
    }
}

@each $variant-name, $variant in variants('select') {
    .select > .menu.-#{$variant-name} > .option {
        @include select-option-color-variant($variant);
    }
}
