<i-container>
    <i-row>
        <i-column xs="1" offset="11"></i-column>
    </i-row>
    <i-row>
        <i-column xs="2" offset="10"></i-column>
    </i-row>
    <i-row>
        <i-column xs="3" offset="9"></i-column>
    </i-row>
    <i-row>
        <i-column xs="4" offset="8"></i-column>
    </i-row>
    <i-row>
        <i-column xs="5" offset="7"></i-column>
    </i-row>
    <i-row>
        <i-column xs="6" offset="6"></i-column>
    </i-row>
    <i-row>
        <i-column xs="7" offset="5"></i-column>
    </i-row>
    <i-row>
        <i-column xs="8" offset="4"></i-column>
    </i-row>
    <i-row>
        <i-column xs="9" offset="3"></i-column>
    </i-row>
    <i-row>
        <i-column xs="10" offset="2"></i-column>
    </i-row>
    <i-row>
        <i-column xs="11" offset="1"></i-column>
    </i-row>
</i-container>
