@mixin collapsible-size-variant($size-variant-key) {
    $_border-radius: var(--collapsible-size-variant-#{$size-variant-key}-border-radius);
    $_font-size: var(--collapsible-size-variant-#{$size-variant-key}-font-size);
    $_padding: var(--collapsible-size-variant-#{$size-variant-key}-padding);

    border-radius: $_border-radius;
    font-size: $_font-size;

    > .collapsible-item {
        &:last-child > .body {
            border-bottom-left-radius: $_border-radius;
            border-bottom-right-radius: $_border-radius;
        }

        > .header,
        > .body > .content {
            padding: $_padding;
        }
    }
}
