@media screen and (min-width: 1440px) {
    :root {
        --fluid--screen: calc(var(--fluid--max-width) * 1px);
    }
}

a {
    color: var(--a--color, var(--color-primary--500));
    text-decoration: var(--a--text-decoration);
}

a:hover {
    color: var(--a--hover--color, var(--color-primary--600));
    text-decoration: var(--a--hover--text-decoration);
}

a:not([href], [class], [to]), a:not([href], [class], [to]):hover {
    color: inherit;
    text-decoration: none;
}

abbr[title] {
    cursor: help;
    text-decoration-skip-ink: none;
}

address {
    margin: var(--address--margin, var(--address--margin-top) var(--address--margin-right) var(--address--margin-bottom) var(--address--margin-left));
    font-style: normal;
    line-height: inherit;
}

body {
    color: var(--body--color, var(--text-color));
    background-color: var(--body--background, var(--color-white));
    font-size: var(--body--font-size);
    font-family: var(--body--font-family);
    line-height: var(--body--line-height);
    letter-spacing: var(--body--letter-spacing);
    text-align: var(--body--text-align);
    transition: var(--body--transition);
    text-size-adjust: 100%;
}

caption {
    text-align: left;
    padding: var(--caption--padding, var(--caption--padding-top) var(--caption--padding-right) var(--caption--padding-bottom) var(--caption--padding-left));
    color: var(--caption--color, var(--text-color--weaker));
}

code {
    color: var(--code--color, var(--color-pink));
    font-size: var(--code--font-size);
    font-family: var(--code--font-family);
    word-wrap: break-word;
}

a > code {
    color: inherit;
}

dl {
    margin: var(--dl--margin-bottom, var(--spacing));
}

dl dt {
    font-weight: var(--dl--dt--font-weight);
}

dl dd {
    margin: var(--dl--dd--margin-bottom, var(--spacing--xs));
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: var(--heading--margin, var(--heading--margin-top) var(--heading--margin-right) var(--heading--margin-bottom) var(--heading--margin-left));
    font-family: var(--heading--font-family);
    font-style: var(--heading--font-style);
    font-weight: var(--heading--font-weight);
    color: inherit;
    line-height: var(--heading--line-height);
}

h6, .h6 {
    font-size: var(--h6--font-size);
}

h5, .h5 {
    font-size: var(--h5--font-size);
}

h4, .h4 {
    font-size: var(--h4--font-size);
}

h3, .h3 {
    font-size: var(--h3--font-size);
}

h2, .h2 {
    font-size: var(--h2--font-size);
}

h1, .h1 {
    font-size: var(--h1--font-size);
}

hr {
    border-top-color: var(--hr--border-top-color);
    border-right-color: var(--hr--border-right-color);
    border-bottom-color: var(--hr--border-bottom-color);
    border-left-color: var(--hr--border-left-color);
    border-style: var(--hr--border-style, var(--hr--border-top-style) var(--hr--border-right-style) var(--hr--border-bottom-style) var(--hr--border-left-style));
    border-width: var(--hr--border-width, var(--hr--border-top-width) var(--hr--border-right-width) var(--hr--border-bottom-width) var(--hr--border-left-width));
    margin: var(--hr--margin, var(--hr--margin-top) var(--hr--margin-right) var(--hr--margin-bottom) var(--hr--margin-left));
}

iframe {
    border: 0;
}

img, svg {
    vertical-align: middle;
}

kbd {
    font-size: var(--kbd--font-size);
    font-family: var(--kbd--font-family);
    padding: var(--kbd--padding, var(--kbd--padding-top) var(--kbd--padding-right) var(--kbd--padding-bottom) var(--kbd--padding-left));
    color: var(--kbd--color, var(--contrast-text-color-dark));
    background: var(--kbd--background, var(--color-dark));
    border-radius: var(--kbd--border-radius, var(--kbd--border-top-left-radius) var(--kbd--border-top-right-radius) var(--kbd--border-bottom-right-radius) var(--kbd--border-bottom-left-radius));
    display: inline-block;
}

kbd > kbd {
    padding: 0;
}

legend {
    float: left;
    width: 100%;
    padding: 0;
    margin: var(--legend--margin, var(--legend--margin-top) var(--legend--margin-right) var(--legend--margin-bottom) var(--legend--margin-left));
    font-size: var(--legend--font-size);
    line-height: inherit;
}

legend + * {
    clear: left;
}

mark {
    padding: var(--mark--padding, var(--mark--padding-top) var(--mark--padding-right) var(--mark--padding-bottom) var(--mark--padding-left));
    background: var(--mark--background, var(--color-yellow));
}

ol {
    margin: var(--ol--margin, var(--ol--margin-top) var(--ol--margin-right) var(--ol--margin-bottom) var(--ol--margin-left));
    padding: var(--ol--padding, var(--ol--padding-top) var(--ol--padding-right) var(--ol--padding-bottom) var(--ol--padding-left));
}

ol ul, ol ol {
    margin-bottom: 0;
}

output {
    display: inline-block;
}

p {
    margin: var(--p--margin, var(--p--margin-top) var(--p--margin-right) var(--p--margin-bottom) var(--p--margin-left));
}

pre {
    font-size: var(--pre--font-size);
    font-family: var(--pre--font-family);
    margin: var(--pre--margin, var(--pre--margin-top) var(--pre--margin-right) var(--pre--margin-bottom) var(--pre--margin-left));
    display: block;
    margin-top: 0;
    overflow: auto;
}

pre > code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
    background: transparent;
    padding: 0;
}

samp {
    font-family: var(--samp--font-family);
}

summary {
    cursor: pointer;
}

ul {
    margin: var(--ul--margin, var(--ul--margin-top) var(--ul--margin-right) var(--ul--margin-bottom) var(--ul--margin-left));
    padding: var(--ul--padding, var(--ul--padding-top) var(--ul--padding-right) var(--ul--padding-bottom) var(--ul--padding-left));
}

ul ol, ul ul {
    margin-bottom: 0;
}

.expand-enter-active, .expand-leave-active {
    transition-property: var(--expand-transition-property);
    transition-duration: var(--expand-transition-duration);
    transition-timing-function: var(--expand-transition-timing-function);
    overflow: hidden;
}

.expand-enter-from, .expand-leave-to {
    height: 0;
}

.fade-in-transition-enter-active, .fade-in-transition-leave-active {
    transition-property: var(--fade-in-transition-property);
    transition-duration: var(--fade-in-transition-duration);
    transition-timing-function: var(--fade-in-transition-timing-function);
}

.fade-in-transition-enter-from, .fade-in-transition-leave-active {
    opacity: 0;
}

.fade-in-linear-transition-enter-active, .fade-in-linear-transition-leave-active {
    transition-property: var(--fade-in-linear-transition-property);
    transition-duration: var(--fade-in-linear-transition-duration);
    transition-timing-function: var(--fade-in-linear-transition-timing-function);
}

.fade-in-linear-transition-enter-from, .fade-in-linear-transition-leave-from, .fade-in-linear-transition-leave-active {
    opacity: 0;
}

.slide-in-right-transition-enter-active, .slide-in-right-transition-leave-active {
    transition-property: var(--slide-in-right-transition-property);
    transition-duration: var(--slide-in-right-transition-duration);
    transition-timing-function: var(--slide-in-right-transition-timing-function);
    transform-origin: left;
}

.slide-in-right-transition-enter-from, .slide-in-right-transition-leave-to {
    transform: translateX(-100%);
}

.slide-in-right-transition-enter-to, .slide-in-right-transition-leave-from {
    transform: translateX(0);
}

.zoom-in-center-transition-enter-active, .zoom-in-center-transition-leave-active {
    transition-property: var(--zoom-in-center-transition-property);
    transition-duration: var(--zoom-in-center-transition-duration);
    transition-timing-function: var(--zoom-in-center-transition-timing-function);
    opacity: 1;
    transform-origin: center center;
}

.zoom-in-center-transition-enter-from, .zoom-in-center-transition-leave-active {
    opacity: 0;
    transform: scale(0, 0);
}

.zoom-in-top-transition-enter-active, .zoom-in-top-transition-leave-active {
    transition-property: var(--zoom-in-top-transition-property);
    transition-duration: var(--zoom-in-top-transition-duration);
    transition-timing-function: var(--zoom-in-top-transition-timing-function);
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center top;
}

.zoom-in-top-transition-enter-from, .zoom-in-top-transition-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

.zoom-in-right-transition-enter-active, .zoom-in-right-transition-leave-active {
    transition-property: var(--zoom-in-right-transition-property);
    transition-duration: var(--zoom-in-right-transition-duration);
    transition-timing-function: var(--zoom-in-right-transition-timing-function);
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top right;
}

.zoom-in-right-transition-enter-from, .zoom-in-right-transition-leave-active {
    opacity: 0;
    transform: scale(0.45, 0.45);
}

.zoom-in-bottom-transition-enter-active, .zoom-in-bottom-transition-leave-active {
    transition-property: var(--zoom-in-bottom-transition-property);
    transition-duration: var(--zoom-in-bottom-transition-duration);
    transition-timing-function: var(--zoom-in-bottom-transition-timing-function);
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center bottom;
}

.zoom-in-bottom-transition-enter-from, .zoom-in-bottom-transition-leave-active {
    opacity: 0;
    transform: scaleY(0);
}

.zoom-in-left-transition-enter-active, .zoom-in-left-transition-leave-active {
    transition-property: var(--zoom-in-left-transition-property);
    transition-duration: var(--zoom-in-left-transition-duration);
    transition-timing-function: var(--zoom-in-left-transition-timing-function);
    opacity: 1;
    transform: scale(1, 1);
    transform-origin: top left;
}

.zoom-in-left-transition-enter-from, .zoom-in-left-transition-leave-active {
    opacity: 0;
    transform: scale(0.45, 0.45);
}

.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.alert-content {
    flex-grow: 1;
}

.alert-icon {
    display: inline-flex;
    align-items: center;
}

.alert-dismiss {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.alert a {
    color: inherit;
    font-weight: 600;
}

.alert-content *:first-child {
    margin-top: 0;
}

.alert-content *:last-child {
    margin-bottom: 0;
}

.alert code {
    background: hsla(0, 0%, 0%, 0.05);
}
