/**
 * Tables
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/colors';

// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.
//
.table-wrapper {
    display: block;
    position: relative;

    &.-responsive {
        @each $breakpoint-key, $breakpoint-value in $breakpoints {
            $infix: breakpoint-infix($breakpoint-key);

            &#{$infix} {
                @include breakpoint-down($breakpoint-key) {
                    display: block;
                    width: 100%;
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;

                    // Prevent double border on horizontal scroll due to use of `display: block`
                    .table {
                        &.-border {
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: var(----margin-bottom);
        border-top-color: var(----border-color);
        color: var(----color);

        th,
        td {
            padding: var(----padding);
            vertical-align: top;
            border-top-style: var(----border-style);
            border-top-color: var(----border-color);
            border-top-width: var(----border-top-width);
            background-color: var(----background);
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--transition-easing);
            transition-property: color, background-color, border;
        }

        thead th {
            vertical-align: bottom;
            border-bottom-width: calc(2 * var(----border-bottom-width));
        }

        tbody + tbody {
            border-top: calc(2 * var(----border-top-width)) solid transparent;
        }

        th,
        td,
        tbody + tbody {
            border-top-color: var(----border-color);
        }
    }

    // Condensed table w/ half padding
    //
    &.-condensed .table {
        th,
        td {
            ----padding: var(----padding--condensed);
        }
    }

    // Border version
    //
    // Add borders all around the table and between all the columns.
    //
    &.-border .table {
        border-style: var(----border-style);
        border-color: var(----border-color);
        border-width: var(----border-width);

        th,
        td {
            border-style: var(----border-style);
            border-color: var(----border-color);
            border-width: var(----border-width);
        }
    }

    // No wrap
    //
    // Set table cell white-space to nowrap
    //
    &.-nowrap .table {
        th,
        td {
            white-space: nowrap;
        }
    }

    // Striped Table
    //
    // Default zebra-stripe styles (alternating gray and transparent backgrounds)
    //
    &.-striped .table {
        > tr:nth-of-type(odd),
        tbody > tr:nth-of-type(odd) {
            th,
            td {
                ----background: var(----background--striped);
            }
        }
    }

    // Hover table
    //
    // Placed here since it has to come after the potential zebra striping
    //
    &.-hover .table {
        tbody tr {
            th,
            td {
                transition: background-color var(--transition-duration) ease;
            }

            &:hover {
                th,
                td {
                    ----background: var(----background--hover);
                }
            }
        }
    }
}
