.dark-theme {
    /**
     * Code variables
     */
    --code--background: var(--color-dark-shade-50);

    /**
     * Body variables
     */
    --body--background: var(--color-gray-800);
    --body--color: var(--color-gray-100);
}