@import '../../css/variables';
@import '../../css/mixins';
@import 'css/_variables';
@import 'css/_css';
@import 'css/_sizes';
@import 'css/_colors';

/**
 * Checkbox
 */
.toggle {
    position: relative;
    margin-bottom: 0;
    display: inline-block;

    > input {
        opacity: 0;
        width: 0;
        height: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;

        &:disabled + .toggle-label,
        &[readonly] + .toggle-label {
            cursor: default;
        }
    }

    .toggle-label {
        display: flex;
        align-items: center;
        position: relative;
        margin: 0;

        &::before {
            content: "";
            position: relative;
            display: inline-block;
            cursor: pointer;
            transition: var(--toggle-transition-duration);
            border-width: var(--border-width);
            border-style: solid;
            margin-right: var(--toggle-indicator-margin-right);
            flex-shrink: 0;
            flex-grow: 0;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            top: 50%;
            left: 0;
            z-index: 1;
            transform: translate(0, 0);
            transition: var(--toggle-transition-duration);
        }
    }

    @include toggle-size-variant('md');
    @each $size-variant-key, $toggle-size-variant-value in $toggle-size-variants {
        .form.-#{$size-variant-key} &,
        .form-group.-#{$size-variant-key} &,
        &.-#{$size-variant-key} {
            @include toggle-size-variant($size-variant-key);
        }
    }

    @include toggle-color-variant('light');
    @each $color-variant-key, $color-variant-value in $toggle-color-variants {
        .form.-#{$color-variant-key} &,
        .form-group.-#{$color-variant-key} &,
        &.-#{$color-variant-key} {
            @include toggle-color-variant($color-variant-key);
        }
    }
}
