/**
 * Headings
 */

@for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
        margin-top: var(--h#{$i}--margin-top, var(--heading--margin-top, 0));
        margin-bottom: var(
            --h#{$i}--margin-bottom,
            var(--heading--margin-bottom, var(--margin-bottom-sm))
        );
        font-family: var(
            --h#{$i}--font-family,
            var(--heading--font-family, var(--font-family-base-secondary))
        );
        font-style: var(--h#{$i}--font-style, var(--heading--font-style, normal));
        font-weight: var(
            --h#{$i}--font-weight,
            var(--heading--font-weight, var(--font-weight-semibold))
        );
        line-height: var(--h#{$i}--line-height, var(--heading--line-height, 1.2));
        color: var(--h#{$i}--color, var(--heading--color, inherit));
    }
}

h1,
.h1 {
    font-size: var(--h1--font-size, (calc(var(--font-size) * var(--scale-ratio-pow-5))));
}

h2,
.h2 {
    font-size: var(--h2--font-size, (calc(var(--font-size) * var(--scale-ratio-pow-4))));
}

h3,
.h3 {
    font-size: var(--h3--font-size, (calc(var(--font-size) * var(--scale-ratio-pow-3))));
}

h4,
.h4 {
    font-size: var(--h4--font-size, (calc(var(--font-size) * var(--scale-ratio-pow-2))));
}

h5,
.h5 {
    font-size: var(--h5--font-size, (calc(var(--font-size) * var(--scale-ratio-pow-1))));
}

h6,
.h6 {
    font-size: var(--h6--font-size, var(--font-size));
}
