/**
 * Paragraphs
 */

p {
    margin-top: var(--p--margin-top, 0);
    margin-bottom: var(--p--margin-bottom, var(--margin-bottom));
}

.lead {
    font-size: var(--lead--font-size, var(--font-size-lg));
    font-weight: var(--lead--font-weight, var(--font-weight-light));
}

.initialism {
    font-size: var(--initialism--font-size, 90%);
    text-transform: var(--initialism--text-transform, uppercase);
}
