/**
 * Table
 */

@use '../mixins/components';

table {
    caption-side: bottom;
    border-collapse: collapse;
}

caption {
    @include components.padding('caption');
    @include components.color('caption');

    text-align: left;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

thead,
tbody,
tfoot,
tr,
td,
th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
