@import '../../css/config/index';

.expand-enter-active,
.expand-leave-active {
    transition: height $transition-duration $transition-easing;
    overflow: hidden;
}

.expand-enter,
.expand-leave-to {
    height: 0;
}

* {
    will-change: height;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
}
