.expand-enter-active,
.expand-leave-active
    transition: height 0.3s ease-in-out
    overflow: hidden

.expand-enter,
.expand-leave-to
    height: 0

*
    will-change: height
    transform: translateZ(0)
    backface-visibility: hidden
    perspective: 1000px
