//
// Modal Variables
//

--modal-font-size := --font-size
--modal-font-weight := --font-weight['normal']
--modal-line-height := --line-height

--modal-margin := --spacers['1']

--modal-width-base := 480px
--modal-width := -size-map(--modal-width-base, --sizes, --size-multipliers)

--modal-border-width := --border-width
--modal-border-radius := --border-radius
--modal-border-color := --colors['gray-30']

--modal-background := --colors['white']
--modal-overlay-background := rgba(0, 0, 0, 0.75)

--modal-padding-base := --spacers['1']
--modal-padding := -size-map(--modal-padding-base, --sizes, --size-multipliers)

//
// Variants
//
--modal-variants := (brand monochrome state)

--variants['modal'] = -add-variant(--modal-variants, { color: --color-groups })
