/**
 * Colors
 */


// Background
//
for $color-name, $color in $themes['background']
    $color-gradient = colorize($color)
    $color-flat = colorize($color, false)

    ._background-{$color-name}
        background-color: $color-flat !important
        background-image: $color-gradient !important
        color: contrastColor($color-flat, $colors['white'], $colors['gray-80'])

._background-transparent
  background-color: transparent !important


// Text
//
for $color-name, $color in $themes['text']
    $color-flat = colorize($color, false)

    ._text-{$color-name}
        color: $color-flat !important
