/**
 * Sizing
 */


for $size, $length in $sizes
  ._width-{$size}
    width: $length !important


  ._max-width-{$size}
    max-width: $length !important


  ._height-{$size}
    height: $length !important


  ._max-height-{$size}
    max-height: $length !important
