/**
 * Nav
 */
@import '../../css/config/index';
@import '../../css/mixins/index';
@import 'css/_mixins';
@import 'css/_variables';
@import 'css/_sizes';
@import 'css/_variants';

.pagination {
    display: flex;
    max-width: 100%;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    > .item {
        display: inline-flex;
        border-width: $pagination-item-border-width;
        border-style: solid;
        margin: 0 $pagination-item-spacing;
        text-align: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

        &.-active {
            color: $pagination-item-color-active;
            font-weight: bold;

            &:hover,
            &:focus {
                background-color: $pagination-item-background-active;
            }
        }

        &.-disabled {
            cursor: default;
        }
    }

    @extend .pagination.-md;
    @extend .pagination.-light;
}
