/**
 * Nav
 */
@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/sizes';
@import 'css/colors';

.pagination {
    display: flex;
    max-width: 100%;
    font-size: var(----font-size);

    .pagination-items {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        align-items: center;
    }

    .pagination-item {
        display: inline-flex;
        border-color: var(----border-color);
        border-width: var(----border-width);
        border-style: var(----border-style);
        border-radius: var(----border-radius);
        box-shadow: var(----box-shadow);
        padding: var(----padding);
        min-width: var(----min-width);
        color: var(----color);
        background-color: var(----background);
        margin: var(----margin);
        text-align: center;
        justify-content: center;
        cursor: pointer;
        transition-property: background, color, border;
        transition-timing-function: var(--transition-easing);
        transition-duration: var(--transition-duration);

        &:hover:not(.-disabled),
        &:focus:not(.-disabled) {
            ----background: var(----background--hover);
        }

        &.-active {
            ----background: var(----background--active);
            ----border-color: var(----border-color--active);
            ----color: var(----color--active);

            font-weight: bold;

            &:hover,
            &:focus {
                ----background: var(----background--active);
            }
        }

        &.-disabled {
            cursor: default;
            opacity: var(----opacity--disabled);
        }

        &.-quick-next,
        &.-quick-previous {
            &.-disabled {
                ----border-color: var(----background);

                opacity: var(----opacity--disabled);
            }
        }
    }
}
