//
// Progress Variables
//
--progress-background := --colors['gray-30']
--progress-border-radius := --border-radius

--progress-height-sm := --spacers['1/2'] * --size-percentages['sm']
--progress-height-md := --spacers['1/2'] * --size-percentages['md']
--progress-height-lg := --spacers['1/2'] * --size-percentages['lg']
--progress-height := {
    'sm': --progress-height-sm
    'md': --progress-height-md
    'lg': --progress-height-lg
}

//
// Variants
//
--progress-variants := (monochrome)

--variants['progress'] = -add-variant(--progress-variants, { color: --color-groups })
