//
// Progress Variables
//
--progress-background := --colors['gray-30']
--progress-border-radius := --border-radius

--progress-height-base := --spacers['1/2']
--progress-height := -size-map(--progress-height-base, --sizes, --size-multipliers)

//
// Variants
//
--progress-variants := (monochrome)

--variants['progress'] = -add-variant(--progress-variants, { color: --color-groups })
