@import '../../css/variables';
@import '../../css/mixins';
@import 'css/variables';
@import 'css/css';
@import 'css/colors';
@import 'css/sizes';

.tabs {
    position: relative;
    display: block;

    > .tabs-header {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        border-width: var(--tabs-border-width);
        border-style: solid;
        margin-bottom: var(--tabs-header-margin-bottom);
        overflow: auto;
    }

    @include tabs-size-variant('md');
    @each $size-variant-key, $tabs-size-variant-value in $tabs-size-variants {
        &.-#{$size-variant-key} {
            @include tabs-size-variant($size-variant-key);
        }
    }

    @include tabs-color-variant('light');
    @each $color-variant-key, $color-variant-value in $tabs-color-variants {
        &.-#{$color-variant-key} {
            @include tabs-color-variant($color-variant-key);
        }
    }
}
