@import '../../../../css/variables';
@import '../../../../css/mixins';
@import 'css/variables';

/**
 * Form Label
 */

.form-label {
    position: relative;
    flex-basis: 100%;
    transition: color var(--transition-easing) var(--transition-duration);
    font-size: var(----font-size);
    margin-bottom: var(----margin-bottom);

    &.-right {
        margin-right: 0;
        order: 1;
    }

    &.-error > .form-label {
        color: var(--color-danger);
    }

    &.-inline > .form-label {
        margin-right: var(----margin-right);

        &.-right {
            margin-left: var(----margin-left);
        }
    }

    &.-required > .form-label {
        &::after {
            color: var(--color-danger);
            content: ' *';
        }
    }
}
