@import '../../../../css/variables';
@import '../../../../css/mixins';
@import 'css/variables';
@import 'css/sizes';

/**
 * Form Label
 */

.form-label {
    position: relative;
    flex-basis: 100%;
    transition: color var(--transition-easing) var(--transition-duration);
    font-size: var(----font-size);
    margin-top: var(----margin-top);
    margin-bottom: var(----margin-bottom);

    &.-right {
        margin-right: 0;
        order: 1;
    }

    .form-group.-required > & {
        &::after {
            color: color('danger');
            content: ' *';
        }
    }

    .form-group.-error > & {
        color: var(--color-danger);
    }

    .form-group.-inline > & {
        margin-right: var(----margin-right);

        &.-right {
            margin-left: var(----margin-left);
        }
    }
}
