:root {
    @each $size-percentage-key, $size-percentage-value in $size-percentages {
        --size-percentage--#{$size-percentage-key}: #{$size-percentage-value};
    }

    --size-multiplier: #{$size-multiplier};
    @each $size-multiplier-key, $size-multiplier-value in $size-multipliers {
        --size-multiplier--#{$size-multiplier-key}: #{$size-multiplier-value};
    }
}
