//
// Input variables
//
--label-margin-bottom := 0.5rem

--input-line-height := --line-height

--input-padding-sm := --spacers['1/2'] * --size-percentages['sm'] --spacers['1'] * --size-percentages['sm']
--input-padding-md := --spacers['1/2'] --spacers['1']
--input-padding-lg := --spacers['1/2'] * --size-percentages['lg'] --spacers['1'] * --size-percentages['lg']
--input-padding := {
    'sm': --input-padding-sm
    'md': --input-padding-md
    'lg': --input-padding-lg
}

--input-prefix-padding-sm := --input-padding-sm[1] + --input-padding-sm[1] * 3
--input-prefix-padding-md := --input-padding-md[1] + --input-padding-md[1] * 3
--input-prefix-padding-lg := --input-padding-lg[1] + --input-padding-lg[1] * 3
--input-prefix-padding := {
    'sm': --input-prefix-padding-sm
    'md': --input-prefix-padding-md
    'lg': --input-prefix-padding-lg
}

--input-font-size := --font-size

--input-color := --colors['gray-70']
--input-color-focus := --input-color
--input-placeholder-color := --colors['gray-60']
--input-plaintext-color := --body-color
--input-background := --colors['white']
--input-background-disabled := --colors['gray-20']
--input-background-focus := --input-background

--input-border-width := --border-width
--input-border-color := --border-color
--input-border-color-hover := darken(--input-border-color, 10%)
--input-border-color-focus := --colors['primary']
--input-border-radius := --border-radius

--input-box-shadow := inset 0 1px 1px rgba(--colors['black'], 0.05)
--input-transition := border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out

--input-icon-circle-size := 1.2rem
--input-icon-circle-background := --colors['gray-40']
--input-icon-circle-background-hover := --colors['gray-50']

--input-append-prepend-background-color := --colors['gray-30']

--input-select-caret := --icons['caret-down']