<div
    v-bind="$attrs"
    class="radio"
    :class="classes"
    role="radio"
>
    <input
        :checked="checked"
        ref="input"
        type="radio"
        tabindex="-1"
        :name="name"
        :disabled="isDisabled"
        :readonly="isReadonly"
        :indeterminate.prop="indeterminate"
        @change="onChange"
    >
    <label
       class="radio-label"
       :aria-checked="checked"
       :aria-disabled="isDisabled"
       :aria-readonly="isReadonly"
       :tabindex="tabIndex"
       @blur="onBlur"
       @click="clickInputRef"
       @keydown.space.stop.prevent="clickInputRef"
    >
        <slot />
    </label>
</div>
