/**
 * Base
 *
 * Inkline uses Normalize.css 5.0 to make browsers render all elements more
 * consistently and in line with modern standards. It precisely targets only the
 * styles that need normalizing.
 */

/**
 * Document
 *
 * 1. Change from `box-sizing: content-box` so that `width` is not affected by
 *    `padding` or `border`.
 * 2. Change the default font family in all browsers.
 * 3. Correct the line height in all browsers.
 * 4. Prevent adjustments of font size after orientation changes in IE on
 *    Windows Phone and in iOS.
 * 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge,
 *    so we force a non-overlapping, non-auto-hiding scrollbar to counteract.
 * 6. Change the default tap highlight to be completely transparent in iOS.
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: scrollbar;
}

/**
 * Body
 *
 * 1. Remove the margin in all browsers.
 * 2. As a best practice, apply a default `background-color`.
 * 3. Set an explicit initial text-align value so that we can later use the
 *    the `inherit` value on things like `<th>` elements.
 */

body {
    margin: 0;
    color: $body-color;
    background-color: $body-background;
}

// IE10+ doesn't honor `<meta name='viewport'>` in some cases.
//
@at-root {
    @-ms-viewport {
        width: device-width;
    }
}

/**
 * Shim for "new" HTML5 structural elements to display correctly
 * (IE10, older browsers)
 */

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 0 0 1rem;
}

/**
 * Suppress the focus outline on elements that cannot be accessed via keyboard.
 * This prevents an unwanted focus outline from appearing around elements that
 * might still respond to pointer events.
 *
 * Credit: https://github.com/suitcss/base
 */

[tabindex='-1']:focus {
    outline: none !important;
}

/**
 * Content grouping
 *
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/**
 * Links
 */

a {
    color: $link-color;
    text-decoration: $link-decoration;
    -webkit-text-decoration-skip: objects;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
        outline-width: 0;
    }
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        color: inherit;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

/**
 * Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
 *
 * In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
 * DON'T remove the click delay when `<meta name='viewport' content='width=device-width'>` is present.
 * However, they DO support removing the click delay via `touch-action: manipulation`.
 * See:
 * https://getbootstrap.com/docs/4.0/content/reboot/#click-delay-optimization-for-touch
 * http://caniuse.com/#feat=css-touch-action
 * https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
 */

a,
area,
button,
[role='button'],
input:not([type=range]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

/**
 * Abbreviations
 *
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 * 3. Add explicit cursor to indicate changed behavior.
 * 4. Duplicate behavior to the data-* attribute for our tooltip plugin
 */

abbr[title],
abbr[data-original-title] {
    text-decoration: underline dotted;
    -webkit-text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
}

/**
 * Lists
 */

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: $spacer;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: font-weight(bold);
}

dd {
    margin-bottom: spacers('1/2');
    margin-left: 0; // Undo browser default
}

/**
 * Style resets
 */

address {
    margin-bottom: $spacer;
    font-style: normal;
    line-height: inherit;
}

b,
strong {
    font-weight: inherit;
    font-weight: bolder;
}

pre,
code,
kbd,
samp {
    font-family: font-family-primary(monospace);
    font-size: 1rem;
}

dfn {
    font-style: italic;
}

small {
    font-size: 80%;
}

audio,
video {
    display: inline-block;
}

audio {
    &:not([controls]) {
        display: none;
        height: 0;
    }
}

img {
    border-style: none;
    vertical-align: middle;
}

svg {
    &:not(:root) {
        overflow: hidden;
    }
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

output {
    display: inline-block;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

pre {
    margin-top: 0;
    margin-bottom: $spacer;
    overflow: auto;
}

/**
 * Tables
 */

table {
    border-collapse: collapse;
}

caption {
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

/**
 * Forms
 */

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {

    // Remove the default appearance of temporal inputs to avoid a Mobile Safari
    // bug where setting a custom line-height prevents text from being vertically
    // centered within the input.
    // See https://bugs.webkit.org/show_bug.cgi?id=139848
    // and https://github.com/twbs/bootstrap/issues/11266
    -webkit-appearance: listbox;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: none;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: spacers('1/2');
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

label {
    display: inline-block;
    margin-bottom: spacers('1/2');
}

textarea {
    overflow: auto;
    resize: vertical;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
