.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.card {
    box-shadow: var(--card--box-shadow, var(--card--box-shadow-offset-x) var(--card--box-shadow-offset-y) var(--card--box-shadow-blur-radius) var(--card--box-shadow-spread-radius) var(--card--box-shadow-color));
    color: var(--card--color, hsla(var(--card--color-h) var(--card--color-s) var(--card--color-l) / var(--card--color-a)));
    font-size: var(--card--font-size);
}

.card-header, .card-body, .card-footer {
    background: var(--card--background, hsla(var(--card--background-h) var(--card--background-s) var(--card--background-l) / var(--card--background-a)));
    border-style: var(--card--border-style, var(--card--border-top-style) var(--card--border-right-style) var(--card--border-bottom-style) var(--card--border-left-style));
    border-top-color: var(--card--border-top-color, hsla(var(--card--border-top-color-h) var(--card--border-top-color-s) var(--card--border-top-color-l) / var(--card--border-top-color-a)));
    border-right-color: var(--card--border-right-color, hsla(var(--card--border-right-color-h) var(--card--border-right-color-s) var(--card--border-right-color-l) / var(--card--border-right-color-a)));
    border-bottom-color: var(--card--border-bottom-color, hsla(var(--card--border-bottom-color-h) var(--card--border-bottom-color-s) var(--card--border-bottom-color-l) / var(--card--border-bottom-color-a)));
    border-left-color: var(--card--border-left-color, hsla(var(--card--border-left-color-h) var(--card--border-left-color-s) var(--card--border-left-color-l) / var(--card--border-left-color-a)));
    border-width: var(--card--border-width, var(--card--border-top-width) var(--card--border-right-width) var(--card--border-bottom-width) var(--card--border-left-width));
    padding: var(--card--padding, var(--card--padding-top) var(--card--padding-right) var(--card--padding-bottom) var(--card--padding-left));
    transition-property: var(--card--transition-property);
    transition-duration: var(--card--transition-duration);
    transition-timing-function: var(--card--transition-timing-function);
}

.card-header + .card-body {
    border-top: 0;
}

.card-body:has(+ .card-footer) {
    border-bottom: 0;
}

.card > * {
    border-radius: var(--card--border-radius, var(--card--border-top-left-radius) var(--card--border-top-right-radius) var(--card--border-bottom-right-radius) var(--card--border-bottom-left-radius));
}

.card > *:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card > *:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card.-light .card-header, .card.-light .card-body, .card.-light .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-dark .card-header, .card.-dark .card-body, .card.-dark .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-primary .card-header, .card.-primary .card-body, .card.-primary .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-secondary .card-header, .card.-secondary .card-body, .card.-secondary .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-success .card-header, .card.-success .card-body, .card.-success .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-danger .card-header, .card.-danger .card-body, .card.-danger .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-warning .card-header, .card.-warning .card-body, .card.-warning .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-info .card-header, .card.-info .card-body, .card.-info .card-footer {
    --card--border-top-color-h: var(--card--border-top-color-h);
    --card--border-top-color-s: var(--card--border-top-color-s);
    --card--border-top-color-l: var(--card--border-top-color-l);
    --card--border-top-color-a: var(--card--border-top-color-a);
    --card--border-right-color-h: var(--card--border-right-color-h);
    --card--border-right-color-s: var(--card--border-right-color-s);
    --card--border-right-color-l: var(--card--border-right-color-l);
    --card--border-right-color-a: var(--card--border-right-color-a);
    --card--border-bottom-color-h: var(--card--border-bottom-color-h);
    --card--border-bottom-color-s: var(--card--border-bottom-color-s);
    --card--border-bottom-color-l: var(--card--border-bottom-color-l);
    --card--border-bottom-color-a: var(--card--border-bottom-color-a);
    --card--border-left-color-h: var(--card--border-left-color-h);
    --card--border-left-color-s: var(--card--border-left-color-s);
    --card--border-left-color-l: var(--card--border-left-color-l);
    --card--border-left-color-a: var(--card--border-left-color-a);
    --card--background-h: var(--card--background-h);
    --card--background-s: var(--card--background-s);
    --card--background-l: var(--card--background-l);
    --card--background-a: var(--card--background-a);
    --card--color-h: var(--card--color-h);
    --card--color-s: var(--card--color-s);
    --card--color-l: var(--card--color-l);
    --card--color-a: var(--card--color-a);
}

.card.-sm {
    --card--border-top-left-radius: var(--card--border-top-left-radius);
    --card--border-top-right-radius: var(--card--border-top-right-radius);
    --card--border-bottom-right-radius: var(--card--border-bottom-right-radius);
    --card--border-bottom-left-radius: var(--card--border-bottom-left-radius);
    --card--font-size: var(--card--font-size);
    --card--padding-top: var(--card--padding-top);
    --card--padding-right: var(--card--padding-right);
    --card--padding-bottom: var(--card--padding-bottom);
    --card--padding-left: var(--card--padding-left);
}

.card.-md {
    --card--border-top-left-radius: var(--card--border-top-left-radius);
    --card--border-top-right-radius: var(--card--border-top-right-radius);
    --card--border-bottom-right-radius: var(--card--border-bottom-right-radius);
    --card--border-bottom-left-radius: var(--card--border-bottom-left-radius);
    --card--font-size: var(--card--font-size);
    --card--padding-top: var(--card--padding-top);
    --card--padding-right: var(--card--padding-right);
    --card--padding-bottom: var(--card--padding-bottom);
    --card--padding-left: var(--card--padding-left);
}

.card.-lg {
    --card--border-top-left-radius: var(--card--border-top-left-radius);
    --card--border-top-right-radius: var(--card--border-top-right-radius);
    --card--border-bottom-right-radius: var(--card--border-bottom-right-radius);
    --card--border-bottom-left-radius: var(--card--border-bottom-left-radius);
    --card--font-size: var(--card--font-size);
    --card--padding-top: var(--card--padding-top);
    --card--padding-right: var(--card--padding-right);
    --card--padding-bottom: var(--card--padding-bottom);
    --card--padding-left: var(--card--padding-left);
}
