@import '../../css/config/index';
@import '../../css/mixins/index';
@import 'css/_mixins';
@import 'css/_variables';
@import 'css/_sizes';
@import 'css/_variants';

/**
 * Popover
 */
.popover-wrapper {
    display: inline-block;
    position: relative;
}

.popover {
    @include popup((margin: $popover-margin, z-index: 2000));
    @include popup-arrow();
    @include popup-arrow-size();

    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    line-height: $popover-line-height;
    background-clip: padding-box;
    border-width: $popover-border-width;
    border-style: solid;
    display: inline-block;
    white-space: normal;
    width: $popover-width;
    max-width: 90vw;

    > .header {
        border-bottom-width: 1px;
        border-bottom-style: solid;
    }

    > .footer {
        border-top-width: 1px;
        border-top-style: solid;
    }

    @extend .popover.-md;
    @extend .popover.-light;
}
