.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a:hover .badge, a:focus .badge {
    text-decoration: none;
}

.badge {
    border-style: var(--badge--border-style, var(--badge--border-top-style) var(--badge--border-right-style) var(--badge--border-bottom-style) var(--badge--border-left-style));
    border-top-color: var(--badge--border-top-color, hsla(var(--badge--border-top-color-h) var(--badge--border-top-color-s) var(--badge--border-top-color-l) / var(--badge--border-top-color-a)));
    border-right-color: var(--badge--border-right-color, hsla(var(--badge--border-right-color-h) var(--badge--border-right-color-s) var(--badge--border-right-color-l) / var(--badge--border-right-color-a)));
    border-bottom-color: var(--badge--border-bottom-color, hsla(var(--badge--border-bottom-color-h) var(--badge--border-bottom-color-s) var(--badge--border-bottom-color-l) / var(--badge--border-bottom-color-a)));
    border-left-color: var(--badge--border-left-color, hsla(var(--badge--border-left-color-h) var(--badge--border-left-color-s) var(--badge--border-left-color-l) / var(--badge--border-left-color-a)));
    border-width: var(--badge--border-width, var(--badge--border-top-width) var(--badge--border-right-width) var(--badge--border-bottom-width) var(--badge--border-left-width));
    border-radius: var(--badge--border-radius, var(--badge--border-top-left-radius) var(--badge--border-top-right-radius) var(--badge--border-bottom-right-radius) var(--badge--border-bottom-left-radius));
    box-shadow: var(--badge--box-shadow, var(--badge--box-shadow-offset-x) var(--badge--box-shadow-offset-y) var(--badge--box-shadow-blur-radius) var(--badge--box-shadow-spread-radius) var(--badge--box-shadow-color));
    background: var(--badge--background, hsla(var(--badge--background-h) var(--badge--background-s) var(--badge--background-l) / var(--badge--background-a)));
    color: var(--badge--color, var(--contrast-text-color-light));
    font-size: var(--badge--font-size);
    font-weight: var(--badge--font-weight, var(--font-weight-semibold));
    padding: var(--badge--padding, var(--badge--padding-top) var(--badge--padding-right) var(--badge--padding-bottom) var(--badge--padding-left));
    transition: var(--badge--transition, var(--badge--transition-property) var(--badge--transition-duration) var(--badge--transition-timing-function));
}

.badge.-pill {
    --badge--border-radius: var(--badge--pill--border-radius, var(--badge--pill--border-top-left-radius) var(--badge--pill--border-top-right-radius) var(--badge--pill--border-bottom-right-radius) var(--badge--pill--border-bottom-left-radius));
}

.badge.-light {
    --badge--border-top-color-h: var(--badge--light--border-top-color-h);
    --badge--border-top-color-s: var(--badge--light--border-top-color-s);
    --badge--border-top-color-l: var(--badge--light--border-top-color-l);
    --badge--border-top-color-a: var(--badge--light--border-top-color-a);
    --badge--border-right-color-h: var(--badge--light--border-right-color-h);
    --badge--border-right-color-s: var(--badge--light--border-right-color-s);
    --badge--border-right-color-l: var(--badge--light--border-right-color-l);
    --badge--border-right-color-a: var(--badge--light--border-right-color-a);
    --badge--border-bottom-color-h: var(--badge--light--border-bottom-color-h);
    --badge--border-bottom-color-s: var(--badge--light--border-bottom-color-s);
    --badge--border-bottom-color-l: var(--badge--light--border-bottom-color-l);
    --badge--border-bottom-color-a: var(--badge--light--border-bottom-color-a);
    --badge--border-left-color-h: var(--badge--light--border-left-color-h);
    --badge--border-left-color-s: var(--badge--light--border-left-color-s);
    --badge--border-left-color-l: var(--badge--light--border-left-color-l);
    --badge--border-left-color-a: var(--badge--light--border-left-color-a);
    --badge--background-h: var(--badge--light--background-h);
    --badge--background-s: var(--badge--light--background-s);
    --badge--background-l: var(--badge--light--background-l);
    --badge--background-a: var(--badge--light--background-a);
    --badge--color-h: var(--badge--light--color-h);
    --badge--color-s: var(--badge--light--color-s);
    --badge--color-l: var(--badge--light--color-l);
    --badge--color-a: var(--badge--light--color-a);
}

.badge.-dark {
    --badge--border-top-color-h: var(--badge--dark--border-top-color-h);
    --badge--border-top-color-s: var(--badge--dark--border-top-color-s);
    --badge--border-top-color-l: var(--badge--dark--border-top-color-l);
    --badge--border-top-color-a: var(--badge--dark--border-top-color-a);
    --badge--border-right-color-h: var(--badge--dark--border-right-color-h);
    --badge--border-right-color-s: var(--badge--dark--border-right-color-s);
    --badge--border-right-color-l: var(--badge--dark--border-right-color-l);
    --badge--border-right-color-a: var(--badge--dark--border-right-color-a);
    --badge--border-bottom-color-h: var(--badge--dark--border-bottom-color-h);
    --badge--border-bottom-color-s: var(--badge--dark--border-bottom-color-s);
    --badge--border-bottom-color-l: var(--badge--dark--border-bottom-color-l);
    --badge--border-bottom-color-a: var(--badge--dark--border-bottom-color-a);
    --badge--border-left-color-h: var(--badge--dark--border-left-color-h);
    --badge--border-left-color-s: var(--badge--dark--border-left-color-s);
    --badge--border-left-color-l: var(--badge--dark--border-left-color-l);
    --badge--border-left-color-a: var(--badge--dark--border-left-color-a);
    --badge--background-h: var(--badge--dark--background-h);
    --badge--background-s: var(--badge--dark--background-s);
    --badge--background-l: var(--badge--dark--background-l);
    --badge--background-a: var(--badge--dark--background-a);
    --badge--color-h: var(--badge--dark--color-h);
    --badge--color-s: var(--badge--dark--color-s);
    --badge--color-l: var(--badge--dark--color-l);
    --badge--color-a: var(--badge--dark--color-a);
}
