.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a:hover .badge, a:focus .badge {
    text-decoration: none;
}

.badge {
    border-style: var(--badge--border-style, var(--badge--border-top-style) var(--badge--border-right-style) var(--badge--border-bottom-style) var(--badge--border-left-style));
    border-top-color: var(--badge--border-top-color);
    border-right-color: var(--badge--border-right-color);
    border-bottom-color: var(--badge--border-bottom-color);
    border-left-color: var(--badge--border-left-color);
    border-width: var(--badge--border-width, var(--badge--border-top-width) var(--badge--border-right-width) var(--badge--border-bottom-width) var(--badge--border-left-width));
    border-radius: var(--badge--border-radius, var(--badge--border-top-left-radius) var(--badge--border-top-right-radius) var(--badge--border-bottom-right-radius) var(--badge--border-bottom-left-radius));
    box-shadow: var(--badge--box-shadow, var(--badge--box-shadow-offset-x) var(--badge--box-shadow-offset-y) var(--badge--box-shadow-blur-radius) var(--badge--box-shadow-spread-radius) var(--badge--box-shadow-color));
    background: var(--badge--background);
    color: var(--badge--color);
    font-size: var(--badge--font-size);
    font-weight: var(--badge--font-weight, var(--font-weight-semibold));
    padding: var(--badge--padding, var(--badge--padding-top) var(--badge--padding-right) var(--badge--padding-bottom) var(--badge--padding-left));
    transition-property: var(--badge--transition-property);
    transition-duration: var(--badge--transition-duration);
    transition-timing-function: var(--badge--transition-timing-function);
}

.badge.-pill {
    --badge--border-radius: var(--badge--pill--border-radius, var(--badge--pill--border-top-left-radius) var(--badge--pill--border-top-right-radius) var(--badge--pill--border-bottom-right-radius) var(--badge--pill--border-bottom-left-radius));
}

.badge.-light {
    --badge--border-top-color: var(--badge--light--border-top-color);
    --badge--border-right-color: var(--badge--light--border-right-color);
    --badge--border-bottom-color: var(--badge--light--border-bottom-color);
    --badge--border-left-color: var(--badge--light--border-left-color);
    --badge--background: var(--badge--light--background);
    --badge--color: var(--badge--light--color);
}

.badge.-dark {
    --badge--border-top-color: var(--badge--dark--border-top-color);
    --badge--border-right-color: var(--badge--dark--border-right-color);
    --badge--border-bottom-color: var(--badge--dark--border-bottom-color);
    --badge--border-left-color: var(--badge--dark--border-left-color);
    --badge--background: var(--badge--dark--background);
    --badge--color: var(--badge--dark--color);
}

.badge.-primary {
    --badge--border-top-color: var(--badge--primary--border-top-color);
    --badge--border-right-color: var(--badge--primary--border-right-color);
    --badge--border-bottom-color: var(--badge--primary--border-bottom-color);
    --badge--border-left-color: var(--badge--primary--border-left-color);
    --badge--background: var(--badge--primary--background);
    --badge--color: var(--badge--primary--color);
}

.badge.-secondary {
    --badge--border-top-color: var(--badge--secondary--border-top-color);
    --badge--border-right-color: var(--badge--secondary--border-right-color);
    --badge--border-bottom-color: var(--badge--secondary--border-bottom-color);
    --badge--border-left-color: var(--badge--secondary--border-left-color);
    --badge--background: var(--badge--secondary--background);
    --badge--color: var(--badge--secondary--color);
}

.badge.-success {
    --badge--border-top-color: var(--badge--success--border-top-color);
    --badge--border-right-color: var(--badge--success--border-right-color);
    --badge--border-bottom-color: var(--badge--success--border-bottom-color);
    --badge--border-left-color: var(--badge--success--border-left-color);
    --badge--background: var(--badge--success--background);
    --badge--color: var(--badge--success--color);
}

.badge.-danger {
    --badge--border-top-color: var(--badge--danger--border-top-color);
    --badge--border-right-color: var(--badge--danger--border-right-color);
    --badge--border-bottom-color: var(--badge--danger--border-bottom-color);
    --badge--border-left-color: var(--badge--danger--border-left-color);
    --badge--background: var(--badge--danger--background);
    --badge--color: var(--badge--danger--color);
}

.badge.-warning {
    --badge--border-top-color: var(--badge--warning--border-top-color);
    --badge--border-right-color: var(--badge--warning--border-right-color);
    --badge--border-bottom-color: var(--badge--warning--border-bottom-color);
    --badge--border-left-color: var(--badge--warning--border-left-color);
    --badge--background: var(--badge--warning--background);
    --badge--color: var(--badge--warning--color);
}

.badge.-info {
    --badge--border-top-color: var(--badge--info--border-top-color);
    --badge--border-right-color: var(--badge--info--border-right-color);
    --badge--border-bottom-color: var(--badge--info--border-bottom-color);
    --badge--border-left-color: var(--badge--info--border-left-color);
    --badge--background: var(--badge--info--background);
    --badge--color: var(--badge--info--color);
}

.badge.-sm {
    --badge--border-top-left-radius: var(--badge--sm--border-top-left-radius);
    --badge--border-top-right-radius: var(--badge--sm--border-top-right-radius);
    --badge--border-bottom-right-radius: var(--badge--sm--border-bottom-right-radius);
    --badge--border-bottom-left-radius: var(--badge--sm--border-bottom-left-radius);
    --badge--font-size: var(--badge--sm--font-size);
    --badge--padding-top: var(--badge--sm--padding-top);
    --badge--padding-right: var(--badge--sm--padding-right);
    --badge--padding-bottom: var(--badge--sm--padding-bottom);
    --badge--padding-left: var(--badge--sm--padding-left);
}

.badge.-md {
    --badge--border-top-left-radius: var(--badge--md--border-top-left-radius);
    --badge--border-top-right-radius: var(--badge--md--border-top-right-radius);
    --badge--border-bottom-right-radius: var(--badge--md--border-bottom-right-radius);
    --badge--border-bottom-left-radius: var(--badge--md--border-bottom-left-radius);
    --badge--font-size: var(--badge--md--font-size);
    --badge--padding-top: var(--badge--md--padding-top);
    --badge--padding-right: var(--badge--md--padding-right);
    --badge--padding-bottom: var(--badge--md--padding-bottom);
    --badge--padding-left: var(--badge--md--padding-left);
}

.badge.-lg {
    --badge--border-top-left-radius: var(--badge--lg--border-top-left-radius);
    --badge--border-top-right-radius: var(--badge--lg--border-top-right-radius);
    --badge--border-bottom-right-radius: var(--badge--lg--border-bottom-right-radius);
    --badge--border-bottom-left-radius: var(--badge--lg--border-bottom-left-radius);
    --badge--font-size: var(--badge--lg--font-size);
    --badge--padding-top: var(--badge--lg--padding-top);
    --badge--padding-right: var(--badge--lg--padding-right);
    --badge--padding-bottom: var(--badge--lg--padding-bottom);
    --badge--padding-left: var(--badge--lg--padding-left);
}
