.alert {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.alert-content {
    flex: 0 1 100%;
}

.alert-icon {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert-dismiss {
    flex: 0 0 auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.alert {
    border-style: var(--alert--border-style, var(--alert--border-top-style) var(--alert--border-right-style) var(--alert--border-bottom-style) var(--alert--border-left-style));
    border-color: var(--alert--border-color, var(--alert--border-top-color) var(--alert--border-right-color) var(--alert--border-bottom-color) var(--alert--border-left-color));
    border-width: var(--alert--border-width, var(--alert--border-top-width) var(--alert--border-right-width) var(--alert--border-bottom-width) var(--alert--border-left-width));
    border-radius: var(--alert--border-radius, var(--alert--border-top-left-radius) var(--alert--border-top-right-radius) var(--alert--border-bottom-right-radius) var(--alert--border-bottom-left-radius));
    box-shadow: var(--alert--box-shadow, var(--alert--box-shadow-offset-x) var(--alert--box-shadow-offset-y) var(--alert--box-shadow-blur-radius) var(--alert--box-shadow-spread-radius) var(--alert--box-shadow-color));
    background: var(--alert--background, hsla(var(--alert--background-h) var(--alert--background-s) var(--alert--background-l) / var(--alert--background-a)));
    color: var(--alert--color, hsla(var(--alert--color-h) var(--alert--color-s) var(--alert--color-l) / var(--alert--color-a)));
    font-size: var(--alert--font-size);
    transition-property: var(--alert--transition-property, var(--transition-property));
    transition-duration: var(--alert--transition-duration, var(--transition-duration));
    transition-timing-function: var(--alert--transition-timing-function, var(--transition-timing-function));
}

.alert-content {
    padding: var(--alert--padding, var(--alert--padding-top) var(--alert--padding-right) var(--alert--padding-bottom) var(--alert--padding-left));
}

.alert-content *:first-child {
    margin-top: 0;
}

.alert-content *:last-child {
    margin-bottom: 0;
}

.alert-icon {
    margin-left: var(--alert--padding-left);
}

.alert-dismiss {
    margin-right: var(--alert--padding-right);
}

.alert code {
    background: hsla(0, 0%, 0%, 0.05);
}

.alert a {
    color: var(--alert--color, hsla(var(--alert--color-h) var(--alert--color-s) var(--alert--color-l) / var(--alert--color-a)));
    font-weight: var(--alert--link--font-weight);
}

.alert.-info {
    --alert--border-top-color-h: var(--alert--border-top-color-h);
    --alert--border-top-color-s: var(--alert--border-top-color-s);
    --alert--border-top-color-l: var(--alert--border-top-color-l);
    --alert--border-top-color-a: var(--alert--border-top-color-a);
    --alert--border-right-color-h: var(--alert--border-right-color-h);
    --alert--border-right-color-s: var(--alert--border-right-color-s);
    --alert--border-right-color-l: var(--alert--border-right-color-l);
    --alert--border-right-color-a: var(--alert--border-right-color-a);
    --alert--border-bottom-color-h: var(--alert--border-bottom-color-h);
    --alert--border-bottom-color-s: var(--alert--border-bottom-color-s);
    --alert--border-bottom-color-l: var(--alert--border-bottom-color-l);
    --alert--border-bottom-color-a: var(--alert--border-bottom-color-a);
    --alert--border-left-color-h: var(--alert--border-left-color-h);
    --alert--border-left-color-s: var(--alert--border-left-color-s);
    --alert--border-left-color-l: var(--alert--border-left-color-l);
    --alert--border-left-color-a: var(--alert--border-left-color-a);
    --alert--background-h: var(--alert--background-h);
    --alert--background-s: var(--alert--background-s);
    --alert--background-l: var(--alert--background-l);
    --alert--background-a: var(--alert--background-a);
    --alert--color-h: var(--alert--color-h);
    --alert--color-s: var(--alert--color-s);
    --alert--color-l: var(--alert--color-l);
    --alert--color-a: var(--alert--color-a);
}

.alert.-success {
    --alert--border-top-color-h: var(--alert--border-top-color-h);
    --alert--border-top-color-s: var(--alert--border-top-color-s);
    --alert--border-top-color-l: var(--alert--border-top-color-l);
    --alert--border-top-color-a: var(--alert--border-top-color-a);
    --alert--border-right-color-h: var(--alert--border-right-color-h);
    --alert--border-right-color-s: var(--alert--border-right-color-s);
    --alert--border-right-color-l: var(--alert--border-right-color-l);
    --alert--border-right-color-a: var(--alert--border-right-color-a);
    --alert--border-bottom-color-h: var(--alert--border-bottom-color-h);
    --alert--border-bottom-color-s: var(--alert--border-bottom-color-s);
    --alert--border-bottom-color-l: var(--alert--border-bottom-color-l);
    --alert--border-bottom-color-a: var(--alert--border-bottom-color-a);
    --alert--border-left-color-h: var(--alert--border-left-color-h);
    --alert--border-left-color-s: var(--alert--border-left-color-s);
    --alert--border-left-color-l: var(--alert--border-left-color-l);
    --alert--border-left-color-a: var(--alert--border-left-color-a);
    --alert--background-h: var(--alert--background-h);
    --alert--background-s: var(--alert--background-s);
    --alert--background-l: var(--alert--background-l);
    --alert--background-a: var(--alert--background-a);
    --alert--color-h: var(--alert--color-h);
    --alert--color-s: var(--alert--color-s);
    --alert--color-l: var(--alert--color-l);
    --alert--color-a: var(--alert--color-a);
}

.alert.-warning {
    --alert--border-top-color-h: var(--alert--border-top-color-h);
    --alert--border-top-color-s: var(--alert--border-top-color-s);
    --alert--border-top-color-l: var(--alert--border-top-color-l);
    --alert--border-top-color-a: var(--alert--border-top-color-a);
    --alert--border-right-color-h: var(--alert--border-right-color-h);
    --alert--border-right-color-s: var(--alert--border-right-color-s);
    --alert--border-right-color-l: var(--alert--border-right-color-l);
    --alert--border-right-color-a: var(--alert--border-right-color-a);
    --alert--border-bottom-color-h: var(--alert--border-bottom-color-h);
    --alert--border-bottom-color-s: var(--alert--border-bottom-color-s);
    --alert--border-bottom-color-l: var(--alert--border-bottom-color-l);
    --alert--border-bottom-color-a: var(--alert--border-bottom-color-a);
    --alert--border-left-color-h: var(--alert--border-left-color-h);
    --alert--border-left-color-s: var(--alert--border-left-color-s);
    --alert--border-left-color-l: var(--alert--border-left-color-l);
    --alert--border-left-color-a: var(--alert--border-left-color-a);
    --alert--background-h: var(--alert--background-h);
    --alert--background-s: var(--alert--background-s);
    --alert--background-l: var(--alert--background-l);
    --alert--background-a: var(--alert--background-a);
    --alert--color-h: var(--alert--color-h);
    --alert--color-s: var(--alert--color-s);
    --alert--color-l: var(--alert--color-l);
    --alert--color-a: var(--alert--color-a);
}

.alert.-danger {
    --alert--border-top-color-h: var(--alert--border-top-color-h);
    --alert--border-top-color-s: var(--alert--border-top-color-s);
    --alert--border-top-color-l: var(--alert--border-top-color-l);
    --alert--border-top-color-a: var(--alert--border-top-color-a);
    --alert--border-right-color-h: var(--alert--border-right-color-h);
    --alert--border-right-color-s: var(--alert--border-right-color-s);
    --alert--border-right-color-l: var(--alert--border-right-color-l);
    --alert--border-right-color-a: var(--alert--border-right-color-a);
    --alert--border-bottom-color-h: var(--alert--border-bottom-color-h);
    --alert--border-bottom-color-s: var(--alert--border-bottom-color-s);
    --alert--border-bottom-color-l: var(--alert--border-bottom-color-l);
    --alert--border-bottom-color-a: var(--alert--border-bottom-color-a);
    --alert--border-left-color-h: var(--alert--border-left-color-h);
    --alert--border-left-color-s: var(--alert--border-left-color-s);
    --alert--border-left-color-l: var(--alert--border-left-color-l);
    --alert--border-left-color-a: var(--alert--border-left-color-a);
    --alert--background-h: var(--alert--background-h);
    --alert--background-s: var(--alert--background-s);
    --alert--background-l: var(--alert--background-l);
    --alert--background-a: var(--alert--background-a);
    --alert--color-h: var(--alert--color-h);
    --alert--color-s: var(--alert--color-s);
    --alert--color-l: var(--alert--color-l);
    --alert--color-a: var(--alert--color-a);
}

.alert.-sm {
    --alert--border-top-left-radius: var(--alert--border-top-left-radius);
    --alert--border-top-right-radius: var(--alert--border-top-right-radius);
    --alert--border-bottom-right-radius: var(--alert--border-bottom-right-radius);
    --alert--border-bottom-left-radius: var(--alert--border-bottom-left-radius);
    --alert--font-size: var(--alert--font-size);
    --alert--padding-top: var(--alert--padding-top);
    --alert--padding-right: var(--alert--padding-right);
    --alert--padding-bottom: var(--alert--padding-bottom);
    --alert--padding-left: var(--alert--padding-left);
}

.alert.-md {
    --alert--border-top-left-radius: var(--alert--border-top-left-radius);
    --alert--border-top-right-radius: var(--alert--border-top-right-radius);
    --alert--border-bottom-right-radius: var(--alert--border-bottom-right-radius);
    --alert--border-bottom-left-radius: var(--alert--border-bottom-left-radius);
    --alert--font-size: var(--alert--font-size);
    --alert--padding-top: var(--alert--padding-top);
    --alert--padding-right: var(--alert--padding-right);
    --alert--padding-bottom: var(--alert--padding-bottom);
    --alert--padding-left: var(--alert--padding-left);
}

.alert.-lg {
    --alert--border-top-left-radius: var(--alert--border-top-left-radius);
    --alert--border-top-right-radius: var(--alert--border-top-right-radius);
    --alert--border-bottom-right-radius: var(--alert--border-bottom-right-radius);
    --alert--border-bottom-left-radius: var(--alert--border-bottom-left-radius);
    --alert--font-size: var(--alert--font-size);
    --alert--padding-top: var(--alert--padding-top);
    --alert--padding-right: var(--alert--padding-right);
    --alert--padding-bottom: var(--alert--padding-bottom);
    --alert--padding-left: var(--alert--padding-left);
}
