.alert {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--alert--gap);
}

.alert-content {
    flex: 0 1 100%;
}

.alert-icon {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alert-dismiss {
    flex: 0 0 auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.alert a {
    color: inherit;
    font-weight: 600;
}

.alert-content *:first-child {
    margin-top: 0;
}

.alert-content *:last-child {
    margin-bottom: 0;
}

.alert code {
    background: hsla(0, 0%, 0%, 0.05);
}
