.expand-enter-active,
.expand-leave-active {
    transition-property: var(--expand-transition--transition-property, height);
    transition-duration: var(--expand-transition--transition-duration, var(--transition-duration));
    transition-timing-function: var(
        --expand-transition--transition-timing-function,
        var(--transition-timing-function)
    );
    overflow: hidden;
}

.expand-enter-from,
.expand-leave-to {
    height: 0;
}
