.fade-in-linear-transition-enter-active,
.fade-in-linear-transition-leave-active {
    transition-property: var(--fade-in-linear-transition--transition-property, opacity);
    transition-duration: var(--fade-in-linear-transition--transition-duration, var(--transition-duration));
    transition-timing-function: var(--fade-in-linear-transition--transition-timing-function, cubic-bezier(0.23, 1, 0.32, 1));
}

.fade-in-linear-transition-enter-from,
.fade-in-linear-transition-leave-from,
.fade-in-linear-transition-leave-active {
    opacity: 0;
}
