.zoom-in-bottom-transition-enter-active,
.zoom-in-bottom-transition-leave-active {
    transition-property: var(--zoom-in-bottom-transition--transition-property, transform, opacity);
    transition-duration: var(--zoom-in-bottom-transition--transition-duration, var(--transition-duration));
    transition-timing-function: var(--zoom-in-bottom-transition--transition-timing-function, cubic-bezier(0.23, 1, 0.32, 1));
    opacity: 1;
    transform: scaleY(1);
    transform-origin: center bottom;
}

.zoom-in-bottom-transition-enter-from,
.zoom-in-bottom-transition-leave-active {
    opacity: 0;
    transform: scaleY(0);
}
