:root {
    /**
     * Variables
     */

    --modal-font-weight: #{$modal-font-weight};
    --modal-line-height: #{$modal-line-height};
    --modal-border-width: #{$modal-border-width};
    --modal-margin: #{$modal-margin};
    --modal-width: #{$modal-width};
    --modal-overlay-background: #{$modal-overlay-background};
    --modal-border-radius: #{$modal-border-radius};
    --modal-font-size: #{$modal-font-size};
    --modal-padding: #{$modal-padding};

    /**
     * Sizes
     */

    @each $modal-size-variant-key, $modal-size-variant-value in $modal-size-variants {
        @each $modal-size-variant-field-key, $modal-size-variant-field-value in $modal-size-variant-value {
            --modal-size-variant-#{$modal-size-variant-key}-#{$modal-size-variant-field-key}: #{$modal-size-variant-field-value};
        }
    }

    /**
     * Colors
     */

    @each $modal-color-variant-key, $modal-color-variant-value in $modal-color-variants {
        @each $modal-color-variant-field-key, $modal-color-variant-field-value in $modal-color-variant-value {
            --modal-color-variant-#{$modal-color-variant-key}-#{$modal-color-variant-field-key}: #{$modal-color-variant-field-value};
        }
    }
}
