:root {
    --modal-width: #{$modal-width};
    --modal-margin: #{$modal-margin};
    --modal-padding: #{$modal-padding};
    --modal-font-size: #{$modal-font-size};
    --modal-font-weight: #{$modal-font-weight};
    --modal-line-height: #{$modal-line-height};
    --modal-border-radius: #{$modal-border-radius};
    --modal-border-width: #{$modal-border-width};
    --modal-overlay-background: #{$modal-overlay-background};

    @each $modal-size-variant-key, $modal-size-variant-value in $modal-size-variants {
        @each $modal-size-variant-field-key, $modal-size-variant-field-value in $modal-size-variant-value {
            --modal-size-variant-#{$modal-size-variant-key}-#{$modal-size-variant-field-key}: #{$modal-size-variant-field-value};
        }
    }

    @each $color-variant-key, $color-variant-value in $modal-color-variants {
        @each $color-variant-field-key, $color-variant-field-value in $color-variant-value {
            --modal-color-variant-#{$color-variant-key}-#{$color-variant-field-key}: #{$color-variant-field-value};
        }
    }
}
