@import '../../../../css/variables';
@import '../../../../css/mixins';
@import 'css/variables';

/**
 * Input Group
 */
.form-group {
    display: block;
    vertical-align: middle;
    position: relative;

    + .form-group {
        margin-top: var(----margin-top);
    }

    &.-inline {
        display: flex;

        > .form-input-group {
            flex-basis: 100%;
        }

        > .form-label {
            display: flex;
            flex: 0 0 auto;
            align-self: center;
            margin-bottom: 0;

            &.-right {
                margin-right: 0;
            }
        }
    }
}
