@import '../../css/config/index';
@import '../../css/mixins/index';
@import '../Navbar/css/_variables';
@import 'css/_variants';

/**
 * Navbar Items
 */
.navbar {
  > .container > .row > .column > .items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    > .nav > .item {

      @include navbar-item-color-variant(variant-element('navbar', 'light', 'color'));
    }
  }

  &.-collapsed > .container > .row > .column > .items {
    border-radius: border-radius('md');

    @include navbar-item-collapsed-color-variant(variant-element('navbar', 'light', 'color'));
  }
}
