@import '../../css/config'
@import '../../css/mixins'
@import '../Navbar/css/_variables'
@import 'css/_variants'

/**
 * Navbar Items
 */
.navbar > .container > .items
    display: flex
    flex-wrap: wrap

    @extend .navbar.-light > .container > .items

