.toast {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    overflow: hidden;
    background-clip: border-box;
}

.toast-content {
    flex: 0 1 100%;
}

.toast-icon {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toast-dismiss {
    flex: 0 0 auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: var(--toast--progress--height);
}

.toast-progress-bar {
    animation: toast-duration var(--toast--duration) forwards;
    transform-origin: left center;
    width: 100%;
    height: 100%;
}

@keyframes toast-duration {
    to {
        transform: scaleX(0);
    }
}

.toast {
    border-style: var(--toast--border-style, var(--toast--border-top-style) var(--toast--border-right-style) var(--toast--border-bottom-style) var(--toast--border-left-style));
    border-color: var(--toast--border-color, var(--toast--border-top-color) var(--toast--border-right-color) var(--toast--border-bottom-color) var(--toast--border-left-color));
    border-width: var(--toast--border-width, var(--toast--border-top-width) var(--toast--border-right-width) var(--toast--border-bottom-width) var(--toast--border-left-width));
    border-radius: var(--toast--border-radius, var(--toast--border-top-left-radius) var(--toast--border-top-right-radius) var(--toast--border-bottom-right-radius) var(--toast--border-bottom-left-radius));
    box-shadow: var(--toast--box-shadow, var(--toast--box-shadow-offset-x) var(--toast--box-shadow-offset-y) var(--toast--box-shadow-blur-radius) var(--toast--box-shadow-spread-radius) var(--toast--box-shadow-color));
    background: var(--toast--background);
    color: var(--toast--color);
    font-size: var(--toast--font-size);
    transition-property: var(--toast--transition-property);
    transition-duration: var(--toast--transition-duration);
    transition-timing-function: var(--toast--transition-timing-function);
}

.toast-content {
    padding: var(--toast--padding, var(--toast--padding-top) var(--toast--padding-right) var(--toast--padding-bottom) var(--toast--padding-left));
}

.toast-content *:first-child {
    margin-top: 0;
}

.toast-content > .toast-title {
    font-weight: var(--toast--title--font-weight);
    font-size: var(--toast--title--font-size);
}

.toast-content *:last-child {
    margin-bottom: 0;
}

.toast-icon {
    margin-left: var(--toast--padding-left);
}

.toast-dismiss {
    margin-right: var(--toast--padding-right);
}

.toast code {
    background: var(--toast--code--background);
}

.toast a {
    font-weight: var(--toast--link--font-weight);
}

.toast-progress {
    background: var(--toast--progress--background);
}

.toast-progress-bar {
    background: var(--toast--progress--bar--background);
}

.toast.-sm {
    --toast--border-top-left-radius: var(--toast--sm--border-top-left-radius);
    --toast--border-top-right-radius: var(--toast--sm--border-top-right-radius);
    --toast--border-bottom-right-radius: var(--toast--sm--border-bottom-right-radius);
    --toast--border-bottom-left-radius: var(--toast--sm--border-bottom-left-radius);
    --toast--font-size: var(--toast--sm--font-size);
    --toast--padding-top: var(--toast--sm--padding-top);
    --toast--padding-right: var(--toast--sm--padding-right);
    --toast--padding-bottom: var(--toast--sm--padding-bottom);
    --toast--padding-left: var(--toast--sm--padding-left);
}

.toast.-md {
    --toast--border-top-left-radius: var(--toast--md--border-top-left-radius);
    --toast--border-top-right-radius: var(--toast--md--border-top-right-radius);
    --toast--border-bottom-right-radius: var(--toast--md--border-bottom-right-radius);
    --toast--border-bottom-left-radius: var(--toast--md--border-bottom-left-radius);
    --toast--font-size: var(--toast--md--font-size);
    --toast--padding-top: var(--toast--md--padding-top);
    --toast--padding-right: var(--toast--md--padding-right);
    --toast--padding-bottom: var(--toast--md--padding-bottom);
    --toast--padding-left: var(--toast--md--padding-left);
}

.toast.-lg {
    --toast--border-top-left-radius: var(--toast--lg--border-top-left-radius);
    --toast--border-top-right-radius: var(--toast--lg--border-top-right-radius);
    --toast--border-bottom-right-radius: var(--toast--lg--border-bottom-right-radius);
    --toast--border-bottom-left-radius: var(--toast--lg--border-bottom-left-radius);
    --toast--font-size: var(--toast--lg--font-size);
    --toast--padding-top: var(--toast--lg--padding-top);
    --toast--padding-right: var(--toast--lg--padding-right);
    --toast--padding-bottom: var(--toast--lg--padding-bottom);
    --toast--padding-left: var(--toast--lg--padding-left);
}

.toast.-light {
    --toast--border-top-color: var(--toast--light--border-top-color);
    --toast--border-right-color: var(--toast--light--border-right-color);
    --toast--border-bottom-color: var(--toast--light--border-bottom-color);
    --toast--border-left-color: var(--toast--light--border-left-color);
    --toast--background: var(--toast--light--background);
    --toast--color: var(--toast--light--color);
    --toast--progress--background: var(--toast--light--progress--background);
    --toast--progress--bar--background: var(--toast--light--progress--bar--background);
    --toast--code--background: var(--toast--light--code--background);
}

.toast.-dark {
    --toast--border-top-color: var(--toast--dark--border-top-color);
    --toast--border-right-color: var(--toast--dark--border-right-color);
    --toast--border-bottom-color: var(--toast--dark--border-bottom-color);
    --toast--border-left-color: var(--toast--dark--border-left-color);
    --toast--background: var(--toast--dark--background);
    --toast--color: var(--toast--dark--color);
    --toast--progress--background: var(--toast--dark--progress--background);
    --toast--progress--bar--background: var(--toast--dark--progress--bar--background);
    --toast--code--background: var(--toast--dark--code--background);
}

.toast.-primary {
    --toast--border-top-color: var(--toast--primary--border-top-color);
    --toast--border-right-color: var(--toast--primary--border-right-color);
    --toast--border-bottom-color: var(--toast--primary--border-bottom-color);
    --toast--border-left-color: var(--toast--primary--border-left-color);
    --toast--background: var(--toast--primary--background);
    --toast--color: var(--toast--primary--color);
    --toast--progress--background: var(--toast--primary--progress--background);
    --toast--progress--bar--background: var(--toast--primary--progress--bar--background);
    --toast--code--background: var(--toast--primary--code--background);
}

.toast.-secondary {
    --toast--border-top-color: var(--toast--secondary--border-top-color);
    --toast--border-right-color: var(--toast--secondary--border-right-color);
    --toast--border-bottom-color: var(--toast--secondary--border-bottom-color);
    --toast--border-left-color: var(--toast--secondary--border-left-color);
    --toast--background: var(--toast--secondary--background);
    --toast--color: var(--toast--secondary--color);
    --toast--progress--background: var(--toast--secondary--progress--background);
    --toast--progress--bar--background: var(--toast--secondary--progress--bar--background);
    --toast--code--background: var(--toast--secondary--code--background);
}

.toast.-success {
    --toast--border-top-color: var(--toast--success--border-top-color);
    --toast--border-right-color: var(--toast--success--border-right-color);
    --toast--border-bottom-color: var(--toast--success--border-bottom-color);
    --toast--border-left-color: var(--toast--success--border-left-color);
    --toast--background: var(--toast--success--background);
    --toast--color: var(--toast--success--color);
    --toast--progress--background: var(--toast--success--progress--background);
    --toast--progress--bar--background: var(--toast--success--progress--bar--background);
    --toast--code--background: var(--toast--success--code--background);
}

.toast.-danger {
    --toast--border-top-color: var(--toast--danger--border-top-color);
    --toast--border-right-color: var(--toast--danger--border-right-color);
    --toast--border-bottom-color: var(--toast--danger--border-bottom-color);
    --toast--border-left-color: var(--toast--danger--border-left-color);
    --toast--background: var(--toast--danger--background);
    --toast--color: var(--toast--danger--color);
    --toast--progress--background: var(--toast--danger--progress--background);
    --toast--progress--bar--background: var(--toast--danger--progress--bar--background);
    --toast--code--background: var(--toast--danger--code--background);
}

.toast.-warning {
    --toast--border-top-color: var(--toast--warning--border-top-color);
    --toast--border-right-color: var(--toast--warning--border-right-color);
    --toast--border-bottom-color: var(--toast--warning--border-bottom-color);
    --toast--border-left-color: var(--toast--warning--border-left-color);
    --toast--background: var(--toast--warning--background);
    --toast--color: var(--toast--warning--color);
    --toast--progress--background: var(--toast--warning--progress--background);
    --toast--progress--bar--background: var(--toast--warning--progress--bar--background);
    --toast--code--background: var(--toast--warning--code--background);
}

.toast.-info {
    --toast--border-top-color: var(--toast--info--border-top-color);
    --toast--border-right-color: var(--toast--info--border-right-color);
    --toast--border-bottom-color: var(--toast--info--border-bottom-color);
    --toast--border-left-color: var(--toast--info--border-left-color);
    --toast--background: var(--toast--info--background);
    --toast--color: var(--toast--info--color);
    --toast--progress--background: var(--toast--info--progress--background);
    --toast--progress--bar--background: var(--toast--info--progress--bar--background);
    --toast--code--background: var(--toast--info--code--background);
}

.toast-container {
    margin: var(--toast-container--margin);
    width: var(--toast-container--width);
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    z-index: var(--toast-container--z-index);
}

.toast-container.-top-left {
    top: 0;
    left: 0;
}

.toast-container.-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-container.-top-right {
    top: 0;
    right: 0;
}

.toast-container.-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.toast-container.-bottom-right {
    bottom: 0;
    right: 0;
}

.toast-container.-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-container.-bottom-left {
    bottom: 0;
    left: 0;
}

.toast-container.-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.toast-container > .toast {
    margin: var(--toast-container--toast--margin);
    width: var(--toast-container--width);
    max-width: 100%;
    position: relative;
}

.toast-container > .toast:last-of-type {
    margin-bottom: 0;
}

.toast-transition-move, .toast-transition-enter-active, .toast-transition-leave-active {
    transition: var(--toast-container--toast--transition);
}

.toast-transition-enter-from, .toast-transition-leave-to {
    opacity: 0;
}

.toast-transition-leave-active {
    position: absolute;
}
