.toast {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    min-width: 0;
    word-wrap: break-word;
    overflow: hidden;
    background-clip: border-box;
}

.toast-content {
    flex: 0 1 100%;
}

.toast-icon {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.toast-dismiss {
    flex: 0 0 auto;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: var(--toast--progress--height);
}

.toast-progress-bar {
    animation: toast-duration var(--toast--duration) forwards;
    transform-origin: left center;
    width: 100%;
    height: 100%;
}

@keyframes toast-duration {
    to {
        transform: scaleX(0);
    }
}

.toast {
    border-style: var(--toast--border-style);
    border-color: var(--toast--border-color);
    border-width: var(--toast--border-width);
    border-radius: var(--toast--border-radius);
    box-shadow: var(--toast--box-shadow);
    background: var(--toast--background);
    color: var(--toast--color);
    font-size: var(--toast--font-size);
    transition-property: var(--toast--transition-property);
    transition-duration: var(--toast--transition-duration);
    transition-timing-function: var(--toast--transition-timing-function);
}

.toast-content {
    padding: var(--toast--padding);
}

.toast-content *:first-child {
    margin-top: 0;
}

.toast-content > .toast-title {
    font-weight: var(--toast--title--font-weight);
    font-size: var(--toast--title--font-size);
}

.toast-content *:last-child {
    margin-bottom: 0;
}

.toast-icon {
    margin-left: var(--toast--padding-left);
}

.toast-dismiss {
    margin-right: var(--toast--padding-right);
}

.toast code {
    background: hsla(0, 0%, 0%, 0.05);
}

.toast a {
    font-weight: var(--toast--link--font-weight);
}

.toast-progress {
    background: var(--toast--progress--background);
}

.toast-progress-bar {
    background: var(--toast--progress--bar--background);
}

.toast.-sm {
    border-radius: var(--toast--sm--border-top-left-radius) var(--toast--sm--border-top-right-radius) var(--toast--sm--border-bottom-right-radius) var(--toast--sm--border-bottom-left-radius);
    font-size: var(--toast--sm--font-size);
}

.toast.-sm .toast-content {
    padding: var(--toast--sm--padding-top) var(--toast--sm--padding-right) var(--toast--sm--padding-bottom) var(--toast--sm--padding-left);
}

.toast.-sm .toast-icon {
    margin-left: var(--toast--sm--padding-left);
}

.toast.-sm .toast-dismiss {
    margin-right: var(--toast--sm--padding-right);
}

.toast.-md {
    border-radius: var(--toast--md--border-top-left-radius) var(--toast--md--border-top-right-radius) var(--toast--md--border-bottom-right-radius) var(--toast--md--border-bottom-left-radius);
    font-size: var(--toast--md--font-size);
}

.toast.-md .toast-content {
    padding: var(--toast--md--padding-top) var(--toast--md--padding-right) var(--toast--md--padding-bottom) var(--toast--md--padding-left);
}

.toast.-md .toast-icon {
    margin-left: var(--toast--md--padding-left);
}

.toast.-md .toast-dismiss {
    margin-right: var(--toast--md--padding-right);
}

.toast.-lg {
    border-radius: var(--toast--lg--border-top-left-radius) var(--toast--lg--border-top-right-radius) var(--toast--lg--border-bottom-right-radius) var(--toast--lg--border-bottom-left-radius);
    font-size: var(--toast--lg--font-size);
}

.toast.-lg .toast-content {
    padding: var(--toast--lg--padding-top) var(--toast--lg--padding-right) var(--toast--lg--padding-bottom) var(--toast--lg--padding-left);
}

.toast.-lg .toast-icon {
    margin-left: var(--toast--lg--padding-left);
}

.toast.-lg .toast-dismiss {
    margin-right: var(--toast--lg--padding-right);
}

.toast.-light {
    border-color: var(--toast--light--border-color);
    background: var(--toast--light--background);
    color: var(--toast--light--color);
}

.toast.-light a {
    color: var(--toast--light--color);
}

.toast.-light .toast-progress {
    background: var(--toast--light--progress--background);
}

.toast.-light .toast-progress-bar {
    background: var(--toast--light--progress--bar--background);
}

.toast.-dark {
    border-color: var(--toast--dark--border-color);
    background: var(--toast--dark--background);
    color: var(--toast--dark--color);
}

.toast.-dark a {
    color: var(--toast--dark--color);
}

.toast.-dark .toast-progress {
    background: var(--toast--dark--progress--background);
}

.toast.-dark .toast-progress-bar {
    background: var(--toast--dark--progress--bar--background);
}

.toast.-info {
    border-color: var(--toast--info--border-color);
    background: var(--toast--info--background);
    color: var(--toast--info--color);
}

.toast.-info a {
    color: var(--toast--info--color);
}

.toast.-info .toast-progress {
    background: var(--toast--info--progress--background);
}

.toast.-info .toast-progress-bar {
    background: var(--toast--info--progress--bar--background);
}

.toast.-success {
    border-color: var(--toast--success--border-color);
    background: var(--toast--success--background);
    color: var(--toast--success--color);
}

.toast.-success a {
    color: var(--toast--success--color);
}

.toast.-success .toast-progress {
    background: var(--toast--success--progress--background);
}

.toast.-success .toast-progress-bar {
    background: var(--toast--success--progress--bar--background);
}

.toast.-warning {
    border-color: var(--toast--warning--border-color);
    background: var(--toast--warning--background);
    color: var(--toast--warning--color);
}

.toast.-warning a {
    color: var(--toast--warning--color);
}

.toast.-warning .toast-progress {
    background: var(--toast--warning--progress--background);
}

.toast.-warning .toast-progress-bar {
    background: var(--toast--warning--progress--bar--background);
}

.toast.-danger {
    border-color: var(--toast--danger--border-color);
    background: var(--toast--danger--background);
    color: var(--toast--danger--color);
}

.toast.-danger a {
    color: var(--toast--danger--color);
}

.toast.-danger .toast-progress {
    background: var(--toast--danger--progress--background);
}

.toast.-danger .toast-progress-bar {
    background: var(--toast--danger--progress--bar--background);
}

.toast-container {
    margin: var(--toast-container--margin);
    width: var(--toast-container--width);
    position: fixed;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
    z-index: var(--toast-container--z-index);
}

.toast-container.-top-left {
    top: 0;
    left: 0;
}

.toast-container.-top {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-container.-top-right {
    top: 0;
    right: 0;
}

.toast-container.-right {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.toast-container.-bottom-right {
    bottom: 0;
    right: 0;
}

.toast-container.-bottom {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.toast-container.-bottom-left {
    bottom: 0;
    left: 0;
}

.toast-container.-left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.toast-container > .toast {
    margin: var(--toast-container--toast--margin);
    width: var(--toast-container--width);
    max-width: 100%;
    position: relative;
}

.toast-container > .toast:last-of-type {
    margin-bottom: 0;
}

.toast-transition-move, .toast-transition-enter-active, .toast-transition-leave-active {
    transition: var(--toast-container--toast--transition);
}

.toast-transition-enter-from, .toast-transition-leave-to {
    opacity: 0;
}

.toast-transition-leave-active {
    position: absolute;
}
