:root {
    --fluid--min-width: 320;
    --fluid--max-width: 1440;
    --fluid--screen: 100vw;
    --fluid--breakpoint: calc((var(--fluid--screen) - var(--fluid--min-width) / 16 * 1rem) / (var(--fluid--max-width) - var(--fluid--min-width)));
    --spacing-min: 18;
    --spacing-max: 20;
    --spacing-min-2xs: calc(var(--spacing-min) * 0.25);
    --spacing-min-xs: calc(var(--spacing-min) * 0.5);
    --spacing-min-sm: calc(var(--spacing-min) * 0.75);
    --spacing-min-md: var(--spacing-min);
    --spacing-min-lg: calc(var(--spacing-min) * 1.5);
    --spacing-min-xl: calc(var(--spacing-min) * 2);
    --spacing-min-2xl: calc(var(--spacing-min) * 4);
    --spacing-min-3xl: calc(var(--spacing-min) * 6);
    --spacing-min-4xl: calc(var(--spacing-min) * 8);
    --spacing-max-2xs: calc(var(--spacing-max) * 0.25);
    --spacing-max-xs: calc(var(--spacing-max) * 0.5);
    --spacing-max-sm: calc(var(--spacing-max) * 0.75);
    --spacing-max-md: var(--spacing-max);
    --spacing-max-lg: calc(var(--spacing-max) * 1.5);
    --spacing-max-xl: calc(var(--spacing-max) * 2);
    --spacing-max-2xl: calc(var(--spacing-max) * 4);
    --spacing-max-3xl: calc(var(--spacing-max) * 6);
    --spacing-max-4xl: calc(var(--spacing-max) * 8);
    --spacing-2xs: calc(((var(--spacing-min-2xs) / 16) * 1rem) + (var(--spacing-max-2xs) - var(--spacing-min-2xs)) * var(--fluid--breakpoint));
    --spacing-xs: calc(((var(--spacing-min-xs) / 16) * 1rem) + (var(--spacing-max-xs) - var(--spacing-min-xs)) * var(--fluid--breakpoint));
    --spacing-sm: calc(((var(--spacing-min-sm) / 16) * 1rem) + (var(--spacing-max-sm) - var(--spacing-min-sm)) * var(--fluid--breakpoint));
    --spacing-md: calc(((var(--spacing-min-md) / 16) * 1rem) + (var(--spacing-max-md) - var(--spacing-min-md)) * var(--fluid--breakpoint));
    --spacing-lg: calc(((var(--spacing-min-lg) / 16) * 1rem) + (var(--spacing-max-lg) - var(--spacing-min-lg)) * var(--fluid--breakpoint));
    --spacing-xl: calc(((var(--spacing-min-xl) / 16) * 1rem) + (var(--spacing-max-xl) - var(--spacing-min-xl)) * var(--fluid--breakpoint));
    --spacing-2xl: calc(((var(--spacing-min-2xl) / 16) * 1rem) + (var(--spacing-max-2xl) - var(--spacing-min-2xl)) * var(--fluid--breakpoint));
    --spacing-3xl: calc(((var(--spacing-min-3xl) / 16) * 1rem) + (var(--spacing-max-3xl) - var(--spacing-min-3xl)) * var(--fluid--breakpoint));
    --spacing-4xl: calc(((var(--spacing-min-4xl) / 16) * 1rem) + (var(--spacing-max-4xl) - var(--spacing-min-4xl)) * var(--fluid--breakpoint));
    --spacing-2xs-xs: calc(((var(--spacing-min-2xs) / 16) * 1rem) + (var(--spacing-max-xs) - var(--spacing-min-2xs)) * var(--fluid--breakpoint));
    --spacing-xs-sm: calc(((var(--spacing-min-xs) / 16) * 1rem) + (var(--spacing-max-sm) - var(--spacing-min-xs)) * var(--fluid--breakpoint));
    --spacing-sm-md: calc(((var(--spacing-min-sm) / 16) * 1rem) + (var(--spacing-max-md) - var(--spacing-min-sm)) * var(--fluid--breakpoint));
    --spacing-md-lg: calc(((var(--spacing-min-md) / 16) * 1rem) + (var(--spacing-max-lg) - var(--spacing-min-md)) * var(--fluid--breakpoint));
    --spacing-lg-xl: calc(((var(--spacing-min-lg) / 16) * 1rem) + (var(--spacing-max-xl) - var(--spacing-min-lg)) * var(--fluid--breakpoint));
    --spacing-xl-2xl: calc(((var(--spacing-min-xl) / 16) * 1rem) + (var(--spacing-max-2xl) - var(--spacing-min-xl)) * var(--fluid--breakpoint));
    --spacing-2xl-3xl: calc(((var(--spacing-min-2xl) / 16) * 1rem) + (var(--spacing-max-3xl) - var(--spacing-min-2xl)) * var(--fluid--breakpoint));
    --spacing-3xl-4xl: calc(((var(--spacing-min-3xl) / 16) * 1rem) + (var(--spacing-max-4xl) - var(--spacing-min-3xl)) * var(--fluid--breakpoint));
    --spacing: var(--spacing-md);
    --media--image--margin-top: var(--spacing);
    --media--image--margin-right: var(--spacing);
    --media--image--margin-bottom: var(--spacing);
    --media--image--margin-left: var(--spacing);
}
