<i-select
    v-model="prepend"
    :options="options"
    label="name"
    placeholder="Choose something.."
>
    <template #prepend>
        <i-button>Button</i-button>
    </template>
</i-select>

<i-select
    v-model="append"
    :options="options"
    label="name"
    placeholder="Choose something.."
>
    <template #append>
        <i-button>Button</i-button>
    </template>
</i-select>

<i-select
    v-model="prependAppend"
    :options="options"
    label="name"
    placeholder="Choose something.."
>
    <template #prepend>
        <i-button>Button</i-button>
    </template>
    <template #append>
        <i-button>Button</i-button>
    </template>
</i-select>
