<div class="datatable-wrapper table-wrapper" :class="classes['wrapper']">
    <div class="pagination-select">
        Show
        <i-select v-model="rowsPerPage" size="sm">
            <i-select-option v-for="(item, index) in paginationConfig.rowsPerPageOptions" :value="item" :key="index">
                {{ item }}
            </i-select-option>
        </i-select>
        entries
    </div>

    <table class="datatable" :class="classes['root']">
        <thead>
        <tr class="dtr">
            <slot name="header" :sortBy="sortBy">
                <th class="dth" :class="columnClass(column)"
                    v-for="(column, index) in tableColumns" :key="index"
                    @click="onHeaderCellClick(column)">
                    <span v-if="!column.headerComponent">
                        {{tableColumnsRendered[column.path]}}
                        <i-icon class="sortable-icon" v-if="column.sortable" icon="sort">
                            <i-icon v-if="sortBy === column.path" :icon="`sort-${sortDirection}`"></i-icon>
                        </i-icon>
                    </span>
                    <span v-else :is="column.headerComponent" :column="column" :index="index" :sort-by="sortBy"></span>
                </th>
            </slot>
        </tr>
        </thead>
        <tbody>
        <tr class="dtr" :class="rowClass(row)" v-for="(row, rowIndex) in tableRows" :key="row.id">
            <slot name="row" :row="row" :index="rowIndex">
                <td class="dtd" :class="columnClass(column, row)"
                    v-for="(column, columnIndex) in tableColumns" :key="columnIndex">
                    <span v-if="!column.component">
                        {{tableRowsRendered[rowIndex][column.path]}}
                    </span>
                    <span v-else :is="column.component" :row="row" :column="column"></span>
                </td>
            </slot>
        </tr>
        </tbody>
    </table>

    <div class="pagination-wrapper">
        <div class="pagination-range">
            Showing {{ rowsFrom + 1 }} to {{ rowsTo }} of {{ rowsCount }} entries
        </div>
        <slot name="pagination" :page="page" :rows-per-page="rowsPerPage" :rows-count="rowsCount">
            <i-pagination size="sm" v-model="page" :items-per-page="rowsPerPage" :items="rowsCount"></i-pagination>
        </slot>
    </div>
</div>
