<div class="datatable-wrapper">
    <div class="header-wrapper">
        <div class="pagination-select" v-if="pagination">
            <template v-for="part in i18nConfig.pagination.rowsPerPage">
                <i-select v-model="rowsPerPage" :size="paginationConfig.size" v-if="part === 'rowsPerPage'">
                    <i-select-option v-for="(item, index) in paginationConfig.rowsPerPageOptions" :value="item" :key="index">
                        {{ item }}
                    </i-select-option>
                </i-select>
                <template v-else>{{part}}</template>
            </template>
        </div>
        <div class="filtering-input">
            <i-input v-model="search" :placeholder="i18nConfig.filtering.inputPlaceholder">
                <i-icon icon="search" slot="suffix"></i-icon>
            </i-input>
        </div>
    </div>
    <div class="table-wrapper" :class="classes['wrapper']">
        <table class="datatable" :class="classes['root']">
            <thead>
                <tr class="dtr">
                    <slot name="header" :sortBy="sortBy">
                        <th class="dth" :class="columnClass(column)" :style="columnStyle(column)"
                            v-for="(column, index) in tableColumns" :key="index" :ref="tableColumns"
                            @click="onHeaderCellClick(column)">
                            <span v-if="!column.headerComponent">
                                {{tableColumnsHeaderRendered[column.path]}}
                                <i-icon class="sortable-icon" v-if="column.sortable" icon="sort">
                                    <i-icon v-if="sortBy === column.path" :icon="`sort-${sortDirection}`"></i-icon>
                                </i-icon>
                            </span>
                            <span v-else :is="column.headerComponent" :column="column" :index="index" :sort-by="sortBy"></span>
                        </th>
                    </slot>
                </tr>
            </thead>
            <tbody>
                <template v-for="(row, rowIndex) in tableRowsRendered">
                    <tr class="dtr" :class="rowClass(row)" :key="row.id">
                        <slot name="row" :row="tableRows[row.indexRef]" :index="row.indexRef">
                            <td class="dtd" :class="columnClass(column, row)"  :style="columnStyle(column, row)"
                                v-for="(column, columnIndex) in tableColumns" :key="columnIndex">
                                <span v-if="!column.component">
                                    {{row[column.path]}}
                                </span>
                                <span v-else-if="column.expand">Expand</span>
                                <span v-else :is="column.component" :row="row" :column="column"></span>
                            </td>
                        </slot>
                    </tr>
                    <tr class="dtr" :class="rowClass(row)" :key="row.id + '-expand'" v-if="$scopedSlots.expand">
                        <slot name="expand" :columns="tableColumns" :row="row"></slot>
                    </tr>
                </template>

                <tr class="dtr" v-if="tableRows.length === 0">
                    <td class="dtd" :colspan="tableColumns.length">
                        <slot name="filtering-no-results" v-if="search">
                            <div class="_text-center">{{ i18nConfig.filtering.noResultsFound }}</div>
                        </slot>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="dtr">
                    <slot name="footer">
                        <th class="dth" :class="columnClass(column)" :style="columnStyle(column)"
                            v-for="(column, index) in tableColumns" :key="index">
                            <span v-if="!column.footerComponent">
                                {{tableColumnsFooterRendered[column.path]}}
                            </span>
                            <span v-else :is="column.footerComponent" :column="column" :index="index"></span>
                        </th>
                    </slot>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="footer-wrapper" v-if="pagination">
        <div class="pagination-range">
            <template v-for="part in i18nConfig.pagination.rowsRange">
                <template v-if="part === 'rowsFrom'">{{ rowsFrom + 1 }}</template>
                <template v-else-if="part === 'rowsTo'">{{ rowsTo }}</template>
                <template v-else-if="part === 'rowsCount'">{{ rowsLength }}</template>
                <template v-else> {{ part }} </template>
            </template>
        </div>
        <slot name="pagination" :page="page" :rows-per-page="rowsPerPage" :rows-count="rowsLength">
            <i-pagination
                :items="rowsLength"
                :items-per-page="rowsPerPage"
                :limit="paginationConfig.limit"
                :size="paginationConfig.size"
                :variant="paginationConfig.variant"
                v-model="page"></i-pagination>
        </slot>
    </div>
</div>
