$card-border-radius: border-radius() !default;
$card-font-size: font-size() !default;
$card-padding: spacer() !default;

$card-font-weight: font-weight('normal') !default;
$card-line-height: var(--line-height) !default;
$card-border-width: var(--border-width) !default;

:root {
    --card-border-radius: #{$card-border-radius};
    --card-font-size: #{$card-font-size};
    --card-padding: #{$card-padding};
    --card-font-weight: #{$card-font-weight};
    --card-line-height: #{$card-line-height};
    --card-border-width: #{$card-border-width};

    @each $card-size-variant-key, $card-size-variant-value in $card-size-variants {
        @each $card-size-variant-field-key, $card-size-variant-field-value in $card-size-variant-value {
            --card-size-variant-#{$card-size-variant-key}-#{$card-size-variant-field-key}: #{$card-size-variant-field-value};
        }
    }

    @each $color-variant-key, $color-variant-value in $card-color-variants {
        @each $color-variant-field-key, $color-variant-field-value in $color-variant-value {
            --card-color-variant-#{$color-variant-key}-#{$color-variant-field-key}: #{$color-variant-field-value};
        }
    }
}
