//
// Variables
//

$container-width-xs: 100% !default;
$container-width-sm: breakpoints('sm') - gutter('sm') !default;
$container-width-md: breakpoints('md') - gutter('md') !default;
$container-width-lg: breakpoints('lg') - gutter('lg') !default;
$container-width-xl: breakpoints('xl') - gutter('xl') !default;

$container-width: (
    'xs': $container-width-xs,
    'sm': $container-width-sm,
    'md': $container-width-md,
    'lg': $container-width-lg,
    'xl': $container-width-xl,
) !default;

@function container-width($key) {
    @return map_get($container-width, $key);
}
