//
// Variables
//
--container-width := {
  xs: 100%
  sm: --breakpoints['sm'] - 2 * --gutter['sm']
  md: --breakpoints['md'] - 2 * --gutter['md']
  lg: --breakpoints['lg'] - 2 * --gutter['lg']
  xl: --breakpoints['xl'] - 2 * --gutter['xl']
}