// Type Scale
//

// Suggested ratios
// Source: http://type-scale.com/
//
$scale-ratio--minor-second: 1.067 !default;
$scale-ratio--major-second: 1.125 !default;
$scale-ratio--minor-third: 1.2 !default;
$scale-ratio--major-third: 1.25 !default;
$scale-ratio--perfect-fourth: 1.333 !default;
$scale-ratio--augmented-fourth: 1.414 !default;
$scale-ratio--perfect-fifth: 1.5 !default;
$scale-ratio--golden: 1.618 !default;

$scale-ratios: (
    'minor-second': $scale-ratio--minor-second,
    'major-second': $scale-ratio--major-second,
    'minor-third': $scale-ratio--minor-third,
    'major-third': $scale-ratio--major-third,
    'perfect-fourth': $scale-ratio--perfect-fourth,
    'augmented-fourth': $scale-ratio--augmented-fourth,
    'perfect-fifth': $scale-ratio--perfect-fifth,
    'golden': $scale-ratio--golden,
) !default;

@function scale-ratio($scale-ratio-key) {
    @return var(--scale-ratio--#{$scale-ratio-key});
}

// Scale ratio
//
$scale-ratio: scale-ratio('minor-third') !default;
$scale-ratio-secondary: scale-ratio('perfect-fourth') !default;
