/**
 * Collapsible Item
 */
@import '../../../../css/variables';
@import '../../../../css/mixins';
@import '../../../../css/icons';

.collapsible {
    > .collapsible-item {
        position: relative;
        display: block;
        box-shadow: var(----box-shadow);

        > .collapsible-header {
            border-width: var(----header--border-width);
            border-style: var(----header--border-style);
            border-color: var(----header--border-color);
            color: var(----header--color);
            background-color: var(----header--background);
            padding: var(----header--padding);
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            transition-property: border-radius;
            transition-duration: var(--transition-duration);
            transition-timing-function: var(--transition-easing);

            > .icon {
                background-color: var(----header--color);
                width: var(----font-size);
                height: var(----font-size);
                mask-size: var(----font-size) var(----font-size);
                display: inline-block;
                position: relative;
                transition-property: transform;
                transition-timing-function: var(--transition-easing);
                transition-duration: var(--transition-duration);
                mask-image: url($ink-chevron-down);
                mask-position: center center;
                mask-repeat: no-repeat;
            }
        }

        > .collapsible-body {
            display: block;
            position: relative;
            background-color: var(----body--background);
            border-width: var(----body--border-width);
            border-color: var(----body--border-color);
            border-style: var(----body--border-style);
            color: var(----body--color);

            > .content {
                padding: var(----body--padding);
            }
        }

        &:first-child {
            > .collapsible-header {
                border-top-left-radius: var(----border-top-left-radius);
                border-top-right-radius: var(----border-top-right-radius);
            }
        }

        &:last-child {
            > .collapsible-header {
                border-bottom-left-radius: var(----border-bottom-left-radius);
                border-bottom-right-radius: var(----border-bottom-right-radius);
            }

            > .collapsible-body {
                border-bottom-left-radius: var(----border-bottom-left-radius);
                border-bottom-right-radius: var(----border-bottom-right-radius);
            }
        }

        &.-active {
            > .collapsible-header {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;

                > .icon {
                    transform: rotate(180deg);
                }
            }
        }

        + .collapsible-item {
            > .collapsible-header {
                border-top-width: 0;
            }
        }
    }

    &.-blank {
        > .collapsible-item {
            box-shadow: none;

            > .collapsible-header,
            > .collapsible-body {
                border: 0;
                background-color: unset;
                color: inherit;
            }
        }
    }
}
