<div
    class="collapsible-item"
    :class="classes"
    :name="name"
    v-bind="$attrs"
>
    <a
        class="collapsible-header"
        role="tab"
        :id="`collapsible-item-heading-${name}`"
        :aria-expanded="active ? 'true' : 'false'"
        :aria-controls="`collapsible-item-content-${name}`"
        :aria-describedby="`collapsible-item-content-${name}`"
        tabindex="0"
        @click="onClick"
        @keydown.prevent.space="onClick"
        @keydown.prevent.enter="onClick"
    >
        <slot name="header">
            {{ title }}
        </slot>
        <i class="icon" />
    </a>
    <i-expand-transition>
        <div
            class="collapsible-body"
            role="tabpanel"
            :id="`collapsible-item-content-${name}`"
            :aria-hidden="active ? 'false' : 'true'"
            :aria-labelledby="`collapsible-item-heading-${name}`"
            v-show="active"
        >
            <div class="content">
                <slot />
            </div>
        </div>
    </i-expand-transition>
</div>
